/*
 * Copyright (c) 2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
.plans {
    margin: 20px auto;
    overflow: hidden;
}

.plan {
    width: 100%;
    float: left;
    margin: 20px 2px;
    padding: 15px 25px;
    text-align: center;
    background: white;
    background-clip: padding-box;
    border: 2px solid #e5ded6;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.plan-title {
    margin-bottom: 12px;
    font-size: 24px;
    color: #337ab7;
}

.plan-price {
    margin-bottom: 20px;
    line-height: 1;
    font-size: 28px;
    font-weight: bold;
    color: rgb(245, 156, 26);
}

.plan-unit {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}

ul.plan-features {
    list-style: none;
}

.plan-features {
    margin: 20px auto 15px;
    padding: 15px 0 0 15px;
    border-top: 1px solid #e5ded6;
    text-align: left;
}

.plan-feature {
    line-height: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.plan-feature + .plan-feature {
    margin-top: 5px;
}

.plan-feature-unit {
    margin-left: 2px;
    font-size: 16px;
}

.plan-feature-name {
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}

.plan-button {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: rgb(245, 156, 26);
    border-radius: 4px;
}

.plan-button:active {
    top: 2px;
    margin-bottom: 2px;
    border-bottom: 0;
}

.plan-highlight {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    border: 4px solid #337ab7;
}

.plan-highlight .plan-button {
    font-size: 18px;
    line-height: 49px;
    background: #337ab7;
}

.plan-recommended {
    margin: -15px auto 15px;
    padding-bottom: 2px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.05);
    background: #337ab7;
    border-radius: 0 0 4px 4px;
}

.premiumPlus .plan-price {
    height: 45.8px;
}

.premiumPlus .contact-number {
    border: 1px solid rgb(245, 156, 26);
    background: #fff;
    color: rgb(245, 156, 26);
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    padding: 5px 0px;
    width: 100%;
    display: block;
}

@media (min-width: 768px) {
    .add-card-dialog {
        margin: auto -15%
    }
}

.premiumPlus .plan-button {
    line-height: 21px;
    padding: 5px 0px;
    font-size: 14px;
}