<fieldset ng-enter="scheduleForm.step = 2">
    <legend class="pull-left width-full">Schedule</legend>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group has-feedback"
                 ng-class="{'has-error': addScheduleTemplate.name.$touched && !addScheduleTemplate.name.$valid}">
                <label>Name</label>
                <input type="text" name="name" placeholder="Q1 Production" ng-minlength="3"
                       ng-pattern="/^[a-zA-Z]{1}[a-zA-Z0-9\s_\-@#$]{1,50}$/" required
                       class="form-control" ng-model="scheduleForm.scheduleTemplate.displayName"
                       auto-focus="scheduleForm.step == 1">
                <p ng-if="addScheduleTemplate.name.$touched && addScheduleTemplate.name.$error.minlength"
                   class="m-0 text-danger">Name
                    must be longer than 3 characters</p>
                <p ng-if="addScheduleTemplate.name.$touched && addScheduleTemplate.name.$error.pattern"
                   class="m-0 text-danger">Name
                    must start with a letter and contain only numbers, letters and special
                    characters included in [_-@#$]</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group has-feedback">
                <label>Description (optional)</label>
                <input type="text" name="description" placeholder="North America"
                       class="form-control" ng-model="scheduleForm.scheduleTemplate.description">
            </div>
        </div>
    </div>
</fieldset>