<fieldset validated="scheduleForm.step == 2 && addScheduleTemplate.$valid && !buttons.submitted" ng-enter="save();">
    <legend class="pull-left width-full">Template</legend>
    <div class="inline table-responsive schedule-grid">
        <div ng-include="'app/main/administration/schedules/views/schedule.grid.html'"></div>
    </div>
    <p class="pull-right m-0">*All entries are in minutes</p>
</fieldset>