<div id="modal-dialog" class="add-card-dialog" style="display: block;" ng-enter="submit();">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="close()" class="close"
                    data-dismiss="modal" aria-hidden="true">x
            </button>
            <h4 class="modal-title">Add Payment Option</h4>
        </div>
        <div class="modal-body">
            <div id="card-container" class="m-b-20"></div>
            <form name="cardForm"
                  data-card
                  data-card-container="#card-container"
                  data-placeholders="cardPlaceholders"
                  data-options="cardOptions"
                  data-messages="cardMessages">
                <div class="form-group">
                    <input class="form-control" placeholder="Card alias" type="text"
                           name="CardAlias"
                           ng-model="card.displayName" auto-focus="true"/>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Card number" type="text"
                           name="CardNumber" card-number
                           ng-model="card.number"/></div>
                <!--<div class="form-group">-->
                <!--<input class="form-control" placeholder="Full name" type="text"-->
                <!--name="CardName" card-name-->
                <!--ng-model="card.name"/>-->
                <!--</div>-->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="MM / YY" type="text"
                                   name="CardExpiry" card-expiry
                                   ng-model="card.exp"/></div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <input class="form-control" placeholder="CVC" type="text"
                                   name="CardCvc" card-cvc
                                   ng-model="card.cvc"/>
                        </div>
                    </div>
                </div>
                <p ng-if="data.payments.length > 0">
                    <switch ng-model="card.primary"
                            class="switch-sm switch-success"></switch>
                    <span class="text-muted m-l-5">Primary</span>
                </p>
            </form>
        </div>
        <div class="modal-footer">
            <button
                    class="btn btn-sm btn-white" ng-click="close()"
                    data-dismiss="modal">Close
            </button>
            <button ng-click="submit();" ng-disabled="data.disableButtons"
                    class="btn btn-sm btn-success"><i
                    class="fa fa-spinner fa-pulse fa-fw" ng-if="data.disableButtons"></i> Submit
            </button>
        </div>
    </div>
</div>