<div class="row">
    <div class="col-md-9">
        <h3 class="m-0">
            Payment Methods
            <small>{{currentUser.organization.displayName}}</small>
        </h3>
    </div>
    <div class="col-md-3">
        <div class="pull-right m-t-5">
            <button type="button"
                    ng-if="!data.selectedPayments.length > 0 &&  !data.disableButtons"
                    class="btn btn-xs btn-success" ng-click="addCard()">
                <i class="fa fa-plus-circle"></i> {{'Add Card' | translate}}
            </button>
            <button ng-if="data.selectedPayments.length > 0"
                    type="button" class="btn btn-xs btn-danger"
                    ng-click="remove()">
                <i class="fa fa-minus-circle"></i> {{'Delete Card' |
                translate}}
            </button>
            <button type="button" class="btn btn-xs btn-default"
                    ng-if="!data.selectedPayments.length > 0"
                    ng-click="refresh()">
                <i class="fa fa-refresh"></i> {{'Refresh' | translate}}
            </button>
        </div>
    </div>
</div>
<div class="table-responsive">
    <table st-table="data.displayedPayments" st-safe-src="data.payments"
           st-selection="data.selectedPayments"
           class="table table-hover m-t-10 m-b-0">
        <thead>
        <tr>
            <th style="max-width: 300px" st-sort="displayName">{{'Payment Alias' | translate}}
            </th>
            <th>{{'Created Date' | translate}}</th>
            <th>{{'Created By' | translate}}</th>
            <th>{{'Last Modified By' | translate}}</th>
            <th class="text-center">{{'Last 4' | translate}}</th>
            <th class="text-center">{{'Card Type' | translate}}</th>
            <th class="text-center">{{'Default' | translate}}</th>
        </tr>
        </thead>
        <tbody>
        <tr st-select-mode="single"
            ng-repeat="row in data.displayedPayments">
            <td class="f-w-700 pointer" st-select-row="row">{{row.displayName}}</td>
            <td st-select-row="row" class="pointer">{{row.createdDate | date : 'medium' }}</td>
            <td st-select-row="row" class="pointer">
                <user-display user-uuid="row.createdBy"></user-display>
            </td>
            <td st-select-row="row" class="pointer">
                <user-display user-uuid="row.lastModifiedBy"></user-display>
            </td>
            <td st-select-row="row" class="text-center pointer">****{{row.params.last4}}</td>
            <td st-select-row="row" class="text-center pointer">{{row.params.type}}</td>
            <td class="text-center" ng-class="row.isSelected ? 'st-selected' : ''">
                <switch ng-model="row.primary" disabled="data.disableControls"
                        ng-change="makeDefault(row)"
                        class="switch-sm switch-success"></switch>
            </td>
        </tr>
        <tr ng-hide="data.displayedPayments.length > 0">
            <td colspan="100" style="background-color: white">
                <div style="display: flex; justify-content: center; opacity: 0.3;">
                    <h5>{{'There are no Payments available' | translate}}</h5>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>