<h3 class="m-t-0">
    Subscriptions Plans
    <small>{{currentUser.organization.displayName}}</small>
</h3>
<div class="row">
    <div class="col-lg-offset-2 col-lg-8">
        <div class="row">
            <div class="col-sm-4" ng-repeat="plan in data.plans" ng-class="plan.providerId">
                <div class="plan m-0" ng-class="{'plan-highlight' : plan.active == true}">
                    <p class="plan-recommended" ng-if="plan.active">Selected</p>
                    <h3 class="plan-title">{{plan.displayName}}</h3>
                    <p class="plan-price"><i class="fa fa-usd"/>{{plan.amount}} <span
                            class="plan-unit">{{plan.interval}}</span>
                    </p>
                    <ul class="plan-features">
                        <li class="plan-feature" ng-repeat="item in plan.content">{{item.strong}}
                            <span
                                    class="plan-feature-name">{{item.small}}</span></li>
                    </ul>
                    <button class="btn btn-sm btn-block plan-button"
                            ng-if="!plan.active"
                            ng-click="selectPlan(plan)" ng-disabled="data.disableButtons">Choose
                        Plan
                    </button>
                    <button class="btn btn-xs btn-block btn-primary plan-button"
                            ng-if="plan.active && !data.disableButtons"
                            ng-click="cancelPlan(plan)" ng-disabled="data.disableButtons">
                        Cancel
                    </button>
                    <button class="btn btn-xs btn-block btn-primary plan-button"
                            ng-if="plan.active && data.disableButtons"
                            ng-click="cancelPlan(plan)" ng-disabled="data.disableButtons"><i
                            class="fa fa-spinner fa-pulse fa-fw"></i>
                        Activating...
                    </button>
                    <!--<span ng-if="plan.active">-->
                    <!--<i class="fa fa-5x fa-check-circle-o" style="color:#337ab7;"></i>-->
                </div>
            </div>
            <div class="col-sm-4 premiumPlus">
                <div class="plan m-0">
                    <h3 class="plan-title">Premium Plus</h3>
                    <p class="plan-price">Contact for Pricing
                    </p>
                    <ul class="plan-features">
                        <li class="plan-feature">50+ <span class="plan-feature-name">users</span></li>
                        <li class="plan-feature">∞ <span class="plan-feature-name">analysis</span></li>
                    </ul>
                    <a href="mailto:improvidus@us.bosch.com" target="_blank" class="plan-button btn"><span>
                        <i class="fa fa-phone m-r-5"></i>(610) 694-8508
                        <br>
                        <i class="fa fa-envelope-o m-r-5"></i>improvidus@us.bosch.com
                    </span>
                    </a>
                    <!--<span class="contact-number"><i class="fa fa-phone m-r-5"></i>(610)694-8508-->
                    <!--<br>-->
                    <!--<i class="fa fa-envelope-o m-r-5"></i>improvidus@us.bosch.com-->
                    <!--</span>-->
                </div>
            </div>
        </div>
    </div>
</div>
