<div id="modal-dialog" style="display: block;" ng-enter="removePaymentMethod();">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="close()" class="close"
                    data-dismiss="modal" aria-hidden="true">x
            </button>
            <h4 class="modal-title">Cancel Payment Method?</h4>
        </div>
        <div class="modal-body">Are you sure you would like to remove
            this payment method?
        </div>
        <div class="modal-footer">
            <button
                    class="btn btn-sm btn-white" ng-click="close()"
                    data-dismiss="modal">Close
            </button>
            <button ng-click="removePaymentMethod();" ng-disabled="data.disableControls"
                    class="btn btn-sm btn-danger" href auto-focus="true"><i
                    class="fa fa-spinner fa-pulse fa-fw" ng-if="data.disableControls"></i> Confirm
            </button>
        </div>
    </div>
</div>