<div class="container">
    <div class="row m-0 p-t-10 m-b-10">
        <div class="card panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div ng-controller="PaymentsCtrl"
                         ng-include="'app/main/account/subscription/views/payments.html'"></div>
                </div>
            </div>
        </div>
        <div class="card panel-body m-t-10">
            <div class="row">
                <div class="col-md-12">
                    <div ng-controller="PlansCtrl" ng-include="'app/main/account/subscription/views/plans.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>