<div class="btn-row">
    <a href="javascript:;" data-toggle="tooltip"
       data-container="body"
       data-title="Tasks" data-original-title="" title="Users" class="no-underline"><i
            class="fa fa-fw fa-users"></i>
        {{$ctrl.nUsers}}
    </a>
    <a href="javascript:;" data-toggle="tooltip"
       data-container="body"
       data-title="Tasks" data-original-title="" title="Work Centers" class="no-underline"><i
            class="fa fa-fw fa-gear"></i> {{$ctrl.nWorkCenters|| 0}}</a>
</div>