.stats-title {
    font-size: 100%;
    min-height: 26px;
}

.stats-oee-title {
    font-size: 200% !important;
}

/*.stats-oee {*/
/*font-size: 355% !important;*/
/*}*/

.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open .dropdown-toggle.btn-info {
    background: #5a7c91 !important;
    border-color: #5a7c91 !important;
}

.text-info {
    color: #fff !important;
}

.ui-select-multiple.ui-select-bootstrap {
    height: auto;
    padding: inherit !important;
}

.ui-select-multiple input {
    padding: 15px 10px !important;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    margin: 0 !important;
}

.dropdown-multiselect > .multiselect-parent {
    width: 100%;
}

.dropdown-multiselect > .multiselect-parent > button {
    width: 100%;
    text-align: left;
}

.dropdown-multiselect > .multiselect-parent > ul {
    width: 100%;
    overflow-x: hidden !important;
}

/*.nv-legend {*/
/*-ms-transform: translate(0px, 175px); !* IE 9 *!*/
/*-webkit-transform: translate(0px, 175px); !* Safari *!*/
/*transform: translate(0px, 175px);*/
/*}*/

.nv-controlsWrap {
    display: none;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: #929ba1 !important;
    border-color: #929ba1 !important;
    color: white;
}

.link-disable:hover {
    cursor: not-allowed
}