.page-header-fixed {
    padding-top: 94px;
}

.oee-chart .links {
    position: absolute;
    top: 30px;
    right: 30px;
}

#top-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9)
}

.widget-stats {
    /*border-top: 4px #b6c2c9 solid;*/
    /*border-top: 4px #0f3f6b solid;*/
    /*border-top: 4px #b6c2c9 solid;*/
    /*border-top: 10px #2d353c solid;*/
    position: relative;
}

.widget-stats .stats-icon {
    line-height: 0;
    color: #b6c2c9 !important;
    color: #b6c2c9 !important;
    /*opacity: 0.7;*/
}

.widget-stats .stats-number {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0px;
}

.widget-stats .stats-number small {
    font-size: 60%
}

/*.widget-stats .stats-icon.stats-icon-lg {*/
    /*font-size: 30px;*/
    /*top: 12px;*/
    /*right: 0px;*/
/*}*/

.stats-number.stats-primary {
    font-size: 32px;
    font-weight: 600;
    /*text-align: right;*/
}

.widget-stats .switch small {
    background: rgb(182, 194, 201);
}
