<nav>
	<ul class="pagination" ng-if="pages.length >= 2"
		style="margin-bottom: 0">
		<li><a href="" ng-click="selectPage(1)">First</a></li>
		<li><a href="" ng-click="selectPage(currentPage - 1)">&lt;</a></li>
		<li><a href=""><page-select></page-select> of {{numPages}}</a></li>
		<li><a href="" ng-click="selectPage(currentPage + 1)">&gt;</a></li>
		<li><a href="" ng-click="selectPage(numPages)">Last</a></li>
	</ul>
</nav>