/* CHANGED*/
.fill {
	height: 100%;
	overflow: auto;
}

.newDashboard {
	width: 150px !important;
	animation: none !important;
}

.dropdown-menu {
	min-width: 100px;
}

.form-group.width-100 .ui-select-bootstrap div span, .form-group.width-100 .ui-select-bootstrap input
	{
	width: 100%;
}

.st-sort-ascent:before {
	content: '\25B2';
}

.st-sort-descent:before {
	content: '\25BC';
}

.select-page {
	width: 50px;
	text-align: center;
}

.pagination li a input {
	padding: 0;
	margin: -5px 0;
}

.profile-image {
	height: 200px
}

.button-file {
	position: relative;
	overflow: hidden;
}

.button-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.table.table-profile>tbody>tr.highlight.highlight-lower>td {
	border-top: none;
}

.label-table {
	min-width: 30px;
	min-height: 15px;
	display: inline-block;
}

.bold {
	font-weight: bold;
}

.tooltip:hover:after {
	background: #000;
	border-radius: 5px;
	bottom: 26px;
	color: #FFF;
	content: attr(tip);
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: auto;
	min-width: 500px; /* I have changed here */
	max-width: 500px;
}

.fade.in .loading .spinner, .fade.in .spinner-small {
	-webkit-animation: rotation;
	-moz-animation: rotation;
	-o-animation: rotation;
	animation: rotation;
}

.loading .spinner {
	height: 0 !important;
	border: none;
	border-top: none;
}

#loading-bar .bar {
	top: 0;
}

.loading-bar-position {
	top: 54px !important;
}

#loading-bar-spinner {
	display: block;
	position: absolute;
	right: 10px;
	left: auto;
	top: auto;
	bottom: -20px;
	z-index: 1049;
}

#loading-bar .peg {
	position: absolute;
	width: 70px;
	right: 0;
	top: 0;
	height: 2px;
	opacity: .45;
	-moz-box-shadow: #ff5b57 1px 0 6px 1px;
	-ms-box-shadow: #ff5b57 1px 0 6px 1px;
	-webkit-box-shadow: #29d 1px 0 6px 1px;
	box-shadow: #ff5b57 1px 0 6px 1px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #F3F6F7 !important;
}

.st-selected {
	background: #E4E9EC !important;
}

.panel-heading.widget {
	padding: 5px 10px;
}

.horizontal-padding-0>.panel-group>.panel>.panel-collapse>.panel-body {
	padding-left: 0;
	padding-right: 0;
}

.vertical-padding-5>.panel-group>.panel>.panel-heading {
	padding: 5px 15px;
}

.gritter-item {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial,
		sans-serif !important;
	color: #aaa !important;
	font-size: 10px !important;
	padding: 2px 15px 5px !important;
}

.multiDemo ul[dnd-list], .multiDemo ul[dnd-list]>li {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop into it once it's empty
 */
.multiDemo ul[dnd-list] {
	min-height: 33px;
	padding-left: 0px;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.multiDemo ul[dnd-list] .dndPlaceholder {
	display: block;
	background-color: #ddd;
	min-height: 33px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.multiDemo ul[dnd-list] li {
	background-color: #fff;
	border-top: 1px solid #ddd;
	display: block;
	padding: 7px 15px;
	margin-bottom: -1px;
	cursor: move;
}

/**
 * Show selected elements in green
 */
.multiDemo ul[dnd-list] li.selected {
	background-color: #E4E9EC;
}

.table.table-profile>tbody>tr.separator>td {
	border-bottom: 1px solid #e2e7eb;
	height: 0;
}

.no-hover:hover {
	background: transparent;
}

/*
 *
 * Main stylesheet for Switchery.
 * http://abpetkov.github.io/switchery/
 *
 */
.switchery {
	background-color: #fff;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	position: relative;
	vertical-align: middle;
	width: 50px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

.switchery>small {
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	height: 30px;
	position: absolute;
	top: 0;
	width: 30px;
}

.switchery.switchery-large {
	border-radius: 31px;
	height: 46px;
	width: 77px;
}

.switchery.switchery-large>small {
	height: 46px;
	width: 46px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.switchery.switchery-small {
	border-radius: 13px;
	height: 20px;
	width: 33px;
}

.switchery.switchery-small>small {
	height: 20px;
	width: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.switch {
	background: #fff;
	border: 1px solid #dfdfdf;
	position: relative;
	display: inline-block;
	box-sizing: content-box;
	overflow: visible;
	width: 52px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
	transition: 0.3s ease-out all;
	-webkit-transition: 0.3s ease-out all;
	top: -1px;
	vertical-align: middle;
}
/*adding a wide width for larger switch text*/
.switch.wide {
	width: 80px;
}

.switch.switch-sm {
	border-radius: 13px;
	height: 20px;
	width: 33px;
}

.switch.switch-sm>small {
	height: 20px;
	width: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.switch.switch-sm.checked small {
	left: 13px;
}

.switch small {
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
	transition: 0.3s ease-out all;
	-webkit-transition: 0.3s ease-out all;
}

.switch.switch-default.checked {
	background: #00acac;
	border-color: #00acac;
}

.switch.switch-success.checked {
	background: #00acac;
	border-color: #00acac;
}

.switch.checked small {
	left: 22px;
}
/*wider switch text moves small further to the right*/
.switch.wide.checked small {
	left: 52px;
}
/*styles for switch-text*/
.switch .switch-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.switch .off {
	display: block;
	position: absolute;
	right: 10%;
	top: 25%;
	z-index: 0;
	color: #A9A9A9;
}

.switch .on {
	display: none;
	z-index: 0;
	color: #fff;
	position: absolute;
	top: 25%;
	left: 9%;
}

.switch.checked .off {
	display: none;
}

.switch.checked .on {
	display: block;
}

.switch.disabled {
	opacity: .50;
	cursor: not-allowed;
}

.table-permissions>tbody>tr>td, .table-permissions>tbody>tr>th,
	.table-permissions>tfoot>tr>td, .table-permissions>tfoot>tr>th,
	.table-permissions>thead>tr>td {
	padding: 7px 15px 2px 15px;
}

.inner-addon {
	position: relative;
	color: #ccd0d4
}

/* style icon */
.inner-addon .glyphicon, .inner-addon .fa {
	position: absolute;
	padding: 8px;
	pointer-events: none;
}

/* align icon */
.left-addon .glyphicon, .left-addon .fa {
	left: 0px;
}

.right-addon .glyphicon, .right-addon .fa {
	right: 0px;
}

/* add padding  */
.left-addon input {
	padding-left: 30px;
}

.right-addon input {
	padding-right: 30px;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.navbar-nav>li>a .label {
	background: #ff5b57 !important;
}

.media-user>.media-body {
	width: inherit;
	vertical-align: middle;
}

.media-user>a {
	display: table-cell;
}

.media-user>a>img {
	width: 32px;
	height: 32px;
}
.card {
	box-shadow: 0 1px 2px #aaa;
	background: white;
	border-radius: 3px;
	user-select: none;
	animation: fly-in-from-left .5s 1s ease both;
	transform-origin: top left;
}
