.login-page .header-container {
    margin: 0px 50px;
}

.login-page .header-menu {
    text-align: right;
}

.login-page .header-pages {
    display: inline-block !important;
    margin-right: 70px;
}

.login-page .header-login {
    display: inline-block !important;
}

.half-bg {
    height: 100%;
    background: url(../../../images/background-city.jpg);
    background-size: cover;
    background-position-y: 45%;
}

.content.has-bg.half-bg.home {
    height: 350px;
}

.header.navbar.navbar-transparent {
    /*background: url("img/content-bg-cover.png") !important;*/
    background: #fff !important;
}

.header.navbar.navbar-transparent.navbar-small {
    background: #fff !important;
}

.header.navbar .navbar-nav > li > a {
    color: #2d353c !important;
    padding: 15px;
}

.social-media {
    text-align: center;
}

.social-link {
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    font-size: 100px;
    line-height: 100px;
    display: inline-block;
}

.social-link .fa-youtube-square {
    color: #CD201F;
}

.social-link .fa-twitter-square {
    color: #1a8bf0;
}

.social-link .fa-instagram {
    color: #000;
}

.social-link .fa-linkedin-square {
    color: #0077B5;
}

.social-link .fa-snapchat-square {
    color: #FFFC00;
}

.social-link .fa-facebook-square {
    color: #3b5998;
}

.contact-page {
    display: table;
}

.social-divider {
    width: 50px;
    height: 100%;
    display: inline-flex;
    float: left;
    border-right: 1px solid #eee;
}

.home-carousel {
    /*margin-top: 75px;*/
    height: 600px;
}

.carousel-indicators {
    margin-bottom: 0px;
}

.carousel.slide {
    padding-top: 100px;
}

.carousel-title-small {
    font-size: 18px;
    color: #8F8E8E;
}

.carousel-text-content {
    font-size: 16px;
    color: #8F8E8E;
    width: 60%;
}

.bg-home-gray {
    background: #AFAFAF;
}

.home-software .content-title::after {
    background: #fff;
}

.home-software .content-desc {
    font-size: 16px;
}

.home-service {
    padding: 0px 15px !important;
}

.home-service h4 {
    display: inline-block;
}

.home-service .icon-lg {
    font-size: 50px;
    opacity: 0.5;
}

.play-button-outer {
    height: 75px;
    width: 75px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    position: relative;
    bottom: -35px;
    border: 15px solid rgba(255, 150, 0, 0.3);
}

.play-button-inner {
    height: 100%;
    width: 100%;
    background: #348fe2;
    border-radius: 50px;
}

.play-button-inner i {
    color: white;
    position: relative;
    bottom: -13px;
    left: 18px;
}

.more-link {
    text-decoration: none !important;
}

.more-link:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media (min-width: 768px) {
    .home-service .service-info {
        margin-bottom: 30px;
    }

    .align-bottom {
        bottom: 0px;
        position: absolute;
    }
}

.industry-title {
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    border: 1px solid #eee;
}

.industry-tile {
    min-height: 280px;
}

.industry-tile-button {
    height: 60px;
    width: 60px;
    background: #fff;
    border-radius: 50px;
    position: relative;
    bottom: 30px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.industry-tile-desc {
    margin-top: -15px;
}

.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-xs-5ths {
    width: 20%;
    float: left;
}

@media (min-width: 768px) {
    .col-sm-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 992px) {
    .col-md-5ths {
        width: 20%;
        float: left;
    }
}

@media (min-width: 1200px) {
    .col-lg-5ths {
        width: 20%;
        float: left;
    }
}

.solution-oee-media {
    width: 80%;
    min-height: 250px;
    background: #eee;
}

.oee-desc {
    vertical-align: top;
}

#analysis-tools .card, #oee-videos .card, #company-mission .card, #company-team .card, #team-philosophy .card {
    box-shadow: 0 1px 5px #f7f7f7;
}

@media (min-width: 1448px) {
    #analysis-tools .container, #oee-videos .container, #company-story .container, #team-department-lead .container,
    #team-lists .container, .growl.container {
        width: 1440px !important;
    }
}

#footer .container.footer-wide {
    width: 100% !important;
}

.analysis-content {
    background: #3459FF;
    border-radius: 5px;
}

.analysis-content h4 {
    color: #fff;
}

.analysis-content-desc {
    vertical-align: middle;
}

#analysis-tools .more-link {
    right: 20px;
}

.analysis-desc {
    vertical-align: top;
    padding: 0px 20px !important;
}

.analysis-desc h4 span {
    background: #eee;
}

#oee, .video-title, .video-views {
    border-bottom: 1px solid #eee;
}

.video-details {
    vertical-align: top;
    padding: 0px;
}

.video-desc {
    max-height: 165px;
    overflow: auto;
}

.video-title h4 {
    font-size: 16px;
}

.video-branding {
    border-top: 1px solid #eee;
    bottom: 0px;
    width: 100%;
}

.video-branding span, .video-branding p {
    display: inline-block;
}

.company-story-media, .trainings-media {
    width: 100%;
    height: 250px;
}

.carousel-controls-col {
    vertical-align: middle;
}

.carousel-controls {
    height: 40px;
    width: 40px;
    border: 1px solid #eee;
    border-radius: 25px;
}

.carousel-controls i {
    margin-top: 12px;
    color: #ccc;
    margin-left: 13px;
}

.team-pic {
    height: 200px;
    background: #eee;
    padding: 0px;
}

.company-team-icon {
    opacity: 0.2;
    color: #ddd;
    font-size: 100px;
    line-height: 100px;
    text-align: center;
}

.training-item {
    padding-bottom: 50px;
    border-bottom: 1px solid #eee;
    margin-top: 50px;
}

.training-overview {
    text-decoration: underline;
    font-size: 16px;
    color: #707478 !important;
}

#team-department-lead {
    border-bottom: 1px solid #eee;
}

.footer-wide {
    border-top: 1px solid #222;
}

.footer-tabs .nav > li > a {
    padding: 0px 10px;
}

.footer-tabs .nav > li > a:focus {
    color: #6e7179 !important;
    background: transparent !important;
}

.footer-tabs .nav > li > a:hover {
    color: #777;
    background: transparent !important;
}

.form-submit .ng-animate {
    -webkit-animation: none 0s;
}

.navbar-nav > li > .dropdown-menu {
    background: #fff;
}

.navbar-nav > li > .dropdown-menu a:hover {
    background: #edf0f5;
}

.navbar-nav > li.dropdown:hover > .dropdown-menu {
    display: none;
}

.open > .dropdown-menu {
    display: block !important;
}

.angular-with-newlines {
    white-space: pre-wrap;
}

#loading-bar .bar, #loading-bar-spinner .spinner-icon, #loading-bar .peg {
    display: none;
}

.no-list-style {
    list-style: none;
}

.login-page {
    padding-top: 57px !important;
}

.header .dropdown-menu > li > a:focus, .header .dropdown-menu > li > a:hover {
    background: #edf0f5 !important;
}