<div class="growl container">
    <div growl class="growl-container"></div>
</div>
<div ng-include="'app/main/login/views/header.html'"></div>
<div id="home" class="content has-bg half-bg home" title="Picture: Bosch"></div>
<div id="about" class="content" data-scrollview="true">
    <div class="container">
        <div class="row height-full width-full contact-page">
            <div class="col-md-7">
                <h3 class="bold">{{'Contact Us' | translate}}</h3>
                <p>
                    Please fill out the form below, and someone from our team will get back to you as soon as possible.
                    Thank you!
                </p>
                <form name="contactUs" id="contactUs" role="form" ng-submit="sendMessage(contactForm)">
                    <div class="row">
                        <div class="col-md-8">
                            <div class="row">
                                <div class="form-group col-md-6"
                                     ng-class="{'has-error' : !contactUs.username.$valid && !contactUs.username.$pristine}">
                                    <input type="text" ng-model="contactForm.username"
                                           class="form-control"
                                           name="username" autocomplete="name fname"
                                           required="required" placeholder="Your Name" ng-maxlength="256"/>
                                    <p class="text-danger m-b-0"
                                       ng-if="contactUs.username.$error.required && !contactUs.username.$pristine">
                                        Name is required.</p>
                                    <p class="text-danger m-b-0"
                                       ng-if="contactUs.username.$error.maxlength && !contactUs.username.$pristine">
                                        Name must be less than 256 characters</p>
                                </div>
                                <div class="form-group col-md-6"
                                     ng-class="{'has-error' : contactUs.company.$invalid && !contactUs.company.$pristine}">
                                    <input type="text" name="company"
                                           placeholder="Company Name"
                                           autocomplete="organization" ng-pattern="/^[a-z\d\-_\s]+$/i"
                                           class="form-control" ng-model="contactForm.company"
                                           ng-maxlength="50" required="required" auto-focus="true">
                                    <p class="text-danger m-b-0"
                                       ng-if="contactUs.company.$error.required && !contactUs.company.$pristine">
                                        Company name is required.</p>
                                    <p class="text-danger m-b-0"
                                       ng-if="contactUs.company.$error.pattern && !contactUs.company.$pristine">
                                        Company should only have alphanumeric characters and spaces</p>
                                    <p class="text-danger m-b-0"
                                       ng-if="contactUs.company.$error.maxlength && !contactUs.company.$pristine">
                                        Company name must be less than 50 characters</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <input id="email" type="email" ng-model="contactForm.email"
                                           class="form-control" placeholder="Email" name="email"
                                           required="required" maxlength="256"
                                           ng-pattern="controls.emailFormat"/>
                                    <p class="text-danger m-b-0"
                                       ng-if="contactUs.email.$error.required && !contactUs.email.$pristine">
                                        Email is required.</p>
                                    <p class="text-danger m-b-0"
                                       ng-if="contactUs.email.$invalid && !contactUs.email.$pristine && !contactUs.email.$error.required">
                                        Invalid Email format</p>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" name="phone" placeholder="Phone #"
                                           autocomplete="phone-number" ng-pattern="/^[0-9]{3}-[0-9]{3}-[0-9]{4}$/i"
                                           class="form-control" ng-model="contactForm.phone"
                                           required="required">
                                    <p class="text-danger m-b-0"
                                       ng-if="contactUs.phone.$error.required && !contactUs.phone.$pristine">
                                        Phone number is required.</p>
                                    <p class="text-danger m-b-0"
                                       ng-if="contactUs.phone.$error.pattern && !contactUs.phone.$pristine">
                                        Phone Number must follow format: XXX-XXX-XXXX.</p>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-12">
                                    <input type="text" name="website" placeholder="Website"
                                           autocomplete="website"
                                           class="form-control" ng-model="contactForm.website">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <p class="bold">General Inquiries</p>
                                <p><i class="fa fa-phone m-r-10 bold"></i> (610) 694-8508</p>
                                <p><i class="fa fa-envelope-o m-r-10 bold"></i> improvidus@us.bosch.com</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <textarea class="form-control" required="required" placeholder="Message" rows="5"
                                      ng-model="contactForm.message" autocomplete="message"></textarea>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn btn-primary pull-right btn-sm m-t-10 contact-su" type="submit"
                                    ng-disabled="!contactUs.$valid || controls.processing"><i
                                    ng-show="controls.processing"
                                    class="fa fa-spinner fa-spin m-r-5"></i>{{'Submit' |
                                translate}}
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-5 social-media height-full">
                <div class="social-divider"></div>
                <h3 class="bold">{{'Follow Us on Social Media' | translate}}</h3>
                <div class="row social-links-container">
                    <div>
                        <div>
                            <a class="fa-4x social-link" href="https://www.youtube.com/user/BoschRexrothGlobal"
                               target="_blank">
                                <i class="fa fa-youtube-square"></i>
                            </a>
                            <a class="fa-4x social-link" href="https://twitter.com/BoschRexrothUS" target="_blank">
                                <i class="fa fa-twitter-square"></i>
                            </a>
                            <a class="fa-4x social-link" href="https://www.instagram.com/boschrexroth_global"
                               target="_blank">
                                <i class="fa fa-instagram"></i>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <a class="fa-4x social-link" href="https://www.linkedin.com/company/bosch-rexroth"
                               target="_blank">
                                <i class="fa fa-linkedin-square"></i>
                            </a>
                            <!--<a class="fa-4x social-link">-->
                            <!--<i class="fa fa-snapchat-square"></i>-->
                            <!--</a>-->
                            <a class="fa-4x social-link" href="https://www.facebook.com/BoschRexroth" target="_blank">
                                <i class="fa fa-facebook-square"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'app/main/login/views/footer.html'"></div>