<div ng-include="'app/main/analysis/views/top-menu.html'"></div>
<div id="content" class="fill">
    <div class="fill p-5" style="overflow-x: hidden">
        <div class="row fill" style="background: white;">
            <div class="col-xs-10 fill">
                <div id="chartdiv" style="height: 100%; width: 100%"></div>
            </div>
            <div class="col-xs-2 fill">
                <div class="heatmap-legend">
                    <label>Max Correlation</label>
                    <div></div>
                </div>
            </div>
        </div>
    </div>
</div>