<div class="panel panel-inverse add-user-modal">
    <div class="panel-body">
        <form name="addUser">
            <div id="wizard" class="bwizard clearfix">
                <ol class="bwizard-steps clearfix clickable" role="tablist">
                    <li role="tab" style="z-index: 4;" ng-click="userForm.step = 1"
                        ng-class="{'active':userForm.step == 1}"><span
                            class="label badge-inverse">1</span><a href
                                                                   class="hidden-phone">
                        User
                    </a></li>
                    <li role="tab" style="z-index: 4;" ng-click="userForm.step = 2"
                        ng-class="{'active':userForm.step == 2}"><span
                            class="label">2</span><a href class="hidden-phone">
                        Role
                    </a></li>
                </ol>
                <div class="well">
                    <div id="step1" role="tabpanel"
                         ng-show="userForm.step == 1">
                        <div ng-include="'app/main/administration/users/views/add/user.html'"></div>
                    </div>
                    <div id="step2" role="tabpanel"
                         ng-show="userForm.step == 2">
                        <div ng-include="'app/main/administration/users/views/add/roles.html'"></div>
                    </div>
                </div>
                <ul class="pager bwizard-buttons">
                    <li class="previous" role="button" ng-hide="userForm.step == 1"><a href
                                                                                       ng-click="userForm.step == 1 ? userForm.step = userForm.step : userForm.step = userForm.step - 1">←
                        Previous</a></li>
                    <span ng-hide="userForm.step == 2"
                          style="float: left;"><a href
                                                  ng-click="invite()">Invite</a> a user from another organization</span>
                    <li class="next" role="button" ng-hide="userForm.step == 2"><a href
                                                                                   ng-click="userForm.step == 2 ? userForm.step = userForm.step : userForm.step = userForm.step + 1">Next
                        →</a></li>
                    <li class="next m-r-5" role="button"
                        ng-show="userForm.step == 2 && addUser.$valid && !buttons.submitted"><a
                            class="bg-green text-white"
                            ng-click="save();"><i
                            class="fa fa-save" ng-show="!controls.processing"></i><i
                            ng-show="controls.processing"
                            class="fa fa-spinner fa-spin"></i> Save</a></li>
                    <li class="next m-r-5 disabled" role="button"
                        ng-show="userForm.step == 2 && !addUser.$valid"><a
                            class="bg-green text-white"><i
                            class="fa fa-save"></i> Save</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>