<div class="pull-right">
    <button ng-show="!buttons.confirm && !buttons.isCollapsed"
            type="button" class="btn btn-xs btn-success"
            ng-click="add()">
        <i class="fa fa-plus-circle"></i> {{'ADD' | translate}}
    </button>
    <button ng-show="!buttons.confirm && !buttons.isCollapsed"
            type="button" class="btn btn-xs btn-primary"
            ng-click="invite()">
        <i class="fa fa-envelope"></i> {{'Invite' | translate}}
    </button>
    <button ng-show="!buttons.confirm && !buttons.isCollapsed && data.selectedUsers.length > 0"
            type="button" class="btn btn-xs btn-danger"
            ng-click="buttons.confirm = !buttons.confirm">
        <i class="fa fa-minus"></i> {{'REMOVE' | translate}}
    </button>
    <button ng-show="!buttons.confirm && !buttons.isCollapsed"
            type="button" class="btn btn-xs btn-default"
            ng-click="refresh()">
        <i class="fa fa-refresh"></i> {{'REFRESH' | translate}}
    </button>
    <button ng-show="buttons.confirm" type="button"
            class="btn btn-xs btn-danger"
            ng-click="removeUsers(); buttons.confirm = !buttons.confirm">
        <i class="fa fa-check f-"></i> {{'CONFIRM' | translate}}
    </button>
    <button ng-show="buttons.confirm" type="button"
            class="btn btn-xs btn-warning"
            ng-click="buttons.confirm = !buttons.confirm">
        <i class="fa fa-ban"></i> {{'CANCEL' | translate}}
    </button>
    <!--<button ng-show="buttons.isCollapsed" type="button"-->
    <!--class="btn btn-xs btn-success" ng-disabled="buttons.invalid"-->
    <!--ng-click="buttons.isCollapsed = !buttons.isCollapsed; save()">-->
    <!--<i class="fa fa-save"></i> {{'SAVE' | translate}}-->
    <!--</button>-->
    <!--<button ng-show="data.process && buttons.isCollapsed" type="button"-->
    <!--class="btn btn-xs btn-success" ng-disabled="buttons.invalid"-->
    <!--ng-click="process();">-->
    <!--<i class="fa fa-plus-circle"></i> {{'Submit' | translate}}-->
    <!--</button>-->
    <!--<button ng-show="buttons.isCollapsed" type="button"-->
    <!--class="btn btn-xs btn-warning"-->
    <!--ng-click="buttons.isCollapsed = false; buttons.upload = false; data.process=false;">-->
    <!--<i class="fa fa-ban"></i> {{'CANCEL' | translate}}-->
    <!--</button>-->
</div>