<div id="modal-dialog" style="display: block;" ng-enter="updateUser(data.updatedUser, data.newRoleName); close();">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="close();" class="close" data-dismiss="modal"
                    aria-hidden="true">x
            </button>
            <h4 class="modal-title">Edit {{data.updatedUser.displayName}}</h4>
        </div>
        <div class="modal-body p-b-0">
            <legend class="pull-left width-full m-b-10">Role</legend>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="data.newRoleName" name="roles" value="Admin">
                    Admin
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="data.newRoleName" name="roles" value="GeneralManager">
                    General Manager
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="data.newRoleName" name="roles" value="PlantManager">
                    Plant Manager
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="data.newRoleName" name="roles"
                           value="ProductionManager">
                    Production Manager
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="data.newRoleName" name="optionsRadios" value="Operator">
                    Operator
                </label>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-sm btn-white" ng-click="close()" data-dismiss="modal">Close</a>
            <a ng-click="updateUserRole(data.updatedUser, data.newRoleName); close()" ; href auto-focus="true"
               class="btn btn-sm btn-success">Confirm</a>
        </div>
    </div>
</div>