<div class="panel panel-inverse add-user-modal">
    <div class="panel-body">
        <form name="userInvitation">
            <div id="wizard" class="bwizard clearfix">
                <ol class="bwizard-steps clearfix clickable" role="tablist">
                    <li role="tab" style="z-index: 4;" ng-click="userInviteForm.step = 1"
                        ng-class="{'active':userInviteForm.step == 1}"><span
                            class="label badge-inverse">1</span><a href
                                                                   class="hidden-phone">
                        User
                    </a></li>
                    <li role="tab" style="z-index: 4;" ng-click="userInviteForm.step = 2"
                        ng-class="{'active':userInviteForm.step == 2}"><span
                            class="label">2</span><a href class="hidden-phone">
                        Role
                    </a></li>
                </ol>
                <div class="well">
                    <div id="step1" role="tabpanel"
                         ng-show="userInviteForm.step == 1">
                        <div ng-include="'app/main/administration/users/views/invite/user.html'"></div>
                    </div>
                    <div id="step2" role="tabpanel"
                         ng-show="userInviteForm.step == 2">
                        <div ng-include="'app/main/administration/users/views/invite/roles.html'"></div>
                    </div>
                </div>
                <ul class="pager bwizard-buttons">
                    <li class="previous" role="button" ng-hide="userInviteForm.step == 1"><a href
                                                                                             ng-click="userInviteForm.step == 1 ? userInviteForm.step = userInviteForm.step : userInviteForm.step = userInviteForm.step - 1">←
                        Previous</a></li>
                    <span ng-hide="userInviteForm.step == 2"
                          style="float: left;"><a href ng-click="add()">Add</a> a new user</span>
                    <li class="next" role="button" ng-hide="userInviteForm.step == 2"><a href
                                                                                         ng-click="userInviteForm.step == 2 ? userInviteForm.step = userInviteForm.step : userInviteForm.step = userInviteForm.step + 1">Next
                        →</a></li>
                    <li class="next m-r-5" role="button"
                        ng-show="userInviteForm.step == 2 && userInvitation.$valid && !buttons.submitted"><a
                            class="bg-green text-white"
                            ng-click="inviteUser();"><i
                            class="fa fa-save" ng-show="!controls.processing"></i><i
                            ng-show="controls.processing"
                            class="fa fa-spinner fa-spin"></i> Invite</a></li>
                    <li class="next m-r-5 disabled" role="button"
                        ng-show="userInviteForm.step == 2 && !userInvitation.$valid"><a
                            class="bg-green text-white"><i
                            class="fa fa-save"></i> Invite</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>