<div class="row">
    <div class="col-sm-12 table-responsive">
        <table st-table="data.displayedUsers" st-pipe="getUsers"
               class="table table-condensed table-hover m-b-0">
            <thead>
            <tr class="pointer" style="white-space: normal;">
                <th st-sort="displayName">{{'NAME' | translate}}</th>

                <th class="text-center">{{'Role' | translate}}</th>
                <th st-sort="email">{{'EMAIL' | translate}}</th>
                <th class="text-center">
                </th>
            </tr>
            <tr>
                <th colspan="3">
                    <div class="input-group" style="width: 100%">
            <span class="inner-addon left-addon">
                <i class="fa fa-search"></i>
                <input st-search="" type="search" placeholder="{{'SEARCH' | translate}}"
                       class="input-sm form-control">
            </span>
                    </div>
                </th>
                <th class="text-center" style="vertical-align: middle">
                    <label class="checkbox-inline">
                        <input type="checkbox" value="" ng-model="data.onlyMembers">
                        Only Members
                    </label>
                    <!--<label class="radio-inline">-->
                    <!--<input type="radio" name="onlyMembers" value="false" checked=""-->
                    <!--ng-model="data.onlyMembers">-->
                    <!--All-->
                    <!--</label>-->
                    <!--<label class="radio-inline">-->
                    <!--<input type="radio" name="onlyMembers" value="true" checked=""-->
                    <!--ng-model="data.onlyMembers">-->
                    <!--Members-->
                    <!--</label>-->
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in data.displayedUsers" ng-if="row.displayName || row.email">
                <td>
                    <user-media user="row">
                </td>
                <td class="text-center f-s-16"><span class="label"
                                                     ng-class="getBadgeClass(row.roles[0])">{{row.roles[0].displayName}}</span>
                </td>
                <td>{{row.email}}</td>
                <td class="text-center">
                    <switch ng-model="row.selected"
                            ng-change="updateEntry(row)"
                            class="switch-sm switch-success"></switch>
                </td>
            </tr>
            <tr ng-hide="data.users.length > 0">
                <td colspan="4" style="background-color: white"><span
                        style="display: flex; justify-content: center; opacity: 0.3;">
						<h5>{{'NO_USERS_AVAILABLE' | translate}}</h5>
				</span></td>
            </tr>
            </tbody>
            <tfoot ng-show="data.users.length > 5">
            <tr>
                <td colspan="4">
                    <div class="pull-left" st-items-by-page="itemPerPage"
                         st-pagination=""
                         st-template="app/shared/tables/views/pagination-custom.html"></div>
                    <nav>
                        <ul class="pagination pagination-sm pull-right"
                            style="margin-bottom: 0">
                            <li><a href="" ng-click="itemPerPage = 5">5</a></li>
                            <li><a href="" ng-click="itemPerPage = 10">10</a></li>
                            <li><a href="" ng-click="itemPerPage = 25">25</a></li>
                            <li><a href="" ng-click="itemPerPage = 50">50</a></li>
                        </ul>
                    </nav>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>