<div class="row">
    <div class="col-sm-12 table-responsive">
        <table st-table="data.displayedUsers" st-safe-src="data.users"
               st-selection="data.selectedUsers"
               class="table table-condensed table-hover m-b-0">
            <thead>
            <tr class="pointer" style="white-space: normal;">
                <th st-sort="displayName">{{'NAME' | translate}}</th>
                <th class="text-center">{{'Role' | translate}}</th>
                <!--<th class="text-center" st-sort="username">{{'USERNAME' | translate}}</th>-->
                <th class="text-center" st-sort="email">{{'EMAIL' | translate}}</th>
                <th></th>
            </tr>
            <tr ng-show="data.users.length > 5">
                <th colspan="4"><input st-search=""
                                       placeholder="{{'SEARCH' | translate}}"
                                       class="input-sm form-control" type="search"/></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-mouseenter="show = true" ng-mouseleave="show = false" ng-repeat="row in data.displayedUsers"
                class="pointer" st-select-row="row" st-select-mode="multiKey" ng-if="row.displayName || row.email">
                <td>
                    <user-media user="row">
                </td>
                <!--<td class="text-center f-s-16" style="vertical-align: middle"><span ng-click="edit(row)" class="label"-->
                <!--ng-class="getBadgeClass(row.roles[0])">{{row.roles[0].displayName}}</span>-->
                <!--</td>-->
                <td class="text-center f-s-16" style="vertical-align: middle"><span ng-click="edit(row)" class="label"
                                                                                    ng-class="getBadgeClass(row.activeRole)">{{row.activeRole.displayName}}</span>
                </td>
                <td class="text-center" style="vertical-align: middle">{{row.email}}</td>
                <td class="text-right" style="vertical-align: middle; width: 6%">
                    <span permission permission-only="['ADMIN', 'GENERAL_MANAGER']">
                        <button type="button"
                                ng-show="show && !buttons.isCollapsed" class="btn btn-xs btn-warning"
                                ng-click="edit(row)">
                            <i class="fa fa-pencil"></i> {{'EDIT' | translate}}
                        </button>
                    </span>
                </td>
            </tr>
            <tr ng-hide="data.users.length > 0">
                <td colspan="4" style="background-color: white"><span
                        style="display: flex; justify-content: center; opacity: 0.3;">
						<h5>{{'NO_USERS_AVAILABLE' | translate}}</h5>
				</span></td>
            </tr>
            </tbody>
            <tfoot ng-show="data.users.length > 5">
            <tr>
                <td colspan="4">
                    <div class="pull-left" st-items-by-page="itemPerPage"
                         st-pagination=""
                         st-template="app/shared/tables/views/pagination-custom.html"></div>
                    <nav>
                        <ul class="pagination pagination-sm pull-right"
                            style="margin-bottom: 0">
                            <li><a href="" ng-click="itemPerPage = 5">5</a></li>
                            <li><a href="" ng-click="itemPerPage = 10">10</a></li>
                            <li><a href="" ng-click="itemPerPage = 25">25</a></li>
                            <li><a href="" ng-click="itemPerPage = 50">50</a></li>
                        </ul>
                    </nav>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>