<div class="container">
    <div growl class="growl-container"></div>
</div>
<div class="container height-full">
    <div class="row m-0 p-t-10 height-full">
        <div class="card panel-body min-height-40">
            <div class="row">
                <div class="col-md-12">
                    <div permission permission-only="['SUPER_ADMIN','ADMIN','GENERAL_MANAGER']">
                        <div ng-include="'app/main/administration/users/views/controls.html'"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div ng-include="'app/main/administration/users/views/list.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>