<div class="panel panel-inverse">
    <div class="panel-body">
        <form name="addCostCenter">
            <div id="wizard" class="bwizard clearfix">
                <ol class="bwizard-steps clearfix clickable" role="tablist" ng-init="costCenterForm.step = 1">
                    <li role="tab" style="z-index: 3;" ng-click="costCenterForm.step = 1"
                        ng-class="{'active':costCenterForm.step == 1}"><span
                            class="label badge-inverse">1</span><a href
                                                                   class="hidden-phone">
                        Cost Center
                    </a></li>
                    <li role="tab" style="z-index: 3;" ng-click="costCenterForm.step = 2"
                        ng-class="{'active':costCenterForm.step == 2}"><span
                            class="label">2</span><a href class="hidden-phone">
                        Users
                    </a></li>
                </ol>
                <div class="well">
                    <div id="step1" role="tabpanel"
                         ng-show="costCenterForm.step == 1">
                        <div ng-include="'app/main/administration/costcenters/views/add/costcenter.html'"></div>
                    </div>
                    <div id="step2" role="tabpanel"
                         ng-show="costCenterForm.step == 2">
                        <div ng-include="'app/main/administration/costcenters/views/add/users.html'"></div>
                    </div>
                </div>
                <ul class="pager bwizard-buttons">
                    <li class="previous" role="button" ng-hide="costCenterForm.step == 1"><a href
                                                                                             ng-click="step == 1 ? costCenterForm.step = costCenterForm.step : costCenterForm.step = costCenterForm.step - 1">←
                        Previous</a></li>
                    <li class="next" role="button" ng-hide="costCenterForm.step == 2"><a href
                                                                                         ng-click="costCenterForm.step == 2 ? costCenterForm.step = costCenterForm.step : costCenterForm.step = costCenterForm.step + 1">Next
                        →</a></li>
                    <li class="next m-r-5" role="button"
                        ng-show="costCenterForm.step == 2 && addCostCenter.$valid && !buttons.submitted"><a
                            class="bg-green text-white"
                            auto-focus="costCenterForm.step == 2" href
                            ng-click="save(); buttons.isCollapsed = !buttons.isCollapsed;"><i
                            class="fa fa-save"></i> Save</a></li>
                    <li class="next m-r-5 disabled" role="button"
                        ng-show="costCenterForm.step == 2 && addCostCenter.$invalid"><a
                            class="bg-green text-white"><i
                            class="fa fa-save"></i> Save</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>