<div class="container full-height">
    <div class="row m-0 p-t-10 m-b-10 full-height">
        <div class="card panel-body min-height-40">
            <div class="row">
                <div class="col-sm-12">
                    <h4>
                        <!--<div ng-include="'app/main/administration/workcenters/views/controls.html'"></div>-->
                        <ol class="breadcrumb">
                            <li><a ng-href="#/admin/plants"><i class="fa fa-home"></i></a></li>
                            <li>
                                <a ng-href="#/admin/plants/{{data.plant.uuid}}">{{data.plant.displayName}}</a>
                            </li>
                            <li class="active">{{data.costCenter.displayName}}</li>
                        </ol>
                    </h4>
                </div>
            </div>
            <div class="row plant-details">
                <div class="col-sm-3">
                    <div class="profile-left" style="width: 100%">
                        <!-- begin profile-image -->
                        <div class="profile-image">
                            <i class="fa fa-6 fa-usd"></i>
                        </div>
                        <!-- end profile-image -->
                        <div class="btn-group-sm text-center m-b-20" permission
                             permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER']">
                            <!--<button class="btn btn-sm btn-warning" ng-click="remove()"><i-->
                            <!--class="fa fa-pencil"></i> {{'EDIT'-->
                            <!--|-->
                            <!--translate}} Plant-->
                            <!--</button>-->
                            <button class="btn btn-sm btn-danger" ng-click="remove()"><i
                                    class="fa fa-minus"></i> {{'REMOVE'
                                |
                                translate}} Cost Center
                            </button>
                        </div>
                        <!-- begin profile-highlight -->
                        <!--<div class="profile-highlight">-->
                        <!--<h4><i class="fa fa-cog"></i> Only My Contacts</h4>-->
                        <!--<div class="checkbox m-b-5 m-t-0">-->
                        <!--<label><input type="checkbox"> Show my timezone</label>-->
                        <!--</div>-->
                        <!--<div class="checkbox m-b-0">-->
                        <!--<label><input type="checkbox"> Show i have 14 contacts</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!-- end profile-highlight -->
                    </div>
                </div>
                <div class="col-sm-9 table-responsive" style="display: inline-block;">
                    <h1 class="page-header">{{data.costCenter.displayName}}
                        <small>{{data.costCenter.description}}</small>
                    </h1>
                    <ul class="nav nav-tabs" ng-init="data.tab=2">
                        <li ng-class="{active:data.tab==2}"><a href ng-click="data.tab=2" data-toggle="tab"><i
                                class="fa fa-cog"></i>
                            Work Centers</a></li>
                        <li ng-class="{active:data.tab==1}" permission
                            permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER']"><a href
                                                                                                              ng-click="data.tab=1"
                                                                                                              data-toggle="tab"><i
                                class="fa fa-users"></i> Users</a></li>
                    </ul>
                    <div class="p-0 m-t-10">
                        <div id="default-tab-1" ng-if="data.tab==1">
                            <div ng-include="'app/main/administration/users/views/list.selectable.html'">
                                <!--ng-controller="adminUsersCtrl"-->
                            </div>
                        </div>
                        <div id="default-tab-2" ng-if="data.tab==2"
                             ng-controller="adminWorkCentersCtrl" permission
                             permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER', 'PRODUCTION_MANAGER']">
                            <!--<div class="pull-right">-->
                            <!--<button type="button" class="btn btn-xs btn-success"-->
                            <!--ng-click="add()">-->
                            <!--<i class="fa fa-plus-circle"></i> {{'ADD' | translate}}-->
                            <!--</button>-->
                            <!--</div>-->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div ng-include="'app/main/administration/workcenters/views/list.html'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>