<div class="row m-t-10">
    <div class="col-sm-12">
        <div class="input-group" style="width: 100%">
            <span class="inner-addon left-addon">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search" class="input-sm form-control"
                       ng-model="search.$">
            </span>
            <div class="input-group-btn" permission
                 permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER']">
                <button type="button" class="btn btn-sm btn-primary"
                        ng-click="add()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row m-t-10">
    <div class="col-md-3 col-sm-6" ng-repeat="row in data.costCenters | filter:search">
        <div class="widget widget-stats bg-rexroth-bg-80 pointer"
             ng-click="selectState('/admin/plants/' + data.plant.uuid + '/costcenters/' + row.uuid)">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-usd fa-fw"></i></div>
            <div class="stats-number"><h2>{{row.displayName}}</h2>
            </div>
            <div class="stats-title"></div>
            <div class="stats-desc result-list">
                <cost-center-item plant="data.plant" cost-center="row"/>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning m-b-0" ng-if="data.costCenters.length < 1">
            <h4 class="block">No Cost Centers available</h4>
            <p permission
               permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER']">Click <a href
                                                                                                       ng-click="add()">here</a>
                to create a new Cost Center.
            </p>
        </div>
    </div>
</div>