<div id="modal-dialog" style="display: block;" ng-enter="removeCostCenter(); close();">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="close()" class="close" data-dismiss="modal"
                    aria-hidden="true">x
            </button>
            <h4 class="modal-title">Remove?</h4>
        </div>
        <div class="modal-body">Would you like to remove the current Cost Center?</div>
        <div class="modal-footer">
            <a class="btn btn-sm btn-white" ng-click="close()" data-dismiss="modal">Close</a>
            <a ng-click="removeCostCenter(); close()" class="btn btn-sm btn-danger" href auto-focus="true">Confirm</a>
        </div>
    </div>
</div>