<!--<input placeholder="{{'SEARCH' | translate}}"-->
<!--class="input-sm form-control ng-tree-search m-t-10 m-b-10" type="text"-->
<!--ng-model="searchString"/>-->
<!--<div class="row margin-top-10">-->
<!--<div class="col-md-6 no-padding m-b-10">-->
<!--<button type="button" class="btn btn-xs btn-success"-->
<!--x-ng-click="openAllNodes();">-->
<!--<i class="fa fa-folder-open"></i> {{'OPEN_ALL' | translate}}-->
<!--</button>-->
<!--<button type="button" class="btn btn-xs btn-success"-->
<!--x-ng-click="collapseAllNodes();">-->
<!--<i class="fa fa-folder"></i> {{'CLOSE_ALL' | translate}}-->
<!--</button>-->
<!--</div>-->
<!--<div class="col-md-6 no-padding">-->
<!--<div class="pull-right">-->
<!--<button ng-show="!cfm && !isClpsd" type="button" permission-->
<!--only="'CREATE_DEVICE_GROUP'" class="btn btn-xs btn-success"-->
<!--ng-click="isClpsd = !isClpsd">-->
<!--<i class="fa fa-plus-circle"></i> {{'ADD_ROOT_DEVICE_GROUP' |-->
<!--translate}}-->
<!--</button>-->
<!--<button ng-show=isClpsd type="button" class="btn btn-xs btn-success"-->
<!--x-ng-click="isClpsd = !isClpsd; saveRoot();">-->
<!--<i class="fa fa-save"></i> {{'SAVE' | translate}}-->
<!--</button>-->
<!--<button ng-show=isClpsd type="button" class="btn btn-xs btn-warning"-->
<!--x-ng-click="isClpsd = !isClpsd">-->
<!--<i class="fa fa-ban"></i> {{'CANCEL' | translate}}-->
<!--</button>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row margin-top-10" collapse="!isClpsd"-->
<!--ng-enter="isClpsd = !isClpsd; saveRoot();">-->
<!--<fieldset>-->
<!--<div class='col-sm-12'>-->
<!--<div class="form-group">-->
<!--<label for="title" translate>NAME</label> <input type="text"-->
<!--class="form-control" id="name"-->
<!--placeholder="{{'NAME' | translate}}"-->
<!--x-ng-model="newDeviceGroup.displayName">-->
<!--</div>-->
<!--</div>-->
<!--</fieldset>-->
<!--</div>-->
<div id="device-tree-wrapper">
    <js-tree tree-plugins="dnd,wholerow,types,sort"
             tree-core="treeCore"
             tree-dnd="dndConfig" tree-types="typesConfig" tree-ajax="ajax"
             tree-sort="sortConfig" tree-instance="treeInstance"
             tree-events="move_node:moveNodeCB;"></js-tree>
</div>
