<div id="top-menu" class="top-menu collapse">
    <ul class="container nav">
        <li class="f-s-14 return-button"><a href="javascript:;" ng-click="selectState('/')"><i
                class="f-s-14 fa fa-angle-double-left "></i><span>&nbsp;</span></a></li>
        <li class="f-s-14 home-button"><a href="javascript:;" ng-click="selectState('/')"><i
                class="f-s-14 fa fa-home"></i><span> {{'Home' | translate}}</span></a></li>
        <li permission permission-only="'SUPER_ADMIN'"
            ng-class="{active: getState() == '/admin/organizations'}" class="f-s-14"><a
                href="javascript:;" ng-click="selectState('/admin/organizations')" data-toggle="collapse"
                data-target="#top-menu"><i
                class="f-s-14 fa fa-building"></i><span> {{'Organizations' | translate}}</span></a>
        </li>
        <li permission permission-only="'ADMIN'"
            ng-class="{active: getState() == '/admin/organizations/' + $root.currentUser.organization.uuid}"
            class="f-s-14"><a
                href="javascript:;"
                ng-click="selectState('/admin/organizations/' + $root.currentUser.organization.uuid)"
                data-toggle="collapse"
                data-target="#top-menu"><i
                class="f-s-14 fa fa-building"></i><span> {{'Organization' | translate}}</span></a>
        </li>
        <li permission permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER']"
            ng-class="{active: getState() == '/admin/users'}" class="f-s-14"><a
                href="javascript:;" ng-click="selectState('/admin/users')" data-toggle="collapse"
                data-target="#top-menu"><i
                class="f-s-14 fa fa-users"></i><span> {{'Users' | translate}}</span></a>
        </li>
        <li permission
            permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER', 'PRODUCTION_MANAGER']"
            ng-class="{active: getState() == '/admin/plants'}" class="f-s-14"><a
                href="javascript:;" ng-click="selectState('/admin/plants')" data-toggle="collapse"
                data-target="#top-menu"><i
                class="f-s-14 fa fa-industry"></i><span> {{'Plants' | translate}}</span></a>
        </li>
        <li permission
            permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER', 'PRODUCTION_MANAGER']"
            ng-class="{active: getState() == '/admin/schedules'}" class="f-s-14"><a
                href="javascript:;" ng-click="selectState('/admin/schedules')" data-toggle="collapse"
                data-target="#top-menu"><i
                class="f-s-14 fa fa-clock-o"></i><span> {{'Schedules' | translate}}</span></a>
        </li>
        <!--<li permission permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER']"-->
        <!--ng-class="{active: getState() == '/admin/costcenters'}" class="f-s-14"><a-->
        <!--href="javascript:;" ng-click="selectState('/admin/costcenters')"><i-->
        <!--class="f-s-14 fa fa-usd"></i><span> {{'Cost Centers' | translate}}</span></a>-->
        <!--</li>-->
        <!--<li permission-->
        <!--permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER', 'PRODUCTION_MANAGER']"-->
        <!--ng-class="{active: getState() == '/admin/workcenters'}" class="f-s-14"><a-->
        <!--href="javascript:;" ng-click="selectState('/admin/workcenters')"><i-->
        <!--class="f-s-14 fa fa-gear"></i><span> {{'Work Centers' | translate}}</span></a>-->
        <!--</li>-->
        <li class="navbar-user">
            <a href class="dropdown-toggle" data-toggle="collapse" data-target="#user-sub-menu">
                <img user-image user="currentUser" alt=""/>
                <span>{{currentUser.displayName}}</span>
                <b class="caret"></b>
            </a>
            <ul id="user-sub-menu" class="sub-menu collapse">
                <li><a href="javascript:;" ng-click="selectState('/admin')" permission
                       permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER', 'PRODUCTION_MANAGER']">Organizations</a>
                </li>
                <li><a href="javascript:;" ng-click="selectState('/account')">Account</a></li>
                <li><a href="javascript:;" ng-click="logout()">{{'LOGOUT' | translate}}</a></li>
            </ul>
        </li>
    </ul>
</div>