<div ng-include="'app/main/login/views/header.html'"></div>
<div id="home" class="content has-bg half-bg home" title="Picture: Bosch"></div>
<div id="oee" class="content">
    <div class="row table-row">
        <div class="col-md-6">
            <div class="pull-right">
                <img src="images/oee-header.jpg" height="250px">
            </div>
        </div>
        <div class="col-md-3 oee-desc">
            <h4>Overall Equipment Effectiveness (OEE)</h4>
            <p>
                Metric used to calculate how effectively your equipment is running. It can be a difficult subject,
                especially if it isn’t something you deal with everyday. Luckily, this four-video course will help you
                start to understand the three components of OEE, as well as well as how it is calculated.
            </p>
            <!--<a href ng-click="" class="btn btn-theme btn-sm align-bottom">{{'MORE' | translate}}</a>-->
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<br>
<div id="oee-videos" class="content">
    <div class="container">
        <div class="row m-b-40" ng-repeat="video in data.videos track by $index"
             ng-if="video.featured == true || controls.showAllVideos">
            <div class="col-md-4">
                <h4>{{video.info.title}}</h4>
                <p class="angular-with-newlines">{{video.info.description}}</p>
            </div>
            <div class="col-md-8 card">
                <div class="row table-row width-full m-t-5">
                    <div class="col-md-7">
                        <iframe width="100%" height="315" ng-src="{{data.embedLinks[$index]}}"
                                frameborder="0"
                                allowfullscreen>
                        </iframe>
                    </div>
                    <div class="col-md-5 video-details">
                        <div class="video-title">
                            <h4>{{video.youtube.snippet.title}}</h4>
                        </div>
                        <div class="video-views m-t-10">
                            <p class="bold"><i class="fa fa-eye"></i> {{video.youtube.statistics.viewCount | number :
                                fractionSize}}</p>
                        </div>
                        <div class="video-desc">
                            {{video.youtube.snippet.description}}
                        </div>
                        <div class="video-branding">
                            <span class="fa-stack fa-2x text-danger">
                                <i class="fa fa-circle fa-stack-2x"></i>
                                <i class="fa fa-film fa-stack-1x fa-inverse"></i>
                            </span>
                            <p class="bold">Rexroth - Bosch</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row text-center" ng-if="!controls.showAllVideos">

            <a href ng-click="controls.showAllVideos = true" class="btn btn-theme btn-sm p-l-40 p-r-40"><i
                    class="fa fa-video-camera m-r-10"></i>
                {{'See More Videos' | translate}}</a>
        </div>
    </div>
</div>
<div ng-include="'app/main/login/views/footer.html'"></div>