<div id="top-menu" class="top-menu collapse">
    <ul class="container nav">
        <li class="f-s-14 return-button"><a href="javascript:;" ng-click="selectState('/')"><i
                class="f-s-14 fa fa-angle-double-left "></i><span>&nbsp;</span></a></li>
        <li class="f-s-14 home-button"><a href="javascript:;" ng-click="selectState('/')"><i
                class="f-s-14 fa fa-home"></i><span> {{'Home' | translate}}</span></a></li>
        <li ng-class="{active: getState() == '/datasources/deviation'}" class="f-s-14"><a
                href="javascript:;" ng-click="selectState('/datasources/deviation')" data-toggle="collapse"
                data-target="#top-menu"><i
                class="f-s-14 fa fa-upload"></i><span> {{'Deviation' | translate}}</span></a></li>
        <li ng-class="{active: getState() == '/datasources/oee'}" class="f-s-14"><a
                href="javascript:;" ng-click="selectState('/datasources/oee')" data-toggle="collapse"
                data-target="#top-menu"><i
                class="f-s-14 fa fa-bar-chart"></i><span> {{'OEE Data' | translate}}</span></a></li>
        <li class="navbar-user">
            <a href class="dropdown-toggle" data-toggle="collapse" data-target="#user-sub-menu">
                <img user-image user="currentUser" alt=""/>
                <span>{{currentUser.displayName}}</span>
                <b class="caret"></b>
            </a>
            <ul id="user-sub-menu" class="sub-menu collapse">
                <li><a href="javascript:;" ng-click="selectState('/admin')" permission
                       permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER', 'PRODUCTION_MANAGER']">Organizations</a>
                </li>
                <li><a href="javascript:;" ng-click="selectState('/account')">Account</a></li>
                <li><a href="javascript:;" ng-click="logout()">{{'LOGOUT' | translate}}</a></li>
            </ul>
        </li>
    </ul>
</div>