<div class="col-sm-5">
    <div class="row form-group">
        <div ng-dropdown-multiselect="" options="filter.workCenters"
             class="dropdown-multiselect" selected-model="filter.query.workCenters"
             extra-settings="filter.options"></div>
    </div>
</div>
<div class="col-sm-3" style="line-height: 30px">
    <div class="row form-group">
        <div class="col-sm-2">
            <label class="shifts-label">Shifts: </label>
        </div>
        <div class="col-sm-10">
            <label ng-repeat="shift in getNumber($root.org.configuration.conf.numShifts) track by $index"
                   class="shift-checkbox checkbox-inline"> <input type="checkbox"
                                                                  value="{{$index + 1}}"
                                                                  ng-checked="filter.query.shifts.indexOf($index + 1) > -1"
                                                                  check-list='filter.query.shifts'>
                {{$index + 1}}
            </label>
        </div>
    </div>
</div>
<div class="col-sm-4">
    <div class="row control-group">
        <div class="input-prepend input-group"><span
                ng-show="filter.dateOptions.opens == 'left'"
                style="background: #b6c2c9; color: white"
                class="add-on input-group-addon button-bosch-md"><i
                class="fa fa-calendar"></i></span>
            <input date-range-picker class="form-control date-picker"
                   type="text" ng-model="filter.query.dateRange"
                   options="filter.dateOptions">
        </div>
    </div>
</div>