.pricing-table {
    list-style-type: none;
    margin: 0 -10px;
    padding: 0;
    text-align: center;
}
.pricing-table.col-4>li {
    width: 25%;
}
.pricing-table>li {
    float: left;
    padding: 10px;
}
.pricing-table .pricing-container {
    overflow: hidden;
    border-radius: 6px;
    background: #f0f3f4;
    box-shadow: 0 3px #b6c2c9;
    height: 310px;
}
.pricing-table .price {
    width: 100%;
    display: table;
    background: #2d353c;
}
.pricing-table .price .price-figure {
    vertical-align: middle;
    display: table-cell;
    text-align: center;
    height: 80px;
}
.pricing-table .price .price-number, a {
    color: #00acac;
}
.pricing-table .price .price-number {
    font-size: 28px;
    color: #00a3a3;
    display: block;
}
.pricing-table .price .price-tenure {
    font-size: 12px;
    color: #fff;
    color: rgba(255,255,255,.7);
    display: block;
    text-align: center;
}
.pricing-table .features {
    list-style-type: none;
    margin: 0;
    padding: 0 30px;
    height: 150px;
    overflow: auto;
}
.pricing-table .features>li+li {
    border-top: 1px solid #e2e7eb;
}
.pricing-table .features>li {
    padding: 10px 0;
}
.pricing-table .footer {
    padding: 15px 20px;
    background: #242a30;
    text-align: center;
    margin: 0px !important;
    height: 20%;
}
.pricing-table .highlight .price {
    background: #00acac;
}
.pricing-table .highlight .price .price-number {
    color: #fff;
}
.pricing-table .highlight .features>li {
    padding: 15px 0;
}
.btn.btn-theme {
    background: #00acac;
    border-color: #00acac;
    color: #fff;
}
.pricing-table h4 {
    background: #242a30;
    margin: 0;
    color: #fff;
    font-size: 14px;
    padding: 15px 30px;
}
.pricing-table .highlight h4, .pace-progress {
    background: #008a8a;
}
/* CHANGED*/
.fill {
	height: 100%;
	overflow: auto;
}

.newDashboard {
	width: 150px !important;
	animation: none !important;
}

.dropdown-menu {
	min-width: 100px;
}

.form-group.width-100 .ui-select-bootstrap div span, .form-group.width-100 .ui-select-bootstrap input
	{
	width: 100%;
}

.st-sort-ascent:before {
	content: '\25B2';
}

.st-sort-descent:before {
	content: '\25BC';
}

.select-page {
	width: 50px;
	text-align: center;
}

.pagination li a input {
	padding: 0;
	margin: -5px 0;
}

.profile-image {
	height: 200px
}

.button-file {
	position: relative;
	overflow: hidden;
}

.button-file input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	min-width: 100%;
	min-height: 100%;
	font-size: 100px;
	text-align: right;
	filter: alpha(opacity = 0);
	opacity: 0;
	outline: none;
	background: white;
	cursor: inherit;
	display: block;
}

.table.table-profile>tbody>tr.highlight.highlight-lower>td {
	border-top: none;
}

.label-table {
	min-width: 30px;
	min-height: 15px;
	display: inline-block;
}

.bold {
	font-weight: bold;
}

.tooltip:hover:after {
	background: #000;
	border-radius: 5px;
	bottom: 26px;
	color: #FFF;
	content: attr(tip);
	left: 20%;
	padding: 5px 15px;
	position: absolute;
	z-index: 98;
	width: auto;
	min-width: 500px; /* I have changed here */
	max-width: 500px;
}

.fade.in .loading .spinner, .fade.in .spinner-small {
	-webkit-animation: rotation;
	-moz-animation: rotation;
	-o-animation: rotation;
	animation: rotation;
}

.loading .spinner {
	height: 0 !important;
	border: none;
	border-top: none;
}

#loading-bar .bar {
	top: 0;
}

.loading-bar-position {
	top: 54px !important;
}

#loading-bar-spinner {
	display: block;
	position: absolute;
	right: 10px;
	left: auto;
	top: auto;
	bottom: -20px;
	z-index: 1049;
}

#loading-bar .peg {
	position: absolute;
	width: 70px;
	right: 0;
	top: 0;
	height: 2px;
	opacity: .45;
	-moz-box-shadow: #ff5b57 1px 0 6px 1px;
	-ms-box-shadow: #ff5b57 1px 0 6px 1px;
	-webkit-box-shadow: #29d 1px 0 6px 1px;
	box-shadow: #ff5b57 1px 0 6px 1px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
	background-color: #F3F6F7 !important;
}

.st-selected {
	background: #E4E9EC !important;
}

.panel-heading.widget {
	padding: 5px 10px;
}

.horizontal-padding-0>.panel-group>.panel>.panel-collapse>.panel-body {
	padding-left: 0;
	padding-right: 0;
}

.vertical-padding-5>.panel-group>.panel>.panel-heading {
	padding: 5px 15px;
}

.gritter-item {
	font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial,
		sans-serif !important;
	color: #aaa !important;
	font-size: 10px !important;
	padding: 2px 15px 5px !important;
}

.multiDemo ul[dnd-list], .multiDemo ul[dnd-list]>li {
	position: relative;
}

/**
 * The dnd-list should always have a min-height,
 * otherwise you can't drop into it once it's empty
 */
.multiDemo ul[dnd-list] {
	min-height: 33px;
	padding-left: 0px;
}

/**
 * An element with .dndPlaceholder class will be
 * added to the dnd-list while the user is dragging
 * over it.
 */
.multiDemo ul[dnd-list] .dndPlaceholder {
	display: block;
	background-color: #ddd;
	min-height: 33px;
}

/**
 * The dnd-lists's child elements currently MUST have
 * position: relative. Otherwise we can not determine
 * whether the mouse pointer is in the upper or lower
 * half of the element we are dragging over. In other
 * browsers we can use event.offsetY for this.
 */
.multiDemo ul[dnd-list] li {
	background-color: #fff;
	border-top: 1px solid #ddd;
	display: block;
	padding: 7px 15px;
	margin-bottom: -1px;
	cursor: move;
}

/**
 * Show selected elements in green
 */
.multiDemo ul[dnd-list] li.selected {
	background-color: #E4E9EC;
}

.table.table-profile>tbody>tr.separator>td {
	border-bottom: 1px solid #e2e7eb;
	height: 0;
}

.no-hover:hover {
	background: transparent;
}

/*
 *
 * Main stylesheet for Switchery.
 * http://abpetkov.github.io/switchery/
 *
 */
.switchery {
	background-color: #fff;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	cursor: pointer;
	display: inline-block;
	height: 30px;
	position: relative;
	vertical-align: middle;
	width: 50px;
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	-webkit-background-clip: content-box;
	background-clip: content-box;
}

.switchery>small {
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	height: 30px;
	position: absolute;
	top: 0;
	width: 30px;
}

.switchery.switchery-large {
	border-radius: 31px;
	height: 46px;
	width: 77px;
}

.switchery.switchery-large>small {
	height: 46px;
	width: 46px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

.switchery.switchery-small {
	border-radius: 13px;
	height: 20px;
	width: 33px;
}

.switchery.switchery-small>small {
	height: 20px;
	width: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.switch {
	background: #fff;
	border: 1px solid #dfdfdf;
	position: relative;
	display: inline-block;
	box-sizing: content-box;
	overflow: visible;
	width: 52px;
	height: 30px;
	padding: 0px;
	margin: 0px;
	border-radius: 20px;
	cursor: pointer;
	box-shadow: rgb(223, 223, 223) 0px 0px 0px 0px inset;
	transition: 0.3s ease-out all;
	-webkit-transition: 0.3s ease-out all;
	top: -1px;
	vertical-align: middle;
}
/*adding a wide width for larger switch text*/
.switch.wide {
	width: 80px;
}

.switch.switch-sm {
	border-radius: 13px;
	height: 20px;
	width: 33px;
}

.switch.switch-sm>small {
	height: 20px;
	width: 20px;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
}

.switch.switch-sm.checked small {
	left: 13px;
}

.switch small {
	background: #fff;
	border-radius: 100%;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	width: 30px;
	height: 30px;
	position: absolute;
	top: 0px;
	left: 0px;
	transition: 0.3s ease-out all;
	-webkit-transition: 0.3s ease-out all;
}

.switch.switch-default.checked {
	background: #00acac;
	border-color: #00acac;
}

.switch.switch-success.checked {
	background: #00acac;
	border-color: #00acac;
}

.switch.checked small {
	left: 22px;
}
/*wider switch text moves small further to the right*/
.switch.wide.checked small {
	left: 52px;
}
/*styles for switch-text*/
.switch .switch-text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
}

.switch .off {
	display: block;
	position: absolute;
	right: 10%;
	top: 25%;
	z-index: 0;
	color: #A9A9A9;
}

.switch .on {
	display: none;
	z-index: 0;
	color: #fff;
	position: absolute;
	top: 25%;
	left: 9%;
}

.switch.checked .off {
	display: none;
}

.switch.checked .on {
	display: block;
}

.switch.disabled {
	opacity: .50;
	cursor: not-allowed;
}

.table-permissions>tbody>tr>td, .table-permissions>tbody>tr>th,
	.table-permissions>tfoot>tr>td, .table-permissions>tfoot>tr>th,
	.table-permissions>thead>tr>td {
	padding: 7px 15px 2px 15px;
}

.inner-addon {
	position: relative;
	color: #ccd0d4
}

/* style icon */
.inner-addon .glyphicon, .inner-addon .fa {
	position: absolute;
	padding: 8px;
	pointer-events: none;
}

/* align icon */
.left-addon .glyphicon, .left-addon .fa {
	left: 0px;
}

.right-addon .glyphicon, .right-addon .fa {
	right: 0px;
}

/* add padding  */
.left-addon input {
	padding-left: 30px;
}

.right-addon input {
	padding-right: 30px;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0px 1000px white inset;
}

.navbar-nav>li>a .label {
	background: #ff5b57 !important;
}

.media-user>.media-body {
	width: inherit;
	vertical-align: middle;
}

.media-user>a {
	display: table-cell;
}

.media-user>a>img {
	width: 32px;
	height: 32px;
}
.card {
	box-shadow: 0 1px 2px #aaa;
	background: white;
	border-radius: 3px;
	user-select: none;
	animation: fly-in-from-left .5s 1s ease both;
	transform-origin: top left;
}

body {
    overflow-x: hidden;
    position: relative !important;
    font-size: 13px !important;
}

.content {
    margin-left: 0;
    padding: 0px;
    overflow: hidden;
}

.fill {
    overflow-y: auto;
    overflow-x: hidden;
}

.top5 {
    margin-top: 20px;
}

.datasource.table-condensed > tbody > tr > td, .datasource.table-condensed > tbody > tr > th,
.datasource.table-condensed > tfoot > tr > td, .datasource.table-condensed > tfoot > tr > th,
.datasource.table-condensed > thead > tr > td {
    padding: 6px 15px 0px 15px !important;
}

.multiselect.table > tbody > tr > td {
    width: 100%;
    padding: 0 !important;
    border-top: none;
}

.heatmap-legend label {
    font-size: 12px;
    font-weight: bold;
}

.heatmap-legend {
    position: absolute;
    right: 5%;
    bottom: 0%;
}

.multimetric-chart {
    height: 100%;
    width: 100%;
}

.imp-filter {
    width: 10%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 5px;
}

.multimetric-legend {
    height: 350px !important; /* force that height */
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.table-xs > tbody > tr > td, .table-xs > tbody > tr > th, .table-xs > tfoot > tr > td,
.table-xs > tfoot > tr > th, .table-xs > thead > tr > td, .table-xs > thead > tr > th {
    padding: 4px 8px !important;
    font-size: 0.9em;
}

.footer-wrapper {
    height: 40px;
    background: #2d353c;
}

.footer {
    border-top: none;
}

.divider {
    padding: 10px 0;
    border-top: 1px solid #CAD0D6;
    line-height: 20px;
}

/**Makes the items appear in a line. But you can't define the width of an inline element.**/
.links li {
    display: inline-flex;
    float: left;
}

.links a {
    display: block; /**Allows you to define a width.*/
/ text-align: #ccc;
    color: #ccc;
}

.links li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\007c";
}

.links a.active {
    color: #5a7c91;
}

.top-menu {
    top: 54px;
}

.data-filter {
    width: 10%;
    float: left;
    overflow: hidden;
    padding: 5px;
}

.data-filter-15 {
    width: 15%;
}

.data-filter-65 {
    width: 65%;
}

.loading-bar-position {
    top: 54px !important;
}

.card {
    box-shadow: 0 1px 2px #aaa;
    background: white;
    border-radius: 3px;
    user-select: none;
    animation: fly-in-from-left .5s 1s ease both;
    transform-origin: top left;
    margin-bottom: 10px;
}

@media (min-width: 1025px) {
    #outerStaticContainer {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    #innerScrollableContent {
        overflow-y: auto;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: -17px;
        position: absolute;
        top: 0px
    }
}

.outerStaticContainer {
    /*height: 100%;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*position: relative;*/
}

.innerScrollableContent {
    /*overflow-y: scroll;*/
    /*top: 0px;*/
    /*bottom: 0px;*/
    /*left: 0px;*/
    /*right: -17px;*/
    /*position: absolute;*/
    margin-left: calc(100vw - 100%);
}

.bg-rexroth-bg-100 {
    background: #264461 !important;
}

.bg-rexroth-bg-80 {
    background: #5a7c91 !important;
}

.bg-rexroth-bg-60 {
    background: #819eb1 !important;
}

.bg-rexroth-bg-40 {
    background: #a3bac8 !important;
}

.bg-rexroth-bg-20 {
    background: #cfdde7 !important;
}

.bg-rexroth-bg-5 {
    background: #e5eef2 !important;
}

.profile-container {
    padding: 0px;
}

#parent {
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#child {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
}

@media (max-width: 767px) {
    /*.screen {*/
    /*padding-right: 17px;*/
    /*}*/
    .container-fluid {
        margin-bottom: 0;
    }

    .top-menu {
        top: 0;
    }

    .content {
        /*padding-top: 20px;*/
    }
}

.p-col-5 > [class*='col-'] {
    padding: 0 5px;
}

.row.p-col-5 {
    margin: 0 -5px;
}

.h4.title {
    margin-top: 0;
}

.file-input {
    width: 100%;
}

.image-caption {
    position: absolute;
    top: 0px;
    left: 0;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 5px 15px;
    margin: 0;
}

.item-no-active > .st-selected {
    background: #f0f3f5 !important;
}

.white-pagination td {
    background-color: white;
    padding: 7px 0px !important;
}

.white-pagination td h5 {
    display: flex;
    justify-content: center;
    opacity: 0.3;
}

.title.h4 {
    margin-bottom: 0 !important;
}

.spinner, .spinner-small {
    border-top: 2px solid #348fe2;
}

#gritter-notice-wrapper {
    right: inherit;
}

.growl-container {
    float: right;
    margin-right: 300px;
}

.top-menu .nav > li > a i {
    line-height: 22px;
}

.dropdown-multiselect li {
    cursor: pointer;
}

.dropdown-multiselect li.divider {
    cursor: default;
}

.image-info .title {
    color: #707478;
}

.modal-footer {
    border: 0px;
    padding-top: 0px;
}

.table-condensed > tfoot > tr > td {
    padding: 0px;
}

.table-condensed > tfoot .pagination {
    margin-top: 10px;
    margin-bottom: 0px;
}

.min-height-40 {
    min-height: 40% !important;
}

.dropdown-menu.media-list > .media {
    border-top: 0px;
}

.multiselect-parent .dropdown-toggle {
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 992px) {
    .oee-table .shift-checkbox {
        padding-left: 10px;
    }

    .oee-table .shift-checkbox input {
        margin-left: -15px !important;
    }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff !important;
}

.org-dropdown .dropdown-toggle {
    padding-top: 13px;
    padding-bottom: 10px;
    padding-right: 0px;
}

.org-dropdown .btn {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.org-dropdown i {
    bottom: 3px;
    left: 0.5px;
    position: relative;
    font-size: 14px;
}

.service-box {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 2px;
    margin-bottom: 0px;
}

.service-box:hover {
    border: 1px solid rgba(52, 143, 226, 0.5);
    box-shadow: 0 1px 2px #348fe2;
}

.service-box:hover i, .service-box:hover h4 {
    color: #348fe2;
}

.service-box .icon-lg {
    font-size: 40px;
}

@media (min-width: 768px) {
    .table-row {
        display: table;
        table-layout: fixed;
    }

    .table-row > [class*=col-] {
        display: table-cell;
        float: none;
    }
}
.navbar-brand > img {
    display: block;
    height: 125%;
}

@media (max-width: 767px) {
    .page-header-fixed {
        padding-top: 54px !important;
    }
}

.top-menu {
    display: inherit;
}

.top-menu .sub-menu {
    display: inherit;
}

@media (max-width: 767px) {
    .collapse {
        display: none !important;
    }

    .collapse.in {
        display: block !important;
    }

    .top-menu .nav .sub-menu {
        display: inherit;
    }

    .top-menu .return-button {
        display: none !important;
    }

    .navbar-header {
        border-bottom: 0px !important;
    }
}

.nav.navbar-right {
    display: none;
}

@media (min-width: 767px) {
    .top-menu {
        height: 40px !important;
    }

    .top-menu ul {
        padding-left: 15px;
    }

    .top-menu .navbar-user {
        display: none !important;
    }

    .top-menu .home-button {
        display: none !important;
    }

    .nav.navbar-right {
        display: inline-block;
        float: right;
        margin: 0px;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-header {
        float: left;
    }
}
.footer {
    padding-top: 60px;
    text-align: center;
    background: #242a30 !important;
    font-size: 12px;
    z-index: 0;
}

#footer .container.footer-wide {
    width: 100% !important;
    border-top: 1px solid #222;
}

.footer .footer-brand {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}

.content.has-bg {
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
}

.content.has-bg .container {
    position: relative;
}

.content.has-bg .content-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.content.has-bg .content-bg:before {
    content: '';
    background: url(../../images/content-bg-cover.png);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bg-black-darker {
    background: #242a30 !important;
}

.footer .social-list {
    margin: 30px 0 0;
    font-size: 20px;
}

.footer-tabs .nav > li > a {
    padding: 0px 10px;
}

.footer-tabs .nav > li > a:hover {
    color: #777;
    background: transparent !important;
}

.footer a {
    color: #348fe2;
}

.footer .nav.navbar-right {
    display: block !important;
}
/*@media (min-width: 768px) {*/
/*.screen {*/
/*padding-top: 54px;*/
/*}*/
/*}*/

/*@media (min-width: 1025px) {*/
/*.screen {*/
/*padding-top: 54px;*/
/*padding-bottom: 40px;*/
/*}*/
/*}*/

/*@media (max-width: 1024px) {*/
/*.mobile.m-b-40 {*/
/*margin-bottom: 0px !important;*/
/*}*/
/*}*/

@media (min-width: 1448px) {
    .container {
        width: 1440px !important;
    }
}

/*@media (min-width: 1200px) {*/
    /*.container {*/
        /*width: 1170px;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {*/
    /*.container {*/
        /*width: 970px;*/
    /*}*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.container {*/
        /*width: 750px;*/
    /*}*/
/*}*/
.consulting.category:hover {
    transform: scale(1.02, 1.02);
    transform-origin: center center;
    transition: all .2s ease-in-out;
    opacity: 1;
}

/* ***********End Zero-Padding Style************* */
#main-content {
    min-height: 100%;
    height: auto;
}

#main-content > .row {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#main-content > .row [class*="col-lg"], #main-content > .row [class*="col-md"], #main-content > .row [class*="col-sm"] {
    float: none;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}
.filter-details .label {
    margin: 0px 2px;
    display: inline-block;
    padding: 6px 5px;
}

.filter-details h4 {
    font-size: 16px;
}

.versions-table td {
    vertical-align: middle !important;
}

.filter-details {
    background-color: #f5f5f5;
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.filter-details .work-centers div {
    line-height: 25px;
}

.versions-table img {
    width: 80px;
}

.versions-table .icon-overlay {
    position: absolute;
    top: 11px;
    left: 27px;
    color: #fff;
    font-size: 26px;
}

.versions-table .failure .icon-overlay {
    color: #ff5b57;
}

.versions-table .image img, .versions-table .image-inner {
    border-radius: 4px;
}

.versions-table .image-inner.in-progress, .versions-table .image-inner.failure {
    background: #333;
}

.versions-table .image-inner.in-progress img, .versions-table .image-inner.failure img {
    opacity: 0.5;
    cursor: default;
}

.divider {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e2e7eb;
}

.analysis-groups-table td {
    vertical-align: middle !important;
}

.outerAnalysisContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.innerAnalysisContent {
    overflow-y: scroll;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -17px;
    position: absolute;
}
.table-deviation > tbody > tr > td {
    font-size: 100%;
    white-space: nowrap;
}

.table-deviation > thead > tr > th {
    white-space: nowrap;
}

.table-deviation .btn-xs, .table-deviation .btn-group-xs > .btn {
    line-height: 1.4;
}

.table-deviation.table-condensed > tbody > tr > td, .table-deviation.table-condensed > tbody > tr > th, .table-deviation.table-condensed > tfoot > tr > th, .table-deviation.table-condensed > thead > tr > td, .table-deviation.table-condensed > thead > tr > th {
    padding: 7px 0px;
}

.process {
    background-color: #C0C0C0 !important;
}

.process.active {
    background-color: #33A2FF !important;
}

.fa-exclamation-triangle {
    color: red !important;
}

.fa-check {
    color: green !important;
}

.no-wrap.ui-select-bootstrap .ui-select-choices-row > a {
    white-space: normal;
}

.upload-row td {
    background: transparent;
    color: #00acac;
}

td.cell-danger {
    background: rgba(255, 0, 0, 0.1);
}

td.cell-warning {
    background: rgba(255, 232, 0, 0.3);
}

.shift-checkbox input {
    margin-top: 8px;
}

.fileinput-upload-button.upload-preanalyze {
    height: 30px;
    margin-left: -1px;
    border-radius: 0px;
}

.fileinput-upload-button.upload-submit {
    height: 30px;
    margin-left: -1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.file-loaded .file-input .btn-file.btn-primary {
    border-radius: 0px;
}

.checkbox-inline, .radio-inline {
    margin-right: 10px !important;
    margin-left: 0px !important;
}
.page-header-fixed {
    padding-top: 94px;
}

.oee-chart .links {
    position: absolute;
    top: 30px;
    right: 30px;
}

#top-menu {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.9)
}

.widget-stats {
    /*border-top: 4px #b6c2c9 solid;*/
    /*border-top: 4px #0f3f6b solid;*/
    /*border-top: 4px #b6c2c9 solid;*/
    /*border-top: 10px #2d353c solid;*/
    position: relative;
}

.widget-stats .stats-icon {
    line-height: 0;
    color: #b6c2c9 !important;
    color: #b6c2c9 !important;
    /*opacity: 0.7;*/
}

.widget-stats .stats-number {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 0px;
}

.widget-stats .stats-number small {
    font-size: 60%
}

/*.widget-stats .stats-icon.stats-icon-lg {*/
    /*font-size: 30px;*/
    /*top: 12px;*/
    /*right: 0px;*/
/*}*/

.stats-number.stats-primary {
    font-size: 32px;
    font-weight: 600;
    /*text-align: right;*/
}

.widget-stats .switch small {
    background: rgb(182, 194, 201);
}

.stats-title {
    font-size: 100%;
    min-height: 26px;
}

.stats-oee-title {
    font-size: 200% !important;
}

/*.stats-oee {*/
/*font-size: 355% !important;*/
/*}*/

.btn-info.active, .btn-info:active, .btn-info:focus, .btn-info:hover, .open .dropdown-toggle.btn-info {
    background: #5a7c91 !important;
    border-color: #5a7c91 !important;
}

.text-info {
    color: #fff !important;
}

.ui-select-multiple.ui-select-bootstrap {
    height: auto;
    padding: inherit !important;
}

.ui-select-multiple input {
    padding: 15px 10px !important;
}

.ui-select-multiple.ui-select-bootstrap .ui-select-match-item {
    margin: 0 !important;
}

.dropdown-multiselect > .multiselect-parent {
    width: 100%;
}

.dropdown-multiselect > .multiselect-parent > button {
    width: 100%;
    text-align: left;
}

.dropdown-multiselect > .multiselect-parent > ul {
    width: 100%;
    overflow-x: hidden !important;
}

/*.nv-legend {*/
/*-ms-transform: translate(0px, 175px); !* IE 9 *!*/
/*-webkit-transform: translate(0px, 175px); !* Safari *!*/
/*transform: translate(0px, 175px);*/
/*}*/

.nv-controlsWrap {
    display: none;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: #929ba1 !important;
    border-color: #929ba1 !important;
    color: white;
}

.link-disable:hover {
    cursor: not-allowed
}
.result-list .btn-row a {
    color: white;
}

.bg-transparent {
    background-color: transparent;
}

.widget-stats a {
    color: white;
}

.widget-stats h2 {
    margin: 0px;
    color: white;
    font-size: 24px;
    font-weight: 300;
}

.widget-stats .btn-row a:hover, .widget-stats .btn-row a:focus {
    text-decoration: none !important;
}

.pager li > a, .pager li > span {
    border-radius: 5px;
}

.plant-details .profile-highlight {
    background: white;
}

.fa-6 {
    font-size: 12vw;
}

.plant-details .profile-image {
    height: auto !important;
    line-height: inherit;
    padding: 20px;
    border: none;
}

.breadcrumb > .active {
    color: #b6c2c9;
}

/* enable absolute positioning */

.inner-addon {
    position: static;
}

/*th>span.inner-addon {*/
/*position: relative;*/
/*}*/

/*th>span.inner-addon i {*/
/*top: 15px;*/
/*}*/

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .fa {
    left: 0px;
    z-index: 10;
    /*line-height: 20px;*/
}

.right-addon .fa {
    right: 0px;
    z-index: 10;
    /*line-height: 20px;*/
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.right-addon input {
    padding-right: 30px;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.divider {
    padding: 10px 0;
    margin-top: 10px;
    border-top: 1px solid #CAD0D6;
    line-height: 20px;
}

.radio label {
    line-height: 20px;
}

.add-user-modal *.ng-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}

.result-list .btn-row a:focus, .result-list .btn-row a:hover {
    opacity: 0.2 !important;
}
/*
 * Copyright (c) 2013 Thibaut Courouble
 * http://www.cssflow.com
 *
 * Licensed under the MIT License:
 * http://www.opensource.org/licenses/mit-license.php
 */
.plans {
    margin: 20px auto;
    overflow: hidden;
}

.plan {
    width: 100%;
    float: left;
    margin: 20px 2px;
    padding: 15px 25px;
    text-align: center;
    background: white;
    background-clip: padding-box;
    border: 2px solid #e5ded6;
    border-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.plan-title {
    margin-bottom: 12px;
    font-size: 24px;
    color: #337ab7;
}

.plan-price {
    margin-bottom: 20px;
    line-height: 1;
    font-size: 28px;
    font-weight: bold;
    color: rgb(245, 156, 26);
}

.plan-unit {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}

ul.plan-features {
    list-style: none;
}

.plan-features {
    margin: 20px auto 15px;
    padding: 15px 0 0 15px;
    border-top: 1px solid #e5ded6;
    text-align: left;
}

.plan-feature {
    line-height: 20px;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.plan-feature + .plan-feature {
    margin-top: 5px;
}

.plan-feature-unit {
    margin-left: 2px;
    font-size: 16px;
}

.plan-feature-name {
    font-size: 13px;
    font-weight: normal;
    color: #aaa;
}

.plan-button {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 16px;
    font-weight: 500;
    color: white;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
    background: rgb(245, 156, 26);
    border-radius: 4px;
}

.plan-button:active {
    top: 2px;
    margin-bottom: 2px;
    border-bottom: 0;
}

.plan-highlight {
    margin-top: 15px;
    margin-bottom: 0;
    padding-left: 15px;
    padding-right: 15px;
    border: 4px solid #337ab7;
}

.plan-highlight .plan-button {
    font-size: 18px;
    line-height: 49px;
    background: #337ab7;
}

.plan-recommended {
    margin: -15px auto 15px;
    padding-bottom: 2px;
    line-height: 22px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-shadow: 0 1px rgba(0, 0, 0, 0.05);
    background: #337ab7;
    border-radius: 0 0 4px 4px;
}

.premiumPlus .plan-price {
    height: 45.8px;
}

.premiumPlus .contact-number {
    border: 1px solid rgb(245, 156, 26);
    background: #fff;
    color: rgb(245, 156, 26);
    font-size: 14px;
    font-weight: 500;
    border-radius: 4px;
    padding: 5px 0px;
    width: 100%;
    display: block;
}

@media (min-width: 768px) {
    .add-card-dialog {
        margin: auto -15%
    }
}

.premiumPlus .plan-button {
    line-height: 21px;
    padding: 5px 0px;
    font-size: 14px;
}
body {
    background: #ffffff !important;
}

body::-webkit-scrollbar {
    width: 0 !important
}

.login-v2 {
    margin: 200px auto;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

.improvidus-header {
    font-size: 87px;
    font-family: 'Tw Cen MT';
    color: #348fe2;
}

.form-control {
    border: 1px solid #ccd0d4 !important;
}

.login-image {
    display: inline-block;
    margin-top: 0.14285em;
    width: 1.5em;
    height: auto;
    vertical-align: middle;
}

.header > img + .header-content, .header > .image + .header-content {
    padding-left: 0.75rem;
    vertical-align: middle;
    font-size: 1.714rem;
}

.header .header-content {
    display: inline-block;
    vertical-align: top;
}

.login-page .btn.btn-sm {
    padding: 6px 12px;
}

.icon .fa {
    line-height: 50px;
}

.login-v2 .form-control {
    background: white;
    color: black !important;
}

.login-v2 {
    margin: 8% auto 0px auto;
}

.login .login-header {
    top: -96px;
}

.login-cover-bg {
    background: linear-gradient(rgba(256, 256, 256, 1) 10%,
    rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.6) 100%);
    opacity: 1;
}

.login-v2 .login-content {
    /* 	padding-top: 0 !important; */
}

img.login-logo {
    z-index: 10000;
    right: 3%;
    top: 3%;
    width: 25%;
    padding-top: 10px;
    position: absolute;
    padding-top: 10px;
}

.bg-rexroth-bg-5 {
    background: #e5eef2 !important;
}

.bg-rexroth-bg-100 {
    background: #264461 !important;
}

.bg-rexroth-bg-80 {
    background: #5a7c91 !important;
}

.bg-rexroth-red {
    background: #df0024;
}

.login.peak {
    height: 75px;
    background: url('../../images/download.svg') 50% 100% no-repeat, #264461;
}

.login .login-header {
    top: -70px;
}

.content.has-bg.home {
    height: 770px;
}

.home-content {
    top: 40%;
    z-index: inherit !important;
}

.input-group-addon.outline {
    border-width: 2px;
    border-color: #8F8E8E;
    background: 0 0;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;
}

.left-inner-addon i {
    position: absolute;
    padding: 18px 12px;
    pointer-events: none;
}

/*.peak {*/
/*background: #264461 !important;*/
/*}*/

.modal-dialog {
    margin: 100px auto !important;
}

/* default.css */
/*
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.1
Version: 1.5.0
Author: Sean Ngu
Website: http://www.seantheme.com/color-admin-v1.5/admin/
*/

.btn.btn-theme {
    background: #348fe2;
    border-color: #348fe2;
    color: #fff;
}

.btn.btn-theme:hover,
.btn.btn-theme:focus {
    background: #348fe2;
    border-color: #348fe2;
}

.login-page .header.navbar .navbar-nav > li.active > a,
.login-page .header.navbar .navbar-nav > li > a:hover,
.login-page .header.navbar .navbar-nav > li > a:focus,
.login-page .header.navbar.navbar-default .navbar-nav > li.active > a,
.login-page.header.navbar.navbar-default .navbar-nav > li > a:hover,
.login-page .header.navbar.navbar-default .navbar-nav > li > a:focus,
.login-page .header.navbar.navbar-transparent .navbar-nav > li.active > a,
.login-page .header.navbar.navbar-transparent .navbar-nav > li > a:hover,
.login-page .header.navbar.navbar-transparent .navbar-nav > li > a:focus,
.login-page .header.navbar.navbar-inverse .navbar-nav > li.active > a,
.login-page .header.navbar.navbar-inverse .navbar-nav > li > a:hover,
.login-page .header.navbar.navbar-inverse .navbar-nav > li > a:focus,
.login-page .header.navbar.navbar-transparent.navbar-small .navbar-nav > li.active > a,
.login-page.header.navbar.navbar-transparent.navbar-small .navbar-nav > li > a:hover,
.login-page.header.navbar.navbar-transparent.navbar-small .navbar-nav > li > a:focus,
.login-page .text-theme,
.login-page .navbar-nav .dropdown-menu > li.active > a,
.login-page .navbar-nav .dropdown-menu > li > a:hover,
.login-page .navbar-nav .dropdown-menu > li > a:focus,
.login-page .pricing-table .price .price-number,
.login-page a {
    color: #348fe2;
}

.login-page .header.navbar.navbar-transparent .navbar-nav > li.active > a {
    border-bottom: 2px #348fe2 solid;
    padding-bottom: 5px;
    color: #348fe2 !important;
}

a:hover,
a:focus {
    color: #348fe2;
}

.pricing-table .highlight h3,
.pace-progress {
    background: #348fe2;
}

.pricing-table .highlight .price {
    background: #348fe2;
}

.pace .pace-activity {
    border-top-color: #348fe2;
    border-left-color: #348fe2;
}

.alert.alert-success {
    background: #b0ebca;
}

.alert.alert-danger {
    background: #fbd1d1;
}

.f-underline {
    text-decoration: underline;
}

.navbar-toggle, a, .work .desc, .testimonials .carousel-indicators li, .pace, .pace-progress, .theme-panel, .theme-panel .theme-list > li > a {
    transition: none !important;
}

.btn.sign-in {
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.login-page #loading-bar .bar {
    display: none !important;
}

.login-page .navbar-brand {
    line-height: 20px;
    height: 50px;
    padding: 15px !important;
}

.login-page {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-modal {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px;
}

.login-page .footer {
    margin: 0px;
}

.login-modal .header {
    margin-bottom: 15px;
}

@media (min-width: 1448px) {
    .login-page .container {
        width: 1170px !important;
    }
}

@media (min-width: 767px) {
    .login-page .nav.navbar-right {
        margin-right: -15px;
    }
}

.login-modal .fa-2x:hover {
    font-size: 2em;
    margin: 0px;
}

.login-modal .fa-exclamation-triangle {
    color: #a94442 !important;
}

.login-modal *.ng-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}

.cookie-modal .btn-sm {
    padding: 5px 10px !important;
    font-size: 12px !important;
    border-radius: 3px !important;
}


.bwizard-steps li.active, .bwizard-steps li.active:focus, .bwizard-steps li.active:hover {
    background: #348fe2 !important;
}
.btn.btn-default.form-control.ui-select-toggle {
    color: #000000;
    background-color: #ffffff !important;
    border-color: #ccd0d4 !important;
}

.bwizard-steps li.active, .bwizard-steps li.active:focus, .bwizard-steps li.active:hover {
    background: #348fe2 !important;
}
.schedule-grid {
    min-width: 0.01%;
}

.schedule-table td {
    vertical-align: middle !important;
}

.schedule-table td input {
    min-width: 70px;
}

.schedule-table .add-shift:hover, .schedule-table .add-shift:hover > td {
    background-color: white !important;
}

.schedule-controls button {
    vertical-align: top;
}
.user-media .media-object {
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
}
/*   
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.5
Version: 1.9.0
Author: Sean Ngu
Website: http://www.seantheme.com/color-admin-v1.9/admin/
*/

.navbar-logo,
.coming-soon .brand .logo,
.login .login-header .brand .logo {
    border-color: #2F83CF #2a72b5 #1f5688;
}

.navbar.navbar-inverse .navbar-brand,
.sidebar .nav > li.active > a,
.sidebar .nav > li.active > a:focus,
.sidebar .nav > li.active > a:hover,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.label.label-theme,
.btn.btn-scroll-to-top {
    background: #348fe2;
}

.navbar.navbar-inverse .navbar-brand {
    color: #fff !important;
}

.text-theme,
.sidebar .sub-menu > li.active > a:before {
    color: #348fe2;
}

@media (max-width: 767px) {
    .navbar-inverse .navbar-header {
        background: #348fe2;
    }
}

/* Added in v1.5 */

.gradient-enabled .navbar.navbar-inverse .navbar-brand,
.gradient-enabled .sidebar .nav > li.active > a,
.gradient-enabled .sidebar .nav > li.active > a:focus,
.gradient-enabled .sidebar .nav > li.active > a:hover,
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:focus > a,
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active:hover > a,
.gradient-enabled.page-sidebar-minified .sidebar .nav > li.has-sub.active > a,
.gradient-enabled .label.label-theme,
.gradient-enabled .btn.btn-scroll-to-top,
.gradient-enabled .top-menu .nav > li.active > a,
.gradient-enabled .top-menu .nav > li.active > a:focus,
.gradient-enabled .top-menu .nav > li.active > a:hover {
    background: rgb(103, 176, 240); /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzY3YjBmMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNDhmZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top, rgba(103, 176, 240, 1) 0%, rgba(52, 143, 226, 1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(103, 176, 240, 1)), color-stop(100%, rgba(52, 143, 226, 1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(103, 176, 240, 1) 0%, rgba(52, 143, 226, 1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(103, 176, 240, 1) 0%, rgba(52, 143, 226, 1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(103, 176, 240, 1) 0%, rgba(52, 143, 226, 1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(103, 176, 240, 1) 0%, rgba(52, 143, 226, 1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#67b0f0', endColorstr='#348fe2', GradientType=0); /* IE6-8 */
}

.pace-progress {
    background: #348fe2;
}

.pace .pace-activity {
    border-top-color: #348fe2;
    border-left-color: #348fe2;
}

/* Added in v1.7 */

.page-with-light-sidebar .sidebar .nav > li.active > a > i {
    color: #348fe2;
}

.page-with-light-sidebar .sidebar .nav > li.active > a .badge,
.page-with-light-sidebar .sidebar .nav > li.active > a .label.label-theme {
    background: #348fe2;
}

/* Added in v1.9 */

.top-menu .nav > li.active > a,
.top-menu .nav > li.active > a:focus,
.top-menu .nav > li.active > a:hover {
    background: #348fe2;
}

.error-content div a {
    background: #348fe2 !important;
    border-color: #348fe2 !important;
}

.bg-rexroth-red {
    background: #df0024;
}

.top-menu .nav > li.active > a, .top-menu .nav > li.active > a:focus, .top-menu .nav > li.active > a:hover {
    background: #348fe2;
}

/* thm2fh */
#loading-bar .bar {
    background: #348fe2;
    top: 54px !important;
}

#loading-bar-spinner .spinner-icon {
    border-top-color: #348fe2;
    border-left-color: #348fe2;
}

#loading-bar .peg {
    -moz-box-shadow: #348fe2 1px 0 6px 1px;
    -ms-box-shadow: #348fe2 1px 0 6px 1px;
    -webkit-box-shadow: #348fe2 1px 0 6px 1px;
    box-shadow: #348fe2 1px 0 6px 1px;
}