<div class="panel panel-inverse">
    <div class="panel-body">
        <form name="addScheduleTemplate">
            <div id="wizard" class="bwizard clearfix">
                <ol class="bwizard-steps clearfix clickable" role="tablist">
                    <li role="tab" style="z-index: 3;" ng-click="scheduleForm.step = 1"
                        ng-class="{'active':scheduleForm.step == 1}"><span
                            class="label badge-inverse">1</span><a href
                                                                   class="hidden-phone">
                        Schedule
                    </a></li>
                    <li role="tab" style="z-index: 3;" ng-click="scheduleForm.step = 2"
                        ng-class="{'active':scheduleForm.step == 2}"><span
                            class="label">2</span><a href class="hidden-phone">
                        Template
                    </a></li>
                </ol>
                <div class="well">
                    <div id="step1" role="tabpanel"
                         ng-show="scheduleForm.step == 1">
                        <div ng-include="'app/main/administration/schedules/views/add/schedule.html'"></div>
                    </div>
                    <div id="step2" role="tabpanel"
                         ng-show="scheduleForm.step == 2">
                        <div ng-include="'app/main/administration/schedules/views/add/template.html'"></div>
                    </div>
                </div>
                <ul class="pager bwizard-buttons">
                    <li class="previous" role="button" ng-hide="scheduleForm.step == 1"><a href
                                                                                           ng-click="scheduleForm.step == 1 ? scheduleForm.step = scheduleForm.step : scheduleForm.step = scheduleForm.step - 1">←
                        Previous</a></li>
                    <li class="next" role="button" ng-hide="scheduleForm.step == 2"><a href
                                                                                       ng-click="scheduleForm.step == 2 ? scheduleForm.step = scheduleForm.step : scheduleForm.step = scheduleForm.step + 1">Next
                        →</a></li>
                    <li class="next m-r-5" role="button"
                        ng-show="scheduleForm.step == 2 && addScheduleTemplate.$valid && !buttons.submitted"><a
                            class="bg-green text-white" auto-focus="scheduleForm.step == 2" href
                            ng-click="save(); buttons.isCollapsed = !buttons.isCollapsed;"><i
                            class="fa fa-save"></i> Save</a></li>
                    <li class="next m-r-5 disabled" role="button"
                        ng-show="scheduleForm.step == 2 && !addScheduleTemplate.$valid"><a href
                                                                                           class="bg-green text-white"><i
                            class="fa fa-save"></i> Save</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>