<div class="btn-group-xs pull-right schedule-controls">
    <button ng-show="controls.edit" class="btn btn-xs btn-info"
            ng-click="saveScheduleTemplate(data.scheduleTemplate); controls.edit = false;"><i
            class="fa fa-save"></i> {{'SAVE'
        |
        translate}}
    </button>
    <button ng-show="controls.edit" class="btn btn-xs btn-warning"
            ng-click="cancel(); controls.edit = false;"><i
            class="fa fa-ban"></i> {{'CANCEL'
        |
        translate}}
    </button>
    <button ng-show="!controls.edit" class="btn btn-xs btn-warning"
            ng-click="editScheduleTemplate(); controls.edit = true;"><i
            class="fa fa-pencil"></i> {{'EDIT'
        |
        translate}}
    </button>
    <button ng-show="!controls.edit" class="btn btn-xs btn-danger"
            ng-click="removeScheduleTemplate()"><i
            class="fa fa-minus"></i> {{'REMOVE'
        |
        translate}}
    </button>
</div>