<div class="container height-full">
    <div class="row m-0 p-t-10 height-full">
        <div class="card panel-body min-height-40">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="page-header width-full">{{data.scheduleTemplate.displayName}}
                        <small>{{data.scheduleTemplate.description}}</small>
                        <div class="pull-right"
                             ng-include="'app/main/administration/schedules/views/controls.html'"></div>
                    </h1>
                </div>
            </div>
            <div class="row" ng-show="controls.edit">
                <div class="col-md-6 form-group">
                    <label>{{'Name' | translate}}</label>
                    <input class="form-control" type="text" ng-model="data.scheduleTemplate.displayName"
                           name="workCenter" id="scheduleTemplateName" required
                           placeholder="{{'Name' | translate}}">
                </div>
                <div class="col-md-6 form-group">
                    <label>{{'Description' | translate}}</label>
                    <input class="form-control" type="text" ng-model="data.scheduleTemplate.description"
                           name="workCenter" id="scheduleTemplateDescription" required
                           placeholder="{{'Description' | translate}}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 table-responsive">
                    <table st-table="data.scheduleTemplate"
                           st-pipe="getSchedule"
                           st-safe-src="row"
                           class="table schedule-table table-condensed table-hover m-b-0">
                        <thead>
                        <tr>
                            <th class="text-center"></th>
                            <th class="text-center">{{'Shift'
                                | translate}}
                            </th>
                            <th class="text-center">{{'Sunday'
                                | translate}}
                            </th>
                            <th class="text-center">{{'Monday'
                                | translate}}
                            </th>
                            <th class="text-center">{{'Tuesday'
                                | translate}}
                            </th>
                            <th class="text-center">{{'Wednesday'
                                | translate}}
                            </th>
                            <th class="text-center">{{'Thursday'
                                | translate}}
                            </th>
                            <th class="text-center">{{'Friday'
                                | translate}}
                            </th>
                            <th class="text-center">{{'Saturday'
                                | translate}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="shift in data.scheduleTemplate.schedule"
                            class="pointer item-no-active"
                            ng-class="row.isSelected ? 'active' : ''" st-select-row="row">
                            <td class="text-left">
                                <a ng-show="controls.edit" ng-click="removeShift($index)"
                                   class="btn btn-danger btn-icon btn-circle btn-xs"><i
                                        class="fa fa-minus"></i></a>
                            </td>
                            <td class="text-left bold">{{$index + 1}}</td>
                            <td class="text-center"><input class="form-control input-sm"
                                                           style="display: inline-block;"
                                                           type="number"
                                                           name="plannedOperatingTime" min="0"
                                                           ng-model="shift[0]" ng-disabled="!controls.edit">
                            </td>
                            <td class="text-center"><input class="form-control input-sm"
                                                           style="display: inline-block;"
                                                           type="number"
                                                           name="plannedOperatingTime" min="0"
                                                           ng-model="shift[1]" ng-disabled="!controls.edit">
                            </td>
                            <td class="text-center"><input class="form-control input-sm"
                                                           style="display: inline-block;"
                                                           type="number"
                                                           name="plannedOperatingTime" min="0"
                                                           ng-model="shift[2]" ng-disabled="!controls.edit">
                            </td>
                            <td class="text-center"><input class="form-control input-sm"
                                                           style="display: inline-block;"
                                                           type="number"
                                                           name="plannedOperatingTime" min="0"
                                                           ng-model="shift[3]" ng-disabled="!controls.edit">
                            </td>
                            <td class="text-center"><input class="form-control input-sm"
                                                           style="display: inline-block;"
                                                           type="number"
                                                           name="plannedOperatingTime" min="0"
                                                           ng-model="shift[4]" ng-disabled="!controls.edit">
                            </td>
                            <td class="text-center"><input class="form-control input-sm"
                                                           style="display: inline-block;"
                                                           type="number"
                                                           name="plannedOperatingTime" min="0"
                                                           ng-model="shift[5]" ng-disabled="!controls.edit">
                            </td>
                            <td class="text-center"><input class="form-control input-sm"
                                                           style="display: inline-block;"
                                                           type="number"
                                                           name="plannedOperatingTime" min="0"
                                                           ng-model="shift[6]" ng-disabled="!controls.edit">
                            </td>
                        </tr>
                        <tr ng-show="controls.edit && data.scheduleTemplate.schedule.length < 8" class="add-shift">
                            <td class="text-left">
                                <a class="btn btn-info btn-icon btn-circle btn-xs" ng-click="insertShift()"><i
                                        class="fa fa-plus"></i></a>
                            </td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="pull-right m-0">*All entries are in minutes</p>
                </div>
            </div>
        </div>
    </div>
</div>