<table st-table="data.displayedScheduleTemplates"
       st-safe-src="data.scheduleTemplates"
       class="table schedule-table table-condensed table-hover m-t-10 m-b-0">
    <thead>
    <tr>
        <th class="text-center" st-sort="displayName">{{'Schedule Template'
            | translate}}
        </th>
        <th class="text-center">{{'Owner' |
            translate}}
        </th>
        <th class="text-center" st-sort="createdDate">{{'Date' |
            translate}}
        </th>
        <th class="text-center" st-sort="description">{{'DESCRIPTION' |
            translate}}
        </th>
        <!--                             <th class="text-center">{{'VERSION' | translate}}</th> -->
        <!--<th style="width: 30%"></th>-->
    </tr>
    <tr ng-hide="data.scheduleTemplates.length < 5">
        <th colspan="4"><input st-search="" placeholder="Search"
                               class="input-sm form-control" type="search"/>
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="row in data.displayedScheduleTemplates"
        class="pointer item-no-active"
        ng-class="row.isSelected ? 'active' : ''" st-select-row="row"
        ng-click="selectState('/admin/schedules/'+ row.uuid)" ; row.edit=false;">

        <td class="text-left">{{row.displayName}}
        </td>
        <td>
            <user-display user="row.createdBy"></user-display>
        </td>
        <!--<td ng-if="row.edit" style="padding: 4px 15px">-->
        <!--<input ng-model="form.newNames" ng-click="$event.stopPropagation();"-->
        <!--class="form-control input-sm"-->
        <!--value={{row.results[0].displayName}}-->
        <!--autofocus="autofocus"></td>-->
        <td style="text-align: center;">{{row.createdDate
            |
            date : 'short'}}
        </td>
        <td>{{row.description}}</td>
    </tr>
    <tr ng-hide="data.displayedScheduleTemplates.length > 0">
        <td colspan="4" style="background-color: white"><span
                style="display: flex; justify-content: center; opacity: 0.3;">
										<h5>{{'There are no Schedule Templates available' | translate}}</h5>
								</span></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="5">
            <div class="pull-left" st-items-by-page="itemPerPage"
                 st-pagination=""
                 st-template="app/shared/tables/views/pagination-custom.html"></div>
            <nav>
                <ul class="pagination pagination-sm pull-right">
                    <li><a href="" ng-click="itemPerPage = 5">5</a></li>
                    <li><a href="" ng-click="itemPerPage = 10">10</a></li>
                    <li><a href="" ng-click="itemPerPage = 25">25</a></li>
                    <li><a href="" ng-click="itemPerPage = 50">50</a></li>
                </ul>
            </nav>
        </td>
    </tr>
    </tfoot>
</table>