<table st-table="data.scheduleTemplate"
       st-pipe="getSchedule"
       st-safe-src="row"
       class="table schedule-table table-condensed table-hover m-b-0">
    <thead>
    <tr>
        <th class="text-center"></th>
        <th class="text-center">{{'Shift'
            | translate}}
        </th>
        <th class="text-center">{{'Sunday'
            | translate}}
        </th>
        <th class="text-center">{{'Monday'
            | translate}}
        </th>
        <th class="text-center">{{'Tuesday'
            | translate}}
        </th>
        <th class="text-center">{{'Wednesday'
            | translate}}
        </th>
        <th class="text-center">{{'Thursday'
            | translate}}
        </th>
        <th class="text-center">{{'Friday'
            | translate}}
        </th>
        <th class="text-center">{{'Saturday'
            | translate}}
        </th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="shift in scheduleForm.scheduleTemplate.schedule"
        class="pointer item-no-active"
        ng-class="row.isSelected ? 'active' : ''" st-select-row="row">
        <td class="text-left">
            <a ng-click="removeShift($index)"
               class="btn btn-danger btn-icon btn-circle btn-xs"><i
                    class="fa fa-minus"></i></a>
        </td>
        <td class="text-left bold">{{$index + 1}}</td>
        <td class="text-center"><input class="form-control input-sm"
                                       style="display: inline-block;"
                                       type="number"
                                       name="plannedOperatingTime" min="0" max="1440"
                                       ng-model="shift[0]"></td>
        <td class="text-center"><input class="form-control input-sm"
                                       style="display: inline-block;"
                                       type="number"
                                       name="plannedOperatingTime" min="0" max="1440"
                                       ng-model="shift[1]"></td>
        <td class="text-center"><input class="form-control input-sm"
                                       style="display: inline-block;"
                                       type="number"
                                       name="plannedOperatingTime" min="0" max="1440"
                                       ng-model="shift[2]"></td>
        <td class="text-center"><input class="form-control input-sm"
                                       style="display: inline-block;"
                                       type="number"
                                       name="plannedOperatingTime" min="0" max="1440"
                                       ng-model="shift[3]"></td>
        <td class="text-center"><input class="form-control input-sm"
                                       style="display: inline-block;"
                                       type="number"
                                       name="plannedOperatingTime" min="0" max="1440"
                                       ng-model="shift[4]"></td>
        <td class="text-center"><input class="form-control input-sm"
                                       style="display: inline-block;"
                                       type="number"
                                       name="plannedOperatingTime" min="0" max="1440"
                                       ng-model="shift[5]"></td>
        <td class="text-center"><input class="form-control input-sm"
                                       style="display: inline-block;"
                                       type="number"
                                       name="plannedOperatingTime" min="0" max="1440"
                                       ng-model="shift[6]"></td>
    </tr>
    <tr ng-show="scheduleForm.scheduleTemplate.schedule.length < 8" class="add-shift">
        <td class="text-left">
            <a class="btn btn-info btn-icon btn-circle btn-xs" ng-click="insertShift()"><i
                    class="fa fa-plus"></i></a>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
    </tr>
    </tbody>
</table>