<div class="container height-full">
    <div class="row m-0 p-t-10 height-full">
        <div class="card panel-body min-height-40">
            <div class="row">
                <div class="col-md-12">
                    <div class="pull-right schedule-controls">
                        <button type="button" class="btn btn-xs btn-success"
                                ng-click="addScheduleTemplate()">
                            <i class="fa fa-plus-circle"></i> {{'ADD' | translate}}
                        </button>
                        <button type="button" class="btn btn-xs btn-default"
                                ng-click="refresh()">
                            <i class="fa fa-refresh"></i> {{'REFRESH' | translate}}
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 table-responsive">
                    <div ng-include="'app/main/administration/schedules/views/list.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>