.table-deviation > tbody > tr > td {
    font-size: 100%;
    white-space: nowrap;
}

.table-deviation > thead > tr > th {
    white-space: nowrap;
}

.table-deviation .btn-xs, .table-deviation .btn-group-xs > .btn {
    line-height: 1.4;
}

.table-deviation.table-condensed > tbody > tr > td, .table-deviation.table-condensed > tbody > tr > th, .table-deviation.table-condensed > tfoot > tr > th, .table-deviation.table-condensed > thead > tr > td, .table-deviation.table-condensed > thead > tr > th {
    padding: 7px 0px;
}

.process {
    background-color: #C0C0C0 !important;
}

.process.active {
    background-color: #33A2FF !important;
}

.fa-exclamation-triangle {
    color: red !important;
}

.fa-check {
    color: green !important;
}

.no-wrap.ui-select-bootstrap .ui-select-choices-row > a {
    white-space: normal;
}

.upload-row td {
    background: transparent;
    color: #00acac;
}

td.cell-danger {
    background: rgba(255, 0, 0, 0.1);
}

td.cell-warning {
    background: rgba(255, 232, 0, 0.3);
}

.shift-checkbox input {
    margin-top: 8px;
}

.fileinput-upload-button.upload-preanalyze {
    height: 30px;
    margin-left: -1px;
    border-radius: 0px;
}

.fileinput-upload-button.upload-submit {
    height: 30px;
    margin-left: -1px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.file-loaded .file-input .btn-file.btn-primary {
    border-radius: 0px;
}

.checkbox-inline, .radio-inline {
    margin-right: 10px !important;
    margin-left: 0px !important;
}