<div ng-controller="OEEChartCtrl">
    <div class="card oee-chart m-t-10 p-t-10">
        <div class="col-xs-12" style="position: relative">
            <div class="links pull-right">
                <ul>
                    <li ng-repeat="query in data.dailyQueries"><a
                            ng-class="{'active': $index == data.activeDailyQuery}"
                            href="" ng-click="getGraphOEE($index, query, 'days')">{{query.displayName}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <nvd3 options="data.daily" data="data.dailyData"></nvd3>
    </div>
    <div class="card oee-chart m-t-10 p-t-10">
        <div class="col-xs-12" style="position: relative">
            <div class="links pull-right">
                <ul>
                    <li ng-repeat="query in data.monthlyQueries"><a
                            ng-class="{'active': $index == data.activeMonthlyQuery}"
                            href="" ng-click="getGraphOEE($index, query, 'months')">{{query.displayName}}</a>
                    </li>
                </ul>
            </div>
        </div>
        <nvd3 options="data.monthly" data="data.monthlyData"></nvd3>
    </div>
</div>