<div class="card row m-0 p-t-10 p-b-10">
    <div class="col-sm-12">
        <form class="row form">
            <div class="col-sm-6">
                <div class="form-group m-b-0">
                    <label>Work Centers</label>
                    <div ng-dropdown-multiselect=""
                         options="filter.workCenters"
                         class="dropdown-multiselect"
                         selected-model="filter.query.workCenters"
                         extra-settings="filter.options"></div>
                </div>
            </div>
            <div class="col-sm-2">
                <div class="form-group m-b-0">
                    <label>Shifts</label>
                    <div style="line-height: 30px;">
                        <label ng-repeat="shift in getNumber($root.org.configuration.conf.numShifts) track by $index"
                               class="shift-checkbox checkbox-inline"> <input
                                type="checkbox" ng-checked="filter.query.shifts.indexOf($index + 1) > -1"
                                value="{{$index + 1}}" check-list='filter.query.shifts'> {{$index + 1}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group m-b-0">
                    <label>Date</label>
                    <div class="input-group">
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default"
                                                            ng-click="open($event)"><i
                                                            class="glyphicon glyphicon-calendar"></i></button>
                                                </span>
                        <input type="text" class="form-control"
                               datepicker-popup="{{'yyyy-MM-dd'}}"
                               is-open="filter.date.opened" ng-model="filter.query.date"
                               min-date="minDate"
                               show-weeks="true"
                               custom-class="getDayClass(date, mode)"/>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>