<div class="row p-col-5">
    <div class="col-sm-4">
        <div class="card image gallery-group-2 isotope-item p-10 link-disable">
            <div class="image-inner">
                <a href="" data-lightbox="gallery-group-2">
                    <img class="link-disable" src="images/tutorials-bosch.jpg" alt="" style="width: 100%">
                </a>
            </div>
            <div class="image-info">
                <h5 class="title">Tutorial</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card image gallery-group-2 isotope-item p-10" ng-click="selectState('/services/consulting')">
            <div class="image-inner">
                <a href="" data-lightbox="gallery-group-2">
                    <img src="images/consulting-bosch.jpg" alt="" style="width: 100%">
                </a>
            </div>
            <div class="image-info">
                <h5 class="title">Consulting</h5>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card image gallery-group-2 isotope-item p-10 link-disable">
            <div class="image-inner">
                <a href="" data-lightbox="gallery-group-2">
                    <img class="link-disable" src="images/projects-bosch.jpg" alt="" style="width: 100%">
                </a>
            </div>
            <div class="image-info">
                <h5 class="title">Projects</h5>
            </div>
        </div>
    </div>
</div>