<div class="card ng-scope p-10">
    <div class="row p-col-5">
        <div class="col-xs-6 col-sm-3">
            <div class="image gallery-group-2 isotope-item">
                <div class="image-inner">
                    <a href="index#/analysis" data-lightbox="gallery-group-2">
                        <img src="images/mmparetos.png" alt="" style="width: 100%">
                    </a>
                </div>
                <div class="image-info">
                    <h5 class="title">Multi-Metric Pareto </h5>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="image gallery-group-2 isotope-item">
                <div class="image-inner">
                    <a href="index#/analysis" data-lightbox="gallery-group-2">
                        <img src="images/wordcloud.png" alt="" style="width: 100%">
                    </a>
                </div>
                <div class="image-info">
                    <h5 class="title">Word Cloud</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="image gallery-group-2 isotope-item">
                <div class="image-inner">
                    <a href="index#/analysis" data-lightbox="gallery-group-2">
                        <img src="images/correlations.png" alt="" style="width: 100%">
                    </a>
                </div>
                <div class="image-info">
                    <h5 class="title">Event Correlation</h5>
                </div>
            </div>
        </div>
        <div class="col-xs-6 col-sm-3">
            <div class="image gallery-group-2 isotope-item">
                <div class="image-inner">
                    <a href="index#/analysis" data-lightbox="gallery-group-2">
                        <img src="images/recommendations.png" alt="" style="width: 100%">
                    </a>
                </div>
                <div class="image-info">
                    <h5 class="title">Recommendations</h5>
                </div>
            </div>
        </div>
    </div>
</div>