<div class="row p-10">
    <div class="card widget-stats bg-rexroth-bg-60 p-10">
        <div class="stats-icon stats-icon-lg"><i class="fa fa-gears fa-fw"></i></div>
        <div class="stats-title stats-oee-title m-b-0" style="display: inline-block;">OEE</div>
        <div class="pull-right m-t-5">
            <div class="text-white" style="font-size: 12px; display: inline-block;">Top-Down</div>
            <switch ng-model="controls.topDownOEE"
                    class="switch-sm m-l-5 m-r-5"></switch>
            <div class="text-white" style="font-size: 12px; display: inline-block;">Bottom-Up</div>
        </div>
        <small class="m-t-0 m-b-5"
               style="font-size: 12px; color: rgba(255,255,255,.6); line-height: 12px; display: block;">
            (Overall Equipment
            Effectiveness)
        </small>
        <div class="stats-number stats-oee stats-primary text-white">
            <span ng-if="controls.topDownOEE == true">
                {{data.bottomUpOee ? data.bottomUpOee.toFixed(2) : '-'}}
            </span>
            <span ng-if="controls.topDownOEE == false">
                {{data.topBottomOee ? data.topBottomOee.toFixed(2) : '-'}}
            </span>
            <span><small> %</small></span></div>
        <div class="row">
            <a href ng-click="selectState('/public/oee')" class="pull-right m-r-20" style="color: rgba(255,255,255,.6)">Learn
                More</a>
        </div>
    </div>
    <div class="card widget-stats bg-rexroth-bg-80 p-10">
        <div class="stats-icon stats-icon-lg"><i class="fa fa-line-chart fa-fw"></i></div>
        <div class="stats-title stats-oee-title m-b-0" style="display: inline-block;">TEEP</div>
        <div class="pull-right m-t-5">
            <div class="text-white" style="font-size: 12px; display: inline-block;">Top-Down</div>
            <switch ng-model="controls.topDownTEEP"
                    class="switch-sm m-l-5 m-r-5"></switch>
            <div class="text-white" style="font-size: 12px; display: inline-block;">Bottom-Up</div>
        </div>
        <small class="m-t-0 m-b-5"
               style="font-size: 12px; color: rgba(255,255,255,.6); line-height: 12px; display: block;">
            (Total Equipment
            Effectiveness)
        </small>
        <div class="stats-number stats-oee stats-primary text-white">
            <span ng-if="controls.topDownTEEP == true">
                {{data.totalEffectivenessBottomUp ? data.totalEffectivenessBottomUp.toFixed(2) : '-'}}
            </span>
            <span ng-if="controls.topDownTEEP == false">
                {{data.totalEffectivenessTopDown ? data.totalEffectivenessTopDown.toFixed(2) : '-'}}
            </span>
            <span><small> %</small></span></div>
        <div class="row">
            <a href ng-click="selectState('/public/oee')" class="pull-right m-r-20" style="color: rgba(255,255,255,.6)">Learn
                More</a>
        </div>
    </div>
    <div class="card widget-stats bg-rexroth-bg-60 p-10 m-t-10">
        <div class="stats-icon stats-icon-lg"><i class="fa fa-calendar fa-fw"></i></div>
        <div class="stats-title ">Planned Operating Time</div>
        <div class="stats-number text-white">{{data.oeeData ?
            data.oeeData.plannedOperatingTime.toFixed(2) :
            '-'}}<span><small> min</small></span></div>
    </div>
    <div class="card widget-stats bg-rexroth-bg-80 p-10 m-t-10">
        <div class="stats-icon stats-icon-lg"><i class="fa fa-clock-o fa-fw"></i></div>
        <div class="stats-title ">Weighted Average Cycle Time</div>
        <div class="stats-number text-white ">{{data.oeeData ?
            data.oeeData.weightedAvgCycleTime.toFixed(2) : '-'}}
            <small> min</small>
        </div>
    </div>
    <div class="card widget-stats bg-rexroth-bg-60 p-10 m-t-10 m-b-0">
        <div class="stats-icon stats-icon-lg"><i class="fa fa-check-circle fa-fw"></i>
        </div>
        <div class="stats-title ">Good Pieces Completed</div>
        <div class="stats-number text-white ">{{data.oeeData ?
            data.oeeData.goodPiecesCompleted.toFixed(2) : '-'}}
        </div>
    </div>
</div>