.filter-details .label {
    margin: 0px 2px;
    display: inline-block;
    padding: 6px 5px;
}

.filter-details h4 {
    font-size: 16px;
}

.versions-table td {
    vertical-align: middle !important;
}

.filter-details {
    background-color: #f5f5f5;
    padding: 0px 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.filter-details .work-centers div {
    line-height: 25px;
}

.versions-table img {
    width: 80px;
}

.versions-table .icon-overlay {
    position: absolute;
    top: 11px;
    left: 27px;
    color: #fff;
    font-size: 26px;
}

.versions-table .failure .icon-overlay {
    color: #ff5b57;
}

.versions-table .image img, .versions-table .image-inner {
    border-radius: 4px;
}

.versions-table .image-inner.in-progress, .versions-table .image-inner.failure {
    background: #333;
}

.versions-table .image-inner.in-progress img, .versions-table .image-inner.failure img {
    opacity: 0.5;
    cursor: default;
}

.divider {
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #e2e7eb;
}

.analysis-groups-table td {
    vertical-align: middle !important;
}

.outerAnalysisContainer {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.innerAnalysisContent {
    overflow-y: scroll;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: -17px;
    position: absolute;
}