.bwizard-steps li.active, .bwizard-steps li.active:focus, .bwizard-steps li.active:hover {
    background: #348fe2 !important;
}
.btn.btn-default.form-control.ui-select-toggle {
    color: #000000;
    background-color: #ffffff !important;
    border-color: #ccd0d4 !important;
}
