<div id="modal-dialog" style="display: block;">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" ng-click="close()" class="close"
				data-dismiss="modal" aria-hidden="true">x</button>
			<h4 class="modal-title">Add Payment Option</h4>
		</div>
		<div class="modal-body">
			<label>Payment Name </label> <input type="text" ng-model="add.alias"
				class="form-control input-sm " placeholder="Ex: Chase Card"
				autofocus="autofocus"> <label style="margin-top: 15px">Card
				Number </label> <input type="text" ng-model="add.card"
				class="form-control input-sm" maxlength="20"
				placeholder="1234 5678 9012 3456">
			<div class="row">
				<div class="col-sm-4" style="margin-top: 15px">
					<label>CVV</label> <input ng-model="add.cvc"
						class="form-control input-sm" maxlength="3" placeholder="123">
				</div>
				<div class="col-sm-8" style="margin-top: 15px">
					<label style="margin-left: 64px">Expiration</label>
					<div class="row">
						<div class="col-sm-4" style="margin-left: 64px">
							<input type="text" ng-model="add.expMon"
								class="form-control input-sm" maxlength="2" placeholder="MM">
						</div> 
						<div class="col-sm-4 pull-right">
							<input type="text" ng-model="add.expYea"
								class="form-control input-sm" maxlength="2" placeholder="YY">
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="modal-footer">
			<a class="btn btn-sm btn-white" ng-click="close()"
				data-dismiss="modal">Close</a> <a ng-click="submit(); close()"
				class="btn btn-sm btn-success">Submit</a>
		</div>
	</div>
</div>