<fieldset validated="workCenterForm.step == 3 && addWorkCenter.$valid && !buttons.submitted"
          ng-enter="save(); buttons.isCollapsed = !buttons.isCollapsed;">
    <legend class="pull-left width-full">Schedule Template</legend>
    <div class="row m-b-10">
        <div class="col-sm-12">
            <ui-select ng-model="workCenterForm.workCenter.scheduleTemplate"
                       theme="bootstrap"
                       close-on-select=true>
                <ui-select-match>{{workCenterForm.workCenter.scheduleTemplate.displayName}}
                </ui-select-match>
                <ui-select-choices
                        repeat="scheduleTemplate in data.scheduleTemplates | filter: $select.search">
                    <div
                            ng-bind-html="scheduleTemplate.displayName | highlight: $select.search"></div>
                </ui-select-choices>
            </ui-select>
        </div>
    </div>
    <div ng-hide="workCenterForm.workCenter.scheduleTemplate == null || workCenterForm.workCenter.scheduleTemplate.uuid == null">
        <div class="row">
            <div class="col-md-12 table-responsive">
                <table st-table="data.displayedShifts"
                       st-safe-src="workCenterForm.workCenter.scheduleTemplate.schedule"
                       class="table schedule-table table-condensed table-hover m-b-0">
                    <thead>
                    <tr>
                        <th class="text-center">{{'Shift'
                            | translate}}
                        </th>
                        <th class="text-center">{{'Sunday'
                            | translate}}
                        </th>
                        <th class="text-center">{{'Monday'
                            | translate}}
                        </th>
                        <th class="text-center">{{'Tuesday'
                            | translate}}
                        </th>
                        <th class="text-center">{{'Wednesday'
                            | translate}}
                        </th>
                        <th class="text-center">{{'Thursday'
                            | translate}}
                        </th>
                        <th class="text-center">{{'Friday'
                            | translate}}
                        </th>
                        <th class="text-center">{{'Saturday'
                            | translate}}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="shift in workCenterForm.workCenter.scheduleTemplate.schedule"
                        class="pointer item-no-active"
                        ng-class="row.isSelected ? 'active' : ''" st-select-row="row">
                        <td class="text-left bold">{{$index + 1}}</td>
                        <td class="text-center"><input class="form-control input-sm"
                                                       style="display: inline-block;"
                                                       type="number"
                                                       name="plannedOperatingTime" min="0"
                                                       ng-model="shift[0]"
                                                       ng-disabled="true">
                        </td>
                        <td class="text-center"><input class="form-control input-sm"
                                                       style="display: inline-block;"
                                                       type="number"
                                                       name="plannedOperatingTime" min="0"
                                                       ng-model="shift[1]"
                                                       ng-disabled="true">
                        </td>
                        <td class="text-center"><input class="form-control input-sm"
                                                       style="display: inline-block;"
                                                       type="number"
                                                       name="plannedOperatingTime" min="0"
                                                       ng-model="shift[2]"
                                                       ng-disabled="true">
                        </td>
                        <td class="text-center"><input class="form-control input-sm"
                                                       style="display: inline-block;"
                                                       type="number"
                                                       name="plannedOperatingTime" min="0"
                                                       ng-model="shift[3]"
                                                       ng-disabled="true">
                        </td>
                        <td class="text-center"><input class="form-control input-sm"
                                                       style="display: inline-block;"
                                                       type="number"
                                                       name="plannedOperatingTime" min="0"
                                                       ng-model="shift[4]"
                                                       ng-disabled="true">
                        </td>
                        <td class="text-center"><input class="form-control input-sm"
                                                       style="display: inline-block;"
                                                       type="number"
                                                       name="plannedOperatingTime" min="0"
                                                       ng-model="shift[5]"
                                                       ng-disabled="true">
                        </td>
                        <td class="text-center"><input class="form-control input-sm"
                                                       style="display: inline-block;"
                                                       type="number"
                                                       name="plannedOperatingTime" min="0"
                                                       ng-model="shift[6]"
                                                       ng-disabled="true">
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="pull-right m-0">*All entries are in minutes</p>
            </div>
        </div>
    </div>
</fieldset>