<fieldset ng-enter="workCenterForm.step = 2">
    <legend class="pull-left width-full">Work Center</legend>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group has-feedback"
                 ng-class="{'has-error': addWorkCenter.name.$touched && addWorkCenter.name.$invalid}">
                <label>Name</label>
                <input type="text" name="name" placeholder="WC00001" ng-minlength="3"
                       ng-pattern="/^[a-zA-Z0-9\s_\-@#$]{1,50}$/" required
                       class="form-control" ng-model="workCenterForm.workCenter.displayName"
                       auto-focus="workCenterForm.step == 1">
                <p ng-if="addWorkCenter.name.$error.minlength"
                   class="m-0 text-danger">Name
                    must be longer than 3 characters</p>
                <p ng-if="addWorkCenter.name.$error.pattern"
                   class="m-0 text-danger">Name
                    must contain only numbers, letters and special
                    characters included in [_-@#$]</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group has-feedback">
                <label>Description (optional)</label>
                <input type="text" name="description" placeholder="Line 1"
                       class="form-control" ng-model="workCenterForm.workCenter.description">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Plant</label>
                <ui-select ng-model="workCenterForm.plant" theme="bootstrap" disabled="true"
                           close-on-select=true>
                    <ui-select-match
                            placeholder="{{'Plant' | translate}}">
                        {{$select.selected.displayName | translate}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="plant in data.plants | filter: $select.search">
                        <div
                                ng-bind-html="plant.displayName | translate | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
            <div class="form-group">
                <label>Cost Center</label>
                <ui-select ng-model="workCenterForm.costCenter" theme="bootstrap" disabled="true"
                           close-on-select=true>
                    <ui-select-match
                            placeholder="{{'Cost Center' | translate}}">
                        {{$select.selected.displayName | translate}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="cost in workCenterForm.costCenters | filter: $select.search">
                        <div
                                ng-bind-html="cost.displayName | translate | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</fieldset>