.schedule-grid {
    min-width: 0.01%;
}

.schedule-table td {
    vertical-align: middle !important;
}

.schedule-table td input {
    min-width: 70px;
}

.schedule-table .add-shift:hover, .schedule-table .add-shift:hover > td {
    background-color: white !important;
}

.schedule-controls button {
    vertical-align: top;
}