<div ng-include="'app/main/analysis/views/top-menu.html'"></div>
<div id="content" class="fill">
    <div class="fill p-5" style="overflow-x: hidden">
	<span class=loading
          us-spinner="{radius:30, width:8, length: 16,opacity: 0.05}"
          spinner-key="spinner-notifications"></span>
        <div class="row fill" style="background: white;">
            <div class="col-xs-10 fill">
                <div id="chartdiv" class="chart" style="width: 100%; height: 100%"></div>
            </div>
            <div class="col-xs-2 fill">
                <div class=row>
                    <div class='col-sm-12'>
                        <div class='form-group'>
                            <label for="rank" class="control-label" translate>Rank</label>
                            <div>
                                <input id="rank" type="text" name="rank" ng-model="options.rank"
                                       style="text-align: center;"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>