<div class="panel panel-inverse">
    <div class="panel-body">
        <form name="addWorkCenter">
            <div id="wizard" class="bwizard clearfix">
                <ol class="bwizard-steps clearfix clickable" role="tablist" ng-init="workCenterForm.step = 1">
                    <li role="tab" style="z-index: 3;" ng-click="workCenterForm.step = 1"
                        ng-class="{'active':workCenterForm.step == 1}"><span
                            class="label badge-inverse">1</span><a href
                                                                   class="hidden-phone">
                        Work Center
                    </a></li>
                    <li role="tab" style="z-index: 3;" ng-click="workCenterForm.step = 2"
                        ng-class="{'active':workCenterForm.step == 2}"><span
                            class="label">2</span><a href class="hidden-phone">
                        Users
                    </a></li>
                    <li role="tab" style="z-index: 3;" ng-click="workCenterForm.step = 3"
                        ng-class="{'active':workCenterForm.step == 3}"><span
                            class="label">3</span><a href class="hidden-phone">
                        Schedule
                    </a></li>
                </ol>
                <div class="well">
                    <div id="step1" role="tabpanel"
                         ng-show="workCenterForm.step == 1">
                        <div ng-include="'app/main/administration/workcenters/views/add/workcenter.html'"></div>
                    </div>
                    <div id="step2" role="tabpanel"
                         ng-show="workCenterForm.step == 2">
                        <div ng-include="'app/main/administration/workcenters/views/add/users.html'"></div>
                    </div>
                    <div id="step3" role="tabpanel"
                         ng-show="workCenterForm.step == 3">
                        <div ng-include="'app/main/administration/workcenters/views/add/schedule.html'"></div>
                    </div>
                </div>
                <ul class="pager bwizard-buttons">
                    <li class="previous" role="button" ng-hide="workCenterForm.step == 1"><a href
                                                                                             ng-click="workCenterForm.step == 1 ? workCenterForm.step = workCenterForm.step : workCenterForm.step = workCenterForm.step - 1">←
                        Previous</a></li>
                    <li class="next" role="button" ng-hide="workCenterForm.step == 3"><a href
                                                                                         ng-click="workCenterForm.step == 3 ? workCenterForm.step = workCenterForm.step : workCenterForm.step = workCenterForm.step + 1">Next
                        →</a></li>
                    <li class="next m-r-5" role="button"
                        ng-show="workCenterForm.step == 3 && addWorkCenter.$valid && !buttons.submitted"><a
                            class="bg-green text-white"
                            href auto-focus="workCenterForm.step == 3"
                            ng-click="save(); buttons.isCollapsed = !buttons.isCollapsed;"><i
                            class="fa fa-save"></i> Save</a></li>
                    <li class="next m-r-5 disabled" role="button"
                        ng-show="workCenterForm.step == 3 && addWorkCenter.$invalid"><a
                            class="bg-green text-white"><i
                            class="fa fa-save"></i> Save</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>