<div class="container height-full">
    <div class="row m-0 p-t-10 height-full">
        <div class="card panel-body min-height-40">
            <div class="row">
                <div class="col-sm-12">
                    <h4>
                        <!--<div ng-include="'app/main/administration/workcenters/views/controls.html'"></div>-->
                        <ol class="breadcrumb">
                            <li><a ng-href="#/admin/plants"><i class="fa fa-home"></i></a></li>
                            <li>
                                <a ng-href="#/admin/plants/{{data.plant.uuid}}">{{data.plant.displayName}}</a>
                            </li>
                            <li>
                                <a ng-href="#/admin/plants/{{data.plant.uuid}}/costcenters/{{data.costCenter.uuid}}">{{data.costCenter.displayName}}</a>
                            </li>
                            <li class="active">{{data.workCenter.displayName}}</li>
                        </ol>
                    </h4>
                </div>
            </div>
            <div class="row  plant-details">
                <div class="col-sm-3">
                    <div class="profile-left" style="width: 100%">
                        <!-- begin profile-image -->
                        <div class="profile-image">
                            <i class="fa fa-6 fa-cog"></i>
                        </div>
                        <!-- end profile-image -->
                        <div class="btn-group-sm text-center m-b-20">
                            <!--<button class="btn btn-sm btn-warning" ng-click="remove()"><i-->
                            <!--class="fa fa-pencil"></i> {{'EDIT'-->
                            <!--|-->
                            <!--translate}} Plant-->
                            <!--</button>-->
                            <button class="btn btn-sm btn-danger" ng-click="remove()"><i
                                    class="fa fa-minus"></i> {{'REMOVE'
                                |
                                translate}} Work Center
                            </button>
                        </div>
                        <!-- begin profile-highlight -->
                        <!--<div class="profile-highlight">-->
                        <!--<h4><i class="fa fa-cog"></i> Only My Contacts</h4>-->
                        <!--<div class="checkbox m-b-5 m-t-0">-->
                        <!--<label><input type="checkbox"> Show my timezone</label>-->
                        <!--</div>-->
                        <!--<div class="checkbox m-b-0">-->
                        <!--<label><input type="checkbox"> Show i have 14 contacts</label>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!-- end profile-highlight -->
                    </div>
                </div>
                <div class="col-sm-9" style="display: inline-block;">
                    <h1 class="page-header">{{data.workCenter.displayName}}
                        <small>{{data.workCenter.description}}</small>
                    </h1>
                    <ul class="nav nav-tabs" ng-init="data.tab=1">
                        <li ng-class="{active:data.tab==1}"><a href ng-click="data.tab=1" data-toggle="tab"><i
                                class="fa fa-users"></i> Users</a></li>
                        <li ng-class="{active:data.tab==2}" permission
                            permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER']"><a
                                href
                                ng-click="data.tab=2"
                                data-toggle="tab"><i
                                class="fa fa-clock-o"></i> Schedule</a></li>
                    </ul>
                    <div class="p-0 m-t-10">
                        <div id="default-tab-1" ng-if="data.tab==1">
                            <div ng-include="'app/main/administration/users/views/list.selectable.html'"></div>
                        </div>
                        <div id="default-tab-2" ng-if="data.tab==2">
                            <div class="row">
                                <div class="col-sm-12">
                                    <label>Template:</label>
                                    <ui-select ng-model="data.workCenter.scheduleTemplate"
                                               on-select="updateWorkCenterSchedule(data.workCenter)"
                                               theme="bootstrap"
                                               close-on-select=true>
                                        <ui-select-match>{{data.workCenter.scheduleTemplate.displayName}}
                                        </ui-select-match>
                                        <ui-select-choices
                                                repeat="scheduleTemplate in data.scheduleTemplates | filter: $select.search">
                                            <div
                                                    ng-bind-html="scheduleTemplate.displayName | highlight: $select.search"></div>
                                        </ui-select-choices>
                                    </ui-select>
                                </div>
                            </div>

                            <div ng-hide="data.workCenter.scheduleTemplate == null || data.workCenter.scheduleTemplate.uuid == null">

                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <table st-table="data.displayedShifts"
                                               st-safe-src="data.workCenter.scheduleTemplate.schedule"
                                               class="table schedule-table table-condensed table-hover m-b-0">
                                            <thead>
                                            <tr>
                                                <th class="text-center">{{'Shift'
                                                    | translate}}
                                                </th>
                                                <th class="text-center">{{'Sunday'
                                                    | translate}}
                                                </th>
                                                <th class="text-center">{{'Monday'
                                                    | translate}}
                                                </th>
                                                <th class="text-center">{{'Tuesday'
                                                    | translate}}
                                                </th>
                                                <th class="text-center">{{'Wednesday'
                                                    | translate}}
                                                </th>
                                                <th class="text-center">{{'Thursday'
                                                    | translate}}
                                                </th>
                                                <th class="text-center">{{'Friday'
                                                    | translate}}
                                                </th>
                                                <th class="text-center">{{'Saturday'
                                                    | translate}}
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="shift in data.workCenter.scheduleTemplate.schedule"
                                                class="pointer item-no-active"
                                                ng-class="row.isSelected ? 'active' : ''" st-select-row="row">
                                                <td class="text-left bold">{{$index + 1}}</td>
                                                <td class="text-center"><input class="form-control input-sm"
                                                                               style="display: inline-block;"
                                                                               type="number"
                                                                               name="plannedOperatingTime" min="0"
                                                                               ng-model="shift[0]"
                                                                               ng-disabled="true">
                                                </td>
                                                <td class="text-center"><input class="form-control input-sm"
                                                                               style="display: inline-block;"
                                                                               type="number"
                                                                               name="plannedOperatingTime" min="0"
                                                                               ng-model="shift[1]"
                                                                               ng-disabled="true">
                                                </td>
                                                <td class="text-center"><input class="form-control input-sm"
                                                                               style="display: inline-block;"
                                                                               type="number"
                                                                               name="plannedOperatingTime" min="0"
                                                                               ng-model="shift[2]"
                                                                               ng-disabled="true">
                                                </td>
                                                <td class="text-center"><input class="form-control input-sm"
                                                                               style="display: inline-block;"
                                                                               type="number"
                                                                               name="plannedOperatingTime" min="0"
                                                                               ng-model="shift[3]"
                                                                               ng-disabled="true">
                                                </td>
                                                <td class="text-center"><input class="form-control input-sm"
                                                                               style="display: inline-block;"
                                                                               type="number"
                                                                               name="plannedOperatingTime" min="0"
                                                                               ng-model="shift[4]"
                                                                               ng-disabled="true">
                                                </td>
                                                <td class="text-center"><input class="form-control input-sm"
                                                                               style="display: inline-block;"
                                                                               type="number"
                                                                               name="plannedOperatingTime" min="0"
                                                                               ng-model="shift[5]"
                                                                               ng-disabled="true">
                                                </td>
                                                <td class="text-center"><input class="form-control input-sm"
                                                                               style="display: inline-block;"
                                                                               type="number"
                                                                               name="plannedOperatingTime" min="0"
                                                                               ng-model="shift[6]"
                                                                               ng-disabled="true">
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <p class="pull-right m-0">*All entries are in minutes</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>