<div class="row">
    <div class="col-sm-12">
        <div class="input-group">
            <span class="inner-addon left-addon">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="Search" class="form-control"
                       ng-model="search.$">
            </span>
            <div class="input-group-btn">
                <button type="button" class="btn btn-primary"
                        ng-click="add()">
                    <i class="fa fa-plus"></i>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="row m-t-10">
    <div class="col-md-3 col-sm-6" ng-repeat="row in data.workCenters | filter:search">
        <div class="widget widget-stats bg-rexroth-bg-80 pointer"
             ng-click="selectState('/admin/plants/' + data.plant.uuid + '/costcenters/' + data.costCenter.uuid + '/workcenters/' + row.uuid)">
            <div class="stats-icon stats-icon-lg"><i class="fa fa-gear fa-fw"></i></div>
            <div class="stats-number"><h2>{{row.displayName}}</h2>
            </div>
            <div class="stats-title"></div>
            <div class="stats-desc result-list">
                <work-center-item plant="data.plant" cost-center="data.costCenter"
                                  work-center="row">
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="alert alert-warning m-b-0" ng-if="data.workCenters.length < 1">
            <h4 class="block">No Work Centers available</h4>
            <p>Click <a href ng-click="add()">here</a> to create a new Work Center.
            </p>
        </div>
    </div>
</div>