<div class="container height-full">
    <div class="row m-0 p-t-10 height-full">
        <div class="card panel-body min-height-40">
            <div class="row">
                <div class="col-md-12">
                    <h4>
                        <!--<div ng-include="'app/main/administration/workcenters/views/controls.html'"></div>-->
                        <ol class="breadcrumb">
                            <li><a ng-href="#/admin/plants"><i class="fa fa-home"></i></a></li>
                            <li>
                                <a ng-href="#/admin/plants/{{data.plant.uuid}}/costcenters">{{data.plant.displayName}}</a>
                            </li>
                            <li class="active"><a
                                    ng-href="#/admin/plants/{{data.plant.uuid}}/costcenters/{{data.costCenter.uuid}}">{{data.costCenter.displayName}}</a>
                            </li>
                            <li><a href ng-click="add()" style="font-size: small" title="Add Work Center"><i
                                    class="fa fa-plus"></i></a></li>
                        </ol>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div ng-include="'app/main/administration/workcenters/views/list.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>