<div class="panel panel-inverse">
    <div class="panel-body">
        <form method="POST">
            <div id="wizard" class="bwizard clearfix">
                <ol class="bwizard-steps clearfix clickable" role="tablist">
                    <li role="tab" style="z-index: 4;" ng-click="analysisGroupForm.step = 1"
                        ng-class="{'active':analysisGroupForm.step == 1}"><span
                            class="label badge-inverse">1</span><a href
                                                                   class="hidden-phone">
                        Filters
                    </a></li>
                    <li role="tab" style="z-index: 3;" ng-click="analysisGroupForm.step = 2"
                        ng-class="{'active':analysisGroupForm.step == 2}"><span
                            class="label">2</span><a href class="hidden-phone">
                        Confirm
                    </a></li>
                </ol>
                <div class="well">
                    <div id="step1" role="tabpanel"
                         ng-show="analysisGroupForm.step == 1">
                        <div ng-include="'app/main/analysis/views/add/filters.html'"></div>
                    </div>
                    <div id="step2" role="tabpanel"
                         ng-show="analysisGroupForm.step == 2">
                        <div ng-include="'app/main/analysis/views/add/confirm.html'"></div>
                    </div>
                </div>
                <ul class="pager bwizard-buttons">
                    <li class="previous" role="button" ng-hide="analysisGroupForm.step == 1"><a href
                                                                                                ng-click="analysisGroupForm.step == 1 ? analysisGroupForm.step = analysisGroupForm.step : analysisGroupForm.step = analysisGroupForm.step - 1">←
                        Previous</a></li>
                    <li class="next" role="button" ng-hide="analysisGroupForm.step == 2"><a
                            auto-focus="analysisGroupForm.step == 1" href
                            ng-click="analysisGroupForm.step == 2 ? analysisGroupForm.step = analysisGroupForm.step : analysisGroupForm.step = analysisGroupForm.step + 1">Next
                        →</a></li>
                    <li class="next m-r-5" role="button" ng-show="analysisGroupForm.step == 2"><a
                            href class="bg-green text-white"
                            ng-class="{'disabled' : !data.newEntry.displayName || !data.newEntry.description}"
                            ng-click="process()"><i class="fa fa-save"></i> Save</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>