<div class="container">
    <div growl class="growl-container"></div>
</div>
<div id="page-container"
     class="fade page-sidebar-fixed page-header-fixed in fill">
    <div ng-include="'app/shared/navigation/views/app.html'" class="mobile"></div>
    <div id="content" class="content fill" style="background-color: #f7f6f3">
        <!--<div class="outerAnalysisContainer">-->
        <!--<div class="fill innerAnalysisContent">-->
        <ui-view></ui-view>
        <!--</div>-->
        <!--</div>-->
    </div>
</div>