<div class="outerStaticContainer height-full">
    <div class="innerScrollableContent" style="overflow: visible; min-height: 100%;">
        <div ng-include="'app/main/analysis/views/top-menu.html'"></div>
        <div class="container height-full">
            <div class="row height-full m-0 p-t-10">
                <div class="card panel-body min-height-40">
                    <h1 class="page-header">{{data.analysisGroup.displayName}}
                        <small>{{data.analysisGroup.description}}</small>
                        <div class="btn-group-xs pull-right">
                            <button class="btn btn-xs btn-warning" ng-click="editAnalysisGroup()"><i
                                    class="fa fa-pencil"></i> {{'EDIT'
                                |
                                translate}}
                            </button>
                            <button class="btn btn-xs btn-danger" ng-click="removeAnalysisGroup()"><i
                                    class="fa fa-minus"></i> {{'REMOVE'
                                |
                                translate}}
                            </button>
                        </div>
                    </h1>
                    <!--<div class="divider"></div>-->
                    <div class="row">
                        <div class="col-md-4">
                            <h4>Work Centers</h4>
                            <div class="p-5 p-t-0">
                        <span style="display: inline-block"
                              ng-repeat="workCenter in data.analysisGroup.filters.workCenters.params.workCenters track by $index"
                              class="label ng-binding label-default f-s-13 m-r-5 m-t-5">{{workCenter}}</span>
                                <!--<span ng-repeat="workCenter in data.analysisGroup.filters.workCenters.params.workCenters track by $index"-->
                                <!--class="label ng-binding label-default">{{workCenter}}</span>-->
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>Shifts</h4>
                            <div class="p-5 p-t-0">
                        <span style="display: inline-block"
                              ng-repeat="shift in data.analysisGroup.filters.shifts.params.shifts"
                              class="label ng-binding label-default f-s-13 m-r-5 m-t-5">{{shift}}</span>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <h4>Date Range</h4>
                            <div class="p-5 p-t-0">
                        <span style="display: inline-block"
                              class="label ng-binding label-default f-s-13 m-r-5 m-t-5">{{data.analysisGroup.filters.time.params.from | date :
                            'shortDate'}}</span>
                                <span> - </span>
                                <span style="display: inline-block"
                                      class="label ng-binding label-default f-s-13 m-r-5 m-t-5">{{data.analysisGroup.filters.time.params.to | date :
                            'shortDate'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="divider"></div>
                    <div class="row m-t-15">
                        <!--<div class="col-md-3">-->
                        <!--<h4 class="m-b-0 m-t-15">Filters</h4>-->
                        <!--<div class="filter-details well">-->
                        <!--<div class="work-centers">-->
                        <!--<h4>Work Centers</h4>-->
                        <!--<div>-->
                        <!--<span ng-repeat="workCenter in data.analysisGroup.filters.workCenters.params.workCenters"-->
                        <!--class="label ng-binding label-default">{{workCenter}}</span>-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--<div>-->
                        <!--<h4>Shifts</h4>-->
                        <!--<div>-->
                        <!--<span ng-repeat="shift in data.analysisGroup.filters.shifts.params.shifts"-->
                        <!--class="label ng-binding label-default">{{shift}}</span>-->
                        <!--</div>-->

                        <!--</div>-->
                        <!--<div class="date-range">-->
                        <!--<h4>Date Range</h4>-->
                        <!--<p>{{data.analysisGroup.filters.time.params.from | date : 'shortDate'}}-->
                        <!-- - -->
                        <!--{{data.analysisGroup.filters.time.params.to | date :-->
                        <!--'shortDate'}}</p>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--<h4 class="m-b-0">Actions</h4>-->

                        <!--</div>-->


                        <div class="col-sm-12 table-responsive">
                            <h4 class="pull-left m-t-0 m-b-0">Results</h4>
                            <div class="pull-right">
                                <button type="button" class="btn btn-xs btn-success"
                                        ng-click="addVersion()">
                                    <i class="fa fa-plus-circle"></i> {{'ADD' | translate}}
                                </button>
                                <button type="button" class="btn btn-xs btn-default"
                                        ng-click="getAnalysisVersions()">
                                    <i class="fa fa-refresh"></i> {{'REFRESH' | translate}}
                                </button>
                            </div>
                            <table st-table="data.displayedAnalysisVersions"
                                   st-safe-src="data.analysisVersions"
                                   st-selection="data.selectedAnalysisVersions"
                                   class="table table-condensed table-hover versions-table m-t-10 m-b-0">
                                <thead>
                                <tr class="pointer">
                                    <th class="text-center" st-sort="'version'" st-sort-default="reverse">
                                        {{'VERSION' |
                                        translate}}
                                    </th>
                                    <th class="text-center" st-sort="createdDate">{{'Date Created' |
                                        translate}}
                                    </th>
                                    <th class="text-center" st-sort="description">{{'DESCRIPTION' |
                                        translate}}
                                    </th>
                                    <th class="text-center">{{'Results' |
                                        translate}}
                                    </th>
                                </tr>
                                <tr ng-show="data.displayedAnalysisVersions.length > 5">
                                    <th colspan="4"><input st-search="" placeholder="Search"
                                                           class="input-sm form-control" type="search"/>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in data.displayedAnalysisVersions">
                                    <td>
                                        {{row.version}}
                                    </td>
                                    <td style="text-align: center;">{{row.createdDate
                                        |
                                        date : 'short'}}
                                    </td>
                                    <td>
                                        {{row.description}}
                                    </td>
                                    <td style="text-align: center;">
                                        <div ng-repeat="result in row.results"
                                             ng-click="showResult(result.type, row.version)"
                                             style="display: inline-block; position: relative; margin: 0px 10px;"
                                             class="image gallery-group-2 isotope-item">
                                            <div class="image-inner"
                                                 ng-class="{'in-progress' : result.status == 'IN_PROGRESS', 'failure' : result.status == 'FAIL'}">
                                                <i class="fa icon-overlay fa-lg fa-spinner fa-pulse"
                                                   ng-show="result.status == 'IN_PROGRESS'"></i>
                                                <i class="fa icon-overlay fa-lg fa-ban"
                                                   ng-show="result.status == 'FAIL'"></i>
                                                <a href="javascript:;"
                                                   data-lightbox="gallery-group-2"><img
                                                        ng-src="images/{{result.type}}.png" alt="TEXT"
                                                        title="{{resultLabels[result.type]}}">
                                                </a>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                <tr ng-hide="data.displayedAnalysisVersions.length > 0">
                                    <td colspan="4" style="background-color: white"><span
                                            style="display: flex; justify-content: center; opacity: 0.3;">
						<h5>{{'There are no Versions available' | translate}}</h5>
				</span></td>
                                </tr>
                                </tbody>
                                <tfoot ng-show="data.analysisVersions.length > 5">
                                <tr>
                                    <td colspan="5">
                                        <div class="pull-left" st-items-by-page="itemPerPage"
                                             st-pagination=""
                                             st-template="app/shared/tables/views/pagination-custom.html"></div>
                                        <nav>
                                            <ul class="pagination pagination-sm pull-right"
                                                style="margin-bottom: 0">
                                                <li><a href="" ng-click="itemPerPage = 5">5</a></li>
                                                <li><a href="" ng-click="itemPerPage = 10">10</a></li>
                                                <li><a href="" ng-click="itemPerPage = 25">25</a></li>
                                                <li><a href="" ng-click="itemPerPage = 50">50</a></li>
                                            </ul>
                                        </nav>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'app/shared/navigation/views/footer.html'"></div>
</div>