<div id="modal-dialog" style="display: block;"
     validated="data.copiedAnalysisGroup.displayName && data.copiedAnalysisGroup.description"
     ng-enter="save(data.copiedAnalysisGroup);">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="close();" class="close" data-dismiss="modal"
                    aria-hidden="true">x
            </button>
            <h4 class="modal-title">Edit Analysis Group</h4>
        </div>
        <div class="modal-body">
            <label>{{'Analysis Name' | translate}}</label>
            <input type="text" name="name"
                   class="form-control" ng-model="data.copiedAnalysisGroup.displayName" auto-focus="true">
            <label class="m-t-10">{{'DESCRIPTION' | translate}}</label>
            <input type="text" name="description"
                   class="form-control" ng-model="data.copiedAnalysisGroup.description">
        </div>
        <div class="modal-footer">
            <a class="btn btn-sm btn-white" ng-click="close()" data-dismiss="modal">Close</a>
            <a ng-click="save(data.copiedAnalysisGroup);" class="btn btn-sm btn-success">Confirm</a>
        </div>
    </div>
</div>