<div class="outerStaticContainer height-full">
    <div class="innerScrollableContent" style="overflow: visible; min-height: 100%;">
        <div ng-include="'app/main/analysis/views/top-menu.html'"></div>
        <div class="container height-full">
            <div class="row m-0 p-t-10 height-full">
                <div class="card panel-body min-height-40">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="pull-right">
                                <button ng-show="!buttons.confirm && !buttons.upload && !buttons.isCollapsed"
                                        type="button" class="btn btn-xs btn-success"
                                        ng-click="addAnalysis()">
                                    <i class="fa fa-plus-circle"></i> {{'ADD' | translate}}
                                </button>
                                <button
                                        ng-show="!buttons.confirm && !buttons.upload && !buttons.isCollapsed"
                                        type="button" class="btn btn-xs btn-default"
                                        ng-click="refresh(false)">
                                    <i class="fa fa-refresh"></i> {{'REFRESH' | translate}}
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 table-responsive">
                            <table st-table="data.displayedAnalysisGroups"
                                   st-pipe="getAnalysisGroups"
                                   st-safe-src="row"
                                   class="table table-condensed table-hover analysis-groups-table m-t-10 m-b-0">
                                <thead>
                                <tr>
                                    <th class="text-center" st-sort="displayName">{{'Analysis'
                                        | translate}}
                                    </th>
                                    <th class="text-center">{{'Owner' |
                                        translate}}
                                    </th>
                                    <th class="text-center" st-sort="createdDate">{{'Date' |
                                        translate}}
                                    </th>
                                    <th class="text-center" st-sort="description">{{'DESCRIPTION' |
                                        translate}}
                                    </th>
                                    <!--                             <th class="text-center">{{'VERSION' | translate}}</th> -->
                                    <!--<th style="width: 30%"></th>-->
                                </tr>
                                <tr ng-hide="data.displayedAnalysisGroups.length < 5">
                                    <th colspan="4"><input st-search="" placeholder="Search"
                                                           class="input-sm form-control" type="search"/>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in data.displayedAnalysisGroups"
                                    class="pointer item-no-active"
                                    ng-class="row.isSelected ? 'active' : ''" st-select-row="row"
                                    ng-click="showDetails(row); row.edit = false;">

                                    <td class="text-left">{{row.displayName}}
                                    </td>
                                    <td>
                                        <user-display user="row.createdBy"></user-display>
                                    </td>
                                    <td ng-if="row.edit" style="padding: 4px 15px">
                                        <input ng-model="form.newNames" ng-click="$event.stopPropagation();"
                                               class="form-control input-sm"
                                               value={{row.results[0].displayName}}
                                               autofocus="autofocus"></td>
                                    <td style="text-align: center;">{{row.createdDate
                                        |
                                        date : 'short'}}
                                    </td>
                                    <td>{{row.description}}</td>
                                </tr>
                                <tr ng-hide="data.displayedAnalysisGroups.length > 0">
                                    <td colspan="4" style="background-color: white"><span
                                            style="display: flex; justify-content: center; opacity: 0.3;">
										<h5>{{'There are no Analyses available' | translate}}</h5>
								</span></td>
                                </tr>
                                </tbody>
                                <tfoot>
                                <tr>
                                    <td colspan="5">
                                        <div class="pull-left" st-items-by-page="itemPerPage"
                                             st-pagination=""
                                             st-template="app/shared/tables/views/pagination-custom.html"></div>
                                        <nav>
                                            <ul class="pagination pagination-sm pull-right">
                                                <li><a href="" ng-click="itemPerPage = 5">5</a></li>
                                                <li><a href="" ng-click="itemPerPage = 10">10</a></li>
                                                <li><a href="" ng-click="itemPerPage = 25">25</a></li>
                                                <li><a href="" ng-click="itemPerPage = 50">50</a></li>
                                            </ul>
                                        </nav>
                                    </td>
                                </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div ng-include="'app/shared/navigation/views/footer.html'"></div>
</div>