<div id="modal-dialog" style="display: block;" validated="data.newVersionDescription"
     ng-enter="reprocess(data.analysisGroup, data.newVersionDescription); close()">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="close();" class="close" data-dismiss="modal"
                    aria-hidden="true">x
            </button>
            <h4 class="modal-title">New Version</h4>
        </div>
        <div class="modal-body">
            <div class="form-group m-b-0">
                <label>{{'Version Description' | translate}}</label>
                <input type="text" name="name"
                       class="form-control" ng-model="data.newVersionDescription" placeholder="Version Description"
                       auto-focus="true">
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-sm btn-white" ng-click="close()" data-dismiss="modal">Close</a>
            <a ng-click="reprocess(data.analysisGroup, data.newVersionDescription); close()"
               class="btn btn-sm btn-success">Confirm</a>
        </div>
    </div>
</div>