<div id="modal-dialog" style="display: block;" ng-enter="remove(data.analysisGroup); close();">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="close();" class="close" data-dismiss="modal"
                    aria-hidden="true">x
            </button>
            <h4 class="modal-title">Remove?</h4>
        </div>
        <div class="modal-body">
            <p>Would you like to remove {{data.analysisGroup.displayName}}?</p>
            <small>**This will remove all existing versions of the analysis results</small>
        </div>
        <div class="modal-footer">
            <a class="btn btn-sm btn-white" ng-click="close()" data-dismiss="modal">Close</a>
            <a ng-click="remove(data.analysisGroup); close()" href auto-focus="true" class="btn btn-sm btn-danger">Confirm</a>
        </div>
    </div>
</div>