<div id="top-menu" class="top-menu collapse analysis-menu">
    <ul class="container nav">
        <li class="f-s-14 return-button"><a href="javascript:;" ng-click="selectState('/')"><i
                class="f-s-14 fa fa-angle-double-left "></i><span>&nbsp;</span></a></li>
        <li class="f-s-14 home-button"><a href="javascript:;" ng-click="selectState('/')"><i
                class="f-s-14 fa fa-home"></i><span> {{'Home' | translate}}</span></a></li>
        <li ng-class="{active: getState() == '/analysis/list' || (getState() != '/analysis/list' && name.display)}"
            class="f-s-14"><a
                href="javascript:;" ng-click="selectState('/analysis/list')"><i
                class="f-s-14 fa fa-info"></i><span> {{'Analysis' |
					translate}}{{name.display ? (' : ' + name.display + ' : v' + name.version) : ''}}</span></a></li>

        <li ng-show="getState() !== '/analysis/list'"
            ng-class="{active: getState() == '/analysis/' + data.analysisGroup.uuid}" class="f-s-14"
        ><a
                href="javascript:;" ng-click="selectState('/analysis/' + data.analysisGroup.uuid)"><i
                class="f-s-14 fa fa-bar-chart"></i><span> {{data.analysisGroup.displayName}}</span></a>
        </li>

        <li ng-show="data.analysisType == 'mmparetos'" class="f-s-14 active"><a
                href="javascript:;"><i
                class="f-s-14 fa fa-bar-chart"></i><span> {{'Multi-Metric Pareto' | translate}}</span></a></li>

        <li ng-show="data.analysisType == 'wordcloud'" class="f-s-14 active"><a
                href="javascript:;"><i
                class="f-s-14 fa fa-cloud"></i><span> {{'Word Cloud' | translate}}</span></a></li>

        <li ng-show="data.analysisType == 'correlations'" class="f-s-14 active"><a
                href="javascript:;"><i
                class="f-s-14 fa fa-gears"></i><span> {{'Correlations' |
				translate}}</span></a></li>

        <li ng-show="data.analysisType == 'recommendations'" class="f-s-14 active"><a
                href="javascript:;"><i
                class="f-s-14 fa fa-thumbs-o-up"></i><span>
					{{'Recommendations' | translate}}</span></a></li>
        <li class="navbar-user">
            <a href class="dropdown-toggle" data-toggle="collapse" data-target="#user-sub-menu">
                <img user-image user="currentUser" alt=""/>
                <span>{{currentUser.displayName}}</span>
                <b class="caret"></b>
            </a>
            <ul id="user-sub-menu" class="sub-menu collapse">
                <li><a href="javascript:;" ng-click="selectState('/admin')" permission
                       permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER', 'PRODUCTION_MANAGER']">Organizations</a>
                </li>
                <li><a href="javascript:;" ng-click="selectState('/account')">Account</a></li>
                <li><a href="javascript:;" ng-click="logout()">{{'LOGOUT' | translate}}</a></li>
            </ul>
        </li>
    </ul>
</div>