<div ng-include="'app/main/login/views/header.html'"></div>
<div id="client" class="content has-bg bg-green home-carousel" data-scrollview="true">
    <div class="content-bg">
        <img src="images/login/background.jpg" alt="Improvidus" width="100%" height="100%">
    </div>
    <div class="container fadeInUp contentAnimated finishAnimated height-full" data-animation="true"
         data-animation-type="fadeInUp">
        <div class="carousel testimonials slide height-full" data-ride="carousel" id="testimonials">
            <div class="carousel-inner">
                <div class="item active">
                    <h2 class="carousel-title">Welcome to Impro<span
                            style="color: #348fe2;font-family: 'Tw Cen MT';font-size: 1.32em;font-weight: 100;">v</span>idus
                    </h2>
                    <!--<p class="carousel-text-content">Your gateway to Connected Industry.</p>-->
                    <p class="carousel-text-content m-b-30">Systematically improve
                        your operation through big data
                        analytics
                        and connected industry.</p>
                    <a href ng-click="login()" class="btn btn-theme m-r-10">Login</a>
                    <a href ng-click="register()" class="btn btn-outline">Sign Up Now</a>
                </div>
                <div class="item" ng-repeat="slide in data.slides">
                    <h2 class="carousel-title">{{slide.title}}</h2>
                    <p class="carousel-text-content">{{slide.description}}</p>
                    <a ng-href="{{slide.link}}" class="btn btn-outline m-t-20">{{'LEARN MORE' |
                        translate}}</a>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#testimonials" data-slide-to="0" class="active"></li>
                <li ng-repeat="slide in data.slides track by $index" data-target="#testimonials"
                    data-slide-to="{{$index + 1}}"
                    ng-class="{'m-l-0' : $index == 0}"></li>
            </ol>
        </div>
    </div>
</div>
<div id="service" class="content" data-scrollview="true">
    <div class="container">
        <div class="row m-t-20 table-row">
            <div class="home-service col-md-4 col-sm-4">
                <div class="service-info">
                    <h4 class="title m-t-15 m-b-20">Connected Lean Consulting</h4>
                    <i class="fa fa-comments-o pull-right icon-lg"></i>
                    <p class="desc">Let us continually support your progress with connected industry with one of
                        our consulting packages.</p>
                </div>
                <a href ng-click="selectState('/public/services')" class="more-link bold align-bottom">{{'MORE' |
                    translate}} <i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="home-service col-md-4 col-sm-4">
                <div class="service-info">
                    <h4 class="title m-t-15 m-b-20">Connected Lean Training</h4>
                    <i class="fa fa-pencil-square-o pull-right icon-lg"></i>
                    <p class="desc">Allow us to train your associates and leadership team in the principles and
                        mindset of lean and how to empower them with connected industry.</p>
                </div>
                <a href ng-click="selectState('/public/services')" class="more-link bold align-bottom">{{'MORE' |
                    translate}} <i class="fa fa-long-arrow-right"></i></a>
            </div>
            <div class="home-service col-md-4 col-sm-4">
                <h4 class="title m-t-15 m-b-20">Connected Lean Projects</h4>
                <i class="fa fa-file-text-o pull-right icon-lg"></i>
                <p class="desc">Looking for a connected industry solution? We have a wide range of products
                    and system solutions as well as the expertise to design and implement a custom
                    solution.</p>
                <a href ng-click="selectState('/public/contact')" class="more-link bold align-bottom">{{'MORE' |
                    translate}} <i class="fa fa-long-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div id="quote" class="content bg-black-darker has-bg">
    <div class="content-bg">
        <img src="images/login/quote-bg.jpg" alt="Quote">
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 quote">

                <h2 style="font-size: 22px; line-height: 30px"><i class="fa fa-quote-left"></i> We should all strive to
                    improve on the
                    status quo: none of us
                    should
                    ever be
                    satisfied with what has been achieved, but should always endeavor to do better! <i
                            class="fa fa-quote-right"></i></h2>

                <small>- Robert Bosch</small>
            </div>
        </div>
    </div>
</div>
<div id="software" class="content bg-home-gray home-software" data-scrollview="true" style="overflow: initial;">
    <div class="container">
        <h2 class="text-center text-white m-b-30 m-t-40">Proprietary Software</h2>
        <p class="content-desc text-white m-b-50">
            Improvidus offers a suite of cloud based visualization tools that can be expanded according to your needs.
        </p>
        <!--<div ng-click="" class="play-button-outer pointer">-->
        <!--<div class="play-button-inner"><i class="fa fa-play"></i></div>-->
        <!--</div>-->
    </div>
</div>

<!--<div id="industry" class="content p-l-0 p-r-0" data-scrollview="true">-->
<!--<div class="industry-title text-center">-->
<!--<h2 class="m-b-10">Industry 4.0</h2>-->
<!--<p class="m-b-15">what we create</p>-->
<!--</div>-->
<!--<div class="row m-0 text-center">-->
<!--<div class="col-md-5ths p-0">-->
<!--<div class="industry-tile bg-rexroth-bg-60">-->

<!--</div>-->
<!--<div class="industry-tile-button">-->
<!--</div>-->
<!--<div class="industry-tile-desc">-->
<!--<h4 class="m-b-0">Title</h4>-->
<!--<p>design</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-5ths p-0">-->
<!--<div class="industry-tile bg-rexroth-bg-80">-->

<!--</div>-->
<!--<div class="industry-tile-button">-->
<!--</div>-->
<!--<div class="industry-tile-desc">-->
<!--<h4 class="m-b-0">Title</h4>-->
<!--<p>engineering</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-5ths p-0">-->
<!--<div class="industry-tile bg-rexroth-bg-60">-->

<!--</div>-->
<!--<div class="industry-tile-button">-->
<!--</div>-->
<!--<div class="industry-tile-desc">-->
<!--<h4 class="m-b-0">Title</h4>-->
<!--<p>IOT</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-5ths p-0">-->
<!--<div class="industry-tile bg-rexroth-bg-80">-->

<!--</div>-->
<!--<div class="industry-tile-button">-->
<!--</div>-->
<!--<div class="industry-tile-desc">-->
<!--<h4 class="m-b-0">Title</h4>-->
<!--<p>manufacturing</p>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-5ths p-0">-->
<!--<div class="industry-tile bg-rexroth-bg-60">-->

<!--</div>-->
<!--<div class="industry-tile-button">-->
<!--</div>-->
<!--<div class="industry-tile-desc">-->
<!--<h4 class="m-b-0">Title</h4>-->
<!--<p>Industrial Trends</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div ng-include="'app/main/login/views/footer.html'"></div>