<div class="container height-full">
    <div class="row m-0 p-t-10 m-b-10">
        <div class="card panel-body">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="m-t-0">
                        Profile
                        <small>{{currentUser.displayName}}</small>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="profile-container">
                        <div class="profile-section">
                            <div class="profile-left">
                                <div class="profile-image text-center">
                                    <img ng-if="!data.picFile" user-image user="currentUser"/>
                                    <!--<img ng-if="!data.picFile" ng-src="api/v2/me/profilePicture"/>-->
                                    <img ng-if="data.picFile" ngf-src="data.picFile"> <i
                                        class="fa fa-user hide"></i> <img ng-if="!data.picFile" user-image>
                                </div>
                                <div class="m-b-10">
                                    <button class="btn btn-primary btn-block btn-sm button-file"
                                            ng-disabled="data.disableControls"><i
                                            class="fa fa-spinner fa-pulse fa-fw" ng-if="data.disableControls"></i>

                                        <span ng-if="!data.disableControls">{{'CHANGE_PICTURE' | translate}}</span>
                                        <span ng-if="data.disableControls">{{'Updating...'}}</span>
                                        <!--<input type="file" ngf-select=""-->
                                        <!--ng-model="picFile" name="file"-->
                                        <!--accept="image/*" required=""-->
                                        <!--ng-change="saveProfilePicture()"-->
                                        <!--ngf-resize="{width: 175, height: 175}"/>-->
                                        <input type="file" fileread="data.picFile" ng-disabled="data.disableControls"/>
                                    </button>
                                </div>
                            </div>
                            <div class="profile-right">
                                <div class="profile-info">
                                    <div>
                                        <table class="table table-profile table-valign-middle">
                                            <thead>
                                            <tr>
                                                <th></th>
                                                <th>
                                                    <h4>{{currentUser.displayName}}</h4>
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr class="divider separator">
                                                <td colspan="2"></td>
                                            </tr>
                                            <tr>
                                                <td class="field">{{'EMAIL' | translate}}</td>
                                                <td><a href="">{{currentUser.email}}</a></td>
                                            </tr>
                                            <!--<tr class="divider separator">-->
                                            <!--<td colspan="2"></td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                            <!--<td class="field">{{'COUNTRY' | translate}}</td>-->
                                            <!--<td>-->
                                            <!--<ui-select style="width: 200px"-->
                                            <!--ng-model="user.configuration.content.country"-->
                                            <!--on-select="controls.countryEdit = true" theme="bootstrap"-->
                                            <!--close-on-select=true>-->
                                            <!--<ui-select-match>{{user.configuration.content.country.name-->
                                            <!--| translate}}-->
                                            <!--</ui-select-match>-->
                                            <!--<ui-select-choices-->
                                            <!--repeat="country in getCountries() | filter: $select.search">-->
                                            <!--<div-->
                                            <!--ng-bind-html="country.name | translate | highlight: $select.search"></div>-->
                                            <!--</ui-select-choices>-->
                                            <!--</ui-select>-->
                                            <!--</td>-->
                                            <!--</tr>-->
                                            <!--<tr>-->
                                            <!--<td class="field v-align">{{'LANGUAGE' | translate}}</td>-->
                                            <!--<td>-->
                                            <!--<ui-select style="width: 200px"-->
                                            <!--ng-model="user.configuration.content.language"-->
                                            <!--on-select="controls.countryEdit = true" theme="bootstrap"-->
                                            <!--close-on-select=true>-->
                                            <!--<ui-select-match>-->
                                            <!--{{user.configuration.content.language.displayName-->
                                            <!--| translate}}-->
                                            <!--</ui-select-match>-->
                                            <!--<ui-select-choices-->
                                            <!--repeat="language in getLanguages() | filter: $select.search">-->
                                            <!--<div-->
                                            <!--ng-bind-html="language.displayName | translate | highlight: $select.search"></div>-->
                                            <!--</ui-select-choices>-->
                                            <!--</ui-select>-->
                                            <!--</td>-->
                                            <!--</tr>-->
                                            <!--<tr ng-show="controls.countryEdit">-->
                                            <!--<td></td>-->
                                            <!--<td>-->
                                            <!--<button type="button" class="btn btn-xs btn-success"-->
                                            <!--ng-click="saveUserSettings()">-->
                                            <!--<i class="fa fa-save"></i> {{'SAVE' | translate}}-->
                                            <!--</button>-->
                                            <!--<button type="button" class="btn btn-xs btn-warning"-->
                                            <!--ng-click="countryEdit = false">-->
                                            <!--<i class="fa fa-ban"></i> {{'CANCEL' | translate}}-->
                                            <!--</button>-->
                                            <!--</td>-->
                                            <!--</tr>-->
                                            <!--<tr class="divider separator">-->
                                            <!--<td colspan="2"></td>-->
                                            <!--</tr>-->
                                            <tr ng-show="!passwordEdit">
                                                <td class="field">{{'PASSWORD' | translate}}</td>
                                                <td><i class="fa fa-lock fa-lg m-r-5"></i> ***** <a href=""
                                                                                                    class="m-l-5"
                                                                                                    ng-click="changePassword();passwordEdit = true">Edit</a>
                                                </td>
                                            </tr>
                                            <tr ng-show="passwordEdit">
                                                <td class="field">{{'CURRENT_PASSWORD' | translate}}</td>
                                                <td><input type="password" ng-model="password.current"
                                                           style="width: 200px" class="form-control"
                                                           placeholder="{{'CURRENT_PASSWORD' | translate}}"></td>
                                            </tr>
                                            <tr ng-show="passwordEdit"
                                                ng-class="{'has-error':password.newPassErrors.length > 0, 'has-success':password.newPassErrors.length < 1}">
                                                <td class="field">{{'NEW_PASSWORD' | translate}}</td>
                                                <td><input type="password" ng-model="password.newPass"
                                                           style="width: 200px;" class="form-control"
                                                           placeholder="{{'NEW_PASSWORD' | translate}}">
                                                    <ul class="parsley-errors-list filled"
                                                        id="parsley-id-multiple-radiorequired">
                                                        <li class="parsley-required"
                                                            ng-repeat="error in password.newPassErrors">{{error}}
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr ng-show="passwordEdit"
                                                ng-class="{'has-error':password.newPass2Errors.length > 0, 'has-success':password.newPass2Errors.length < 1}">
                                                <td class="field">{{'RETYPE_NEW_PASSWORD' | translate}}</td>
                                                <td><input type="password" ng-model="password.newPass2"
                                                           style="width: 200px;" class="form-control"
                                                           placeholder="{{'RETYPE_NEW_PASSWORD' | translate}}">
                                                    <ul class="parsley-errors-list filled"
                                                        id="parsley-id-multiple-radiorequired">
                                                        <li class="parsley-required"
                                                            ng-repeat="error in password.newPass2Errors">{{error}}
                                                        </li>
                                                    </ul>
                                                </td>
                                            </tr>
                                            <tr ng-show="passwordEdit">
                                                <td></td>
                                                <td>
                                                    <button type="button" class="btn btn-xs btn-success"
                                                            ng-click="savePassword()">
                                                        <i class="fa fa-save"></i> {{'SAVE' | translate}}
                                                    </button>
                                                    <button type="button" class="btn btn-xs btn-warning"
                                                            ng-click="cancelPassword();passwordEdit = false">
                                                        <i class="fa fa-ban"></i> {{'CANCEL' | translate}}
                                                    </button>
                                                </td>
                                            </tr>
                                            <!-- 								<tr> -->
                                            <!-- 									<td></td> -->
                                            <!-- 									<td><button type="button" class="btn btn-xs btn-success" -->
                                            <!-- 											ng-click="saveProfilePicture()"> -->
                                            <!-- 											<i class="fa fa-save"></i> {{'SAVE' | translate}} -->
                                            <!-- 										</button></td> -->
                                            <!-- 								</tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>