<div id="header" class="header navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div ng-include="'app/shared/navigation/views/navbar-header.html'"></div>
        <ul class="nav navbar-nav navbar-right">
            <li class="dropdown org-dropdown" ng-if="currentUser.organizationMemberships.length > 1"><a href=""
                                                                                                        class="dropdown-toggle"
                                                                                                        data-toggle="dropdown">
                <span class="btn btn-primary btn-icon btn-circle btn-lg"><i
                        class="fa fa-building fa-inverse"></i></span>
                <span>{{currentUser.organization.displayName}}</span><b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li ng-repeat="organization in currentUser.organizationMemberships"
                        ng-class="{active: organization.uuid == currentUser.organization.uuid}"><a href=""
                                                                                                   ng-click="selectOrganization(organization)">
                        {{organization.displayName}}</a></li>
                </ul>
            </li>
            <li class="dropdown navbar-user">
                <a href class="dropdown-toggle" data-toggle="dropdown">
                    <img user-image user="currentUser" alt=""/>
                    <span class="hidden-xs">{{currentUser.displayName}}</span>
                    <b class="caret"></b>
                </a>
                <ul class="dropdown-menu media-list pull-right animated fadeInLeft">
                    <li permission
                        permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER', 'PRODUCTION_MANAGER']"
                        class="media">
                        <a href="javascript:;" ng-click="selectState('/admin')">
                            <div class="media-left"><i
                                    class="fa fa-building media-object bg-primary"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">Organizations</h6>
                                <div class="text-muted f-s-11">Organize your Plants and Users</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;" ng-click="selectState('/account')">
                            <div class="media-left"><i
                                    class="fa fa-user media-object bg-orange"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">Account</h6>
                                <div class="text-muted f-s-11">Configure your Profile and
                                    Subscription
                                </div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;" ng-click="selectState('/public')">
                            <div class="media-left"><i
                                    class="fa fa-home media-object bg-rexroth-bg-80"></i></div>
                            <div class="media-body">
                                <h6 class="media-heading">Visitor Home</h6>
                                <div class="text-muted f-s-11">Back to Improvidus Landing Page</div>
                            </div>
                        </a>
                    </li>
                    <li class="media">
                        <a href="javascript:;" ng-click="logout()">
                            <div class="media-left"><i
                                    class="fa fa-sign-out media-object bg-grey"></i></div>
                            <div class="media-body" style="vertical-align: middle">
                                <h6 class="media-heading">{{'LOGOUT' | translate}}</h6>
                            </div>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
