<div id="footer" class="footer content bg-black-darker has-bg p-b-0 m-r-0">
    <div class="content-bg">
    </div>
    <div class="container">
        <div class="footer-brand">
            <img src="images/rexroth.png" width="10%">
        </div>
        <p>
            © 2016 Rexroth - All Rights Reserved <br>
        </p>
        <p class="social-list">
            <a href="https://www.facebook.com/BoschRexroth" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
            <a href="https://twitter.com/BoschRexrothUS" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
            <a href="https://www.youtube.com/user/BoschRexrothGlobal" target="_blank"><i
                    class="fa fa-youtube-play fa-fw"></i></a>
            <a href="https://www.linkedin.com/company/bosch-rexroth" target="_blank"><i
                    class="fa fa-linkedin-square fa-fw"></i></a>
        </p>
    </div>
    <div class="container footer-wide m-t-40">
        <div class="row m-t-10 m-b-10">
            <div class="col-md-4">
                <p class="pull-left m-b-0">Rexroth - Bosch Group</p>
            </div>
            <div class="col-md-8 footer-tabs">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href ng-click="selectState('/public')">Visitor Home</a></li>
                    <li><a href ng-click="selectState('/public/contact')">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>