<div class="navbar-header">
    <a href="javascript:;" ng-click="selectState('/')" class="navbar-brand logo"
       style="margin-top: -5px; width: auto; padding-right:0px;"><img
            src="images/Improvidus.png"/></a>
    <button type="button" class="navbar-toggle"
            data-toggle="collapse" data-target="#top-menu">
        <span class="icon-bar"></span> <span class="icon-bar"></span> <span
            class="icon-bar"></span>
    </button>
</div>