<div ng-include="'app/main/login/views/header.html'"></div>
<div id="home" class="content has-bg half-bg home" title="Picture: Bosch"></div>
<div id="company-mission" class="content p-b-0">
    <div class="container">
        <div class="row card">
            <h2 class="text-center m-t-10">Our Mission</h2>
            <p class="content-desc">
                We at Bosch shape the Industrial revolution, enabling the industrial community using cutting edge
                technology.
                <br><br>
                We are a diverse team of mechanical, industrial, electrical, controls, and computer engineers with a
                passion for continuous improvement. We love the opportunities that big data analytics and connected
                industry offer and we are excited to help our customers and partners realize those opportunities.
            </p>
        </div>
    </div>
</div>
<div id="company-story" class="content bg-home-gray">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="company-story-media">
                    <img src="images/rexroth_about.jpg" height="275px">
                </div>
            </div>
            <div class="col-md-8">
                <h2 class="text-white">Our Story -</h2>
                <p class="text-white">
                    Improvidus was born in a small Bosch plant in Bethlehem, PA that produces a wide range of hydraulic
                    components and systems. It was derived out of need of the plant to further improve after reaching a
                    high level of maturity with classical lean application. We started down the path of applying big
                    data analytics to uncover our largest opportunities and gaining insight into correlating events in
                    our manufacturing environment. This enabled our manufacturing team to focus on the connected
                    industry solutions that would have the biggest impact to our bottom line.
                    <br><br>
                    After a short time, the results we rendered caught the eye of other Bosch facilities who started
                    requesting assistance to set it up in their facility. Not long after, we recognized the potential of
                    combining our lean approach, tools, and expertise into a new business that can help a wide range
                    manufacturers along their connected industry journey.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="company-about" class="content" data-scrollview="true" style="overflow: initial;">
    <div class="container">
        <h2 class="text-center m-b-30 m-t-40">Improvidus rooted in Bosch Rexroth</h2>
        <p class="content-desc m-b-50">
            As both a lead operator and supplier of Connected Industry solutions, Bosch Rexroth is uniquely prepared to
            help machine builders and manufacturers make lean production and Connected Industry a reality. Bosch Rexroth
            is helping to drive the next industrial revolution with leading expertise and solutions like Improvidus.
        </p>
        <!--<div ng-click="" class="play-button-outer pointer">-->
        <!--<div class="play-button-inner"><i class="fa fa-play"></i></div>-->
        <!--</div>-->
    </div>
</div>
<!--<div id="company-team" class="content">-->
<!--<div class="container card">-->
<!--<div class="row">-->
<!--<div class="col-md-2">-->
<!--<h1 class="company-team-icon">T</h1>-->
<!--</div>-->
<!--<div class="col-md-8">-->
<!--<h4 class="m-t-10">{{'Meet our Team' | translate}}</h4>-->
<!--<p>-->
<!--Lorem ipsum dolor sit amet, sumo commodo ea sit, an mei diam agam diceret. Id iuvaret recteque-->
<!--vituperata usu, persius facilisis liberavisse et sit, atqui facete ut eum. Pri in apeirian-->
<!--comprehensam. His et aeterno albucius insolens. Dico suavitate id vis, vis ex docendi tacimates-->
<!--euripidis. Cum liber tibique ne, commodo elaboraret per ne. Homero viderer platonem an eos-->
<!--</p>-->
<!--</div>-->
<!--<div class="col-md-2">-->
<!--</div>-->
<!--</div>-->
<!--<div class="row table-row width-full">-->
<!--<div class="col-md-2 carousel-controls-col">-->
<!--<a class="pointer carousel-controls pull-right" data-target="#teamCarousel" data-slide="prev"-->
<!--ng-non-bindable><i-->
<!--class="fa fa-arrow-left"></i></span></a>-->
<!--</div>-->
<!--<div class="col-md-8">-->
<!--<div id="teamCarousel" class="carousel slide p-t-0" data-interval="false">-->
<!--<div class="carousel-inner">-->
<!--<div class="item active">-->
<!--<div class="row">-->
<!--<div class="col-sm-4 team-pic bg-rexroth-bg-60">-->
<!--</div>-->
<!--<div class="col-sm-4 team-pic bg-rexroth-bg-80">-->
<!--</div>-->
<!--<div class="col-sm-4 team-pic bg-rexroth-bg-60">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="item">-->
<!--<div class="row">-->
<!--<div class="col-sm-4 team-pic bg-rexroth-bg-80">-->
<!--</div>-->
<!--<div class="col-sm-4 team-pic bg-rexroth-bg-60">-->
<!--</div>-->
<!--<div class="col-sm-4 team-pic bg-rexroth-bg-80">-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="col-md-2 carousel-controls-col">-->
<!--<a class="pointer carousel-controls pull-left" data-target="#teamCarousel" data-slide="next"-->
<!--ng-non-bindable><i-->
<!--class="fa fa-arrow-right"></i></span></a>-->
<!--</div>-->
<!--</div>-->
<!--<div class="row">-->
<!--<div class="col-md-12 text-center m-t-30 m-b-30">-->
<!--<a href ng-click="selectState('/landing/company/team')" class="btn btn-theme btn-sm p-l-40 p-r-40"><i-->
<!--class="fa fa-users m-r-10"></i>{{'See Team Page' | translate}}</a>-->
<!--</div>-->
<!--</div>-->
</div>
</div>
<div ng-include="'app/main/login/views/footer.html'"></div>