<div ng-include="'app/main/login/views/header.html'"></div>
<div id="home" class="content has-bg half-bg home" title="Picture: Bosch"></div>
<div id="company-breadcrumbs" class="m-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href="" ng-click="selectState('/landing/company')">Company</a>
                        </li>
                        <li class="active">Team</li>
                    </ol>
                </h4>
            </div>
        </div>
    </div>
</div>
<div id="team-philosophy" class="content">
    <div class="container">
        <div class="row card">
            <h2 class="text-center m-t-10">Our Team Philosophy</h2>
            <p class="content-desc">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum consectetur eros dolor,<br>
                sed bibendum turpis luctus eget. Accusata reprehendunt. Duo cu postea euripidis, nec.
            </p>
        </div>
    </div>
</div>
<div id="team-department-lead" class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="company-story-media"></div>
            </div>
            <div class="col-md-8">
                <h2>Department Lead -</h2>
                <p>
                    Lorem ipsum dolor sit amet, sed ea semper fastidii postulant, ut mel persecuti temporibus.
                    Eu his sumo mediocrem deseruisse, eu eos iuvaret molestie, vidit everti at per. Ne duis ludus
                    aperiri vix, an qui esse singulis. Admodum consetetur ei eam, ea quis gubergren nam. Velit dolore
                    consetetur eum ex.
                </p>
            </div>
        </div>
    </div>
</div>
<div id="team-lists" class="content">
    <div class="container">
        <div class="team-leads">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h4>Team Leads -</h4>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row table-row width-full">
                <div class="col-md-2 carousel-controls-col">
                    <a class="pointer carousel-controls pull-right" data-target="#leadsCarousel" data-slide="prev"
                       ng-non-bindable><i
                            class="fa fa-arrow-left"></i></span></a>
                </div>
                <div class="col-md-8">
                    <div id="leadsCarousel" class="carousel slide p-t-0" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-4 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-4 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-4 team-pic bg-rexroth-bg-60">
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-4 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-4 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-4 team-pic bg-rexroth-bg-80">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 carousel-controls-col">
                    <a class="pointer carousel-controls pull-left" data-target="#leadsCarousel" data-slide="next"
                       ng-non-bindable><i
                            class="fa fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
        <div class="mechanical-team m-t-40">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h4>Mechanical Engineering Team -</h4>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row table-row width-full">
                <div class="col-md-2 carousel-controls-col">
                    <a class="pointer carousel-controls pull-right" data-target="#mechsCarousel" data-slide="prev"
                       ng-non-bindable><i
                            class="fa fa-arrow-left"></i></span></a>
                </div>
                <div class="col-md-8">
                    <div id="mechsCarousel" class="carousel slide p-t-0" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 carousel-controls-col">
                    <a class="pointer carousel-controls pull-left" data-target="#mechsCarousel" data-slide="next"
                       ng-non-bindable><i
                            class="fa fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
        <div class="industrial-team m-t-40">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h4>Industrial Engineering Team -</h4>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row table-row width-full">
                <div class="col-md-2 carousel-controls-col">
                    <a class="pointer carousel-controls pull-right" data-target="#industrialCarousel" data-slide="prev"
                       ng-non-bindable><i
                            class="fa fa-arrow-left"></i></span></a>
                </div>
                <div class="col-md-8">
                    <div id="industrialCarousel" class="carousel slide p-t-0" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 carousel-controls-col">
                    <a class="pointer carousel-controls pull-left" data-target="#industrialCarousel" data-slide="next"
                       ng-non-bindable><i
                            class="fa fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
        <div class="electrical-team m-t-40">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    <h4>Electrical/Control Engineering Team -</h4>
                </div>
                <div class="col-md-2"></div>
            </div>
            <div class="row table-row width-full">
                <div class="col-md-2 carousel-controls-col">
                    <a class="pointer carousel-controls pull-right" data-target="#electricalCarousel" data-slide="prev"
                       ng-non-bindable><i
                            class="fa fa-arrow-left"></i></span></a>
                </div>
                <div class="col-md-8">
                    <div id="electricalCarousel" class="carousel slide p-t-0" data-interval="false">
                        <div class="carousel-inner">
                            <div class="item active">
                                <div class="row">
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div class="row">
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-80">
                                    </div>
                                    <div class="col-sm-3 team-pic bg-rexroth-bg-60">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 carousel-controls-col">
                    <a class="pointer carousel-controls pull-left" data-target="#electricalCarousel" data-slide="next"
                       ng-non-bindable><i
                            class="fa fa-arrow-right"></i></span></a>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-include="'app/main/login/views/footer.html'"></div>