<fieldset ng-enter="costCenterForm.step = 2">
    <legend class="pull-left width-full">Cost Center</legend>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group has-feedback"
                 ng-class="{'has-error': addCostCenter.name.$touched && addCostCenter.name.$invalid}">
                <label>Name</label>
                <input type="text" name="name" placeholder="10155541" ng-minlength="3"
                       ng-pattern="/^[a-zA-Z0-9\s_\-@#$]{1,50}$/" required
                       class="form-control" ng-model="costCenterForm.costCenter.displayName"
                       auto-focus="costCenterForm.step == 1">
                <p ng-if="addCostCenter.name.$error.minlength"
                   class="m-0 text-danger">Name
                    must be longer than 3 characters</p>
                <p ng-if="addCostCenter.name.$error.pattern"
                   class="m-0 text-danger">Name
                    must contain only numbers, letters and special
                    characters included in [_-@#$]</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group has-feedback">
                <label>Description (optional)</label>
                <input type="text" name="description" placeholder="TEF2"
                       class="form-control" ng-model="costCenterForm.costCenter.description">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>Plant</label>
                <ui-select ng-model="costCenterForm.plant" theme="bootstrap"
                           close-on-select=true disabled="data.plantSelectionDisabled">
                    <ui-select-match
                            placeholder="{{'Plant' | translate}}">
                        {{$select.selected.displayName | translate}}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="plant in data.plants | filter: $select.search">
                        <div
                                ng-bind-html="plant.displayName | translate | highlight: $select.search"></div>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
</fieldset>