<fieldset validated="costCenterForm.step == 2 && addCostCenter.$valid && !buttons.submitted"
          ng-enter="save(); buttons.isCollapsed = !buttons.isCollapsed;">
    <legend class="pull-left width-full">Users</legend>
    <div ng-include="'app/main/administration/users/views/list.form.html'"></div>
</fieldset>