<fieldset ng-enter="userInviteForm.step = 2">
    <legend class="pull-left width-full">Invite User</legend>
    <div class="form-group has-feedback m-b-0"
         ng-class="{'has-error' : userInvitation.email.$invalid && !userInvitation.email.$pristine}">
        <label class="control-label-required">Email (*)</label>
        <div class="row">
            <div class="col-md-12">
                <input id="email" type="email" ng-model="userInviteForm.email"
                       class="form-control" placeholder="Email address" name="email"
                       required auto-focus="userInviteForm.step == 1"
                       ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/"/>
                <p class="text-danger m-b-0"
                   ng-if="userInvitation.email.$error.required && !userInvitation.email.$pristine">
                    Email is required.</p>
                <p class="text-danger m-b-0"
                   ng-if="userInvitation.email.$error.pattern && !userInvitation.email.$pristine">
                    Email format is invalid.</p>
            </div>
        </div>
    </div>
</fieldset>