<div class="m-10" ng-repeat="category in data.categories">
    <h1 class="page-header">{{category.displayName}}</h1>
    <div class="m-t-5 slide-show-wrapper" id="main-content" slide-show>
        <div class="row slider-show m-b-5 p-t-10 p-b-10 m-l-0 m-r-0">
            <div class="panel well card col-xs-12 col-sm-6 col-md-3 p-l-10 p-r-10 m-l-0 m-r-20"
                 ng-repeat="entry in category.content"
                 ng-class="{'active': vessel.vesselId == data.selectedVessel.vesselId}">
                <div class="panel-body">
                    <div class="image gallery-group-2 isotope-item">
                        <div class="image-inner">
                            <a href="" data-lightbox="gallery-group-2"
                               ng-click="data.selectedEntry = entry">
                                <img ng-src="{{'images/services/' + entry.iconUrl}}" alt=""
                                     style="width: 100%; height: 200px">
                            </a>
                        </div>
                        <div class="image-info">
                            <h5 class="title">{{entry.displayName}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>