<div class="container">
    <div growl class="growl-container"></div>
</div>
<div class="container">
    <div class="row m-0 p-t-10 m-b-10">
        <div class="col-md-12">
            <!--<div ng-if="!data.selectedEntry" ng-include="'app/main/services/views/category.html'"></div>-->
            <!--<div ng-if="data.selectedEntry" ng-include="'app/main/services/views/training.html'"></div>-->
            <div ng-include="'app/main/login/services/views/list.html'"></div>
        </div>
    </div>
</div>