<div class="m-10">
    <h1 class="page-header">{{data.selectedEntry.displayName}}
        <!--<small>header small text goes here...</small>-->
    </h1>
    <div class="m-t-5 slide-show-wrapper" id="main-content" slide-show>
        <div class="row slider-show m-b-5 p-t-10 p-b-10 m-l-0 m-r-0">
            <div class="panel well card col-xs-12 col-sm-6 col-md-4 p-l-10 p-r-10 m-l-0 m-r-20"
                 ng-repeat="entry in data.selectedEntry.content">
                <div class="panel-body">
                    <div class="image gallery-group-2 isotope-item">
                        <div class="image-inner text-center">
                            <a href="" data-lightbox="gallery-group-2">
                                <img ng-src="{{'images/services/' + entry.iconUrl}}" alt=""
                                     style="max-width: 200px;">
                            </a>
                        </div>
                        <div class="image-info m-t-10" style="">
                            <h4 class="title text-center" style="font-weight: bold">{{' ' + entry.displayName |
                                translate}}</h4>
                            <div class="desc text-left">
                                <strong>{{'Overview: ' | translate}}</strong>{{' ' + entry.overview}}<br>
                                <strong>{{'Who should participate: ' | translate}}</strong>{{' ' +
                                entry.participants}}<br>
                                <strong>{{'How is transformation taking place: ' |
                                    translate}}</strong>{{' ' + entry.transformation}}<br>
                                <strong>{{'Where: ' | translate}}</strong>{{' ' + entry.where}}<br>
                                <strong>{{'Duration: ' | translate}}</strong>{{' ' + entry.duration}}<br>
                                <strong>{{'Price: ' | translate}}</strong>{{' ' + (entry.price ? entry.price : "Contact
                                us")}}<br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>