<div validated="userForm.step == 2 && addUser.$valid && !buttons.submitted" ng-enter="save()">
    <legend class="pull-left width-full">Role</legend>
    <div permission permission-only="['ADMIN','GENERAL_MANAGER']">
        <div class="radio">
            <label>
                <input type="radio" ng-model="userForm.role" name="roles" value="Admin">
                Admin
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="userForm.role" name="roles" value="General Manager">
                General Manager
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="userForm.role" name="roles" value="Plant Manager">
                Plant Manager
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="userForm.role" name="roles" value="Production Manager">
                Production Manager
            </label>
        </div>
        <div class="radio">
            <label>
                <input type="radio" ng-model="userForm.role" name="optionsRadios" value="Operator"
                       auto-focus="userForm.step == 2">
                Operator
            </label>
        </div>
    </div>
    <div class="radio" permission permission-only="['SUPER_ADMIN']">
        <label>
            <input type="radio" ng-model="userForm.role" name="optionsRadios" value="SuperAdmin" checked>
            SuperAdmin
        </label>
    </div>
</div>
