<fieldset ng-enter="userForm.step = 2">
    <legend class="pull-left width-full">New User</legend>
    <div class="form-group m-b-0"
         ng-class="{'has-error' : addUser.name.$invalid && !addUser.name.$pristine}">
        <label class="control-label">Name (*)</label>
        <div class="row m-b-10">
            <div class="col-md-12">
                <input id="name" type="text" ng-model="userForm.user.firstName" class="form-control"
                       name="name"
                       required placeholder="First Name" ng-maxlength="256"
                       ng-minlength="4" auto-focus="userForm.step == 1"/>
                <p class="text-danger m-b-0"
                   ng-if="addUser.name.$error.required && !addUser.name.$pristine">
                    Name is required.</p>
                <p class="text-danger m-b-0"
                   ng-if="addUser.name.$error.minlength && !addUser.name.$pristine">
                    Username must be at least 5 characters</p>
                <p class="text-danger m-b-0"
                   ng-if="addUser.name.$error.maxlength && !addUser.name.$pristine">
                    Username must be less than 256 characters</p>
            </div>
        </div>
    </div>
    <div class="form-group has-feedback m-b-0"
         ng-class="{'has-error' : addUser.email.$invalid && !addUser.email.$pristine}">
        <label class="control-label-required">Email (*)</label>
        <div class="row">
            <div class="col-md-12">
                <input id="email" type="email" ng-model="userForm.user.email"
                       class="form-control" placeholder="Email address" name="email"
                       required
                       ng-pattern="/^[a-zA-Z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$/"/>
                <p class="text-danger m-b-0"
                   ng-if="addUser.email.$error.required && !addUser.email.$pristine">
                    Email is required.</p>
                <p class="text-danger m-b-0"
                   ng-if="addUser.email.$error.pattern && !addUser.email.$pristine">
                    Email format is invalid.</p>
            </div>
        </div>
    </div>
</fieldset>