<div class="pull-right">
    <button ng-show="!buttons.confirm && !buttons.upload && !buttons.isCollapsed"
            type="button" class="btn btn-xs btn-info"
            ng-click="buttons.upload = !buttons.upload; upload()">
        <i class="fa fa-upload"></i> {{'UPLOAD' | translate}}
    </button>
    <button ng-show="!buttons.confirm && !buttons.isCollapsed && !buttons.upload"
            type="button" class="btn btn-xs btn-success"
            ng-click="buttons.isCollapsed = !buttons.isCollapsed; add()">
        <i class="fa fa-plus-circle"></i> {{'ADD' | translate}}
    </button>
    <button ng-show="!buttons.confirm && !buttons.isCollapsed && !buttons.upload && areItemsSelected(data.displayedOeeEntries)"
                         type="button" class="btn btn-xs btn-danger"
                         ng-click="buttons.confirm = !buttons.confirm">
    <i class="fa fa-minus"></i> {{'REMOVE' | translate}}
</button>
    <button ng-show="!buttons.confirm && !buttons.upload && !buttons.isCollapsed"
            type="button" class="btn btn-xs btn-default"
            ng-click="refresh()">
        <i class="fa fa-refresh"></i> {{'REFRESH' | translate}}
    </button>
    <button ng-show="buttons.confirm" type="button"
            class="btn btn-xs btn-danger"
            ng-click="remove(); buttons.confirm = !buttons.confirm">
        <i class="fa fa-check"></i> {{'CONFIRM' | translate}}
    </button>
    <button ng-show="buttons.confirm" type="button"
            class="btn btn-xs btn-warning"
            ng-click="buttons.confirm = !buttons.confirm">
        <i class="fa fa-ban"></i> {{'CANCEL' | translate}}
    </button>
    <button ng-show=buttons.isCollapsed type="button"
            class="btn btn-xs btn-success" ng-disabled="buttons.invalid"
            ng-click="buttons.isCollapsed = !buttons.isCollapsed; save()">
        <i class="fa fa-save"></i> {{'SAVE' | translate}}
    </button>
    <button ng-show="buttons.isCollapsed || buttons.upload" type="button"
            class="btn btn-xs btn-warning"
            ng-click="buttons.isCollapsed = false; buttons.upload = false;">
        <i class="fa fa-ban"></i> {{'CANCEL' | translate}}
    </button>
</div>