<form name="addOEE">
    <fieldset>
        <div class="row">
            <div class="col-sm-4">
                <label>{{'Date' | translate}}</label>
                <div class="form-group">
                    <div class="input-group">
                                    <span class="input-group-btn">
				                        <button type="button" class="btn btn-sm"
                                                style="background: #b6c2c9; color: white" ng-click="open($event)">
					                        <i class="fa fa-calendar"></i>
				                        </button>
			                        </span>
                        <input id="date" type="text"
                               class="form-control input-sm"
                               ng-click="open($event)"
                               datepicker-popup="MM-dd-yyyy"
                               ng-model="data.newEntry.timestamp"
                               is-open="data.opened" min-date="minDate"
                               max-date="maxDate"
                               datepicker-options="dateOptions"
                               ng-required="true"
                               close-text="Close"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label>{{'Work Center' | translate}}</label>
                <div class="form-group">
                    <input class="form-control input-sm" type="text" ng-model="data.newEntry.workCenter"
                           name="workCenter" id="workCenter" required
                           placeholder="{{'Work Center' | translate}}">
                </div>
            </div>
            <div class="col-sm-4">
                <label>{{'Shift' | translate}}</label>
                <div class="form-group"
                     ng-init="data.newEntry.shift = data.newEntry.shift == undefined ? 1 : data.newEntry.shift">
                    <label class="radio-inline"
                           ng-repeat="shift in getNumber($root.org.configuration.conf.numShifts) track by $index">
                        <input type="radio" name="optionsRadios" ng-model="data.newEntry.shift" ng-value="$index + 1">
                        {{$index + 1}}
                    </label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <label>{{'Planned Operating Time (m)' | translate}}</label>
                <div class="form-group">
                    <input class="form-control input-sm" type="number" name="plannedOperatingTime" min="0"
                           id="plannedOperatingTime" placeholder="{{'Planned Operating Time' | translate}}"
                           ng-model="data.newEntry.plannedOperatingTime">
                </div>
            </div>
            <div class="col-sm-4">
                <label>{{'Weighted Average Cycle Time (m)' | translate}}</label>
                <div class="form-group">
                    <input class="form-control input-sm" type="number" name="weightedAvgCycleTime" min="0"
                           id="weightedAvgCycleTime" placeholder="{{'Weighted Average Cycle Time' | translate}}"
                           ng-model="data.newEntry.weightedAvgCycleTime">
                </div>
            </div>
            <div class="col-sm-4">
                <label>{{'Good Pieces Completed' | translate}}</label>
                <div class="form-group">
                    <input class="form-control input-sm" type="number" name="goodPiecesCompleted" min="0"
                           id="goodPiecesCompleted" placeholder="{{'Good Pieces Completed' | translate}}"
                           ng-model="data.newEntry.goodPiecesCompleted">
                </div>
            </div>
        </div>
    </fieldset>
</form>