<div class="row">
    <div class="col-sm-12" style="overflow-x: visible;">
        <table st-table="data.displayedOeeEntries" multi-select-table="data.displayedOeeEntries"
               st-pipe="getOEEEntries"
               class="table table-hover table-condensed table-deviation oee-table table-scroll m-t-10 m-b-0">
            <thead>
            <tr>
                <th st-sort="timestamp">{{'Date' | translate}}</th>
                <th st-sort="workCenter">{{'Work Center' | translate}}</th>
                <th st-sort="shift">{{'Shift' | translate}}</th>
                <th>{{'Planned Operating Time' | translate}}</th>
                <th>{{'Weighted Average Cycle Time' | translate}}</th>
                <th>{{'Good Pieces Completed' | translate}}</th>
                <th style="width: 10%"></th>
            </tr>
            <tr>
                <th colspan="7" style="white-space: normal;">
                    <div ng-include="'app/main/datasources/data/views/filter.html'"></div>
                </th>
            </tr>
            <!--<tr ng-hide="data.displayedOeeEntries.length < 5">-->
            <!--<th colspan="7"><input st-search="" placeholder="Search"-->
            <!--class="input-sm form-control" type="search"/></th>-->
            <!--</tr>-->
            </thead>
            <tbody>
            <tr ng-mouseenter="show = true" ng-mouseleave="show = false" class="pointer"
                multi-select-row="row"
                ng-repeat="row in data.displayedOeeEntries">
                <td>{{row.timestamp | date : 'short'}}</a></td>
                <td>{{row.workCenter}}</td>
                <td>{{row.shift}}</td>
                <td>{{row.plannedOperatingTime}}</td>
                <td>{{row.weightedAvgCycleTime}}</td>
                <td>{{row.goodPiecesCompleted}}</td>
                <td class="text-right" style="padding:5px 15px; min-width: 75px;">
                    <button type="button"
                            ng-show="show && !buttons.isCollapsed" class="btn btn-xs btn-warning"
                            ng-click="edit(row)">
                        <i class="fa fa-pencil"></i> {{'EDIT' | translate}}
                    </button>
                </td>
            </tr>
            <tr ng-hide="data.displayedOeeEntries.length > 0">
                <td colspan="7" style="background-color: white"><span
                        style="display: flex; justify-content: center; opacity: 0.3;">
                                                <h5>{{'There are no OEE entries available' |
                                                    translate}}</h5>
                                        </span></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="7">
                    <div class="pull-left" st-items-by-page="itemPerPage"
                         st-pagination=""
                         st-template="app/shared/tables/views/pagination-custom.html"></div>
                    <nav>
                        <ul class="pagination pagination-sm pull-right"
                            style="margin-bottom: 0" ng-init="itemPerPage = 15">
                            <li ng-class="{'active': itemPerPage == 5}"><a href="" ng-click="itemPerPage = 5">5</a></li>
                            <li ng-class="{'active': itemPerPage == 15}"><a href="" ng-click="itemPerPage = 15">15</a>
                            </li>
                            <li ng-class="{'active': itemPerPage == 25}"><a href="" ng-click="itemPerPage = 25">25</a>
                            </li>
                            <li ng-class="{'active': itemPerPage == 50}"><a href="" ng-click="itemPerPage = 50">50</a>
                            </li>
                        </ul>
                    </nav>
                </td>
            </tr>
            </tfoot>
        </table>
    </div>
</div>
