<div class="no-hor-padding" style="display: flex" ng-class="{'file-loaded' : data.file !== null}">
    <input id="input-1a" type="file" class="file"
           data-show-preview="false"/>
    <button type="button" ng-show="data.file"
            title="{{'Validate' | translate}} "
            ng-click="preAnalyze();"
            class="btn btn-success btn-sm kv-fileinput-upload fileinput-upload-button upload-preanalyze pull-right">
        <i class="fa fa-check-circle"></i> {{'Pre-Analyze' | translate}}
    </button>
    <button type="submit" ng-show="data.file"
            title="{{'UPLOAD_SELECTED_FILES' | translate}} "
            ng-click="submitFile();  buttons.upload = false;"
            class="btn btn-default btn-sm kv-fileinput-upload fileinput-upload-button upload-submit pull-right">
        <i class="fa fa-upload"></i> {{'Submit' | translate}}
    </button>
</div>
<div ng-if="!controls.analysis" class="m-t-10">
    <legend>{{'File Format'| translate}}</legend>
    <div class="row m-t-10">
        <div class="col-sm-12">
            <pre style="position: relative"><button class="btn btn-sm fa fa-clipboard"
                                                    ng-click="copy(data.samplePreview)"
                                                    style="top: 0;right: 0; position: absolute"></button><button
                    class="btn btn-sm fa fa-download"
                    ng-click="downloadSample('oee')"
                    style="top: 0;right: 35px; position: absolute"></button>{{data.samplePreview}}</pre>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table st-table="data.fieldsDescription"
                   class="table table-condensed m-b-0" style="overflow-x: auto">
                <thead>
                <tr>
                    <th>{{'Order' | translate}}</th>
                    <th>{{'Field' | translate}}</th>
                    <th>{{'Type' | translate}}</th>
                    <th>{{'Description' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in data.fieldsDescription track by $index">
                    <td>{{$index}}</td>
                    <td>{{row.name}}</td>
                    <td>{{row.type}}</td>
                    <td>{{row.description}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="m-t-10">
    <button type="button" class="btn btn-default btn-xs" ng-show="controls.analysis"
            ng-click="controls.analysis=false;">
        <i class="fa fa-arrow-left"></i> {{'Back' | translate}}
    </button>
    <div class="row m-t-10 table-responsive" ng-if="controls.analysis">
        <div class="col-sm-12">
            <table st-table="data.filePreview"
                   class="table table-condensed m-b-0" style="overflow-x: auto; max-height: 400px">
                <thead>
                <tr>
                    <th></th>
                    <th>{{'Date' | translate}}</th>
                    <th>{{'Time' | translate}}</th>
                    <th>{{'Work Center' | translate}}</th>
                    <th>{{'Shift' | translate}}</th>
                    <th>{{'Planned Operating Time' | translate}}</th>
                    <th>{{'Weighted Average Cycle Time (min)' | translate}}</th>
                    <th>{{'Good Pieces Completed' | translate}}</th>
                    <th>Errors</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in data.filePreview track by $index" class="upload-row">
                    <td style="color: #242a30;">
                        {{$index + 1}}
                    </td>
                    <td ng-class="{'text-danger cell-danger' : row.errors.indexOf(0) > -1}">
                        {{row[0]}}
                    </td>
                    <td ng-class="{'text-danger cell-danger' : row.errors.indexOf(1) > -1}">
                        {{row[1]}}
                    </td>
                    <td ng-class="{'text-danger cell-danger' : row.errors.indexOf(2) > -1}">
                        {{row[2]}}
                    </td>
                    <td ng-class="{'text-danger cell-danger' : row.errors.indexOf(3) > -1}">
                        {{row[3]}}
                    </td>
                    <td ng-class="{'text-danger cell-danger' : row.errors.indexOf(4) > -1, 'cell-warning': row[4] == ''}">
                        {{row[4]}}
                    </td>
                    <td ng-class="{'text-danger cell-danger' : row.errors.indexOf(5) > -1, 'cell-warning': row[5] == ''}">
                        {{row[5]}}
                    </td>
                    <td ng-class="{'text-danger cell-danger' : row.errors.indexOf(6) > -1, 'cell-warning': row[6] == ''}">
                        {{row[6]}}
                    </td>
                    <td style="font-size: 14px">{{row.errors.length}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>