<div class="btn-row">
    <a href="javascript:;" data-toggle="tooltip"
       data-container="body"
       data-title="Users" data-original-title="" title="Users" class="no-underline"><i
            class="fa fa-fw fa-users"></i>
        {{$ctrl.nUsers}}
    </a>
    <a href="javascript:;" data-toggle="tooltip" ng-if="$ctrl.workCenter.scheduleTemplate"
       data-container="body"
       data-title="Schedule" data-original-title="" title="Automatic OEE Scheduling" class="no-underline"><i
            class="fa fa-fw fa-clock-o"></i>
    </a>
</div>