<fieldset ng-enter="plantForm.step = 2">
    <legend class="pull-left width-full">Plant</legend>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group has-feedback"
                 ng-class="{'has-error': addPlant.name.$touched && !addPlant.name.$valid}">
                <label>Name</label>
                <input type="text" name="name" placeholder="US10" ng-minlength="3"
                       ng-pattern="/^[a-zA-Z]{1}[a-zA-Z0-9\s_\-@#$]{1,50}$/" required
                       class="form-control" ng-model="plantForm.plant.displayName" auto-focus="plantForm.step == 1">
                <p ng-if="addPlant.name.$touched && addPlant.name.$error.minlength"
                   class="m-0 text-danger">Name
                    must be longer than 3 characters</p>
                <p ng-if="addPlant.name.$touched && addPlant.name.$error.pattern"
                   class="m-0 text-danger">Name
                    must start with a letter and contain only numbers, letters and special
                    characters included in [_-@#$]</p>
            </div>
        </div>
    </div>
</fieldset>