<fieldset validated="plantForm.step == 2 && addPlant.$valid && !buttons.submitted" ng-enter="save();">
    <legend class="pull-left width-full">Users</legend>
    <div ng-include="'app/main/administration/users/views/list.form.html'"></div>
</fieldset>