<fieldset validated="orgForm.step == 2 && addOrg.$valid && !buttons.submitted" ng-enter="save()">
    <legend class="pull-left width-full">Admin User</legend>
    <div class="form-group m-b-0"
         ng-class="{'has-error' : !addOrg.userFirstName.$valid && !addOrg.userFirstName.$pristine}">
        <label class="control-label">Name</label>
        <div class="row m-b-10">
            <div class="col-md-12">
                <input type="text" ng-model="orgForm.user.firstName" class="form-control"
                       name="userFirstName" autocomplete="name fname"
                       required="required" placeholder="First Name" ng-maxlength="256"
                       ng-minlength="5" auto-focus="orgForm.step == 2"/>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.userFirstName.$error.required && !addOrg.userFirstName.$pristine">
                    Name is required.</p>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.userFirstName.$error.maxlength && !addOrg.userFirstName.$pristine">
                    Name must be less than 256 characters</p>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.userFirstName.$error.minlength && !addOrg.userFirstName.$pristine">
                    Name must be at least 5 characters</p>
            </div>
        </div>
    </div>
    <div class="form-group  m-b-0"
         ng-class="{'has-error' : !addOrg.email.$valid && !addOrg.email.$pristine}">
        <label class="control-label-required">Email</label>
        <div class="row">
            <div class="col-md-12">
                <input id="email" type="email" ng-model="orgForm.user.email"
                       class="form-control" placeholder="Email address" name="email"
                       required maxlength="256" ng-pattern="controls.emailFormat"/>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.email.$error.required && !addOrg.email.$pristine">
                    Email is required.</p>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.email.$invalid && !addOrg.email.$pristine && !addOrg.email.$error.required">
                    Invalid Email format</p>
            </div>
        </div>
    </div>
</fieldset>