<fieldset ng-enter="orgForm.step = 2">
    <legend class="pull-left width-full">Organization</legend>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group"
                 ng-class="{'has-error' : addOrg.company.$invalid && !addOrg.company.$pristine}">
                <label>Name</label>
                <input type="text" name="company" placeholder="Bosch Software Innovations"
                       autocomplete="organization" ng-pattern="/^[a-z\d\-_\s]+$/i"
                       class="form-control" ng-model="orgForm.org.displayName"
                       ng-maxlength="30" ng-minlength="4" required auto-focus="orgForm.step == 1">
                <p class="text-danger m-b-0"
                   ng-if="addOrg.company.$error.required && !addOrg.company.$pristine">
                    Organization name is required.</p>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.company.$error.pattern && !addOrg.company.$pristine">
                    Organization should only have alphanumeric characters and spaces</p>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.company.$error.maxlength && !addOrg.company.$pristine">
                    Organization name must be less than 30 characters</p>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.company.$error.minlength && !addOrg.company.$pristine">
                    Organization name must be at least 5 characters</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group"
                 ng-class="{'has-error' : addOrg.address.$invalid && !addOrg.address.$pristine}">
                <label>Street</label>
                <input type="text" name="address" placeholder="161 N Clark St"
                       autocomplete="street-address"
                       class="form-control" ng-model="orgForm.org.address.street" required>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.address.$error.required && !addOrg.address.$pristine">
                    Address street is required.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{'has-error' : addOrg.city.$invalid && !addOrg.city.$pristine}">
                <label>City</label>
                <input type="text" name="city" placeholder="Chicago" autocomplete="address-level2"
                       class="form-control" ng-model="orgForm.org.address.city" required>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.city.$error.required && !addOrg.city.$pristine">
                    Address city is required.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{'has-error' : addOrg.zip.$invalid && !addOrg.zip.$pristine}">
                <label>Zip Code</label>
                <input type="text" name="zip" placeholder="60601"
                       autocomplete="postal-code" ng-pattern="/^[0-9]*$/i"
                       class="form-control" ng-model="orgForm.org.address.zip" required>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.zip.$error.required && !addOrg.zip.$pristine">
                    Address zipcode is required.</p>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.zip.$error.pattern && !addOrg.zip.$pristine">
                    Zipcode must be numeric.</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="form-group"
                 ng-class="{'has-error' : addOrg.state.$invalid && !addOrg.state.$pristine}">
                <label>State</label>
                <input type="text" name="state" placeholder="IL" autocomplete="address-level1"
                       class="form-control" ng-model="orgForm.org.address.state" required>
                <p class="text-danger m-b-0"
                   ng-if="addOrg.state.$error.required && !addOrg.state.$pristine">
                    Address state is required.</p>
            </div>
        </div>
    </div>
</fieldset>