<div class="container">
    <div growl class="growl-container"></div>
</div>
<div id="page-container"
     class="fade page-sidebar-fixed page-header-fixed in fill">
    <div ng-include="'app/shared/navigation/views/app.html'" class="mobile"></div>
    <div id="content" class="content fill" style="background-color: #f7f6f3">
        <div class="outerStaticContainer height-full">
            <div class="innerScrollableContent" style="overflow:visible; min-height: 100%;">
                <div ng-include="'app/main/oee/views/top-menu.html'"></div>
                <div class="container">
                    <div class="row m-0 p-t-10">
                        <div class="row">
                            <div class="col-md-12">
                                <div ng-include="'app/main/oee/views/content/filters.html'"></div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-3">
                                <div ng-include="'app/main/oee/views/content/monitors.html'"></div>
                                <div class="row m-b-10">
                                    <div class="col-sm-12">
                                        <div class="card m-b-0">
                                            <div class="image gallery-group-2 isotope-item p-5">
                                                <div class="image-info">
                                                    <h4 class="title f-w-600">Analysis </h4>
                                                </div>
                                                <div class="image-inner">
                                                    <a href="javascript:;" ng-click="goToAnalysis()"
                                                       data-lightbox="gallery-group-2">
                                                        <img src="images/mmparetos.png" alt=""
                                                             style="width: 100%">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row m-b-10">
                                    <div class="col-sm-12">
                                        <div class="card m-b-0">
                                            <div class="image gallery-group-2 isotope-item p-5"
                                                 ng-click="selectState('/services/consulting')">
                                                <div class="image-info">
                                                    <h4 class="title f-w-600">Consulting</h4>
                                                </div>
                                                <div class="image-inner">
                                                    <a href="" data-lightbox="gallery-group-2">
                                                        <img src="images/consulting-bosch.jpg" alt=""
                                                             style="width: 100%">
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div class="row p-col-5">
                                    <div class="col-sm-12">
                                        <div ng-include="'app/main/oee/views/content/charts.html'"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div ng-include="'app/shared/navigation/views/footer.html'"></div>
        </div>
    </div>
</div>