<div id="top-menu" class="top-menu collapse">
    <ul class="container nav">
        <li ng-class="'active'" class="f-s-14"><a
                href="javascript:;"><i
                class="f-s-14 fa fa-home"></i><span> {{'Home' | translate}}</span></a></li>
        <li ng-class="{active: getState() == '/services'}" class="f-s-14"><a
                href="javascript:;" ng-click="selectState('/services')"><i
                class="f-s-14 fa fa-users"></i><span> {{'Services' | translate}}</span></a></li>
        <li ng-class="{active: getState() == '/datasources'}" class="f-s-14"><a
                href="javascript:;" ng-click="selectState('/datasources')"><i
                class="f-s-14 fa fa-upload"></i><span> {{'Data' | translate}}</span></a></li>
        <li ng-class="{active: getState() == '/analysis'}" class="f-s-14"><a
                href="javascript:;" ng-click="goToAnalysis()"><i
                class="f-s-14 fa fa-bar-chart"></i><span> {{'Analysis' | translate}}</span></a></li>
        <li class="navbar-user">
            <a href class="dropdown-toggle" data-toggle="collapse" data-target="#user-sub-menu">
                <img user-image user="currentUser" alt=""/>
                <span>{{currentUser.displayName}}</span>
                <b class="caret"></b>
            </a>
            <ul id="user-sub-menu" class="sub-menu collapse">
                <li><a href="javascript:;" ng-click="selectState('/admin')" permission
                       permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER', 'PRODUCTION_MANAGER']">Organizations</a>
                </li>
                <li><a href="javascript:;" ng-click="selectState('/account')">Account</a></li>
                <li><a href="javascript:;" ng-click="logout()">{{'LOGOUT' | translate}}</a></li>
            </ul>
        </li>
    </ul>
</div>