<div id="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="close()" class="close" data-dismiss="modal"
                    aria-hidden="true">x
            </button>
            <h4 class="modal-title">Deviation Codes</h4>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-sm-12">
                    <label>{{'Deviation 1 Level' | translate}}</label>
                    <div class="form-group">
                        <ui-select ng-model="data.selectedDeviation" theme="bootstrap"
                                   close-on-select=true
                                   on-select="data.selectedType = null; data.selectedGroup = null; data.selectedGroupType = null;">
                            <ui-select-match
                                    placeholder="{{'Select Deviation' | translate}}">
                                {{$select.selected.displayName | translate}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="deviation1 in data.deviationData | filter: $select.search">
                                <div
                                        ng-bind-html="deviation1.displayName | translate | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>{{'Deviation 2 Level' | translate}}</label>
                    <div class="form-group">
                        <ui-select ng-model="data.selectedType" theme="bootstrap"
                                   close-on-select=true
                                   on-select="data.selectedGroup = null; data.selectedGroupType = null;">
                            <ui-select-match
                                    placeholder="{{'Select Type' | translate}}">
                                {{$select.selected.displayName | translate}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="deviation2 in data.selectedDeviation.content | filter: $select.search">
                                <div
                                        ng-bind-html="deviation2.displayName | translate | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>{{'Deviation 3 Level' | translate}}</label>
                    <div class="form-group">
                        <ui-select ng-model="data.selectedGroup" theme="bootstrap"
                                   close-on-select=true on-select="data.selectedGroupType = null;">
                            <ui-select-match
                                    placeholder="{{'Select Group' | translate}}">
                                {{$select.selected.displayName | translate}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="deviation3 in data.selectedType.content | filter: $select.search">
                                <div
                                        ng-bind-html="deviation3.displayName | translate | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>{{'Deviation 4 Level' | translate}}</label>
                    <div class="form-group m-b-0">
                        <ui-select ng-model="data.selectedGroupType" theme="bootstrap" class="no-wrap"
                                   close-on-select=true>
                            <ui-select-match
                                    placeholder="{{'Select Group Type' | translate}}">
                                {{$select.selected.displayName | translate}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="deviation4 in data.selectedGroup.content | filter: $select.search">
                                <div
                                        ng-bind-html="deviation4.displayName | translate | highlight: $select.search"></div>
                                <small
                                        ng-bind-html="deviation4.description | translate | highlight: $select.search"></small>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a class="btn btn-sm btn-white" ng-click="close()" data-dismiss="modal">Close</a>
            <a ng-click="copyDeviations(); close()" class="btn btn-sm btn-info">Copy Selection</a>
        </div>
    </div>
</div>