<form action="/" method="POST" name="addDeviation">
    <fieldset>
        <div class="row">
            <div class="col-sm-4">
                <label>{{'Date' | translate}}</label>
                <div class="form-group">
                    <div class="input-group">
                                    <span class="input-group-btn">
				                        <button type="button" class="btn btn-sm"
                                                style="background: #b6c2c9; color: white" ng-click="open($event)">
					                        <i class="fa fa-calendar"></i>
				                        </button>
			                        </span>
                        <input id="date" type="text"
                               class="form-control input-sm"
                               ng-click="open($event)"
                               datepicker-popup="MM-dd-yyyy"
                               ng-model="data.newEntry.timestamp"
                               is-open="data.opened" min-date="minDate"
                               max-date="maxDate"
                               datepicker-options="dateOptions"
                               ng-required="true"
                               close-text="Close"/>
                    </div>
                </div>
            </div>
            <div class="col-sm-2">
                <label>{{'Plant' | translate}}</label>
                <div class="form-group">
                    <input class="form-control input-sm" type="text" ng-model="data.newEntry.plant"
                           name="plant" id="plant" placeholder="{{'Plant' | translate}}">
                </div>
            </div>
            <div class="col-sm-2">
                <label>{{'Cost Center' | translate}}</label>
                <div class="form-group">
                    <input class="form-control input-sm" type="text" ng-model="data.newEntry.costCenter"
                           name="costCenter" id="costCenter"
                           placeholder="{{'Cost Center' | translate}}">
                </div>
            </div>
            <div class="col-sm-2">
                <label>{{'Work Center' | translate}}</label>
                <div class="form-group">
                    <input class="form-control input-sm" type="text" ng-model="data.newEntry.workCenter"
                           name="workCenter" id="workCenter"
                           placeholder="{{'Work Center' | translate}}">
                </div>
            </div>
            <div class="col-sm-2">
                <label>{{'Shift' | translate}}</label>
                <!--<div class="form-group">-->
                <!--<input class="form-control input-sm" type="number" min="1" max="3"-->
                <!--name="shift"-->
                <!--id="shift" placeholder="{{'Shift' | translate}}"-->
                <!--ng-model="data.newEntry.shift">-->
                <!--</div>-->
                <div class="form-group"
                     ng-init="data.newEntry.shift = data.newEntry.shift == undefined ? 1 : data.newEntry.shift">
                    <label class="radio-inline"
                           ng-repeat="shift in getNumber($root.org.configuration.conf.numShifts) track by $index">
                        <input type="radio" name="optionsRadios" ng-model="data.newEntry.shift" ng-value="$index + 1">
                        {{$index + 1}}
                    </label>
                </div>
                <!--<div class="form-group">-->
                <!--<label class="radio-inline">-->
                <!--<input type="radio" name="optionsRadios" ng-model="data.newEntry.shift" value="1"-->
                <!--ng-init="data.newEntry.shift = 1">-->
                <!--1-->
                <!--</label>-->
                <!--<label class="radio-inline">-->
                <!--<input type="radio" name="optionsRadios" ng-model="data.newEntry.shift" value="2">-->
                <!--2-->
                <!--</label>-->
                <!--<label class="radio-inline">-->
                <!--<input type="radio" name="optionsRadios" ng-model="data.newEntry.shift" value="3">-->
                <!--3-->
                <!--</label>-->
                <!--</div>-->
            </div>
        </div>
        <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
        <!--<div class="checkbox">-->
        <!--<label> <input style="margin-top: 1px" class="pointer" ng-init="controls.freeText = true"-->
        <!--type="checkbox" ng-model="controls.freeText">Free Text-->
        <!--</label>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <div class="row">
            <div class="col-sm-1">
                <label>{{'Select' | translate}}</label>
                <button type="button" class="btn btn-default btn-block btn-sm" ng-click="showDeviationCodes()"><i
                        class="fa fa-file"></i> Deviations
                </button>
            </div>
            <div class="col-sm-11">
                <div class="col-sm-3">
                    <label>{{'Deviation 1 Level' | translate}}</label>
                    <div class="form-group">
                        <input class="form-control input-sm" type="text"
                               ng-model="data.newEntry.deviation1Level"
                               placeholder="{{'Deviation 1 Level' | translate}}"
                               name="deviation1Level" id="deviation1Level">
                        <!--<ui-select ng-model="data.selectedDeviation" theme="bootstrap"-->
                        <!--close-on-select=true>-->
                        <!--<ui-select-match-->
                        <!--placeholder="{{'Select Deviation' | translate}}">-->
                        <!--{{$select.selected.displayName | translate}}-->
                        <!--</ui-select-match>-->
                        <!--<ui-select-choices-->
                        <!--repeat="deviation1 in data.deviationData | filter: $select.search">-->
                        <!--<div-->
                        <!--ng-bind-html="deviation1.displayName | translate | highlight: $select.search"></div>-->
                        <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>{{'Deviation 2 Level' | translate}}</label>
                    <div class="form-group">
                        <input class="form-control input-sm" type="text"
                               ng-model="data.newEntry.deviation2Level"
                               placeholder="{{'Deviation 2 Level' | translate}}"
                               name="deviation2Level" id="deviation2Level">
                        <!--<ui-select ng-model="data.selectedType" theme="bootstrap"-->
                        <!--close-on-select=true>-->
                        <!--<ui-select-match-->
                        <!--placeholder="{{'Select Type' | translate}}">-->
                        <!--{{$select.selected.displayName | translate}}-->
                        <!--</ui-select-match>-->
                        <!--<ui-select-choices-->
                        <!--repeat="deviation2 in data.selectedDeviation.content | filter: $select.search">-->
                        <!--<div-->
                        <!--ng-bind-html="deviation2.displayName | translate | highlight: $select.search"></div>-->
                        <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>{{'Deviation 3 Level' | translate}}</label>
                    <div class="form-group">
                        <input class="form-control input-sm" type="text"
                               ng-model="data.newEntry.deviation3Level"
                               placeholder="{{'Deviation 3 Level' | translate}}"
                               name="deviation3Level" id="deviation3Level">
                        <!--<ui-select ng-model="data.selectedGroup" theme="bootstrap"-->
                        <!--close-on-select=true>-->
                        <!--<ui-select-match-->
                        <!--placeholder="{{'Select Group' | translate}}">-->
                        <!--{{$select.selected.displayName | translate}}-->
                        <!--</ui-select-match>-->
                        <!--<ui-select-choices-->
                        <!--repeat="deviation3 in data.selectedType.content | filter: $select.search">-->
                        <!--<div-->
                        <!--ng-bind-html="deviation3.displayName | translate | highlight: $select.search"></div>-->
                        <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    </div>
                </div>
                <div class="col-sm-3">
                    <label>{{'Deviation 4 Level' | translate}}</label>
                    <div class="form-group">
                        <input class="form-control input-sm" type="text"
                               ng-model="data.newEntry.deviation4Level"
                               placeholder="{{'Deviation 4 Level' | translate}}"
                               name="deviation4Level" id="deviation4Level">
                        <!--<ui-select ng-model="data.selectedGroupType" theme="bootstrap" class="no-wrap"-->
                        <!--close-on-select=true>-->
                        <!--<ui-select-match-->
                        <!--placeholder="{{'Select Group Type' | translate}}">-->
                        <!--{{$select.selected.displayName | translate}}-->
                        <!--</ui-select-match>-->
                        <!--<ui-select-choices-->
                        <!--repeat="deviation4 in data.selectedGroup.content | filter: $select.search">-->
                        <!--<div-->
                        <!--ng-bind-html="deviation4.displayName | translate | highlight: $select.search"></div>-->
                        <!--<small-->
                        <!--ng-bind-html="deviation4.description | translate | highlight: $select.search"></small>-->
                        <!--</ui-select-choices>-->
                        <!--</ui-select>-->
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3">
                <label>{{'Duration (h)' | translate}}</label>
                <div class="form-group">
                    <input class="form-control input-sm" type="number" name="duration" min="0"
                           id="duration" placeholder="{{'Duration (h)' | translate}}"
                           ng-model="data.newEntry.duration">
                </div>
            </div>
            <div class="col-sm-3">
                <label>{{'Amount ($)' | translate}}</label>
                <div class="form-group">
                    <input class="form-control input-sm" type="number" name="amount" min="0"
                           id="amount" placeholder="{{'Amount ($)' | translate}}"
                           ng-model="data.newEntry.amount">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>{{'Part Number' | translate}}</label>
                    <input class="form-control input-sm" type="text" ng-model="data.newEntry.partNumber"
                           name="partNumber" id="partNumber"
                           placeholder="{{'Part Number' | translate}}">
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group">
                    <label>{{'Comment' | translate}}</label>
                    <input class="form-control input-sm" type="text" ng-model="data.newEntry.comment"
                           name="comment" id="comment" placeholder="{{'Comment' | translate}}">
                </div>
            </div>
        </div>
    </fieldset>
</form>