<table st-pipe="getDeviationEntries" st-table="data.displayedDeviationEntries"
       multi-select-table="data.displayedDeviationEntries"
       class="table table-hover table-condensed table-deviation table-scroll m-t-10 m-b-0">
    <thead>
    <tr>
        <th st-sort="timestamp">{{'Date' | translate}}</th>
        <th st-sort="plant">{{'Plant' | translate}}</th>
        <th st-sort="workCenter">{{'Work Center' | translate}}</th>
        <th st-sort="costCenter">{{'Cost Center' | translate}}</th>
        <th st-sort="shift">{{'Shift' | translate}}</th>
        <th st-sort="deviation1Level">{{'Deviation 1 Level' | translate}}</th>
        <th st-sort="deviation2Level">{{'Deviation 2 Level' | translate}}</th>
        <th st-sort="deviation3Level">{{'Deviation 3 Level' | translate}}</th>
        <th st-sort="deviation4Level">{{'Deviation 4 Level' | translate}}</th>
        <th st-sort="duration">{{'Duration (h)' | translate}}</th>
        <th st-sort="amount">{{'Amount ($)' | translate}}</th>
        <th st-sort="partNumber">{{'Part Number' | translate}}</th>
        <th st-sort="comment">{{'Comment' | translate}}</th>
        <th></th>
    </tr>
    <tr>
        <th colspan="14" style="white-space: normal;">
            <div ng-include="'app/main/datasources/data/views/filter.html'"></div>
        </th>
    </tr>
    <!--<tr ng-hide="data.displayedDeviationEntries.length < 5">-->
    <!--<th colspan="14"><input st-search="" placeholder="Search"-->
    <!--class="input-sm form-control" type="search"/></th>-->
    <!--</tr>-->
    </thead>
    <tbody>
    <tr ng-mouseenter="show = true" ng-mouseleave="show = false" class="pointer" multi-select-row="row"
        ng-repeat="row in data.displayedDeviationEntries">
        <td>{{row.timestamp | date : 'short'}}</a></td>
        <td>{{row.plant}}</td>
        <td>{{row.workCenter}}</td>
        <td>{{row.costCenter}}</td>
        <td>{{row.shift}}</td>
        <td>{{row.deviation1Level}}</td>
        <td>{{row.deviation2Level}}</td>
        <td>{{row.deviation3Level}}</td>
        <td>{{row.deviation4Level}}</td>
        <td>{{row.duration}}</td>
        <td>{{row.amount}}</td>
        <td>{{row.partNumber}}</td>
        <td>{{row.comment}}</td>
        <td class="text-right" style="padding:5px 15px; min-width: 75px">
            <button type="button"
                    ng-show="show" class="btn btn-xs btn-warning"
                    ng-click="edit(row)">
                <i class="fa fa-pencil"></i> {{'EDIT' | translate}}
            </button>
        </td>
    </tr>
    <tr ng-hide="data.displayedDeviationEntries.length > 0">
        <td colspan="14" style="background-color: white"><span
                style="display: flex; justify-content: center; opacity: 0.3;">
<h5>{{'There are no Deviation entries available' |
translate}}</h5>
</span></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="14">
            <div class="pull-left" st-items-by-page="itemPerPage"
                 st-pagination=""
                 st-template="app/shared/tables/views/pagination-custom.html"></div>
            <nav>
                <ul class="pagination pagination-sm pull-right"
                    style="margin-bottom: 0" ng-init="itemPerPage = 15">
                    <li ng-class="{'active': itemPerPage == 5}"><a href="" ng-click="itemPerPage = 5">5</a></li>
                    <li ng-class="{'active': itemPerPage == 15}"><a href="" ng-click="itemPerPage = 15">15</a></li>
                    <li ng-class="{'active': itemPerPage == 25}"><a href="" ng-click="itemPerPage = 25">25</a></li>
                    <li ng-class="{'active': itemPerPage == 50}"><a href="" ng-click="itemPerPage = 50">50</a></li>
                </ul>
            </nav>
        </td>
    </tr>
    </tfoot>
</table>