<div class="panel panel-inverse">
    <div class="panel-body">
        <form name="addOrg" autocomplete="on">
            <div id="wizard" class="bwizard clearfix">
                <ol class="bwizard-steps clearfix clickable" role="tablist">
                    <li role="tab" style="z-index: 4;" ng-click="orgForm.step = 1"
                        ng-class="{'active':orgForm.step == 1}"><span
                            class="label badge-inverse">1</span><a href
                                                                   class="hidden-phone">
                        Organization
                    </a></li>
                    <li role="tab" style="z-index: 2;" ng-click="orgForm.step = 2"
                        ng-class="{'active':orgForm.step == 2}"><span
                            class="label">2</span><a href class="hidden-phone">
                        Admin
                    </a></li>
                </ol>
                <div class="well">
                    <div id="step1" role="tabpanel"
                         ng-show="orgForm.step == 1">
                        <div ng-include="'app/main/administration/organizations/views/add/organization.html'"></div>
                    </div>
                    <div id="step3" role="tabpanel"
                         ng-show="orgForm.step == 2">
                        <div ng-include="'app/main/administration/organizations/views/add/admin-user.html'"></div>
                    </div>
                </div>
                <ul class="pager bwizard-buttons">
                    <li class="previous" role="button" ng-hide="orgForm.step == 1"><a href
                                                                                      ng-click="orgForm.step == 1 ? orgForm.step = orgForm.step : orgForm.step = orgForm.step - 1">←
                        Previous</a></li>
                    <li class="next" role="button" ng-hide="orgForm.step == 2"><a href
                                                                                  ng-click="orgForm.step == 2 ? step = orgForm.step : orgForm.step = orgForm.step + 1">Next
                        →</a></li>
                    <li class="next m-r-5" role="button"
                        ng-if="orgForm.step == 2 && addOrg.$valid && !buttons.submitted"><a
                            class="bg-green text-white"
                            ng-click="save();"><i
                            class="fa fa-save"></i> Save</a></li>
                    <li class="next m-r-5 disabled" role="button"
                        ng-if="(orgForm.step == 2 && !addOrg.$valid) || buttons.submitted"><a
                            class="bg-green text-white"><i
                            class="fa fa-save" ng-if="!buttons.submitted"></i><i
                            class="fa fa-spinner fa-pulse fa-fw" ng-if="buttons.submitted"></i>
                        Save</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>