<div class="pull-right">
    <button
            type="button" class="btn btn-xs btn-success"
            ng-click="add()">
        <i class="fa fa-plus-circle"></i> {{'ADD' | translate}}
    </button>
    <button
            type="button" class="btn btn-xs btn-default"
            ng-click="refresh()">
        <i class="fa fa-refresh"></i> {{'REFRESH' | translate}}
    </button>
</div>