<div class="container height-full">
    <div class="row m-0 p-t-10">
        <div class="card panel-body min-height-40 m-b-0" ng-show="data.configuration != null">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="m-t-0">
                        {{'Configuration' | translate}}
                        <small>{{data.organization.displayName}}</small>
                        <span class="pull-right schedule-controls">
                            <button type="button" class="btn btn-xs btn-success"
                                    ng-show="controls.edit"
                                    ng-click="saveOrganizationConfiguration(); controls.edit = false;">
                                <i class="fa fa-save"></i> {{'SAVE' | translate}}
                            </button>
                            <button type="button" class="btn btn-xs btn-danger"
                                    ng-show="controls.edit"
                                    ng-click="cancel(); controls.edit = false;">
                                <i class="fa fa-ban"></i> {{'CANCEL' | translate}}
                            </button>
                            <button type="button" class="btn btn-xs btn-warning"
                                    ng-show="!controls.edit"
                                    ng-click="editConfiguration(); controls.edit = true;">
                                <i class="fa fa-pencil"></i> {{'EDIT' | translate}}
                            </button>
                        </span>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <label>{{'Number of Shifts' | translate}}</label>
                    <div class="form-group m-b-0" style="width:200px;">
                        <input class="form-control input-sm" type="number" name="shifts"
                               ng-disabled="!controls.edit"
                               id="shifts" placeholder="{{'# of Shifts' | translate}}"
                               ng-model="data.configuration.conf.numShifts">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-0 p-t-10 p-b-10">
        <div class="card panel-body min-height-40 m-b-0">
            <div class="row">
                <div class="col-md-12">
                    <h3 class="m-t-0">
                        {{'Overview' | translate}}
                        <small>{{data.organization.displayName}}</small>
                    </h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-condensed table-hover m-b-0">
                            <thead>
                            <tr>
                                <th class="text-center"><i class="fa fa-users"></i> {{'Users' |
                                    translate}}
                                </th>
                                <th class="text-center"><i class="fa fa-industry"></i> {{'Plants' |
                                    translate}}
                                </th>
                                <th class="text-center"><i class="fa fa-usd"></i> {{'Cost Centers' |
                                    translate}}
                                </th>
                                <th class="text-center"><i class="fa fa-gear"></i> {{'Work Centers'
                                    | translate}}
                                </th>
                                <th class="text-center"><i class="fa fa-upload"></i> {{'Deviation
                                    Entries' |
                                    translate}}
                                </th>
                                <th class="text-center"><i class="fa fa-bar-chart"></i> {{'OEE
                                    Entries' | translate}}
                                </th>
                                <th class="text-center"><i class="fa fa-area-chart"></i>
                                    {{'Analyses' | translate}}
                                </th>
                                <!--<th class="text-center"><i class="fa fa-clock-o"></i> {{'Scheduled WCs' | translate}}-->
                                <!--</th>-->
                                <th class="text-center"><i class="fa fa-user-plus"></i>
                                    {{'Subscription Plan' |
                                    translate}}
                                </th>
                                <th class="text-center"><i class="fa fa-credit-card"></i>
                                    {{'Subscription Cost' |
                                    translate}}
                                </th>
                                <th class="text-center"><i class="fa fa-database"></i>
                                    {{'Database Size (MB)' |
                                    translate}}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td class="text-center">{{data.organization.statistics.nUsers ||
                                    0}}
                                </td>
                                <td class="text-center">{{data.organization.statistics.nPlants ||
                                    0}}
                                </td>
                                <td class="text-center">{{data.organization.statistics.nCostCenters
                                    || 0}}
                                </td>
                                <td class="text-center">{{data.organization.statistics.nWorkCenters
                                    || 0}}
                                </td>
                                <td class="text-center">
                                    {{data.organization.statistics.nDeviationEntries || 0}}
                                </td>
                                <td class="text-center">{{data.organization.statistics.nOEEEntries
                                    || 0}}
                                </td>
                                <td class="text-center">
                                    {{data.organization.statistics.nAnalysisVersions || 0}}
                                </td>
                                <!--<td class="text-center">{{data.organization.statistics.nWorkCenterSchedule || 0}}</td>-->
                                <td class="text-center">
                                    {{data.organization.statistics.subscriptionTier || 0}}
                                </td>
                                <td class="text-center">
                                    ${{(data.organization.statistics.subscriptionCost /
                                    100).toFixed(2) || 0}}
                                </td>
                                <td class="text-center">
                                    {{(data.organization.statistics.dbSizeInBytes /
                                    1000000).toFixed(2) || 0}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>