<div class="table-responsive">
    <table st-table="data.displayedOrganizations" st-safe-src="data.orgStatistics"
           st-selection="data.selectedOrganizations"
           class="table table-condensed table-hover m-b-0">
        <thead>
        <tr class="pointer">
            <th st-sort="organizationDisplayName">{{'NAME' | translate}}</th>
            <th class="text-center" st-sort="nUsers"><i class="fa fa-users"></i> {{'Users' | translate}}</th>
            <th class="text-center" st-sort="nPlants"><i class="fa fa-industry"></i> {{'Plants' | translate}}</th>
            <th class="text-center" st-sort="nCostCenters"><i class="fa fa-usd"></i> {{'Cost Centers' | translate}}</th>
            <th class="text-center" st-sort="nWorkCenters"><i class="fa fa-gear"></i> {{'Work Centers' | translate}}
            </th>
            <th class="text-center" st-sort="nDeviationEntries"><i class="fa fa-upload"></i> {{'Deviation Entries' |
                translate}}
            </th>
            <th class="text-center" st-sort="nOEEEntries"><i class="fa fa-bar-chart"></i> {{'OEE Entries' | translate}}
            </th>
            <th class="text-center" st-sort="subscriptionTier"><i class="fa fa-user-plus"></i> {{'Subscription Plan' |
                translate}}
            </th>
            <th class="text-center" st-sort="dbSizeInBytes"><i class="fa fa-database"></i>
                {{'Database Size (MB)' |
                translate}}
            </th>

        </tr>
        <tr ng-show="data.organizations.length > 5">
            <th colspan="9"><input st-search=""
                                   class="input-sm form-control"
                                   placeholder="{{'SEARCH' | translate}} {{'NAME' | translate}}"
                                   type="text"/></th>
        </tr>
        </thead>
        <tbody>
        <tr class="pointer"
            ng-repeat="row in data.displayedOrganizations | filter:search">
            <td><a href="" ng-click="selectState('/admin/organizations/' + row.organizationUuid)">{{row.organizationDisplayName}}</a>
            </td>
            <td class="text-center">{{row.nUsers || 0}}</td>
            <td class="text-center" ng-init="row.nPlants = row.nPlants == undefined ? 0 : row.nPlants">{{row.nPlants}}
            </td>
            <td class="text-center" ng-init="row.nCostCenters = row.nCostCenters == undefined ? 0 : row.nCostCenters">
                {{row.nCostCenters}}
            </td>
            <td class="text-center" ng-init="row.nWorkCenters = row.nWorkCenters == undefined ? 0 : row.nWorkCenters">
                {{row.nWorkCenters}}
            </td>
            <td class="text-center"
                ng-init="row.nDeviationEntries = row.nDeviationEntries == undefined ? 0 : row.nDeviationEntries">
                {{row.nDeviationEntries}}
            </td>
            <td class="text-center" ng-init="row.nOEEEntries = row.nOEEEntries == undefined ? 0 : row.nOEEEntries">
                {{row.nOEEEntries}}
            </td>
            <td class="text-center">{{row.subscriptionTier || "-"}}</td>
            <td class="text-center">{{(row.dbSizeInBytes / 1000000).toFixed(2) || 0}}</td>
        </tr>
        <tr class="white-pagination" ng-hide="data.displayedOrganizations.length > 0">
            <td colspan="9">
                <h5>{{'There are no Organizations available' | translate}}</h5>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr class="white-pagination">
            <td colspan="9">
                <div class="pull-left" st-items-by-page="itemPerPage"
                     st-pagination=""
                     st-template="app/shared/tables/views/pagination-custom.html"></div>
                <nav>
                    <ul class="pagination pagination-sm pull-right"
                        style="margin-bottom: 0">
                        <li><a href="" ng-click="itemPerPage = 5">5</a></li>
                        <li><a href="" ng-click="itemPerPage = 10">10</a></li>
                        <li><a href="" ng-click="itemPerPage = 25">25</a></li>
                        <li><a href="" ng-click="itemPerPage = 50">50</a></li>
                    </ul>
                </nav>
            </td>
        </tr>
        </tfoot>
    </table>
</div>