<div class="container height-full">
    <div class="row m-0 p-t-10 p-b-10">
        <div class="card panel-body min-height-40 m-b-0">
            <div ng-include="'app/main/administration/organizations/views/statistics.html'"></div>
        </div>
    </div>
    <div class="row m-0 p-t-10 height-full">
        <div class="card panel-body min-height-40">
            <div class="row">
                <div class="col-md-12">
                    <div ng-include="'app/main/administration/organizations/views/controls.html'"></div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div ng-include="'app/main/administration/organizations/views/list.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>