<div class="row">
    <div class="col-md-12">
        <h3 class="m-t-0">
            {{'System Metrics' | translate}}
        </h3>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-condensed table-hover m-b-0">
                <thead>
                <tr>
                    <th class="text-center"><i class="fa fa-building"></i> {{'Organizations' | translate}}
                    </th>
                    <th class="text-center"><i class="fa fa-users"></i> {{'Users' | translate}}</th>
                    <th class="text-center"><i class="fa fa-industry"></i> {{'Plants' | translate}}</th>
                    <th class="text-center"><i class="fa fa-usd"></i> {{'Cost Centers' | translate}}
                    </th>
                    <th class="text-center"><i class="fa fa-gear"></i> {{'Work Centers' | translate}}
                    </th>
                    <th class="text-center"><i class="fa fa-upload"></i> {{'Deviation Entries' |
                        translate}}
                    </th>
                    <th class="text-center"><i class="fa fa-bar-chart"></i> {{'OEE Entries' | translate}}
                    </th>
                    <th class="text-center"><i class="fa fa-area-chart"></i> {{'Analyses' | translate}}
                    </th>
                    <!--<th class="text-center"><i class="fa fa-clock-o"></i> {{'Scheduled Work Centers' | translate}}-->
                    <!--</th>-->
                    <th class="text-center"><i class="fa fa-user-plus"></i> {{'Started Subscriptions' |
                        translate}}
                    </th>
                    <th class="text-center"><i class="fa fa-user-plus"></i> {{'Team Subscriptions' |
                        translate}}
                    </th>
                    <th class="text-center"><i class="fa fa-user-plus"></i> {{'Premium Subscriptions' |
                        translate}}
                    </th>
                    <th class="text-center"><i class="fa fa-credit-card"></i> {{'Subscription Revenue' |
                        translate}}
                    </th>
                    <th class="text-center"><i class="fa fa-database"></i> {{'Database Size (MB)' |
                        translate}}
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">{{data.totalStatistics.nOrganizations || 0}}</td>
                    <td class="text-center">{{data.totalStatistics.nUsers || 0}}</td>
                    <td class="text-center">{{data.totalStatistics.nPlants || 0}}</td>
                    <td class="text-center">{{data.totalStatistics.nCostCenters || 0}}</td>
                    <td class="text-center">{{data.totalStatistics.nWorkCenters || 0}}</td>
                    <td class="text-center">{{data.totalStatistics.nDeviationEntries || 0}}</td>
                    <td class="text-center">{{data.totalStatistics.nOEEEntries || 0}}</td>
                    <td class="text-center">{{data.totalStatistics.nAnalysisVersions || 0}}</td>
                    <!--<td class="text-center">{{data.totalStatistics.nWorkCenterSchedule || 0}}</td>-->

                    <td class="text-center">{{data.totalStatistics.nStartedSubscriptions || 0}}</td>
                    <td class="text-center">{{data.totalStatistics.nTeamSubscriptions || 0}}</td>
                    <td class="text-center">{{data.totalStatistics.nPremiumSubscriptions || 0}}</td>

                    <td class="text-center">${{(data.totalStatistics.subscriptionCost /
                        100).toFixed(2) || 0}}
                    </td>
                    <td class="text-center">{{(data.totalStatistics.dbSizeInBytes /
                        1000000).toFixed(2) || 0}}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>