<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h4 class="modal-title">End User License Agreement</h4>
</div>
<div class="modal-body">
    <div class="panel-body">
        <div id="privacy">
            <div class="p-r-10">
                <p><strong>Privacy Policy</strong></p>
                <p><strong>Privacy Statement of </strong><strong>Bosch Rexroth Corporation</strong>
                </p>
                <p>Bosch Rexroth Corporation (&ldquo;Bosch Rexroth&rdquo;) is pleased to have you
                    visit
                    our websites or use our mobile applications, products and services and welcomes
                    your
                    interest in our company and our mobile applications, products and services.&nbsp;
                    This Privacy Policy applies to users of our websites, mobile applications,
                    products
                    and services anywhere in the world.</p>
                <p><strong>Bosch Rexroth respects your privacy </strong></p>
                <p>The protection of your privacy in the processing of your personal data is an
                    important concern to which we pay special attention. We process personal data
                    collected during your visit to our websites or use of our mobile applications,
                    products and services&nbsp; solely in compliance with our Privacy Policy. Data
                    protection and information security are part of our corporate policy.</p>
                <p><strong>Collection and processing of personal data </strong></p>
                <p>Personal data is only stored when voluntarily given by you or collected from you
                    in
                    your use of our websites, mobile applications, products or services for a
                    determined
                    purpose, <em>e.g.</em>, in context of an account registration or modification to
                    an
                    existing account, a survey, a contest or in performance of a contract, when you
                    request services from us, or when you contact customer support or otherwise
                    interact
                    or communicate with us.&nbsp;</p>
                <p><strong>Use of personal data and purpose specification </strong></p>
                <p>Bosch Rexroth or the entities or individuals specified in <strong>Sharing of
                    Personal
                    Data</strong> below may use your personal data for the purpose of:</p>
                <ul>
                    <li>technical administration of our website, mobile applications or services
                    </li>
                    <li>customer or supplier administration</li>
                    <li>administering, maintaining, personalizing and improving our mobile
                        applications,
                        products and services you use, for example to authenticate users, process
                        payments, provide services you request, and develop new features and
                        services
                    </li>
                    <li>product surveys</li>
                    <li>inquiries and customer service requests you submit to Bosch Rexroth</li>
                    <li>for site visitors in the U.S., this data may be used for marketing,
                        analytics
                        and other purposes
                    </li>
                    <li>compliance with legal or regulatory requirements</li>
                </ul>
                <p>and only in the scope necessary for this purpose.</p>
                <p><strong>Sharing of personal data</strong></p>
                <p>Bosch Rexroth may share information we collect about you as described in this
                    Privacy
                    Policy with the following entities and individuals and otherwise as follows:</p>
                <ul>
                    <li>our affiliated entities, including our parent company in Germany, Robert
                        Bosch
                        GmbH
                    </li>
                    <li>our third party service providers, vendors, consultants, marketing partners
                        and
                        other partners (<em>g.</em>, drivers, tow companies and auto repair shops)
                        performing work on our behalf, in order to provide you with our websites,
                        mobile
                        applications, products and services
                    </li>
                    <li>the general public, if you submit content or post user contributions in a
                        public
                        forum through features of our services (<em>g.</em>, interactive forums)
                        that
                        are viewable by the general public
                    </li>
                    <li>relevant authorities in accordance with, and as we deem required by,
                        applicable
                        law, regulation, court order or legal process
                    </li>
                    <li>to carry out our obligations and enforce our rights arising from any
                        contracts
                        entered into between you and us, including for billing and collection
                    </li>
                    <li>if we believe disclosure is necessary or appropriate to protect the rights,
                        property, or safety of Bosch Rexroth, its employees, its customers, its
                        third
                        party providers or partners, or the public
                    </li>
                    <li>in connection with, or during negotiations of, any merger, sale of company
                        assets, consolidation or restructuring, financing, or acquisition of all or
                        a
                        portion of our business by or into another company
                    </li>
                    <li>in an aggregated and/or anonymized form which cannot reasonably be used to
                        identify you
                    </li>
                    <li>otherwise, with your consent</li>
                </ul>
                <p>By using our websites, mobile applications, products or services, you consent to
                    the
                    above uses and sharing of your personal data. Your individual, identifiable,
                    personal data will not otherwise be disclosed to third parties, other than Bosch
                    Rexroth&rsquo;s affiliated entities, without your consent.</p>
                <p><strong>Collection and processing of non-personal data</strong></p>
                <p>When you visit our websites or use our mobile applications, we may also collect
                    automatically the following non-personal data: IP addresses, the website from
                    which
                    you visit us (referrer), pages viewed, files downloaded (downloads), videos
                    viewed/audio tracks listened to, individual links clicked, search words or
                    search
                    phrases (site search), duration of visit, browser used, mobile device data
                    (<em>e.g.</em>, unique device identifier, serial number, hardware model, mobile
                    network information and operating system and version), etc. If the visit is a
                    result
                    of online advertising such as banners, video ads, search engine advertising,
                    etc.,
                    we may record which banner, adword, etc. motivated the visit to Bosch Rexroth
                    websites.</p>
                <p>The insights gained enable us to further optimize our websites and mobile
                    applications and tailor them even better to our visitors&rsquo; and users&rsquo;
                    needs.</p>
                <p><strong>Use of the analytics tools</strong></p>
                <p>Bosch Rexroth uses web analytics tools, including the Webtrends web analytics
                    tool,
                    to carry out access measurements.</p>
                <p>The access data is collected in anonymized form so that it can no longer be
                    traced
                    back to a user. In particular, this is done by anonymizing the IP address.</p>
                <p>Cookies are used for metrics to enable website usage to be analyzed. In
                    particular,
                    Bosch Rexroth uses them to improve data quality. For the Webtrends web analytics
                    tool, the information generated about the use of websites is transmitted
                    anonymized
                    to the statistics server (statse.webtrendslive.com) which is operated by
                    Webtrends
                    Inc, 555 SW Oak Street, Suite 300, Portland, OR 97204, United States (&ldquo;Webtrends&rdquo;)
                    in the United States of America. &nbsp;&nbsp;Only authorized persons have access
                    to
                    this anonymized data.</p>
                <p><strong>Use of social plugins as part of social media </strong></p>
                <p>Bosch Rexroth websites use social plugins (&ldquo;plugins&rdquo;) from social
                    networks like Facebook, Google+ and Twitter. The plugins are identified with the
                    respective social media logo or the respective suffix.</p>
                <p>If you visit a page on our website that contains such plugins, they are initially
                    disabled. The plugins are not enabled until you click the button that is
                    provided.
                    By enabling the plugins, you establish the connection to the respective social
                    network and declare your consent to the transmission of data to it.</p>
                <p>If you are logged into the social network, it can associate the visit with your
                    social network account. If you press the respective button, the corresponding
                    information is transmitted directly to the social network by your browser and
                    stored
                    there.</p>
                <p>If you do not want a social network to collect data about you via our website,
                    you
                    have to log out of the social network before visiting our site.</p>
                <p>Our websites may also use the YouTube video platform that enables playback of
                    audio
                    and video files. When you load a page on our website, the integrated YouTube
                    player
                    establishes a connection to YouTube in order to ensure the technical
                    transmission of
                    the video or audio file. When the connection to YouTube is established, data is
                    transferred to YouTube.</p>
                <p>For information about the scope and purpose of data collection, the further
                    processing and use of the data by these social media companies, and your rights
                    and
                    the settings you can configure to protect your privacy, please refer to their
                    data
                    protection notices.</p>
                <p><strong>International Data Transfer</strong></p>
                <p>Bosch Rexroth Corporation may transfer your personal data to its parent company
                    in
                    Germany, Robert Bosch GmbH, and to any worldwide affiliates when processing
                    data. We
                    may also transfer your data to a third party outside your country of origin.</p>
                <p><strong>Children&rsquo;s Privacy</strong></p>
                <p>We do not knowingly collect or use any personal data from online visitors under
                    the
                    age of thirteen. We do not knowingly allow visitors under the age of thirteen to
                    participate in any promotions or contests made available on our websites from
                    time
                    to time.</p>
                <p><strong>California Privacy Rights</strong></p>
                <p>California&rsquo;s &ldquo;Shine The Light&rdquo; law permits those of our
                    customers
                    who are residents of California to annually request a list of their personal
                    information (if any) we disclosed to third parties for direct marketing purposes
                    in
                    the preceding calendar year, and the names and addresses of those third parties.
                    At
                    this time, we currently do not share any personal information with third parties
                    for
                    their direct marketing purposes.</p>
                <p><strong>Use of external links</strong></p>
                <p>Our websites may contain links to third-party websites operated by providers that
                    are
                    not associated with us. After you click the link, we no longer have any
                    influence
                    over the collection, storage, or processing of any personal data transmitted by
                    clicking the link (such as the IP address or URL of the page that contains the
                    link), as the behavior of third parties is, by nature, beyond our control.
                    Therefore, Bosch Rexroth is not responsible for the processing of personal data
                    by
                    such third parties.</p>
                <p><strong>Security</strong></p>
                <p>Bosch Rexroth takes security precautions to ensure that your data we have under
                    our
                    control is protected against tampering, loss, destruction, access by
                    unauthorized
                    persons, or unauthorized disclosure. Our security measures are being
                    continuously
                    improved in accordance with the state of technological developments.</p>
                <p><strong>Advertising</strong></p>
                <p>When you provide us with personal data, we use it to inform you about our
                    products
                    and services and, where applicable, to include you in surveys about them. If you
                    no
                    longer wish to receive advertising from Bosch Rexroth, you can revoke your
                    consent
                    at any time.</p>
                <p><strong>Use of cookies</strong></p>
                <p><strong>1) Bosch Rexroth cookies </strong></p>
                <p>Bosch Rexroth uses cookies and active components (<em>e.g.</em>, JavaScript) to
                    track
                    visitors&rsquo; preferences and customize the design of the websites.</p>
                <p>Cookies are small text files stored on your computer when you visit our website.
                    If
                    you like, you can delete the cookies at any time. However, this can result in
                    some
                    functions no longer being available. For information on deleting the cookies,
                    please
                    consult your browser&lsquo;s help function.</p>
                <p>Bosch Rexroth makes it possible to control the use of cookies. To do so, click
                    the &ldquo;Privacy settings&rdquo; link in the footer. This link gives you
                    additional information about the cookies used. In addition, you can configure
                    which
                    cookies you want to use there.</p>
                <p><strong>2) Third-party cookies </strong></p>
                <p>Our websites may incorporate content and services from other providers
                    (<em>e.g.</em>,
                    YouTube, Facebook, Google, Twitter) who, in turn, may use cookies and active
                    components. Bosch Rexroth has no influence on the processing of personal data by
                    these providers. Please note that the option provided by Bosch Rexroth to
                    configure
                    settings for cookies used has no effect on cookies and active components from
                    other
                    providers (e.g. YouTube, Facebook, Google, Twitter). Please refer to the
                    respective
                    provider&rsquo;s websites for information about how your data is handled.</p>
                <p><strong>International Users</strong></p>
                <p>This is a U.S. website, and this site and our services are subject to U.S. laws,
                    including those governing the privacy and security of your information. If you
                    use
                    our services, you are transferring your information to Bosch Rexroth in the
                    United
                    States. By using the services or providing your information to us through the
                    services you consent to the transfer of your personal information to the United
                    States, and our handling of your information in accordance with applicable U.S.
                    requirements.</p>
                <p><strong>Changes to Privacy Policy</strong></p>
                <p>Due to the constantly changing nature of our business, we reserve the right to
                    change, update or modify this privacy statement at any time at our sole
                    discretion,
                    and will post any new privacy statement here. Any such change, update or
                    modification will be effective immediately upon posting on this website. Use of
                    information that we gather now will be subject to the privacy statement in
                    effect at
                    the time of use. By using or navigating around the website or utilizing any of
                    the
                    services we provide here, you acknowledge that you have read and understand and
                    agree to be bound by this privacy statement. If you do not agree to be so bound,
                    do
                    not remain on the website. You are responsible for checking our website
                    frequently
                    to keep apprised of recent changes.</p>
                <p>________________________________________________________________________</p>
                <p>The effective date of this privacy statement is August 24, 2016</p>
                <p><strong>Contact</strong></p>
                <p>To obtain more information or to submit suggestions or complaints regarding the
                    processing of your personal data, you can contact our Privacy Policy
                    Administrator.</p>
                <p>If incorrect information has been stored despite our efforts to maintain correct
                    and
                    up-to-date data, we will correct this upon your request.</p>
                <p><a href="mailto:privacy.policy@us.bosch.com">privacy.policy@us.bosch.com</a></p>
                <p>Robert Bosch LLC<br>
                    Privacy Policy Administrator<br>
                    38000 Hills Tech Drive<br>
                    Farmington Hills, MI 48331</p>
                <p><strong>Notices</strong></p>
                <p><strong>Statement Regarding Dodd-Frank Wall Street Reform and Consumer Protection
                    Act</strong></p>
                <p>Bosch supports the overall objective of Section 1502 of the Dodd-Frank Wall
                    Street
                    Reform and Consumer Protection Act. Section 1502 is designed to require certain
                    publicly traded companies to disclose their use of conflict minerals that
                    originate
                    in the Democratic Republic of the Congo (DRC) or an adjoining country.</p>
                <p>As a privately held company, Bosch is working with its customers and suppliers to
                    ensure compliance throughout the supply chain. Bosch has been in business more
                    than
                    125 years and throughout that time has based its business on solid values and
                    principles. Bosch has an 11-point plan, called the Basic Principles of Social
                    Responsibility, which includes specific references to human rights and fair
                    working
                    conditions. The details of Bosch&lsquo;s principles can be found here:</p>
                <p>
                    <a href="http://www.bosch.com/media/com/sustainability/issues/corporate_leadership/Basic_principles_of_social_responsibilities.pdf">Basic
                        principles of social responsibilities.pdf</a></p>
                <p>Bosch believes the Conflict Minerals statute embedded in the Dodd-Frank Act
                    addresses
                    a serious human rights situation and the work we are doing with our customers
                    and
                    suppliers amplifies the values to which our company has long subscribed.</p>
                <p><strong>Notice of California Transparency in Supply Chain Act</strong></p>
                <p>As a leading global supplier of technology and service, Bosch and its affiliates
                    have
                    a zero-tolerance policy for forced labor and human trafficking. Unconditional
                    compliance with all legal requirements has always been imperative for Bosch, and
                    is
                    an integral part of our company values. Bosch supports the California
                    Transparency
                    in Supply Chain Act (SB 657) as it is in alignment with our long history of
                    ethical
                    sourcing of products all over the world. Bosch seeks close and long-term
                    relationships with suppliers, which are based on lawful, efficient and fair
                    practices.</p>
                <p>For more detailed information on Bosch&rsquo;s commitment to sustainable business
                    practices, please see:</p>
                <p>
                    <a href="http://www.bosch.us/en/us/sustainability_innovation_1/compliance_1/compliance.html">Compliance</a>
                </p>
                <p>Bosch&rsquo;s declaration in support of the International Labor Organization can
                    be
                    found here:</p>
                <p>
                    <a href="http://www.bosch.com/media/en/com/sustainability/download_and_order_1/basic_principles_of_social_responsibilities_en.pdf">Basic
                        principles of social responsibilities.pdf</a></p>
                <p><strong>&copy; Copyright 2016 Bosch Rexroth Corporation</strong></p>
                <p>All rights reserved.</p>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <a href ng-click="controls.registrationView = 'registration'" class="btn btn-sm btn-white"
       data-dismiss="modal">Close</a>
</div>
<script>
//    $(document).ready(
//        function() {
//            $('#privacy').slimScroll({
//                position: 'right',
//                height: '500px',
//                alwaysVisible: true
//            });
//        });
</script>