<div class="modal-header">
    <h4 class="modal-title">End User License Agreement</h4>
</div>
<div class="modal-body">
    <div class="panel-body">
        <div id="terms">
            <div class="p-r-10">
                <strong>Customer Terms of Service</strong>
                <p>Effective August 26, 2016</p>

                <p>Bosch Rexroth Corporation (<strong>“Bosch Rexroth”</strong>) is pleased to offer
                    our <strong>IMPROVIDUS</strong> service (the <strong>“Service”</strong>) via our
                    website (the <strong>“Digital Services”</strong>) under the terms and conditions
                    comprising these Customer Terms of Service (<strong>“Terms of Service”</strong>).
                    If you are accessing or using the Digital Services on behalf of a business
                    entity, you represent and warrant that you have the authority to bind that
                    entity to these Terms of Service.</p>

                <strong>Acceptance</strong>
                <p>PLEASE READ THESE TERMS OF SERVICE CAREFULLY AS THEY BIND YOU TO A CONTRACT WITH
                    BOSCH REXROTH. THIS INCLUDES A BINDING INDIVIDUAL
                    <span class="f-underline">ARBITRATION</span>
                    AND CLASS ACTION WAIVER CLAUSE IN THE ARBITRATION SECTION THAT GOVERNS HOW
                    DISPUTES BETWEEN YOU AND BOSCH REXROTH WILL BE RESOLVED.</p>

                <p>
                    By accessing or using the Digital Services, whether as a guest or registered
                    user, you agree to these Terms of Service, as well as Bosch Rexroth’s Privacy
                    Policy, available at <a href
                                            ng-click="controls.registrationView = 'data-policy'">Privacy
                    Policy</a>, which is incorporated herein by reference
                    (<strong>“Privacy Policy”</strong>).
                </p>

                <p>
                    <strong>If you do not agree with these Terms of Service and our Privacy Policy,
                        you
                        must immediately stop using the Digital Services.
                    </strong></p>

                <p>
                    These Terms of Service may change from time to time. When accessing the Digital
                    Services or through other means of notice as described in the <span
                        class="f-underline">Notices</span> section
                    below, you may be invited to review and accept material changes to these Terms
                    of Service. Your continued use of the Digital Services or Service after we make
                    changes is deemed to be acceptance of those changes, whether or not you have
                    actually reviewed them.

                    These Terms of Service shall remain in full force and effect while you access or
                    use the Digital Services or Service. Bosch Rexroth may terminate your account,
                    your license to use the Digital Services, and/or the Service at any time,
                    without warning, in its sole discretion, for any reason, including, but not
                    limited to, your failure to abide by these Terms of Service, our Privacy Policy,
                    or any other Bosch Rexroth policies, or for non-payment of fees for the Service.
                    Even after your account or license to use the Digital Services is terminated,
                    the Terms of Service and Privacy Policy, including all of your obligations under
                    the Terms of Service and Privacy Policy prior to such termination, will remain
                    in full force and effect and will govern any and all disputes arising out of
                    your use of the Digital Services or Service. Bosch Rexroth may modify, enhance,
                    suspend, discontinue or remove the Digital Services or Service, or any portions
                    thereof, at any time, in its sole discretion.

                </p>

                <p><strong>Eligibility / No Use by Minors</strong></p>

                <p>The Digital Services and Service are intended solely for users 18 years of age or
                    older. By using the Digital Services or Service, you represent and warrant that
                    you are 18 or older and otherwise have capacity to contract. </p>

                <p>Use of Digital Services and Service is void where prohibited. The Digital
                    Services and Service are not available to any individual whose account has been
                    terminated. The Digital Services are intended for a United States audience and
                    are controlled and offered by Bosch Rexroth from Bethlehem, Pennsylvania and
                    hosted in the United States of America. Bosch Rexroth makes no representations
                    that the Digital Services are appropriate or available for use in other
                    locations. Those who access or use the Digital Services from other jurisdictions
                    are responsible for compliance with local law. You represent and warrant that
                    (a) you are not located in a country that is subject to a U.S. Government
                    embargo, or that has been designated by the U.S. Government as a “terrorist
                    supporting” country; and (b) you are not listed on any U.S. Government list of
                    prohibited or restricted parties. </p>

                <p><strong>Our Service</strong></p>

                <p>With the IMPROVIDUS service and the backing of Bosch Rexroth, you have a single
                    source provider for hardware, software, consulting, engineering and integration
                    for your connected industry journey. We offer a lean production and lean
                    administration consulting portfolio paired with world class connected industry
                    solutions to achieve accelerated improvements. Our systematic and connected
                    approach will continuously guide all levels in the organization along the lean
                    journey for the sustainable results. Standard and custom trainings are offered
                    in the most suitable way to maximize your learning experience. </p>

                <p>We offer connected lean trainings, continuous consulting support packages to help
                    you achieve your goals, and projects / integration support if you are ready to
                    adopt connected industry solution in your facility. Since lean manufacturing
                    principles still provide the foundation and framework connected industry
                    applications, there will be a wide range of connected lean manufacturing
                    trainings made available to you. </p>

                <p><strong>Account Registration</strong></p>

                <p>In order to access the Service, you will need to register and create a user
                    account and password through the Digital Services. Your account gives you access
                    to the Service and any other features and functionalities that we may establish
                    and maintain from time to time in our sole discretion. When you register, you
                    will be asked to provide or confirm the following information, all of which
                    shall be subject to our <a href
                                               ng-click="controls.registrationView = 'data-policy'">Privacy
                        Policy</a>: first and last name, company name, email
                    address, mailing address, physical address, and phone number. You represent and
                    warrant that all of your information is true and correct, and agree to keep this
                    account information current.</p>

                <p>You are entirely responsible for maintaining the confidentiality of your password
                    and for the confidentiality and security of your personal information and User
                    Contributions (as defined in <span
                            class="f-underline">User Contributions</span>), sent from or stored on
                    your
                    personal computer or mobile device by the Digital Services. You agree to notify
                    Bosch Rexroth immediately if you suspect any unauthorized access to or use of
                    your account, access to your user name or password, or any other breach of
                    security. You are solely responsible for any and all use of your account and
                    Bosch Rexroth will not be liable for your losses caused by any unauthorized use
                    of your account. You agree that all information you provide to create an account
                    or otherwise, including, but not limited to, through the use of the Interactive
                    Features (as defined in <span
                            class="f-underline">User Contributions</span> below), is governed by our
                    Privacy
                    Policy, and you consent to all actions we may take with respect to your
                    information consistent with our Privacy Policy. You agree not to use the
                    account, username, or password of another user at any time. </p>

                <p><strong>Service Fees / Payment Terms</strong></p>

                <p>
                    Once you review and submit a purchase request for a Service, if you have not
                    already selected your payment method, we will prompt you to (a) select to pay by
                    credit card and enter a valid, major credit card and billing information. If you
                    select to pay by credit card, Bosch Rexroth’s payment Service Provider <a
                        href="https://stripe.com/">Stripe</a> will store your credit card details
                    and validate this
                    information. Once you confirm your purchase of the selected Service, the
                    Stripe will charge the fees for the Service, as
                    well as all applicable federal, state and local taxes, to your credit card via
                    the Digital Services and Stripe will process your
                    payment. You hereby consent to the use and storage of your credit card
                    information by Stripe (as defined below), in order
                    to process payment for the Service. These Terms of Service incorporate the
                    <a href="https://stripe.com/us/privacy">Stripe Terms</a>. To
                    the extent there may be a conflict among these Terms of Service and Stripe
                    Terms, these Terms of Service control.
                </p>

                <p>You acknowledge that Bosch Rexroth reserves the right to change its fees from
                    time to time in its sole discretion upon notice to you, subject to these Terms
                    of Service. If Bosch Rexroth terminates your account or revokes your privileges
                    to use the Digital Services or Service because you have breached these Terms of
                    Service or our Privacy Policy you may not be entitled to a refund of any amount
                    paid for a Service and will owe any amounts due to Bosch Rexroth as of the date
                    of termination or revocation.</p>

                <p><strong>Security and Usage Restrictions; Termination</strong></p>

                <p>You will not circumvent, disable or otherwise interfere with the security and
                    functionality of the Digital Services or of features that prevent or restrict
                    use or copying of any content or that enforce limitations on use of the Digital
                    Services or its content.</p>
                <p>
                    You will not use the Digital Services in any manner that could disable,
                    overburden, damage or impair the Digital Services, or interfere with any other
                    party’s use of the Digital Services, including their ability to engage in real
                    time activities through the Digital Services.
                </p>
                <p>
                    You will not use any robot, spider, crawler, site search/retrieval application,
                    or other automated device, process or means to access, retrieve, scrape, or
                    index any portion of the Digital Services or its content.
                </p>
                <p>
                    You will not attempt to gain unauthorized access to, interfere with, damage or
                    disrupt any parts of the Digital Services , the server on which the Digital
                    Services is stored, or any server, computer or database connected to the Digital
                    Services.
                </p>
                <p>
                    You will not attack the Digital Services via a denial-of-service attack or a
                    distributed denial-of-service attack or introduce any viruses or malware into
                    the Digital Services.
                </p>

                <p><strong>Failure to abide by these provisions may subject you to civil or criminal
                    legal action and may result in termination of your account or in termination of
                    your license to use the Digital Services or Service. </strong></p>

                <p><strong>Intellectual Property</strong></p>

                <p>Subject to these Terms of Service and our Privacy Policy, including your payment
                    of the fees for the Service, Bosch Rexroth hereby grants to you a limited,
                    non-exclusive, revocable, non-transferable, non-sublicenseable, right to access
                    and use the Digital Services and Service in the United States. </p>

                <p>You acknowledge and agree that Bosch Rexroth and its licensors own all right,
                    title and interest, including all intellectual property rights, in and to the
                    Digital Services and Service, and no rights in the foregoing are transferred to
                    you hereunder. Text, images, graphics, sound, animations, videos and other
                    content, as well as the arrangement of the same on the Digital Services are
                    protected by copyright and other intellectual property rights of Bosch Rexroth
                    and its third party licensors. The foregoing content of this Digital Services
                    may not be copied, disseminated, altered or made accessible to third parties for
                    commercial purposes.</p>

                <p>
                    All Bosch Rexroth trademarks, service marks, typefaces, company designs, logos
                    and emblems on this Digital Services are protected by trademark law. The marks
                    and design elements used on our Digital Services are intellectual property of
                    Bosch Rexroth and its affiliates. You will not copy, use, infringe upon,
                    misappropriate or otherwise violate these marks and design elements. The Digital
                    Services may also contain other product, service and/or company names that may
                    be the trademarks of their respective owners.
                </p>
                <p>
                    You will not, and will not cause others to (a) reproduce, modify, publish,
                    transmit, distribute, publicly perform or display, sell, offer for sale, or
                    create modifications, enhancements or derivative works based on the Digital
                    Services or Service, or any intellectual property rights therein or thereto, or
                    any portions thereof, or (b) rent, lease, loan, sell, or offer for sale access
                    to or use of the Digital Services or Service, or any intellectual property
                    rights therein or thereto, or any portions thereof.
                </p>
                <p><strong>Links / Third-Party Websites</strong></p>
                <p>The Digital Services may contain links to third-party websites that are not owned
                    or controlled by Bosch Rexroth. A link to a non-Bosch Rexroth website does not
                    mean that Bosch Rexroth endorses or accepts any responsibility for the content,
                    or the use, of such website. Bosch Rexroth has no control over, and assumes no
                    responsibility for, the content, privacy policies, or practices of any third
                    party websites. </p>
                <p><strong>User Contributions</strong></p>

                <p>
                    Bosch Rexroth may provide interactive features, including, without limitation,
                    message boards, messaging/chat features, information sharing features (including
                    the ability to email information directly to other users), photo sharing
                    features, profiles, forums, bulletin boards (collectively, “<strong>Interactive
                    Features</strong>”) that allow users to post, submit, publish, display or
                    transmit to
                    other users or other persons (“<strong>post</strong>”) information, data,
                    content or materials,
                    including, without limitation, comments, suggestions, reviews, drawings, photos,
                    ideas, and concepts (collectively, “<strong>User Contributions</strong>”) on or
                    through the
                    Digital Services .
                </p>
                <p>Any User Contribution you post to, or transmit through, the Digital Services will
                    be considered non-confidential and non-proprietary. By providing any User
                    Contributions on or through the Digital Services , you grant us and our
                    affiliates and Service Providers, and each of their and our respective
                    licensees, successors and assigns the right to use, reproduce, modify, make
                    derivative works of, perform, display, distribute and otherwise disclose to
                    third parties any and all such User Contributions for any purpose (including for
                    marketing and advertising purposes), including the right to sublicense the
                    foregoing (through unlimited levels of sublicenses). All User Contributions must
                    comply with the Content Standards set out in these Terms of Service. Bosch
                    Rexroth will not provide you with compensation and may not provide you with
                    attribution for any User Contribution. You understand that Bosch Rexroth is
                    under no obligation to use your User Contribution and that we may already have
                    similar ideas under development. </p>
                <p>
                    You represent and warrant that:
                <ul>
                    <li>You own or control all rights in and to your User Contributions and have the
                        right to grant the license granted above to us and our affiliates and
                        Service
                        Providers, and each of their and our respective licensees, successors and
                        assigns
                    </li>
                    <li>All of your User Contributions do, and will, comply with these Terms of
                        Service
                    </li>
                </ul>
                </p>


                <!--<p><strong>Customer Terms of Service</strong></p>-->
                <!--<p>Effective August 26, 2016</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>Bosch Rexroth Corporation (&ldquo;<strong>Bosch Rexroth</strong>&rdquo;) is-->
                <!--pleased to offer our <strong>IMPROVIDUS</strong> service (the &ldquo;<strong>Service</strong>&rdquo;)-->
                <!--via our website (the &ldquo;<strong>Digital Services</strong>&rdquo;) under the-->
                <!--terms and conditions comprising these Customer Terms of Service (&ldquo;<strong>Terms-->
                <!--of Service</strong>&rdquo;).&nbsp; If you are accessing or using the Digital-->
                <!--Services on behalf of a business entity, you represent and warrant that you have-->
                <!--the authority to bind that entity to these Terms of Service.</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p><strong>PLEASE READ THESE TERMS OF SERVICE CAREFULLY AS THEY BIND YOU TO-->
                <!--A</strong><strong> CONTRACT</strong><strong> WITH BOSCH REXROTH.&nbsp; THIS-->
                <!--INCLUDES A BINDING INDIVIDUAL ARBITRATION AND CLASS ACTION WAIVER CLAUSE IN THE-->
                <!--<u>ARBITRATION</u> SECTION THAT GOVERNS HOW DISPUTES BETWEEN YOU AND BOSCH-->
                <!--REXROTH WILL BE RESOLVED.&nbsp; </strong></p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>By accessing or using the Digital Services, whether as a guest or registered-->
                <!--user, you agree to these Terms of Service, as well as Bosch Rexroth&rsquo;s-->
                <!--Privacy Policy, available at [Privacy Policy], which is incorporated herein by-->
                <!--reference (&ldquo;<strong>Privacy Policy</strong>&rdquo;).&nbsp;</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p><strong>If you do not agree with these Terms of Service and our Privacy Policy,-->
                <!--you must immediately stop using the </strong><strong>Digital-->
                <!--Services</strong><strong>.&nbsp; </strong></p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>These Terms of Service may change from time to time.&nbsp; When accessing the-->
                <!--Digital Services or through other means of notice as described in the-->
                <!--<u>Notices</u> section below, you may be invited to review and accept material-->
                <!--changes to these Terms of Service.&nbsp; Your continued use of the Digital-->
                <!--Services or Service after we make changes is deemed to be acceptance of those-->
                <!--changes, whether or not you have actually reviewed them.&nbsp;&nbsp;</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>These Terms of Service shall remain in full force and effect while you access or-->
                <!--use the Digital Services or Service.&nbsp; Bosch Rexroth may terminate your-->
                <!--account, your license to use the Digital Services, and/or the Service at any-->
                <!--time, without warning, in its sole discretion, for any reason, including, but-->
                <!--not limited to, your failure to abide by these Terms of Service, our Privacy-->
                <!--Policy, or any other Bosch Rexroth policies, or for non-payment of fees for the-->
                <!--Service. Even after your account or license to use the Digital Services is-->
                <!--terminated, the Terms of Service and Privacy Policy, including all of your-->
                <!--obligations under the Terms of Service and Privacy Policy prior to such-->
                <!--termination, will remain in full force and effect and will govern any and all-->
                <!--disputes arising out of your use of the Digital Services or Service. &nbsp;Bosch-->
                <!--Rexroth may modify, enhance, suspend, discontinue or remove the Digital Services-->
                <!--or Service, or any portions thereof, at any time, in its sole discretion.</p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p><strong>Eligibility / No Use by Minors</strong></p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p>The Digital Services and Service are intended solely for users 18 years of age or-->
                <!--older. By using the Digital Services or Service, you represent and warrant that-->
                <!--you are 18 or older and otherwise have capacity to contract.&nbsp;</p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p>Use of Digital Services and Service &nbsp;is void where prohibited.&nbsp; The-->
                <!--Digital Services and Service are not available to any individual whose account-->
                <!--has been terminated.&nbsp; The Digital Services are intended for a United States-->
                <!--audience and are controlled and offered by Bosch Rexroth from Bethlehem,-->
                <!--Pennsylvania and hosted in the United States of America.&nbsp; Bosch Rexroth-->
                <!--makes no representations that the Digital Services are appropriate or available-->
                <!--for use in other locations.&nbsp; Those who access or use the Digital Services-->
                <!--from other jurisdictions are responsible for compliance with local law. &nbsp;You-->
                <!--represent and warrant that (a) you are not located in a country that is subject-->
                <!--to a U.S. Government embargo, or that has been designated by the U.S. Government-->
                <!--as a &ldquo;terrorist supporting&rdquo; country; and (b) you are not listed on-->
                <!--any U.S. Government list of prohibited or restricted parties.</p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p><strong>Our Service</strong></p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p>With the IMPROVIDUS service and the backing of Bosch Rexroth, you have a single-->
                <!--source provider for hardware, software, consulting, engineering and integration-->
                <!--for your connected industry journey.&nbsp; We offer a lean production and lean-->
                <!--administration consulting portfolio paired with world class connected industry-->
                <!--solutions to achieve accelerated improvements. Our systematic and connected-->
                <!--approach will continuously guide all levels in the organization along the lean-->
                <!--journey for the sustainable results. Standard and custom trainings are offered-->
                <!--in the most suitable way to maximize your learning experience.&nbsp;</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>We offer connected lean trainings, continuous consulting support packages to help-->
                <!--you achieve your goals, and projects / integration support if you are ready to-->
                <!--adopt connected industry solution in your facility. Since lean manufacturing-->
                <!--principles still provide the foundation and framework connected industry-->
                <!--applications, there will be a wide range of connected lean manufacturing-->
                <!--trainings made available to you.&nbsp;</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p><strong>Account Registration</strong></p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p>In order to access the Service, you will need to register and create a user-->
                <!--account and password through the Digital Services. Your account gives you access-->
                <!--to the Service and any other features and functionalities that we may establish-->
                <!--and maintain from time to time in our sole discretion. When you register, you-->
                <!--will be asked to provide or confirm the following information, all of which-->
                <!--shall be subject to our <u>Privacy Policy</u>:&nbsp; first and last name,-->
                <!--company name, email address, mailing address, physical address, and phone-->
                <!--number. You represent and warrant that all of your information is true and-->
                <!--correct, and agree to keep this account information current.&nbsp;</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>You are entirely responsible for maintaining the confidentiality of your password-->
                <!--and for the confidentiality and security of your personal information and User-->
                <!--Contributions (as defined in <u>User Contributions</u>), sent from or stored on-->
                <!--your personal computer or mobile device by the Digital Services.&nbsp; You agree-->
                <!--to notify Bosch Rexroth immediately if you suspect any unauthorized access to or-->
                <!--use of your account, access to your user name or password, or any other breach-->
                <!--of security.&nbsp; You are solely responsible for any and all use of your-->
                <!--account and Bosch Rexroth will not be liable for your losses caused by any-->
                <!--unauthorized use of your account.&nbsp; You agree that all information you-->
                <!--provide to create an account or otherwise, including, but not limited to,-->
                <!--through the use of the Interactive Features (as defined in <u>User-->
                <!--Contributions</u> below), is governed by our Privacy Policy, and you consent-->
                <!--to all actions we may take with respect to your information consistent with our-->
                <!--Privacy Policy.&nbsp; You agree not to use the account, username, or password of-->
                <!--another user at any time. &nbsp;</p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p><strong>Service Fees / Payment Terms</strong></p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p>Once you review and submit a purchase request for a Service, if you have not-->
                <!--already selected your payment method, we will prompt you to (a) select to pay by-->
                <!--credit card and enter a valid, major credit card and billing information.&nbsp;-->
                <!--If you select to pay by credit card, Bosch Rexroth&rsquo;s payment Service-->
                <!--Provider [payment service provider - Strike] will store your credit card details-->
                <!--and validate this information.&nbsp; Once you confirm your purchase of the-->
                <!--selected Service, the [payment service provider - Strike] will charge the fees-->
                <!--for the Service, as well as all applicable federal, state and local taxes, to-->
                <!--your credit card via the Digital Services and [payment service provider - -->
                <!--Strike] will process your payment. You hereby consent to the use and storage of-->
                <!--your credit card information by [payment service provider - Strike] (as defined-->
                <!--below), in order to process payment for the Service.&nbsp; These Terms of-->
                <!--Service incorporate the [payment service provider - Strike] Terms (located at-->
                <!--[Insert hyperlink]).&nbsp; To the extent there may be a conflict among these-->
                <!--Terms of Service and [payment service provider - Strike] Terms, these Terms of-->
                <!--Service control.</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>You acknowledge that Bosch Rexroth reserves the right to change its fees from-->
                <!--time to time in its sole discretion upon notice to you, subject to these Terms-->
                <!--of Service.&nbsp; If Bosch Rexroth terminates your account or revokes your-->
                <!--privileges to use the Digital Services or Service because you have breached-->
                <!--these Terms of Service or our Privacy Policy you may not be entitled to a refund-->
                <!--of any amount paid for a Service and will owe any amounts due to Bosch Rexroth-->
                <!--as of the date of termination or revocation.</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p><strong>Security and Usage Restrictions; Termination</strong></p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p>You will not circumvent, disable or otherwise interfere with the security and-->
                <!--functionality of the Digital Services or of features that prevent or restrict-->
                <!--use or copying of any content or that enforce limitations on use of the Digital-->
                <!--Services or its content.</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>You will not use the Digital Services in any manner that could disable,-->
                <!--overburden, damage or impair the Digital Services, or interfere with any other-->
                <!--party&rsquo;s use of the Digital Services, including their ability to engage in-->
                <!--real time activities through the Digital Services.&nbsp;</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>You will not use any robot, spider, crawler, site search/retrieval application,-->
                <!--or other automated device, process or means to access, retrieve, scrape, or-->
                <!--index any portion of the Digital Services or its content.</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>You will not attempt to gain unauthorized access to, interfere with, damage or-->
                <!--disrupt any parts of the Digital Services , the server on which the Digital-->
                <!--Services is stored, or any server, computer or database connected to the Digital-->
                <!--Services.</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>You will not attack the Digital Services via a denial-of-service attack or a-->
                <!--distributed denial-of-service attack or introduce any viruses or malware into-->
                <!--the Digital Services .</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p><strong>Failure to abide by these provisions may subject you to civil or criminal-->
                <!--legal action and may result in termination of your account or in termination of-->
                <!--your license to use the Digital Services or Service.&nbsp; </strong></p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p><strong>Intellectual Property </strong></p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p>Subject to these Terms of Service and our Privacy Policy, including your payment-->
                <!--of the fees for the Service, Bosch Rexroth hereby grants to you a limited,-->
                <!--non-exclusive, revocable, non-transferable, non-sublicenseable, right to access-->
                <!--and use the Digital Services and Service in the United States.&nbsp;</p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p>You acknowledge and agree that Bosch Rexroth and its licensors own all right,-->
                <!--title and interest, including all intellectual property rights, in and to the-->
                <!--Digital Services and Service, and no rights in the foregoing are transferred to-->
                <!--you hereunder.&nbsp; Text, images, graphics, sound, animations, videos and other-->
                <!--content, as well as the arrangement of the same on the Digital Services are-->
                <!--protected by copyright and other intellectual property rights of Bosch Rexroth-->
                <!--and its third party licensors. &nbsp;The foregoing content of this Digital-->
                <!--Services may not be copied, disseminated, altered or made accessible to third-->
                <!--parties for commercial purposes.</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>All Bosch Rexroth trademarks, service marks, typefaces, company designs, logos-->
                <!--and emblems on this Digital Services &nbsp;are protected by trademark law. The-->
                <!--marks and design elements used on our Digital Services are intellectual property-->
                <!--of Bosch Rexroth and its affiliates. &nbsp;You will not copy, use, infringe-->
                <!--upon, misappropriate or otherwise violate these marks and design elements. The-->
                <!--Digital Services may also contain other product, service and/or company names-->
                <!--that may be the trademarks of their respective owners.</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>You will not, and will not cause others to (a) reproduce, modify, publish,-->
                <!--transmit, distribute, publicly perform or display, sell, offer for sale, or-->
                <!--create modifications, enhancements or derivative works based on the Digital-->
                <!--Services or Service, or any intellectual property rights therein or thereto, or-->
                <!--any portions thereof, or (b) rent, lease, loan, sell, or offer for sale access-->
                <!--to or use of the Digital Services or Service, or any intellectual property-->
                <!--rights therein or thereto, or any portions thereof.&nbsp;</p>-->
                <!--<p><strong>&nbsp;</strong></p>-->
                <!--<p>Links / Third-Party Websites</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>The Digital Services may contain links to third-party websites that are not owned-->
                <!--or controlled by Bosch Rexroth.&nbsp; A link to a non-Bosch Rexroth website does-->
                <!--not mean that Bosch Rexroth endorses or accepts any responsibility for the-->
                <!--content, or the use, of such website.&nbsp; Bosch Rexroth has no control over,-->
                <!--and assumes no responsibility for, the content, privacy policies, or practices-->
                <!--of any third party websites.</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>User Contributions</p>-->
                <!--<p>&nbsp;</p>-->
                <!--<p>Bosch Rexroth may provide interactive features, including, without limitation,-->
                <!--message boards, messaging/chat features, information sharing features (including-->
                <!--the ability to email information directly to other users), photo sharing-->
                <!--features, profiles, forums, bulletin boards (collectively, &ldquo;<strong>Interactive-->
                <!--Features</strong>&rdquo;) that allow users to post, submit, publish, display-->
                <!--or transmit to other users or other persons (&ldquo;<strong>post</strong>&rdquo;)-->
                <!--information, data, content or materials, including, without limitation,-->
                <!--comments, suggestions, reviews, drawings, photos, ideas, and concepts-->
                <!--(collectively, &ldquo;<strong>User Contributions</strong>&rdquo;) on or through-->
                <!--the Digital Services .</p>-->
                <!--<p>Any User Contribution you post to, or transmit through, the Digital Services will-->
                <!--be considered non-confidential and non-proprietary.&nbsp; By providing any User-->
                <!--Contributions on or through the Digital Services , you grant us and our-->
                <!--affiliates and Service Providers, and each of their and our respective-->
                <!--licensees, successors and assigns the right to use, reproduce, modify, make-->
                <!--derivative works of, perform, display, distribute and otherwise disclose to-->
                <!--third parties any and all such User Contributions for any purpose (including for-->
                <!--marketing and advertising purposes), including the right to sublicense the-->
                <!--foregoing (through unlimited levels of sublicenses).&nbsp; All User-->
                <!--Contributions must comply with the Content Standards set out in these Terms of-->
                <!--Service.&nbsp; Bosch Rexroth will not provide you with compensation and may not-->
                <!--provide you with attribution for any User Contribution.&nbsp; You understand-->
                <!--that Bosch Rexroth is under no obligation to use your User Contribution and that-->
                <!--we may already have similar ideas under development.</p>-->
                <!--<p>You represent and warrant that:</p>-->
                <!--<ul>-->
                <!--<li>You own or control all rights in and to your User Contributions and have the-->
                <!--right to grant the license granted above to us and our affiliates and-->
                <!--Service Providers, and each of their and our respective licensees,-->
                <!--successors and assigns.-->
                <!--</li>-->
                <!--<li>All of your User Contributions do, and will, comply with these Terms of-->
                <!--Service.-->
                <!--</li>-->
                <!--</ul>-->
                <p>You understand and acknowledge that you are responsible for any and all User
                    Contributions you submit or contribute, and you, and not Bosch Rexroth, have
                    full responsibility for such content, including its legality, reliability,
                    accuracy and appropriateness.</p>
                <p>We are not responsible, or liable to any third party, for the content or accuracy
                    of any User Contributions posted by you or any other user of the Digital
                    Services .</p>
                <p><strong>Monitoring and Enforcement</strong></p>
                <p>We have the right to:</p>
                <ul>
                    <li>Edit, remove or refuse to post any User Contributions for any or no reason
                        in our sole discretion.
                    </li>
                    <li>Take any action with respect to any User Contribution that we deem necessary
                        or appropriate in our sole discretion, including if we believe that such
                        User Contribution violates the Terms of Service, including the Content
                        Standards, infringes any intellectual property right or other right of any
                        person or entity, threatens the personal safety of users of the Digital
                        Services or the public, or could otherwise create liability for Bosch
                        Rexroth.
                    </li>
                    <li>Disclose your identity or other information about you to any third party who
                        claims that material posted by you violates their rights, including their
                        intellectual property rights or their rights of publicity or privacy.
                    </li>
                    <li>Take appropriate legal action, including without limitation, referral to law
                        enforcement, for any illegal or unauthorized use of the Digital Services or
                        Service.
                    </li>
                </ul>
                <p>Without limiting the foregoing, we have the right to fully cooperate with any law
                    enforcement authorities or court order requesting or directing us to disclose
                    the identity or other information of anyone posting any materials on or through
                    the Digital Services.&nbsp; YOU WAIVE AND HOLD HARMLESS BOSCH REXROTH AND ITS
                    AFFILIATES, LICENSEES AND SERVICE PROVIDERS FROM ANY AND ALL CLAIMS, DEMANDS,
                    LIABILITIES, LOSSES, DAMAGES, FINES AND EXPENSES RESULTING FROM ANY ACTION TAKEN
                    BY BOSCH REXROTH OR ANY OF THE FOREGOING PARTIES DURING OR AS A RESULT OF ITS
                    INVESTIGATIONS AND FROM ANY ACTIONS TAKEN AS A CONSEQUENCE OF INVESTIGATIONS BY
                    EITHER BOSCH REXROTH, SUCH PARTIES OR LAW ENFORCEMENT AUTHORITIES.</p>
                <p>We do not undertake to review all User Contributions or other material or content
                    posted by third parties before it is posted on the Digital Services, and cannot
                    ensure prompt removal of objectionable material after it has been posted.&nbsp;
                    Although Bosch Rexroth may, from time to time, monitor or review discussions,
                    chats, postings, transmissions, and other user-generated materials, we are under
                    no obligation to do so.&nbsp; Accordingly, we assume no liability for any action
                    or inaction regarding such User Contributions or other material or content.&nbsp;
                    We do not control the information available on or through the Digital Services
                    or through the Service and all opinions, advice, services, offers or other
                    information or content disseminated through the Digital Services are those of
                    their respective authors, including users, who are solely liable for their
                    content.</p>
                <p><strong>Content Standards</strong></p>
                <p>These content standards apply to any and all User Contributions and use of the
                    Interactive Features.&nbsp; User Contributions must in their entirety comply
                    with all applicable federal, state, local and international laws and
                    regulations.</p>
                <p>&nbsp;Without limiting the foregoing, User Contributions must not:</p>
                <ul>
                    <li>Contain any material which is defamatory, obscene, indecent, abusive,
                        offensive, harassing, violent, hateful, inflammatory or otherwise
                        objectionable.
                    </li>
                    <li>Promote sexually explicit or pornographic material, violence, or
                        discrimination based on race, sex, religion, nationality, disability, sexual
                        orientation or age.
                    </li>
                    <li>Infringe any patent, trademark, trade secret, copyright or other
                        intellectual property or other rights of any other person or business
                        entity.
                    </li>
                    <li>Violate the legal rights (including the rights of publicity and privacy) of
                        others or contain any material that could give rise to any civil or criminal
                        liability under applicable laws, regulations or rules or that otherwise may
                        be in conflict with these Terms of Service.
                    </li>
                    <li>Be likely to deceive any person.</li>
                    <li>Promote any illegal activity, or advocate, promote or assist any unlawful
                        act.
                    </li>
                    <li>Cause annoyance, inconvenience or needless anxiety or be likely to upset,
                        embarrass, alarm or annoy any other person.
                    </li>
                    <li>Impersonate any person, or misrepresent your identity or affiliation with
                        any person or organization.
                    </li>
                    <li>Involve commercial activities or sales, such as contests, sweepstakes and
                        other sales promotions, barter or advertising.
                    </li>
                    <li>Give the impression that they emanate from or are endorsed by us or any
                        other person or entity, if this is not the case.
                    </li>
                </ul>
                <p><strong>Copyright Infringement</strong></p>
                <p>It is the policy of Bosch Rexroth to respond to claims of copyright infringement.
                    You may not post, upload, or otherwise place any content or information on or
                    through the Digital Services that belongs to a third party, unless you have the
                    legal right to do so.&nbsp; If you believe in good faith that your copyrighted
                    work has been reproduced on or through our Digital Services without
                    authorization in a way that constitutes copyright infringement, you may notify
                    our designated copyright agent for the Digital Services (&ldquo;Designated Agent&rdquo;)
                    at the phone number, email or mailing address set forth below.&nbsp; Bosch
                    Rexroth will promptly process and investigate notices of alleged infringement
                    and will take appropriate actions under the Digital Millennium Copyright Act,
                    Title 17, United States Code, Section 512(c)(2) (&ldquo;DMCA&rdquo;) and other
                    applicable intellectual property laws.</p>
                <p><strong>Designated Agent:</strong></p>
                <p>Alissa Cleland</p>
                <p><strong>Telephone number</strong></p>
                <p>+1 248 876 1000</p>
                <p><strong>Address</strong></p>
                <p>Robert Bosch LLC<br/> 38000 Hills Tech Drive<br/> Farmington Hills, MI 48331</p>
                <p><strong>Email address</strong></p>
                <p>bosch.us@us.bosch.com</p>
                <p>To be effective, the notification must be a written communication that includes
                    the following:</p>
                <ol>
                    <li>A physical or electronic signature of a person authorized to act on behalf
                        of the owner of an exclusive right that is allegedly infringed;
                    </li>
                    <li>Identification of the copyrighted work claimed to have been infringed, or,
                        if multiple copyrighted works at a single online site are covered by a
                        single notification, a representative list of such works at that site;
                    </li>
                    <li>Identification of the material that is claimed to be infringing or to be the
                        subject of infringing activity and that is to be removed or access to which
                        is to be disabled, and information reasonably sufficient to permit the
                        service provider to locate the material;
                    </li>
                    <li>Information reasonably sufficient to permit the service provider to contact
                        the complaining party, such as an address, telephone number and, if
                        available, an electronic mail address at which the complaining party may be
                        contacted;
                    </li>
                    <li>A statement that the complaining party has a good-faith belief that use of
                        the material in the manner complained of is not authorized by the copyright
                        owner, its agent or the law;
                    </li>
                    <li>A statement that the information in the notification is accurate, and, under
                        penalty of perjury, that the complaining party is authorized to act on
                        behalf of the owner of an exclusive right that is allegedly infringed.
                    </li>
                </ol>
                <p><strong>Reliance on Information</strong></p>
                <p>You acknowledge and agree that communications on or through the Digital Services
                    or with Bosch Rexroth, our Service Providers, or other users, are at your sole
                    and exclusive risk.&nbsp; We do not represent, warrant or guarantee that any
                    Service Provider, user or other person contributing to the Digital Services or
                    Service has achieved any particular level of expertise or knowledge or has any
                    specific qualifications or credentials, including, without limitation, as to the
                    subject matter to which their contributions relate.&nbsp; We do not
                    independently verify or attempt to confirm any information they provide, nor
                    their qualifications or credentials.&nbsp; Bosch Rexroth cannot and does not
                    represent or warrant the accuracy, completeness or truthfulness of the
                    contributions of any Service Provider, user or other person contributing to the
                    Digital Services or Service.&nbsp;</p>
                <p><strong>Disclaimers</strong></p>
                <p>YOU AGREE THAT YOUR USE OF THE DIGITAL SERVICES AND INTERACTIVE FEATURES SHALL BE
                    AT YOUR SOLE AND EXCLUSIVE RISK. TO THE FULLEST EXTENT PERMITTED BY LAW AND
                    EXCEPT AS EXPRESSLY PROVIDED IN THE LIMITED WARRANTY, THE DIGITAL SERVICES AND
                    INTERACTIVE FEATURES ARE PROVIDED ON AN &ldquo;AS IS,&rdquo; &ldquo;WHERE
                    IS,&rdquo; &ldquo;AS AVAILABLE,&rdquo; AND &ldquo;WITH ALL FAULTS&rdquo; BASIS,
                    WITHOUT ANY WARRANTIES OR REPRESENTATIONS, EXPRESS, IMPLIED OR STATUTORY. BOSCH
                    REXROTH EXPRESSLY DISCLAIMS ANY AND ALL IMPLIED WARRANTIES, INCLUDING WITHOUT
                    LIMITATION WARRANTIES OF TITLE, MERCHANTABILITY, FITNESS FOR A PARTICULAR
                    PURPOSE, OR NON-INFRINGEMENT OF INTELLECTUAL PROPERTY.&nbsp; BOSCH REXROTH
                    CANNOT AND DOES NOT GUARANTEE OR PROMISE ANY SPECIFIC RESULTS FROM USE OF THE
                    DIGITAL SERVICES OR INTERACTIVE FEATURES.&nbsp;</p>
                <p>BOSCH REXROTH MAKES NO WARRANTIES OR REPRESENTATIONS ABOUT THE ACCURACY OR
                    COMPLETENESS OF THE DIGITAL SERVICES, INTERACTIVE FEATURES, OR THEIR RESPECTIVE
                    CONTENT, OR THE CONTENT OF ANY SITES LINKED TO THE DIGITAL SERVICES OR
                    INTERACTIVE FEATURES AND ASSUMES NO LIABILITY OR RESPONSIBILITY FOR ANY (A)
                    PERSONAL INJURY OR DEATH OR PROPERTY LOSS OR DAMAGE, OF ANY NATURE WHATSOEVER,
                    RESULTING FROM YOUR ACCESS TO OR USE OF THE DIGITAL SERVICES OR INTERACTIVE
                    FEATURES OR FROM THE CONDUCT OF ANY BOSCH REXROTH EMPLOYEES, SERVICE PROVIDERS
                    OR USERS OF THE DIGITAL SERVICES OR INTERACTIVE FEATURES, WHETHER ONLINE OR
                    OFFLINE, (B) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR OR OUR SERVICE PROVIDERS&rsquo;
                    SECURE SERVERS AND/OR ANY AND ALL USE OF OR LOSS OR CORRUPTION OF PERSONAL
                    INFORMATION (INCLUDING, WITHOUT LIMITATION, FINANCIAL INFORMATION) &nbsp;STORED
                    THEREIN, (C) ANY INTERRUPTION OR CESSATION OF TRANSMISSION TO OR FROM THE
                    DIGITAL SERVICES, (D) ANY BUGS, VIRUSES, MALWARE, TROJAN HORSES, OR THE LIKE
                    WHICH MAY BE TRANSMITTED TO OR THROUGH OUR THE DIGITAL SERVICES OR ANY USE OF
                    DISABLING CODE, AND (D) ANY ERRORS, INACCURACIES OR OMISSIONS IN ANY CONTENT OR
                    ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A RESULT OF THE USE OF ANY CONTENT
                    POSTED, EMAILED, TRANSMITTED, CONVEYED OR OTHERWISE MADE AVAILABLE VIA THE
                    DIGITAL SERVICES, SERVICE OR INTERACTIVE FEATURES.</p>
                <p>BOSCH REXROTH DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR
                    ANY PRODUCT OR SERVICE ADVERTISED OR OFFERED BY A THIRD PARTY THROUGH THE
                    DIGITAL SERVICES, SERVICE OR INTERACTIVE FEATURES OR ANY HYPERLINKED WEBSITE OR
                    APPLICATION OR FEATURED IN ANY ADVERTISING, OR BY ANY SERVICE PROVIDERS OUTSIDE
                    OF THE SERVICE, AND BOSCH REXROTH WILL NOT BE A PARTY TO OR IN ANY WAY BE
                    RESPONSIBLE FOR MONITORING ANY TRANSACTION BETWEEN YOU AND THIRD-PARTY PROVIDERS
                    OF PRODUCTS OR SERVICES.&nbsp; AS WITH THE PURCHASE OF A PRODUCT OR SERVICE
                    THROUGH ANY MEDIUM OR IN ANY ENVIRONMENT, YOU SHOULD USE YOUR BEST JUDGMENT AND
                    EXERCISE CAUTION WHERE APPROPRIATE.</p>
                <p><strong>Limitations of Liability</strong></p>
                <p>IN NO EVENT SHALL BOSCH REXROTH, ITS AFFILIATES, ITS SERVICE PROVIDERS AND EACH
                    OF THEIR RESPECTIVE CONTRACTORS, OFFICERS, MEMBERS, MANAGERS, EMPLOYEES, OR
                    AGENTS, SUCCESSORS OR ASSIGNS BE LIABLE TO YOU FOR ANY DIRECT, INDIRECT,
                    INCIDENTAL, SPECIAL, PUNITIVE, OR CONSEQUENTIAL DAMAGES WHATSOEVER RESULTING
                    FROM ANY (A) PERSONAL INJURY OR DEATH OR PROPERTY LOSS OR DAMAGE, OF ANY NATURE
                    WHATSOEVER, RESULTING FROM YOUR ACCESS TO OR USE OF THE DIGITAL SERVICES OR
                    INTERACTIVE FEATURES OR FROM THE CONDUCT OF ANY BOSCH REXROTH EMPLOYEES, SERVICE
                    PROVIDERS OR USERS OF THE DIGITAL SERVICES, SERVICE OR INTERACTIVE FEATURES,
                    WHETHER ONLINE OR OFFLINE, (B) ANY UNAUTHORIZED ACCESS TO OR USE OF OUR OR OUR
                    SERVICE PROVIDERS&rsquo; SECURE SERVERS AND/OR ANY AND ALL ACCESS TO, USE OF OR
                    LOSS OR CORRUPTION OF PERSONAL INFORMATION (INCLUDING, WITHOUT LIMITATION,
                    FINANCIAL INFORMATION) STORED THEREIN, (C) ANY INTERRUPTION OR CESSATION OF
                    TRANSMISSION TO OR FROM THE DIGITAL SERVICES, (D) ANY BUGS, VIRUSES, MALWARE,
                    TROJAN HORSES, OR THE LIKE WHICH MAY BE TRANSMITTED TO OR THROUGH OUR THE
                    DIGITAL SERVICESOR ANY USE OF DISABLING CODE, AND (F) ANY ERRORS, &nbsp;INACCURACIES
                    OR OMISSIONS IN ANY CONTENT OR ANY LOSS OR DAMAGE OF ANY KIND INCURRED AS A
                    RESULT OF THE USE OF ANY CONTENT POSTED, EMAILED, TRANSMITTED, CONVEYED OR
                    OTHERWISE MADE AVAILABLE VIA THE DIGITAL SERVICES, SERVICE OR INTERACTIVE
                    FEATURES, WHETHER BASED ON WARRANTY, CONTRACT, TORT (INCLUDING NEGLIGENCE),
                    STRICT LIABILITY, STATUTE OR ANY OTHER LEGAL THEORY, WHETHER OR NOT BOSCH
                    REXROTH HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES, AND NOTWITHSTANDING
                    THE FAILURE OF ESSENTIAL PURPOSE OF ANY REMEDY. &nbsp;YOU AGREE TO RELEASE, HOLD
                    HARMLESS AND INDEMNIFY BOSCH REXROTH FROM AND AGAINST ANY AND ALL CLAIMS,
                    DEMANDS, LIABILITIES, LOSSES, DAMAGES, FINES AND EXPENSES ARISING FROM YOUR
                    ACCESS TO OR USE OF THE DIGITAL SERVICES, SERVICE OR INTERACTIVE
                    FEATURES.&nbsp;</p>
                <p>IN NO EVENT SHALL THE LIABILITY OF BOSCH REXROTH, ITS AFFILIATES, AND EACH OF
                    THEIR RESPECTIVE OFFICERS, MEMBERS, MANAGERS, EMPLOYEES, OR AGENTS, SUCCESSORS
                    OR ASSIGNS EXCEED, IN THE AGGREGATE FOR ALL CLAIMS, AN AMOUNT THAT IS THE LESSER
                    OF (A) THE FEES PAID BY YOU FOR THE SERVICE IN WHICH THE EVENT GIVING RISE TO
                    LIABILITY OCCURRED, IF ANY, OR (B) US $1000.</p>
                <p>THE FOREGOING LIMITATION OF LIABILITY SHALL APPLY TO THE FULLEST EXTENT PERMITTED
                    BY LAW IN THE APPLICABLE JURISDICTION AND SHALL SURVIVE TERMINATION OF THESE
                    TERMS OF SERVICE.&nbsp;</p>
                <p><strong>Miscellaneous</strong></p>
                <p><strong><em>Technical Requirements</em></strong></p>
                <p>Use of the Digital Services does not include the provision of a personal
                    computer, mobile device or other necessary equipment to access it.&nbsp; To use
                    the Digital Services you will require internet connectivity.&nbsp; We shall not
                    have any responsibility or liability for any internet connectivity, telephone,
                    mobile data or other costs you may incur.</p>
                <p><strong><em>Governing Law </em></strong></p>
                <p>These Terms of Service will be governed by and construed in accordance with the
                    laws of the State of Illinois, without regard to its conflicts of law
                    provisions.</p>
                <p><strong><em>Arbitration</em></strong></p>
                <p><strong>YOU AND BOSCH REXROTH AGREE THAT, THE SOLE AND EXCLUSIVE FORUM AND REMEDY
                    FOR ANY AND ALL DISPUTES AND CLAIMS RELATING IN ANY WAY TO OR ARISING OUT OF
                    THESE TERMS OF SERVICE, THE PRIVACY POLICY, AND/OR THE SERVICE SHALL BE FINAL
                    AND BINDING ARBITRATION.</strong></p>
                <p>You and Bosch Rexroth agree to submit all disputes between you and Bosch Rexroth
                    arising out of or relating to the Service, these Terms of Service or the Privacy
                    Policy or the alleged breach or interpretation thereof, to binding arbitration,
                    <em>provided</em> that the foregoing shall not prevent Bosch Rexroth from
                    seeking injunctive relief in a court of competent jurisdiction.&nbsp; Within
                    thirty (30) days after either party has notified the other in writing that it is
                    submitting a dispute to arbitration, one arbitrator shall be chosen under the
                    then current Rules of the American Arbitration Association
                    (&ldquo;<strong>AAA</strong>&rdquo;) pertaining to commercial disputes
                    (&ldquo;<strong>Rules of the AAA</strong>&rdquo;).&nbsp; The arbitration
                    proceedings shall be conducted before a panel of three arbitrators (one
                    appointed by each party and the neutral appointed by the other two arbitrators).&nbsp;
                    The arbitration will be held in Chicago, Illinois, and will be conducted
                    according to the Rules of the AAA.&nbsp; These Terms of Service, the Privacy
                    Policy and the arbitration agreement shall be governed by the laws of the State
                    of Michigan, without regard to its conflicts of law provisions.&nbsp; The
                    arbitration award shall be by a written decision containing findings of fact and
                    conclusions of law, shall be final and binding and may be enforced by any court
                    of competent jurisdiction.&nbsp; The party prevailing in the arbitration or
                    other legal proceedings is entitled to recover its litigation costs, including
                    reasonable attorney's fees. In no case shall the arbitrator be authorized to
                    award costs and damages otherwise prohibited herein.</p>
                <p><strong>CLASS ACTION WAIVER: TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAWS,
                    REGULATIONS AND RULES, ANY ARBITRATION PROCEEDINGS UNDER THESE TERMS OF SERVICE
                    WILL BE CONDUCTED ONLY ON AN INDIVIDUAL BASIS AND NO ARBITRATION OR CLAIM UNDER
                    THESE TERMS OF SERVICE SHALL BE JOINED TO ANY OTHER ARBITRATION OR CLAIM,
                    INCLUDING ANY ARBITRATION OR CLAIM INVOLVING ANY OTHER CURRENT OR FORMER USER OF
                    THE SERVICE, </strong><strong>IN A CLASS OR REPRESENTATIVE ACTION OR AS A NAMED
                    OR UNNAMED MEMBER IN A CLASS, CONSOLIDATED, REPRESENTATIVE OR PRIVATE ATTORNEY
                    GENERAL ACTION[, UNLESS BOTH YOU AND BOSCH REXROTH SPECIFICALLY AGREE TO DO SO
                    IN WRITING FOLLOWING INITIATION OF THE ARBITRATION.</strong></p>
                <p><strong><em>No Assignment</em></strong></p>
                <p>These Terms of Service, and all rights and licenses granted hereunder, may not be
                    transferred or assigned by you without our prior written consent, but may be
                    assigned by Bosch Rexroth without restriction.&nbsp; Any attempted assignment by
                    you will be null and void.</p>
                <p><strong><em>Force Majeure</em></strong></p>
                <p>Any delay in the availability of the Service or non-performance of any Service
                    shall not be deemed a breach of these Terms of Service if such delay or
                    non-performance is caused by a fire, earthquake, flood, war, terrorist act,
                    government act, failure of common carriers (including Internet service
                    providers, labor strike or walk-out, act of God, or any other event beyond the
                    reasonable control of Bosch Rexroth or its Service Providers.</p>
                <p><strong><em>Notices</em></strong></p>
                <p>You expressly consent and agree to receive communications from us, including via
                    e-mail, text message, calls, fax, and push notifications to the mobile number
                    you provided to us. By agreeing to being contacted by us, you understand and
                    agree that you may receive communications concerning your account or use of the
                    Digital Services and/or Services, including confirmations, other transactional
                    communications and satisfaction ratings. You may opt out of receiving text
                    messages from Bosch Rexroth at any time.</p>
                <p>You agree that we may provide notices to you of changes to these Terms of Service
                    and/or our Privacy Policy, in one or more of the following ways: (a) a pop-up
                    notice, push notification or other notification on or through the Digital
                    Services, (b) an email or mail sent to an address you provided, or (c) by mobile
                    number.</p>
                <p><strong><em>Entire Agreement; Severability; No Waiver</em></strong></p>
                <p>These Terms of Service, together with our Privacy Policy and any and all other
                    policies or legal notices published by Bosch Rexroth pursuant to the
                    <u>Notices</u> provision (each as amended or supplemented from time to time) (&ldquo;<strong>Agreement</strong>&rdquo;),
                    constitute the entire agreement between you and Bosch Rexroth concerning your
                    use of the Digital Services and Service. &nbsp;If any provision of this
                    Agreement is deemed invalid, unenforceable or void by a court of competent
                    jurisdiction, the invalidity of such provision shall not affect the validity of
                    the remaining provisions of this Agreement, which shall remain in full force and
                    effect. &nbsp;No waiver of any term of this Agreement shall be deemed a further
                    or continuing waiver of such term or any other term, and Bosch Rexroth&rsquo;s
                    failure to assert any right or provision under this Agreement shall not
                    constitute a waiver of such right or provision.&nbsp;</p>
                <p><strong><em>Questions/Contact Information</em></strong></p>
                <p>If you are not completely satisfied with the Service or the Digital Services, or
                    have any questions or concerns about this Agreement, the Service, the Digital
                    Services, the Service fees, or any general inquiries, you may contact our
                    support center via email at <a href="mailto:support@improvidus.com">Support</a>.</p>
                <p><strong>&copy; Copyright 2016 Bosch Rexroth Corporation</strong></p>
                <p>All rights reserved.</p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <a href ng-click="controls.registrationView = 'registration'" class="btn btn-sm btn-white"
        >Close</a>
    </div>
    <script>
//        $(document).ready(
//            function() {
//                $('#terms').slimScroll({
//                    position: 'right',
//                    height: '500px',
//                    alwaysVisible: true
//                });
//            });
    </script>
</div>