<div class="panel panel-inverse">
    <div class="panel-body">
        <form name="addPlant">
            <div id="wizard" class="bwizard clearfix">
                <ol class="bwizard-steps clearfix clickable" role="tablist">
                    <li role="tab" style="z-index: 3;" ng-click="plantForm.step = 1"
                        ng-class="{'active':plantForm.step == 1}"><span
                            class="label badge-inverse">1</span><a href
                                                                   class="hidden-phone">
                        Plant
                    </a></li>
                    <li role="tab" style="z-index: 3;" ng-click="plantForm.step = 2"
                        ng-class="{'active':plantForm.step == 2}"><span
                            class="label">2</span><a href class="hidden-phone">
                        Users
                    </a></li>
                </ol>
                <div class="well">
                    <div id="step1" role="tabpanel"
                         ng-show="plantForm.step == 1">
                        <div ng-include="'app/main/administration/plants/views/add/plant.html'"></div>
                    </div>
                    <div id="step2" role="tabpanel"
                         ng-show="plantForm.step == 2">
                        <div ng-include="'app/main/administration/plants/views/add/users.html'"></div>
                    </div>
                </div>
                <ul class="pager bwizard-buttons">
                    <li class="previous" role="button" ng-hide="plantForm.step == 1"><a href
                                                                                        ng-click="plantForm.step == 1 ? plantForm.step = plantForm.step : plantForm.step = plantForm.step - 1">←
                        Previous</a></li>
                    <li class="next" role="button" ng-hide="plantForm.step == 2"><a href
                                                                                    ng-click="plantForm.step == 2 ? plantForm.step = plantForm.step : plantForm.step = plantForm.step + 1">Next
                        →</a></li>
                    <li class="next m-r-5" role="button"
                        ng-show="plantForm.step == 2 && addPlant.$valid && !buttons.submitted"><a
                            class="bg-green text-white" auto-focus="plantForm.step == 2" href
                            ng-click="save(); buttons.isCollapsed = !buttons.isCollapsed;"><i
                            class="fa fa-save"></i> Save</a></li>
                    <li class="next m-r-5 disabled" role="button"
                        ng-show="plantForm.step == 2 && !addPlant.$valid"><a href
                                                                             class="bg-green text-white"><i
                            class="fa fa-save"></i> Save</a></li>
                </ul>
            </div>
        </form>
    </div>
</div>