<div class="pull-right">
    <button ng-show="!buttons.confirm && !buttons.isCollapsed"
            type="button" class="btn btn-xs btn-success"
            ng-click="add()">
        <i class="fa fa-plus-circle"></i> {{'ADD' | translate}}
    </button>
    <button ng-show="!buttons.confirm && !buttons.isCollapsed && data.selectedPlants.length > 0"
            type="button" class="btn btn-xs btn-danger"
            ng-click="remove();">
        <i class="fa fa-minus"></i> {{'REMOVE' | translate}}
    </button>
    <button ng-show="!buttons.confirm && !buttons.isCollapsed"
            type="button" class="btn btn-xs btn-default"
            ng-click="refresh()">
        <i class="fa fa-refresh"></i> {{'REFRESH' | translate}}
    </button>
</div>