<div class="container height-full">
    <div class="row m-0 p-t-10 height-full">
        <div class="card panel-body min-height-40">
            <div class="row">
                <div class="col-sm-12">
                    <h4>
                        <!--<div ng-include="'app/main/administration/costcenters/views/controls.html'"></div>-->
                        <ol class="breadcrumb">
                            <li><a ng-href="#/admin/plants"><i class="fa fa-home"></i></a></li>
                            <li class="active">{{data.plant.displayName}}</li>
                        </ol>
                    </h4>
                </div>
            </div>
            <div class="row plant-details">
                <div class="col-md-3">
                    <div class="profile-left" style="width: 100%">
                        <!-- begin profile-image -->
                        <div class="profile-image">
                            <i class="fa fa-6 fa-industry"></i>
                        </div>
                        <div class="btn-group-sm text-center m-b-20" permission
                             permission-only="['SUPER_ADMIN','ADMIN','GENERAL_MANAGER']">
                            <button class="btn btn-sm btn-danger" ng-click="remove()"><i
                                    class="fa fa-minus"></i> {{'REMOVE'
                                |
                                translate}} Plant
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 table-responsive" style="display: inline-block;">
                    <h1 class="page-header">{{data.plant.displayName}}
                        <small></small>
                    </h1>
                    <ul class="nav nav-tabs" ng-init="data.tab=2">
                        <li ng-class="{active:data.tab==2}"><a href ng-click="data.tab=2" data-toggle="tab"><i
                                class="fa fa-usd"></i>
                            Cost Centers</a></li>
                        <li ng-class="{active:data.tab==1}" permission
                            permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER']"><a href
                                                                                                              ng-click="data.tab=1"
                                                                                                              data-toggle="tab"><i
                                class="fa fa-users"></i> Users</a></li>
                    </ul>
                    <div class="tab-content p-0 m-t-10 m-b-0">
                        <div id="default-tab-1" ng-if="data.tab==1" permission
                             permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER']">
                            <div ng-include="'app/main/administration/users/views/list.selectable.html'">
                                <!--ng-controller="adminUsersCtrl"-->
                            </div>
                        </div>
                        <div id="default-tab-2" ng-if="data.tab==2"
                             ng-controller="adminCostCentersCtrl">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div ng-include="'app/main/administration/costcenters/views/list.html'"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>