<div class="container height-full">
    <div class="row m-0 p-t-10 height-full">
        <div class="card panel-body min-height-40">
            <div class="row">
                <div class="col-md-12">
                    <h4>
                        <!--<div ng-include="'app/main/administration/plants/views/controls.html'"></div>-->
                        <ol class="breadcrumb">
                            <li class="active"><i class="fa fa-home"></i></li>
                            <li permission permission-only="['SUPER_ADMIN','ADMIN','GENERAL_MANAGER']"><a href
                                                                                                          ng-click="add()"
                                                                                                          style="font-size: small"
                                                                                                          title="Add Plant"><i
                                    class="fa fa-plus"></i></a></li>
                        </ol>
                    </h4>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div ng-include="'app/main/administration/plants/views/list.html'"></div>
                </div>
            </div>
        </div>

        <!--<div class="card panel-body min-height-40">-->
        <!--<div class="row">-->
        <!--<div class="col-md-12">-->
        <!--<h4>-->
        <!--&lt;!&ndash;<div ng-include="'app/main/administration/plants/views/controls.html'"></div>&ndash;&gt;-->
        <!--<ol class="breadcrumb">-->
        <!--<li class="active"><i class="fa fa-home"></i></li>-->
        <!--<li permission permission-only="['SUPER_ADMIN','ADMIN','GENERAL_MANAGER']"><a href-->
        <!--ng-click="add()"-->
        <!--style="font-size: small"-->
        <!--title="Add Plant"><i-->
        <!--class="fa fa-plus"></i></a></li>-->
        <!--</ol>-->
        <!--</h4>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="row plant-details">-->
        <!--<div class="col-md-12" style="display: inline-block;">-->
        <!--<ul class="nav nav-tabs" ng-init="data.tab=2">-->
        <!--<li ng-class="{active:data.tab==2}"><a href ng-click="data.tab=2" data-toggle="tab"><i-->
        <!--class="fa fa-th"></i>-->
        <!--</a></li>-->
        <!--<li ng-class="{active:data.tab==1}" permission-->
        <!--permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER']"><a href-->
        <!--ng-click="data.tab=1"-->
        <!--data-toggle="tab"><i-->
        <!--class="fa fa-sitemap"></i></a></li>-->
        <!--</ul>-->
        <!--<div class="tab-content p-0 m-t-10 m-b-0">-->
        <!--<div id="default-tab-1" ng-if="data.tab==1" permission-->
        <!--permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER']">-->
        <!--<div ng-include="'app/main/administration/views/org-tree.html'"></div>-->
        <!--</div>-->
        <!--<div id="default-tab-2" ng-if="data.tab==2">-->
        <!--<div class="row">-->
        <!--<div class="col-sm-12">-->
        <!--<div ng-include="'app/main/administration/plants/views/list.html'"></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
        <!--</div>-->
    </div>
</div>