<!--build:js min/js/app.js-->
<script src="app/main/administration/administration.module.ctrl.js"></script>
<script src="app/main/profile/profile.module.ctrl.js"></script>

<script src="app/shared/navigation/nav.ctrl.js"></script>
<script src="app/shared/navigation/nav.ctrl.ext.js"></script>
<script src="app/main/services/controllers/consulting.ctrl.js"></script>
<script src="app/main/services/controllers/services.ctrl.js"></script>
<script src="app/main/analysis/filters.ctrl.js"></script>
<script src="app/main/oee/oee.charts.ctrl.js"></script>
<script src="app/main/oee/oee.ctrl.js"></script>
<script src="app/main/datasources/data/filters.ctrl.js"></script>
<script src="app/main/datasources/data/oee/datasources.oee.ctrl.js"></script>
<script src="app/main/datasources/data/deviation/datasources.deviation.ctrl.js"></script>
<script src="app/main/analysis/multimetric/multimetric.ctrl.js"></script>
<script src="app/main/analysis/wordcloud/wordcloud.ctrl.js"></script>
<script src="app/main/analysis/correlations/correlations.ctrl.js"></script>
<script src="app/main/analysis/recommendations/recommendations.ctrl.js"></script>

<script src="app/main/administration/admin.module.js"></script>
<script src="app/main/administration/base/controllers/admin.base.controller.js"></script>
<script src="app/main/administration/organizations/controllers/admin.organizations.ctrl.js"></script>
<script src="app/main/administration/organizations/controllers/admin.organizations.details.ctrl.js"></script>
<script src="app/main/administration/users/controllers/admin.users.ctrl.js"></script>
<script src="app/main/administration/schedules/controllers/admin.schedules.ctrl.js"></script>
<script src="app/main/administration/schedules/controllers/admin.schedules.details.ctrl.js"></script>
<script src="app/main/administration/plants/controllers/admin.plants.ctrl.js"></script>
<script src="app/main/administration/plants/controllers/admin.plant.details.ctrl.js"></script>
<script src="app/main/administration/plants/components/plant.item.component.js"></script>
<script src="app/main/administration/costcenters/components/costcenter.item.component.js"></script>
<script src="app/main/administration/costcenters/controllers/admin.costcenter.details.ctrl.js"></script>
<script src="app/main/administration/costcenters/controllers/admin.costcenters.controller.js"></script>
<script src="app/main/administration/workcenters/components/workcenter.item.component.js"></script>
<script src="app/main/administration/workcenters/controllers/admin.workcenter.details.ctrl.js"></script>
<script src="app/main/administration/workcenters/controllers/admin.workcenters.controller.js"></script>
<script src="app/main/administration/admin.routes.js"></script>
<script src="app/main/administration/admin.permissions.js"></script>

<script src="app/main/datasources/datasources.module.js"></script>
<script src="app/main/datasources/datasources.routes.js"></script>

<script src="app/main/analysis/analysis.module.js"></script>
<script src="app/main/analysis/analysis.routes.js"></script>
<script src="app/main/analysis/controllers/analysis.ctrl.js"></script>
<script src="app/main/analysis/controllers/analysis.details.ctrl.js"></script>

<script src="app/shared/shared.module.js"></script>
<script src="app/shared/components/user-display/user-display.component.js"></script>

<script src="app/main/account/subscription/subscription.module.js"></script>
<script src="app/main/account/subscription/subscription.routes.js"></script>
<script src="app/main/account/subscription/controllers/payments.ctrl.js"></script>
<script src="app/main/account/subscription/controllers/plans.ctrl.js"></script>

<script src="app/main/account/profile/profile.module.js"></script>
<script src="app/main/account/profile/profile.routes.js"></script>
<script src="app/main/account/profile/controllers/profile.ctrl.js"></script>

<script src="app/main/account/account.module.js"></script>
<script src="app/main/account/account.routes.js"></script>

<script src="app/main/app.base.ctrl.js"></script>
<script src="app/main/app.module.js"></script>
<script src="app/main/app.constants.js"></script>
<script src="app/main/app.routes.js"></script>
<script src="app/main/config/app.restangular.config.js"></script>
<script src="app/main/config/app.translations.config.js"></script>

<script src="app/main/login/login.module.js"></script>
<script src="app/main/login/login.routes.js"></script>
<script src="app/main/login/login.service.js"></script>
<script src="app/main/login/home/controllers/login.home.ctrl.js"></script>
<script src="app/main/login/services/controllers/login.services.ctrl.js"></script>
<script src="app/main/login/solutions/controllers/login.solutions.ctrl.js"></script>
<script src="app/main/login/oee/controllers/login.oee.ctrl.js"></script>
<script src="app/main/login/company/controllers/login.company.ctrl.js"></script>
<script src="app/main/login/contact/controllers/login.contact.ctrl.js"></script>

<script src="app/shared/translations/translation.service.js"></script>

<script src="app/admin/configurations/configurations.service.js"></script>
<script src="app/main/administration/users/administration.users.service.js"></script>

<script src="app/main/permissions/permissions.service.js"></script>
<script src="app/main/users/users.service.js"></script>

<script src="app/shared/directives.js"></script>
<script src="app/shared/filters.js"></script>
<script src="app/shared/services.js"></script>


<script src="app/shared/directives/file-read.directive.js"></script>
<script src="app/shared/directives/checklist.directive.js"></script>
<script src="app/shared/directives/auto-focus.directive.js"></script>
<script src="app/shared/directives/table-multiselect.directive.js"></script>
<script src="app/shared/services/configuration.js"></script>
<script src="app/main/account/profile/services/profile.service.js"></script>
<script src="app/main/datasources/datasources.service.js"></script>
<script src="app/main/administration/organizations/services/admin.organizations.service.js"></script>
<script src="app/main/administration/users/services/admin.users.service.js"></script>
<script src="app/main/administration/schedules/services/admin.schedules.service.js"></script>
<script src="app/main/administration/plants/services/admin.plants.service.js"></script>
<script src="app/main/administration/costcenters/services/admin.costcenters.service.js"></script>
<script src="app/main/administration/workcenters/services/admin.workcenters.service.js"></script>
<script src="app/main/analysis/services/analysis.service.js"></script>

<script src="app/main/account/subscription/services/payments.service.js"></script>
<script src="app/main/account/subscription/services/plans.service.js"></script>

<script src="app/shared/js-tree.module.js"></script>
<!-- endbuild -->