<!--build:js min/js/vendor.js-->
<script src="node_modules/jquery/dist/jquery.min.js"></script>
<script src="node_modules/jquery-migrate/dist/jquery-migrate.min.js"></script>
<script src="node_modules/jquery-ui-dist/jquery-ui.js"></script>
<script src="node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="node_modules/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<script src="node_modules/jquery.cookie/jquery.cookie.js"></script>

<script src="assets/js/apps.js"></script>

<script src="node_modules/gritter/js/jquery.gritter.js"></script>
<script src="node_modules/flot/jquery.flot.js"></script>
<script src="node_modules/flot/jquery.flot.time.js"></script>
<script src="node_modules/flot/jquery.flot.resize.js"></script>
<script src="node_modules/flot/jquery.flot.pie.js"></script>
<script src="node_modules/jquery-sparkline/jquery.sparkline.js"></script>
<script
        src="node_modules/jvectormap/jquery-jvectormap.min.js"></script>
<script
        src="node_modules/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js"></script>
<script src="node_modules/jquery.nicescroll/jquery.nicescroll.min.js"></script>

<script src="assets/libs/jquery.nicescroll/jquery.nicescroll.plus.js"></script>

<script
        src="node_modules/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
<script src="node_modules/moment/moment.js"></script>
<script src="node_modules/angular/angular.js"></script>
<script src="node_modules/angular-cache/dist/angular-cache.js"></script>
<script src="node_modules/ng-idle/angular-idle.js"></script>
<script src="node_modules/angular-sanitize/angular-sanitize.js"></script>
<script src="node_modules/angular-translate/dist/angular-translate.js"></script>
<script src="node_modules/angular-permission/dist/angular-permission.js"></script>
<script src="node_modules/angular-animate/angular-animate.js"></script>
<script
        src="node_modules/angular-translate-loader-static-files/angular-translate-loader-static-files.js"></script>

<script src="node_modules/angular-ui-router/release/angular-ui-router.js"></script>


<script src="assets/libs/angular/growl/angular-growl.js"></script>

<script src="node_modules/restangular/dist/restangular.js"></script>
<script src="node_modules/angular-ui-bootstrap/ui-bootstrap.js"></script>
<script src="node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="node_modules/angular-loading-bar/build/loading-bar.js"></script>
<script src="node_modules/spin.js/spin.js"></script>
<script src="node_modules/angular-spinner/angular-spinner.js"></script>
<script src="node_modules/angular-smart-table/dist/smart-table.js"></script>
<script src="node_modules/angular-dragdrop/src/angular-dragdrop.js"></script>
<script src="node_modules/angular-drag-and-drop-lists/angular-drag-and-drop-lists.js"></script>
<script src="node_modules/ng-csv/build/ng-csv.js"></script>
<script src="node_modules/ng-infinite-scroll/build/ng-infinite-scroll.js"></script>
<script src="node_modules/oclazyload/dist/ocLazyLoad.js"></script>
<script src="node_modules/underscore/underscore.js"></script>
<script src='node_modules/lodash/dist/lodash.js'></script>
<script src='node_modules/angular-ui-sortable/dist/sortable.js'></script>
<script src='node_modules/angular-ui-layout/src/ui-layout.js'></script>
<script src='node_modules/angular-cron-jobs/dist/angular-cron-jobs.js'></script>
<script src="node_modules/sortablejs/Sortable.js"></script>
<script src="node_modules/angular-dashboard-framework/dist/angular-dashboard-framework.js"></script>
<script src="node_modules/adf-structures-base/dist/adf-structures-base.js"></script>

<script src="assets/libs/flags/ng-flags.js"></script>

<script src="node_modules/jasny-bootstrap/dist/js/jasny-bootstrap.js"></script>
<script src="node_modules/bootstrap-fileinput/js/fileinput.min.js"></script>

<script src="assets/libs/datetime/jquery-cron/jquery-cron.js"></script>

<script src="node_modules/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
<script src="node_modules/daterangepicker/daterangepicker.js"></script>
<script
        src="node_modules/angular-daterangepicker/js/angular-daterangepicker.js"></script>
<script
        src="node_modules/timepicker/jquery.timepicker.js"></script>
<script
        src="node_modules/angular-jquery-timepicker/src/timepickerdirective.js"></script>
<script src="node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.js"></script>

<script src="assets/libs/touchspin/ngTouchSpin.js"></script>

<script src="node_modules/angular-bootstrap-colorpicker/js/bootstrap-colorpicker-module.js"></script>

<script src="assets/libs/units.js"></script>

<script src="node_modules/ui-select/dist/select.js"></script>
<script src="node_modules/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
<script src="node_modules/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
<script src="node_modules/switchery-npm/index.js"></script>
<script
        src="node_modules/ion-rangeslider/js/ion.rangeSlider.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload.js"></script>
<script src="node_modules/ng-file-upload/dist/ng-file-upload-shim.js"></script>
<script src="node_modules/angular-media-queries/match-media.js"></script>
<script src="node_modules/paho-mqtt/mqttws31.js"></script>
<script src="node_modules/stompjs/lib/stomp.js"></script>

<script src="app/shared/countries/country.picker.js"></script>

<script src="node_modules/jszip/dist/jszip.js"></script>

<script src="node_modules/angular-stripe-release/release/angular-stripe.js"></script>

<script src="node_modules/jquery.nicescroll/jquery.nicescroll.js"></script>
<script src="node_modules/fittext.js/jquery.fittext.js"></script>
<script src="node_modules/ng-fittext/dist/ng-FitText.min.js"></script>
<script src="node_modules/ng-dropdown-multiselect/dist/angularjs-dropdown-multiselect.min.js"></script>
<script src="node_modules/card/dist/card.js"></script>
<script src="node_modules/angular-cookies/angular-cookies.js"></script>
<script src="node_modules/angular-jwt/dist/angular-jwt.js"></script>

<script src="assets/libs/scroll-monitor/scroll-monitor.js"></script>

<script src="assets/libs/jquery.nicescroll/jquery.nicescroll.plus.js"></script>
<script src="assets/libs/stripe/ng-card.js"></script>
<script src="assets/libs/stripe/angular-stripe.js"></script>

<script src="node_modules/d3/d3.js"></script>

<script src="node_modules/d3.layout.cloud-browserify/d3.layout.cloud.js"></script>
<script src="node_modules/rainbowvis.js/rainbowvis.js"></script>
<script src="node_modules/isteven-angular-multiselect/isteven-multi-select.js"></script>
<script src="node_modules/nvd3/build/nv.d3.js"></script>
<script src="node_modules/angular-nvd3/dist/angular-nvd3.js"></script>

<script src="assets/libs/opencpu/opencpu-0.4.js"></script>

<script src="assets/libs/charts/am-charts/amcharts.js"></script>
<script src="assets/libs/charts/am-charts/serial.js"></script>
<script src="assets/libs/charts/am-charts/pie.js"></script>
<script src="assets/libs/charts/am-charts/gauge.js"></script>

<script src="assets/libs/charts/am-charts/ext/export.config.default.js"></script>

<script src="assets/libs/charts/am-charts/ext/export.js"></script>

<script src="node_modules/angular-css/angular-css.min.js"></script>
<!-- endbuild -->