<div class="modal-header">
    <h3>You will be logged out shortly...</h3>
</div>
<div idle-countdown="countdown" ng-init="countdown=5" class="modal-body">
    <div class="progress progress-striped active">
        <div class="progress-bar"
             ng-style="{'width': (countdown * 100 / 5) + '%'}">
            {{countdown}} second(s).
        </div>
    </div>
</div>