<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="container">
                <h2 class="text-center m-b-30 m-t-40">{{data.selectedSolution.title}}</h2>
                <p class="content-desc m-b-50">
                    {{data.selectedSolution.description}}
                </p>
            </div>
        </div>
    </div>
    <!--<div class="row">-->
    <!--<div class="col-md-12">-->
    <!--<div id="solutionCarousel" class="carousel slide p-t-0" data-interval="false">-->
    <!--<div class="carousel-inner">-->
    <!--<div class="item" ng-repeat="image in data.selectedSolution.images track by $index"-->
    <!--ng-class="{active: $index == 0}">-->
    <!--<div class="row">-->
    <!--<div class="col-sm-12">-->
    <!--<img ng-src="images/{{image}}" height="500px">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--<ol class="carousel-indicators">-->
    <!--<li data-target="#testimonials" data-slide-to="{{$index}}"-->
    <!--ng-repeat="image in data.selectedSolution.images track by $index"-->
    <!--ng-class="{active: $index == 0}"></li>-->
    <!--</ol>-->
    <!--</div>-->
    <div class="row table-row width-full">
        <div class="col-md-2 carousel-controls-col">
            <a class="pointer carousel-controls pull-right" data-target="#solutionCarousel"
               data-slide="prev"
               ng-non-bindable><i
                    class="fa fa-arrow-left"></i></span></a>
        </div>
        <div class="col-md-8">
            <div id="solutionCarousel" class="carousel slide p-t-0" data-interval="false">
                <div class="carousel-inner">
                    <div class="item" ng-repeat="image in data.selectedSolution.images track by $index"
                         ng-class="{active: $index == 0}">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                <img ng-src="images/{{image}}" height="500px">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2 carousel-controls-col">
            <a class="pointer carousel-controls pull-left" data-target="#solutionCarousel" data-slide="next"
               ng-non-bindable><i
                    class="fa fa-arrow-right"></i></span></a>
        </div>
    </div>


    <!--</div>-->
    <!--</div>-->
    <div class="row">
        <div class="col-md-12 text-center m-t-30 m-b-30">
            <a href ng-click="data.selectedSolution = null; selectState('/public/solutions')"
               class="btn btn-theme btn-sm p-l-40 p-r-40 pointer">
                {{'Back to List' | translate}}</a>
        </div>
    </div>
</div>