<div id="oee-solution" class="content">
    <div class="row table-row">
        <div class="col-md-6">
            <div class="pull-right">
                <img src="images/login/OEE_screenshot.jpg" height="350px">
            </div>
        </div>
        <div class="col-md-3 oee-desc">
            <h4>Overall Equipment Effectiveness (OEE) Visualization Tool</h4>
            <p>Shows you equipment availability, production output, and deviation information. Users are able to filter
                and navigate based on their specific areas of responsibility. This is an outstanding tool for making
                sound decisions for Connected Industry investments. The OEE tool is available at no cost.</p>
            <!--<a href-->
            <!--class="btn btn-theme btn-sm align-bottom">{{'MORE' | translate}}</a>-->
            <!--<a href-->
            <!--ng-click="selectState('/public/solutions?solution=oee'); selectSolution('oee')"-->
            <!--class="btn btn-theme btn-sm align-bottom">{{'MORE' | translate}}</a>-->
        </div>
        <div class="col-md-3"></div>
    </div>
</div>
<div id="visualization" class="content bg-home-gray p-b-0" style="overflow: initial;">
    <div class="container">
        <h2 class="text-center text-white m-b-30 m-t-40">{{'Advanced Visualization Software' | translate}}</h2>
        <p class="content-desc text-white m-b-50">
            Includes the same great OEE Visualization Tool, in addition to some great tools such as the Multi-Metric
            Pareto Tool, Event Correlation Tool, Word Cloud, and Recommendations Tool.
        </p>
        <!--<div ng-click="" class="play-button-outer pointer">-->
        <!--<div class="play-button-inner"><i class="fa fa-play"></i></div>-->
        <!--</div>-->
    </div>
</div>
<div id="analysis-tools" class="content">
    <div class="container">
        <div class="row m-b-40">
            <div class="col-md-12">
                <a href ng-click="register()" data-click="scroll-to-target" class="btn btn-theme btn-sm pull-right">{{'Sign
                    Up Now' | translate}}<i
                            class="fa fa-arrow-right m-l-10"></i></a>
            </div>
        </div>
        <div class="row table-row card p-20 m-b-30 width-full">
            <div class="col-md-4 analysis-desc">
                <h4><span>{{'Multi-Metric Pareto and Recommendations' | translate}}</span></h4>
                <p>
                    Allows for easy visualization,
                    filtering, and drill down for your deviation data set. These tools highlight opportunities, guide
                    the user and provide recommendations by looking for filtering options within the data that give a
                    "line of best fit" following pareto rules.
                </p>
                <!--<a class="more-link bold align-bottom m-b-20 m-r-20">{{'MORE' | translate}} <i-->
                <!--class="fa fa-long-arrow-right"></i></a>-->
                <!--<a ng-click="selectState('/public/solutions?solution=paretos'); selectSolution('paretos')"-->
                <!--class="more-link bold align-bottom m-b-20 m-r-20">{{'MORE' | translate}} <i-->
                <!--class="fa fa-long-arrow-right"></i></a>-->
            </div>
            <div class="col-md-8">
                <div class="row table-row analysis-content p-30">
                    <div class="col-md-4 analysis-content-desc">
                        <h4 class="m-l-40">
                            {{'Multi-Metric Pareto and Recommendations' | translate}}
                        </h4>
                    </div>
                    <div class="col-md-8">
                        <img src="images/login/MMParetos_screenshot.png" height="300px" width="600px">
                    </div>
                </div>
            </div>
        </div>
        <div class="row table-row card p-20 m-b-30 width-full">
            <div class="col-md-4 analysis-desc">
                <h4><span>{{'Event Correlation Tool' | translate}}</span></h4>
                <p>
                    Provides insights into correlating events and time between those events.
                    This enables users to address the root cause of an issue that is further upstream in the process
                    rather than focusing on the symptoms that show up downstream. This powerful tool will open up new
                    and improved transparency to pinpoint and drive Connected Industry investments and improvements
                    using the most efficient approach.
                </p>
                <!--<a class="more-link bold align-bottom m-b-20 m-r-20">{{'MORE' | translate}} <i-->
                <!--class="fa fa-long-arrow-right"></i></a>-->
                <!--<a ng-click="selectState('/public/solutions?solution=correlations'); selectSolution('correlations')"-->
                <!--class="more-link bold align-bottom m-b-20 m-r-20">{{'MORE' | translate}} <i-->
                <!--class="fa fa-long-arrow-right"></i></a>-->
            </div>
            <div class="col-md-8">
                <div class="row table-row analysis-content p-30">
                    <div class="col-md-4 analysis-content-desc">
                        <h4 class="m-l-40">
                            {{'Event Correlation Tool' | translate}}
                        </h4>
                    </div>
                    <div class="col-md-8">
                        <img src="images/login/Correlations_screenshot.png" height="300px" width="600px">
                    </div>
                </div>
            </div>
        </div>
        <div class="row table-row card p-20 m-b-30 width-full">
            <div class="col-md-4 analysis-desc">
                <h4><span>{{'Word Cloud' | translate}}</span></h4>
                <p>
                    Associates word usage with impact to help find systemic issues and is especially
                    useful if you have access to free text inputs from operators/technicians and impacts (hours, cost,
                    etc.), but do not have highly organized deviation data.
                </p>
                <!--<a class="more-link bold align-bottom m-b-20 m-r-20">{{'MORE' | translate}} <i-->
                <!--class="fa fa-long-arrow-right"></i></a>-->
                <!--<a ng-click="selectState('/public/solutions?solution=wordcloud'); selectSolution('wordcloud')"-->
                <!--class="more-link bold align-bottom m-b-20 m-r-20">{{'MORE' | translate}} <i-->
                <!--class="fa fa-long-arrow-right"></i></a>-->
            </div>
            <div class="col-md-8">
                <div class="row table-row analysis-content p-30">
                    <div class="col-md-4 analysis-content-desc">
                        <h4 class="m-l-40">
                            {{'Word Cloud' | translate}}
                        </h4>
                    </div>
                    <div class="col-md-8">
                        <img src="images/login/Wordcloud_screenshot.png" height="300px" width="600px">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>