<div ng-include="'app/main/login/views/header.html'"></div>
<div id="home" class="content has-bg half-bg home" title="Picture: Bosch"></div>

<div ng-if="!data.selectedSolution" ng-include="'app/main/login/solutions/views/list.html'"></div>
<div ng-if="data.selectedSolution" ng-include="'app/main/login/solutions/views/details.html'"></div>

<div ng-include="'app/main/login/views/footer.html'"></div>