<div class="cookie-modal" id="modal-dialog" style="display: block;" ng-enter="close();">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" ng-click="close();" class="close" data-dismiss="modal"
                    aria-hidden="true">x
            </button>
            <h4 class="modal-title">Cookies Required</h4>
        </div>
        <div class="modal-body">
            <p>Please change your browser settings to allow cookies from this site to be stored.</p>
            <small>**You will not be able to log in without cookies enabled.</small>
        </div>
        <div class="modal-footer">
            <a class="btn btn-sm btn-white" ng-click="close()" data-dismiss="modal">Close</a>
        </div>
    </div>
</div>