<div id="footer" class="footer content bg-black-darker has-bg p-b-0">
    <div class="content-bg">
    </div>
    <div class="container">
        <div class="footer-brand">
            <img src="images/rexroth.png" width="10%">
        </div>
        <p>
            © 2016 Rexroth - All Rights Reserved <br>
        </p>
        <p class="social-list">
            <a href="https://www.facebook.com/BoschRexroth" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>
            <a href="https://twitter.com/BoschRexrothUS" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>
            <a href="https://www.youtube.com/user/BoschRexrothGlobal" target="_blank"><i
                    class="fa fa-youtube-play fa-fw"></i></a>
            <a href="https://www.linkedin.com/company/bosch-rexroth" target="_blank"><i
                    class="fa fa-linkedin-square fa-fw"></i></a>
        </p>
    </div>
    <div class="container footer-wide m-t-40">
        <div class="row m-t-10 m-b-10">
            <div class="col-md-4">
                <p class="pull-left m-b-0">Rexroth - Bosch Group</p>
            </div>
            <div class="col-md-8 footer-tabs">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href ng-click="selectState('/public/home')">Home</a></li>
                    <li><a href ng-click="selectState('/public/services')">Services</a></li>
                    <li><a href ng-click="selectState('/public/solutions')">Solutions</a></li>
                    <li><a href ng-click="selectState('/public/oee')">OEE</a></li>
                    <li><a href ng-click="selectState('/public/company')">Company</a></li>
                    <li><a href ng-click="selectState('/public/contact')">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<!--<div id="footer" class="footer text-left content bg-black-darker has-bg p-b-0">-->
<!--<div class="content-bg">-->
<!--</div>-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<div class="row table-row width-full contact-row m-b-30">-->
<!--<div class="col-md-3">-->
<!--<div class="footer-brand m-b-20 text-center">-->
<!--<img src="images/rexroth.png" width="30%">-->
<!--</div>-->
<!--&lt;!&ndash;<p>&ndash;&gt;-->
<!--&lt;!&ndash;© 2016 Rexroth - All Rights Reserved <br>&ndash;&gt;-->
<!--&lt;!&ndash;</p>&ndash;&gt;-->
<!--<p class="social-list m-t-0">-->
<!--<a href="https://www.facebook.com/BoschRexroth" target="_blank"><i-->
<!--class="fa fa-facebook fa-fw"></i></a>-->
<!--<a href="https://twitter.com/BoschRexrothUS" target="_blank"><i-->
<!--class="fa fa-twitter fa-fw"></i></a>-->
<!--<a href="https://www.youtube.com/user/BoschRexrothGlobal" target="_blank"><i-->
<!--class="fa fa-youtube-play fa-fw"></i></a>-->
<!--<a href="https://www.linkedin.com/company/bosch-rexroth" target="_blank"><i-->
<!--class="fa fa-linkedin-square fa-fw"></i></a>-->
<!--</p>-->
<!--</div>-->
<!--<div class="col-md-3">-->
<!--<h4>{{'Call us now' | translate}}</h4>-->
<!--<p>Office telephone: (610) 694-8508</p>-->
<!--</div>-->
<!--<div class="col-md-3">-->
<!--<h4>{{'Come visit us' | translate}}</h4>-->
<!--<p class="m-b-0">2315 City Line Rd</p>-->
<!--<p>Bethlehem, PA 18017</p>-->
<!--</div>-->
<!--<div class="col-md-3">-->
<!--<h4>{{'Send a message' | translate}}</h4>-->
<!--<p>E-mail: improvidus@us.bosch.com</p>-->
<!--</div>-->
<!--</div>-->
<!--&lt;!&ndash;<div class="row">&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;<h4>{{'Hours work' | translate}}</h4>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-md-4">&ndash;&gt;-->
<!--&lt;!&ndash;<h4>{{'Subscribe now' | translate}}</h4>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--&lt;!&ndash;<div class="col-md-4"></div>&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="container footer-wide">-->
<!--<div class="row m-t-10">-->
<!--<div class="col-md-4">-->
<!--Rexroth - Bosch Group-->
<!--</div>-->
<!--<div class="col-md-8">-->
<!--<p class="pull-right">Tab List</p>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div id="footer" class="footer content bg-black-darker has-bg">-->
<!--<div class="content-bg">-->
<!--</div>-->
<!--<div class="container">-->
<!--<div class="footer-brand">-->
<!--<img src="images/rexroth.png" width="10%">-->
<!--</div>-->
<!--<p>-->
<!--© 2016 Rexroth - All Rights Reserved <br>-->
<!--</p>-->
<!--<p class="social-list">-->
<!--<a href="https://www.facebook.com/BoschRexroth" target="_blank"><i class="fa fa-facebook fa-fw"></i></a>-->
<!--<a href="https://twitter.com/BoschRexrothUS" target="_blank"><i class="fa fa-twitter fa-fw"></i></a>-->
<!--<a href="https://www.youtube.com/user/BoschRexrothGlobal" target="_blank"><i-->
<!--class="fa fa-youtube-play fa-fw"></i></a>-->
<!--<a href="https://www.linkedin.com/company/bosch-rexroth" target="_blank"><i-->
<!--class="fa fa-linkedin-square fa-fw"></i></a>-->
<!--</p>-->
<!--</div>-->
<!--</div>-->
