<div id="header" class="header navbar navbar-transparent navbar-fixed-top">
    <div class="header-container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#header-navbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href ng-click="selectState('/public/home')" class="navbar-brand">
                    <span class="brand-text"
                          style="font-family: 'Tw Cen MT';color: #348fe2;font-size: 200%">Improvidus</span>
            </a>
        </div>
        <div class="header-menu" style="">
            <div class="collapse navbar-collapse header-pages"
                 id="header-navbar">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-class="{'active' : getState() == '/public/home'}"><a href
                                                                                ng-click="selectState('/public/home')">HOME</a>
                    </li>
                    <li ng-class="{'active' : getState().indexOf('/public/services') > -1}"><a href
                                                                                               ng-click="selectState('/public/services')">SERVICES</a>
                    </li>
                    <li ng-class="{'active' : getState() == '/public/solutions'}"><a href
                                                                                     ng-click="selectState('/public/solutions')">SOLUTIONS</a>
                    </li>
                    <li ng-class="{'active' : getState() == '/public/oee'}"><a href
                                                                               ng-click="selectState('/public/oee')">OEE</a>
                    </li>
                    <li ng-class="{'active' : getState().indexOf('/public/company') > -1}"><a href
                                                                                              ng-click="selectState('/public/company')">COMPANY</a>
                    </li>
                    <li ng-class="{'active' : getState() == '/public/contact'}"><a href
                                                                                   ng-click="selectState('/public/contact')">CONTACT
                        US</a></li>
                </ul>
            </div>
            <div class="collapse navbar-collapse header-login"
                 id="header-navbar2">
                <ul ng-if="!currentUser" class="nav navbar-nav navbar-right">
                    <li><a href ng-click="register()" data-click="scroll-to-target">REGISTER</a></li>
                    <li><a href ng-click="login()" data-click="scroll-to-target">LOGIN</a></li>
                </ul>
                <ul ng-if="currentUser" class="nav navbar-nav navbar-right">
                    <li class="dropdown navbar-user">
                        <a href class="dropdown-toggle" data-toggle="dropdown">
                            <img user-image user="currentUser" alt=""/>
                            <span class="hidden-xs">{{currentUser.displayName}}</span>
                            <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu media-list pull-right animated fadeInLeft m-t-5">
                            <li class="media">
                                <a href="javascript:;" ng-click="selectState('/')">
                                    <div class="media-left"><i
                                            class="fa fa-bar-chart media-object bg-red-lighter"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Dashboard</h6>
                                        <div class="text-muted f-s-11">Track your Manufacturing Efficiency</div>
                                    </div>
                                </a>
                            </li>
                            <li permission
                                permission-only="['SUPER_ADMIN', 'ADMIN', 'GENERAL_MANAGER', 'PLANT_MANAGER', 'PRODUCTION_MANAGER']"
                                class="media">
                                <a href="javascript:;" ng-click="selectState('/admin')">
                                    <div class="media-left"><i
                                            class="fa fa-building media-object bg-primary"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Organizations</h6>
                                        <div class="text-muted f-s-11">Organize your Plants and Users</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;" ng-click="selectState('/account')">
                                    <div class="media-left"><i
                                            class="fa fa-user media-object bg-orange"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Account</h6>
                                        <div class="text-muted f-s-11">Configure your Profile and
                                            Subscription
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;" ng-click="logout()">
                                    <div class="media-left"><i
                                            class="fa fa-sign-out media-object bg-grey"></i></div>
                                    <div class="media-body" style="vertical-align: middle">
                                        <h6 class="media-heading">{{'LOGOUT' | translate}}</h6>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>