<div id="page-container"
     class="fade page-sidebar-fixed page-header-fixed in fill login-page p-0 m-0">
    <div id="content" class="content fill p-0 m-0">
        <div id="outer-scroll" class="outerStaticContainer height-full p-0 m-0">
            <div id="inner-scroll" class="innerScrollableContent p-0 m-0" style="overflow: visible; min-height: 100%;">
                <ui-view></ui-view>
            </div>
        </div>
    </div>
</div>