<form id="loginform" role="form" class="login-modal">
    <div class="p-20">
        <h2 class="header text-center m-t-0">
            <img src="images/improvidus-logo.png" class="login-image">
            <div class="header-content text-primary">
                Log-in to your account
            </div>
        </h2>
        <div class="form-group m-b-10 text-left">
            <div class="left-inner-addon">
                <i class="fa fa-user"></i>
                <input type="text" name="username" ng-model="loginData.username"
                       class="form-control input-lg form-control-thin"
                       placeholder="Email Address or Username" style="background:none" auto-focus="true"/>
            </div>
        </div>
        <div class="form-group m-b-10 text-left">
            <div class="left-inner-addon">
                <i class="fa fa-lock"></i>
                <input type="password" name="password" ng-model="loginData.password"
                       class="form-control input-lg form-control-thin"
                       placeholder="Password" style="background:none"/>
            </div>
        </div>
        <div class="alert alert-danger fade in m-b-10 row m-0" ng-if="controls.error">
            <i class="fa fa-exclamation-triangle fa-2x col-sm-2"></i>
            <p class="col-sm-10">{{controls.error}}</p>
        </div>
        <input type="hidden" name="_csrf" value="{{csrf_token}}"/>
        <div>
            <button ng-click="doLogin()" class="btn sign-in btn-primary btn-block text-white"
                    ng-disabled="!loginData.username || !loginData.password || controls.delay > 0">Sign me in
            </button>
        </div>
        <div class="m-t-10">
            New to us? <a href ng-click="register()">Sign Up</a>
            <a href class="pull-right" ng-click="passwordRecovery()">Forgot password?</a>
        </div>
    </div>
</form>