<form name="recoveryForm" id="loginform" role="form" action="login" method="post" class="login-modal">
    <div class="p-20">
        <h2 class="header text-center">
            <img src="images/improvidus-logo.png" class="login-image">
            <div class="header-content text-primary">
                Reset Password
            </div>
        </h2>
        <div class="form-group m-b-10 text-left">
            <div class="left-inner-addon">
                <i class="fa fa-user"></i>
                <input id="emailAddress" type="email" name="emailAddress"
                       class="form-control input-lg form-control-thin"
                       placeholder="Email Address" style="background:none"
                       required="required" maxlength="256"
                       pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[A-Za-z]{2,4}$"
                       ng-model="passwordReset.email" auto-focus="true"/>
            </div>
        </div>
        <!--<input type="hidden" name="_csrf" value="{{csrf_token}}"/>-->
        <!--<div ng-if="controls.error" class="login-error m-b-10"-->
        <!--style="color: #ff5b57 !important">-->
        <!--<strong>Error!</strong> {{controls.error}}-->
        <!--</div>-->
        <div ng-show="controls.registrationState == 'filling'">
            <button ng-click="resetPassword()" ng-disabled="!recoveryForm.$valid || controls.processing"
                    class="btn btn-primary btn-block text-white"><span><i ng-show="controls.processing"
                                                                          class="fa fa-spinner fa-spin"></i> Reset Password</span>
            </button>
        </div>
        <div class="alert alert-success fade in" class="m-t-20" ng-show="controls.registrationState == 'success'">
            <i class="fa fa-check fa-2x pull-left"></i>
            <p>
                We've sent you an email with a link to reset your password.
            </p>
        </div>
        <div class="alert alert-danger fade in" class="m-t-20" ng-show="controls.registrationState == 'error'">
            <i class="fa fa-exclamation-triangle fa-2x pull-left"></i>
            <p>Sorry, the email is either invalid or not associated with any account. Do you want to <a href
                                                                                                        ng-click="controls.registrationState = 'filling'">try
                again</a>?</p>
        </div>
        <div class="m-t-20">
            Do you want to go back to <a href="javascript:;" ng-click="login()">login</a>?.
        </div>
    </div>
</form>

<!--<div class=" pace-top" style="height: initial;">-->
<!--<div class="login-cover">-->
<!--<div class="login-cover-image">-->
<!--<img src="images/background.png" data-id="login-cover-image" alt=""-->
<!--height="100%" width="100%"/>-->
<!--</div>-->
<!--<div class="login-cover-bg"></div>-->
<!--</div>-->
<!--<div id="page-container">-->
<!--<div class="login login-v2" data-pageload-addclass="animated fadeIn">-->
<!--<div class="login-header">-->
<!--<div class="brand center">-->
<!--<h1 class="improvidus-header">Improvidus</h1>-->
<!--</div>-->
<!--</div>-->
<!--<div class="login-content">-->
<!--<div ng-show="controls.view == 'user-info'">-->
<!--<label class="control-label-required">Email</label>-->
<!--<div class="row m-b-15">-->
<!--<div class="col-md-12">-->
<!--<input id="emailAddress" type="email" name="emailAddress"-->
<!--class="form-control" placeholder="Email address"-->
<!--required="required" maxlength="256"-->
<!--pattern="[A-Za-z0-9._%+-]+@[a-z0-9.-]+\.[A-Za-z]{2,4}$"-->
<!--ng-model="passwordReset.email"/>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--<div ng-if="controls.error" class="login-error m-b-10"-->
<!--style="color: #ff5b57 !important">-->
<!--<strong>Error!</strong> {{controls.error}}-->
<!--</div>-->
<!--<div ng-show="controls.view == 'user-info'">-->
<!--<div class="register-buttons">-->
<!--<a ng-click="resetPassword()"-->
<!--class="btn btn-primary btn-block btn-lg">Reset Password</a>-->
<!--</div>-->
<!--<div class="m-t-20">-->
<!--Do you want to go back to <a class="pointer login-link"-->
<!--href="login">login</a>?.-->
<!--</div>-->
<!--</div>-->
<!--<div class="m-t-20">-->
<!--<h6 class="text-white text-center">-->
<!--Powered by <img class="m-l-10" src="images/rexroth.png" width="64px">-->
<!--</h6>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->