<form name="passForm" id="loginform" role="form" class="login-modal">
    <div class="p-20">
        <h2 class="header text-center">
            <img src="images/improvidus-logo.png" class="login-image">
            <div class="header-content text-primary">
                Enter your new Password
            </div>
        </h2>
        <div class="form-group m-b-0"
             ng-class="{'has-error' : !passForm.password.$valid && !passForm.password.$pristine}">
            <label class="control-label">Password</label>
            <div class="row m-b-10">
                <div class="col-md-12">
                    <input type="password" ng-model="passwordReset.password"
                           class="form-control" id="password"
                           name="password" required="required"
                           ng-minlength="8" ng-maxlength="20"
                           ng-pattern="/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/" required auto-focus="true"/>
                    <p class="text-danger m-b-0"
                       ng-if="passForm.password.$error.required && !passForm.password.$pristine">
                        Required.</p>
                    <p class="text-danger m-b-0"
                       ng-if="(passForm.password.$error.minlength || passForm.password.$error.maxlength) && !passform.password.$pristine">
                        Name must be between 8 and 20 characters</p>
                    <p class="text-danger m-b-0"
                       ng-if="passForm.password.$error.pattern && !passForm.password.$pristine">
                        Name must contain one lowercase letter, one uppercase letter and one special
                        character</p>
                </div>
            </div>
        </div>
        <div class="form-group m-b-0"
             ng-class="{'has-error' : !passForm.password.$valid && !passForm.password.$pristine}">
            <label class="control-label">Confirm Password</label>
            <div class="row m-b-10">
                <div class="col-md-12">
                    <input type="password" ng-model="passwordReset.password2"
                           class="form-control" id="password_c"
                           name="password_c" required="required" pass-match="password" required/>
                    <p class="text-danger m-b-0"
                       ng-if="passForm.password_c.$error.required && !passForm.password_c.$pristine">
                        Required.</p>
                    <p class="text-danger m-b-0"
                       ng-if="passForm.password_c.$error.passMatch && !passForm.password_c.$pristine">
                        Passwords do not match.</p>
                </div>
            </div>
        </div>
        <!--<div class="form-group m-b-10 text-left">-->
        <!--<label class="control-label-required">Password</label>-->
        <!--<input id="" type="password" name="password"-->
        <!--class="form-control" placeholder="Enter new Password"-->
        <!--required="required" maxlength="256"-->
        <!--ng-model="passwordReset.password"/>-->
        <!--</div>-->
        <!--<div class="form-group m-b-10 text-left">-->
        <!--<label class="control-label-required">Confirm Password</label>-->
        <!--<input id="password2" type="password" name="password2"-->
        <!--class="form-control" placeholder="Confirm new Password"-->
        <!--required="required" maxlength="256"-->
        <!--ng-model="passwordReset.password2"/>-->
        <!--</div>-->
        <!--<pre>{{passForm | json}}</pre>-->
        <div ng-show="controls.registrationState == 'filling'">
            <button ng-click="submitResetPassword()" ng-disabled="!passForm.$valid"
                    class="btn btn-primary btn-block text-white"><span><i
                    ng-show="controls.processing"
                    class="fa fa-spinner fa-spin"></i>Set new Password</span>
            </button>
        </div>
        <div class="alert alert-success fade in" class="m-t-20"
             ng-show="controls.registrationState == 'success'">
            <i class="fa fa-check fa-2x pull-left"></i>
            <p>
                Done! Do you want to <a href="javascript:;"
                                        ng-click="login()">login</a>?.
            </p>
        </div>
        <div class="alert alert-danger fade in" class="m-t-20"
             ng-show="controls.registrationState == 'duplicatePasswordError'">
            <i class="fa fa-exclamation-triangle fa-2x pull-left"></i>
            <p>Cannot reuse current password.</p>
        </div>
        <div class="alert alert-danger fade in" class="m-t-20"
             ng-show="controls.registrationState == 'expiredTokenError'">
            <i class="fa fa-exclamation-triangle fa-2x pull-left"></i>
            <p>Reset token is no longer valid. Please request a new <a href="javascript:;"
                                                                       ng-click="passwordRecovery()">password reset</a>
                email</p>
        </div>
        <div class="m-t-20" ng-hide="controls.registrationState == 'success'">
            Do you want to go back to <a href="javascript:;" ng-click="login()">login</a>?.
        </div>
    </div>
</form>