<div ng-show="controls.registrationView == 'terms'">
    <div ng-include="'app/main/login/views/legal/terms.html'"></div>
</div>
<div ng-show="controls.registrationView == 'data-policy'">
    <div ng-include="'app/main/login/views/legal/data-policy.html'"></div>
</div>
<div ng-show="controls.registrationView == 'registration'">
    <form name="addOrg" id="loginform" role="form" class="login-modal">
        <div class="p-20">
            <h2 class="header text-center">
                <img src="images/improvidus-logo.png" class="login-image">
                <div class="header-content text-primary">
                    Create a new account
                </div>
            </h2>
            <div ng-show="controls.registrationState != 'success'">
                <legend class="pull-left width-full f-s-18">Company</legend>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group"
                             ng-class="{'has-error' : addOrg.company.$invalid && !addOrg.company.$pristine}">
                            <label>Name</label>
                            <input type="text" name="company"
                                   placeholder="Bosch Software Innovations"
                                   autocomplete="organization" ng-pattern="/^[a-z\d\-_\s]+$/i"
                                   class="form-control" ng-model="orgForm.org.displayName"
                                   ng-maxlength="30" ng-minlength="3" required auto-focus="true">
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.company.$error.required && !addOrg.company.$pristine">
                                Organization name is required.</p>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.company.$error.pattern && !addOrg.company.$pristine">
                                Organization should only have alphanumeric characters and spaces</p>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.company.$error.maxlength && !addOrg.company.$pristine">
                                Organization name must be less than 30 characters</p>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.company.$error.minlength && !addOrg.company.$pristine">
                                Organization name must be at least 3 characters</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group"
                             ng-class="{'has-error' : addOrg.address.$invalid && !addOrg.address.$pristine}">
                            <label>Street</label>
                            <input type="text" name="address" placeholder="161 N Clark St"
                                   autocomplete="street-address"
                                   class="form-control" ng-model="orgForm.org.address.street"
                                   required>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.address.$error.required && !addOrg.address.$pristine">
                                Address street is required.</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group"
                             ng-class="{'has-error' : addOrg.city.$invalid && !addOrg.city.$pristine}">
                            <label>City</label>
                            <input type="text" name="city" placeholder="Chicago"
                                   autocomplete="address-level2"
                                   class="form-control" ng-model="orgForm.org.address.city"
                                   required>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.city.$error.required && !addOrg.city.$pristine">
                                Address city is required.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"
                             ng-class="{'has-error' : addOrg.zip.$invalid && !addOrg.zip.$pristine}">
                            <label>Zip Code</label>
                            <input type="text" name="zip" placeholder="60601"
                                   autocomplete="postal-code" ng-pattern="/^[0-9]*$/i"
                                   class="form-control" ng-model="orgForm.org.address.zip" required>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.zip.$error.required && !addOrg.zip.$pristine">
                                Address zipcode is required.</p>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.zip.$error.pattern && !addOrg.zip.$pristine">
                                Zipcode must be numeric.</p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group"
                             ng-class="{'has-error' : addOrg.state.$invalid && !addOrg.state.$pristine}">
                            <label>State</label>
                            <input type="text" name="state" placeholder="IL"
                                   autocomplete="address-level1"
                                   class="form-control" ng-model="orgForm.org.address.state"
                                   required>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.state.$error.required && !addOrg.state.$pristine">
                                Address state is required.</p>
                        </div>
                    </div>
                </div>

                <legend class="pull-left width-full f-s-18">Admin</legend>
                <div class="form-group m-b-0"
                     ng-class="{'has-error' : !addOrg.userFirstName.$valid && !addOrg.userFirstName.$pristine}">
                    <label class="control-label">Name</label>
                    <div class="row m-b-10">
                        <div class="col-md-12">
                            <input type="text" ng-model="orgForm.user.firstName"
                                   class="form-control"
                                   name="userFirstName" autocomplete="name fname"
                                   required="required" placeholder="First Name" ng-maxlength="256"
                                   ng-minlength="5"/>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.userFirstName.$error.required && !addOrg.userFirstName.$pristine">
                                Name is required.</p>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.userFirstName.$error.maxlength && !addOrg.userFirstName.$pristine">
                                Name must be less than 256 characters</p>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.userFirstName.$error.minlength && !addOrg.userFirstName.$pristine">
                                Name must be at least 5 characters</p>
                        </div>
                    </div>
                </div>
                <div class="form-group  m-b-0"
                     ng-class="{'has-error' : !addOrg.email.$valid && !addOrg.email.$pristine}">
                    <label class="control-label-required">Email</label>
                    <div class="row">
                        <div class="col-md-12">
                            <input id="email" type="email" ng-model="orgForm.user.email"
                                   class="form-control" placeholder="Email address" name="email"
                                   required maxlength="256" ng-pattern="controls.emailFormat"/>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.email.$error.required && !addOrg.email.$pristine">
                                Email is required.</p>
                            <p class="text-danger m-b-0"
                               ng-if="addOrg.email.$invalid && !addOrg.email.$pristine && !addOrg.email.$error.required">
                                Invalid Email format</p>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="_csrf" value="{{csrf_token}}"/>
                <div class="checkbox">
                    <label> <input ng-model="agreedToEULA" type="checkbox"
                                   ng-model="registration.agreedToEULA"
                                   required="required"/> By clicking Sign Up, you agree to our
                        <a href ng-click="controls.registrationView = 'terms'">Terms</a> and that
                        you
                        have read our
                        <a href ng-click="controls.registrationView = 'data-policy'">Privacy Policy</a>.
                    </label>
                </div>
                <div class="register-buttons" ng-show="controls.registrationState == 'filling'">
                    <button ng-disabled="!addOrg.$valid|| !agreedToEULA || controls.processing"
                            ng-click="registerSubmit()"
                            class="btn btn-primary btn-block btn-lg"><span><i
                            ng-show="controls.processing"
                            class="fa fa-spinner fa-spin"></i>  Sign<span
                            ng-show="controls.processing">ing</span> Up</span>
                    </button>
                </div>
            </div>
            <div class="alert alert-success fade in" class="m-t-20"
                 ng-show="controls.registrationState == 'success'">
                <i class="fa fa-check fa-2x pull-left"></i>
                <h4>Great! You're almost there</h4>
                <p>
                    Please, check your email to find the activation link in order to complete your
                    registration.
                </p>
            </div>
            <div class="alert alert-danger fade in" class="m-t-20"
                 ng-show="controls.registrationState == 'duplicateOrganizationError' || controls.registrationState == 'duplicateUserError'">
                <i class="fa fa-exclamation-triangle fa-2x pull-left"></i>
                <p>
                    <span>{{controls.errorMessage}} Do you want to</span>
                    <a href ng-click="controls.registrationState = 'filling'">try again</a>
                    <span>?</span>
                </p>
            </div>
            <div class="m-t-20 ">
                Click <a href ng-click="login()">here</a> to login.<br/>
            </div>
        </div>
    </form>
</div>