.result-list .btn-row a {
    color: white;
}

.bg-transparent {
    background-color: transparent;
}

.widget-stats a {
    color: white;
}

.widget-stats h2 {
    margin: 0px;
    color: white;
    font-size: 24px;
    font-weight: 300;
}

.widget-stats .btn-row a:hover, .widget-stats .btn-row a:focus {
    text-decoration: none !important;
}

.pager li > a, .pager li > span {
    border-radius: 5px;
}

.plant-details .profile-highlight {
    background: white;
}

.fa-6 {
    font-size: 12vw;
}

.plant-details .profile-image {
    height: auto !important;
    line-height: inherit;
    padding: 20px;
    border: none;
}

.breadcrumb > .active {
    color: #b6c2c9;
}

/* enable absolute positioning */

.inner-addon {
    position: static;
}

/*th>span.inner-addon {*/
/*position: relative;*/
/*}*/

/*th>span.inner-addon i {*/
/*top: 15px;*/
/*}*/

/* style icon */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align icon */
.left-addon .fa {
    left: 0px;
    z-index: 10;
    /*line-height: 20px;*/
}

.right-addon .fa {
    right: 0px;
    z-index: 10;
    /*line-height: 20px;*/
}

/* add padding  */
.left-addon input {
    padding-left: 30px;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.right-addon input {
    padding-right: 30px;
    border-top-right-radius: 3px !important;
    border-bottom-right-radius: 3px !important;
}

.divider {
    padding: 10px 0;
    margin-top: 10px;
    border-top: 1px solid #CAD0D6;
    line-height: 20px;
}

.radio label {
    line-height: 20px;
}

.add-user-modal *.ng-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}

.result-list .btn-row a:focus, .result-list .btn-row a:hover {
    opacity: 0.2 !important;
}