/*@media (min-width: 768px) {*/
/*.screen {*/
/*padding-top: 54px;*/
/*}*/
/*}*/

/*@media (min-width: 1025px) {*/
/*.screen {*/
/*padding-top: 54px;*/
/*padding-bottom: 40px;*/
/*}*/
/*}*/

/*@media (max-width: 1024px) {*/
/*.mobile.m-b-40 {*/
/*margin-bottom: 0px !important;*/
/*}*/
/*}*/

@media (min-width: 1448px) {
    .container {
        width: 1440px !important;
    }
}

/*@media (min-width: 1200px) {*/
    /*.container {*/
        /*width: 1170px;*/
    /*}*/
/*}*/

/*@media (min-width: 992px) {*/
    /*.container {*/
        /*width: 970px;*/
    /*}*/
/*}*/

/*@media (min-width: 768px) {*/
    /*.container {*/
        /*width: 750px;*/
    /*}*/
/*}*/