.error-content {
    background: transparent;
}

.home-content {
    top: 40%;
    z-index: inherit;
}

.error-code {
    color: #8F8E8E;
    bottom: inherit;
    position: inherit;
}

.error-content {
    position: inherit;
    padding: 0px;
}

.home-content h1 {
    margin: 0px;
}

.error-desc {
    color: #8F8E8E;
    font-size: inherit;
}