.footer {
    padding-top: 60px;
    text-align: center;
    background: #242a30 !important;
    font-size: 12px;
    z-index: 0;
}

#footer .container.footer-wide {
    width: 100% !important;
    border-top: 1px solid #222;
}

.footer .footer-brand {
    font-size: 24px;
    color: #fff;
    font-weight: 300;
    margin-bottom: 30px;
}

.content.has-bg {
    padding-bottom: 60px;
    overflow: hidden;
    position: relative;
}

.content.has-bg .container {
    position: relative;
}

.content.has-bg .content-bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.content.has-bg .content-bg:before {
    content: '';
    background: url(../../images/content-bg-cover.png);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.bg-black-darker {
    background: #242a30 !important;
}

.footer .social-list {
    margin: 30px 0 0;
    font-size: 20px;
}

.footer-tabs .nav > li > a {
    padding: 0px 10px;
}

.footer-tabs .nav > li > a:hover {
    color: #777;
    background: transparent !important;
}

.footer a {
    color: #348fe2;
}

.footer .nav.navbar-right {
    display: block !important;
}