.navbar-brand > img {
    display: block;
    height: 125%;
}

@media (max-width: 767px) {
    .page-header-fixed {
        padding-top: 54px !important;
    }
}

.top-menu {
    display: inherit;
}

.top-menu .sub-menu {
    display: inherit;
}

@media (max-width: 767px) {
    .collapse {
        display: none !important;
    }

    .collapse.in {
        display: block !important;
    }

    .top-menu .nav .sub-menu {
        display: inherit;
    }

    .top-menu .return-button {
        display: none !important;
    }

    .navbar-header {
        border-bottom: 0px !important;
    }
}

.nav.navbar-right {
    display: none;
}

@media (min-width: 767px) {
    .top-menu {
        height: 40px !important;
    }

    .top-menu ul {
        padding-left: 15px;
    }

    .top-menu .navbar-user {
        display: none !important;
    }

    .top-menu .home-button {
        display: none !important;
    }

    .nav.navbar-right {
        display: inline-block;
        float: right;
        margin: 0px;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-header {
        float: left;
    }
}