body {
    overflow-x: hidden;
    position: relative !important;
    font-size: 13px !important;
}

.content {
    margin-left: 0;
    padding: 0px;
    overflow: hidden;
}

.fill {
    overflow-y: auto;
    overflow-x: hidden;
}

.top5 {
    margin-top: 20px;
}

.datasource.table-condensed > tbody > tr > td, .datasource.table-condensed > tbody > tr > th,
.datasource.table-condensed > tfoot > tr > td, .datasource.table-condensed > tfoot > tr > th,
.datasource.table-condensed > thead > tr > td {
    padding: 6px 15px 0px 15px !important;
}

.multiselect.table > tbody > tr > td {
    width: 100%;
    padding: 0 !important;
    border-top: none;
}

.heatmap-legend label {
    font-size: 12px;
    font-weight: bold;
}

.heatmap-legend {
    position: absolute;
    right: 5%;
    bottom: 0%;
}

.multimetric-chart {
    height: 100%;
    width: 100%;
}

.imp-filter {
    width: 10%;
    float: left;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0px 5px;
}

.multimetric-legend {
    height: 350px !important; /* force that height */
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
}

.table-xs > tbody > tr > td, .table-xs > tbody > tr > th, .table-xs > tfoot > tr > td,
.table-xs > tfoot > tr > th, .table-xs > thead > tr > td, .table-xs > thead > tr > th {
    padding: 4px 8px !important;
    font-size: 0.9em;
}

.footer-wrapper {
    height: 40px;
    background: #2d353c;
}

.footer {
    border-top: none;
}

.divider {
    padding: 10px 0;
    border-top: 1px solid #CAD0D6;
    line-height: 20px;
}

/**Makes the items appear in a line. But you can't define the width of an inline element.**/
.links li {
    display: inline-flex;
    float: left;
}

.links a {
    display: block; /**Allows you to define a width.*/
/ text-align: #ccc;
    color: #ccc;
}

.links li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: "\007c";
}

.links a.active {
    color: #5a7c91;
}

.top-menu {
    top: 54px;
}

.data-filter {
    width: 10%;
    float: left;
    overflow: hidden;
    padding: 5px;
}

.data-filter-15 {
    width: 15%;
}

.data-filter-65 {
    width: 65%;
}

.loading-bar-position {
    top: 54px !important;
}

.card {
    box-shadow: 0 1px 2px #aaa;
    background: white;
    border-radius: 3px;
    user-select: none;
    animation: fly-in-from-left .5s 1s ease both;
    transform-origin: top left;
    margin-bottom: 10px;
}

@media (min-width: 1025px) {
    #outerStaticContainer {
        height: 100%;
        width: 100%;
        overflow: hidden;
        position: relative;
    }

    #innerScrollableContent {
        overflow-y: auto;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: -17px;
        position: absolute;
        top: 0px
    }
}

.outerStaticContainer {
    /*height: 100%;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*position: relative;*/
}

.innerScrollableContent {
    /*overflow-y: scroll;*/
    /*top: 0px;*/
    /*bottom: 0px;*/
    /*left: 0px;*/
    /*right: -17px;*/
    /*position: absolute;*/
    margin-left: calc(100vw - 100%);
}

.bg-rexroth-bg-100 {
    background: #264461 !important;
}

.bg-rexroth-bg-80 {
    background: #5a7c91 !important;
}

.bg-rexroth-bg-60 {
    background: #819eb1 !important;
}

.bg-rexroth-bg-40 {
    background: #a3bac8 !important;
}

.bg-rexroth-bg-20 {
    background: #cfdde7 !important;
}

.bg-rexroth-bg-5 {
    background: #e5eef2 !important;
}

.profile-container {
    padding: 0px;
}

#parent {
    height: 100%;
    width: 50%;
    overflow: hidden;
}

#child {
    width: 50%;
    height: 100%;
    overflow-y: scroll;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
}

@media (max-width: 767px) {
    /*.screen {*/
    /*padding-right: 17px;*/
    /*}*/
    .container-fluid {
        margin-bottom: 0;
    }

    .top-menu {
        top: 0;
    }

    .content {
        /*padding-top: 20px;*/
    }
}

.p-col-5 > [class*='col-'] {
    padding: 0 5px;
}

.row.p-col-5 {
    margin: 0 -5px;
}

.h4.title {
    margin-top: 0;
}

.file-input {
    width: 100%;
}

.image-caption {
    position: absolute;
    top: 0px;
    left: 0;
    background: rgba(0, 0, 0, .6);
    color: #fff;
    padding: 5px 15px;
    margin: 0;
}

.item-no-active > .st-selected {
    background: #f0f3f5 !important;
}

.white-pagination td {
    background-color: white;
    padding: 7px 0px !important;
}

.white-pagination td h5 {
    display: flex;
    justify-content: center;
    opacity: 0.3;
}

.title.h4 {
    margin-bottom: 0 !important;
}

.spinner, .spinner-small {
    border-top: 2px solid #348fe2;
}

#gritter-notice-wrapper {
    right: inherit;
}

.growl-container {
    float: right;
    margin-right: 300px;
}

.top-menu .nav > li > a i {
    line-height: 22px;
}

.dropdown-multiselect li {
    cursor: pointer;
}

.dropdown-multiselect li.divider {
    cursor: default;
}

.image-info .title {
    color: #707478;
}

.modal-footer {
    border: 0px;
    padding-top: 0px;
}

.table-condensed > tfoot > tr > td {
    padding: 0px;
}

.table-condensed > tfoot .pagination {
    margin-top: 10px;
    margin-bottom: 0px;
}

.min-height-40 {
    min-height: 40% !important;
}

.dropdown-menu.media-list > .media {
    border-top: 0px;
}

.multiselect-parent .dropdown-toggle {
    text-overflow: ellipsis;
    overflow: hidden;
}

@media (max-width: 992px) {
    .oee-table .shift-checkbox {
        padding-left: 10px;
    }

    .oee-table .shift-checkbox input {
        margin-left: -15px !important;
    }
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    color: #fff !important;
}

.org-dropdown .dropdown-toggle {
    padding-top: 13px;
    padding-bottom: 10px;
    padding-right: 0px;
}

.org-dropdown .btn {
    width: 30px;
    height: 30px;
    margin-right: 6px;
}

.org-dropdown i {
    bottom: 3px;
    left: 0.5px;
    position: relative;
    font-size: 14px;
}

.service-box {
    padding: 20px;
    border: 1px solid #eee;
    border-radius: 2px;
    margin-bottom: 0px;
}

.service-box:hover {
    border: 1px solid rgba(52, 143, 226, 0.5);
    box-shadow: 0 1px 2px #348fe2;
}

.service-box:hover i, .service-box:hover h4 {
    color: #348fe2;
}

.service-box .icon-lg {
    font-size: 40px;
}

@media (min-width: 768px) {
    .table-row {
        display: table;
        table-layout: fixed;
    }

    .table-row > [class*=col-] {
        display: table-cell;
        float: none;
    }
}