body {
    background: #ffffff !important;
}

body::-webkit-scrollbar {
    width: 0 !important
}

.login-v2 {
    margin: 200px auto;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px transparent inset !important;
}

.improvidus-header {
    font-size: 87px;
    font-family: 'Tw Cen MT';
    color: #348fe2;
}

.form-control {
    border: 1px solid #ccd0d4 !important;
}

.login-image {
    display: inline-block;
    margin-top: 0.14285em;
    width: 1.5em;
    height: auto;
    vertical-align: middle;
}

.header > img + .header-content, .header > .image + .header-content {
    padding-left: 0.75rem;
    vertical-align: middle;
    font-size: 1.714rem;
}

.header .header-content {
    display: inline-block;
    vertical-align: top;
}

.login-page .btn.btn-sm {
    padding: 6px 12px;
}

.icon .fa {
    line-height: 50px;
}

.login-v2 .form-control {
    background: white;
    color: black !important;
}

.login-v2 {
    margin: 8% auto 0px auto;
}

.login .login-header {
    top: -96px;
}

.login-cover-bg {
    background: linear-gradient(rgba(256, 256, 256, 1) 10%,
    rgba(0, 0, 0, 0.7) 50%, rgba(0, 0, 0, 0.6) 100%);
    opacity: 1;
}

.login-v2 .login-content {
    /* 	padding-top: 0 !important; */
}

img.login-logo {
    z-index: 10000;
    right: 3%;
    top: 3%;
    width: 25%;
    padding-top: 10px;
    position: absolute;
    padding-top: 10px;
}

.bg-rexroth-bg-5 {
    background: #e5eef2 !important;
}

.bg-rexroth-bg-100 {
    background: #264461 !important;
}

.bg-rexroth-bg-80 {
    background: #5a7c91 !important;
}

.bg-rexroth-red {
    background: #df0024;
}

.login.peak {
    height: 75px;
    background: url('../../images/download.svg') 50% 100% no-repeat, #264461;
}

.login .login-header {
    top: -70px;
}

.content.has-bg.home {
    height: 770px;
}

.home-content {
    top: 40%;
    z-index: inherit !important;
}

.input-group-addon.outline {
    border-width: 2px;
    border-color: #8F8E8E;
    background: 0 0;
}

.left-inner-addon {
    position: relative;
}

.left-inner-addon input {
    padding-left: 30px;
}

.left-inner-addon i {
    position: absolute;
    padding: 18px 12px;
    pointer-events: none;
}

/*.peak {*/
/*background: #264461 !important;*/
/*}*/

.modal-dialog {
    margin: 100px auto !important;
}

/* default.css */
/*
Template Name: Color Admin - Responsive Admin Dashboard Template build with Twitter Bootstrap 3.3.1
Version: 1.5.0
Author: Sean Ngu
Website: http://www.seantheme.com/color-admin-v1.5/admin/
*/

.btn.btn-theme {
    background: #348fe2;
    border-color: #348fe2;
    color: #fff;
}

.btn.btn-theme:hover,
.btn.btn-theme:focus {
    background: #348fe2;
    border-color: #348fe2;
}

.login-page .header.navbar .navbar-nav > li.active > a,
.login-page .header.navbar .navbar-nav > li > a:hover,
.login-page .header.navbar .navbar-nav > li > a:focus,
.login-page .header.navbar.navbar-default .navbar-nav > li.active > a,
.login-page.header.navbar.navbar-default .navbar-nav > li > a:hover,
.login-page .header.navbar.navbar-default .navbar-nav > li > a:focus,
.login-page .header.navbar.navbar-transparent .navbar-nav > li.active > a,
.login-page .header.navbar.navbar-transparent .navbar-nav > li > a:hover,
.login-page .header.navbar.navbar-transparent .navbar-nav > li > a:focus,
.login-page .header.navbar.navbar-inverse .navbar-nav > li.active > a,
.login-page .header.navbar.navbar-inverse .navbar-nav > li > a:hover,
.login-page .header.navbar.navbar-inverse .navbar-nav > li > a:focus,
.login-page .header.navbar.navbar-transparent.navbar-small .navbar-nav > li.active > a,
.login-page.header.navbar.navbar-transparent.navbar-small .navbar-nav > li > a:hover,
.login-page.header.navbar.navbar-transparent.navbar-small .navbar-nav > li > a:focus,
.login-page .text-theme,
.login-page .navbar-nav .dropdown-menu > li.active > a,
.login-page .navbar-nav .dropdown-menu > li > a:hover,
.login-page .navbar-nav .dropdown-menu > li > a:focus,
.login-page .pricing-table .price .price-number,
.login-page a {
    color: #348fe2;
}

.login-page .header.navbar.navbar-transparent .navbar-nav > li.active > a {
    border-bottom: 2px #348fe2 solid;
    padding-bottom: 5px;
    color: #348fe2 !important;
}

a:hover,
a:focus {
    color: #348fe2;
}

.pricing-table .highlight h3,
.pace-progress {
    background: #348fe2;
}

.pricing-table .highlight .price {
    background: #348fe2;
}

.pace .pace-activity {
    border-top-color: #348fe2;
    border-left-color: #348fe2;
}

.alert.alert-success {
    background: #b0ebca;
}

.alert.alert-danger {
    background: #fbd1d1;
}

.f-underline {
    text-decoration: underline;
}

.navbar-toggle, a, .work .desc, .testimonials .carousel-indicators li, .pace, .pace-progress, .theme-panel, .theme-panel .theme-list > li > a {
    transition: none !important;
}

.btn.sign-in {
    padding: 15px 30px;
    font-size: 14px;
    font-weight: 500;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.login-page #loading-bar .bar {
    display: none !important;
}

.login-page .navbar-brand {
    line-height: 20px;
    height: 50px;
    padding: 15px !important;
}

.login-page {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.login-modal {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 12px;
}

.login-page .footer {
    margin: 0px;
}

.login-modal .header {
    margin-bottom: 15px;
}

@media (min-width: 1448px) {
    .login-page .container {
        width: 1170px !important;
    }
}

@media (min-width: 767px) {
    .login-page .nav.navbar-right {
        margin-right: -15px;
    }
}

.login-modal .fa-2x:hover {
    font-size: 2em;
    margin: 0px;
}

.login-modal .fa-exclamation-triangle {
    color: #a94442 !important;
}

.login-modal *.ng-animate {
    transition: 0s none;
    -webkit-transition: 0s none;
    animation: 0s none;
    -webkit-animation: 0s none;
}

.cookie-modal .btn-sm {
    padding: 5px 10px !important;
    font-size: 12px !important;
    border-radius: 3px !important;
}

