.consulting.category:hover {
    transform: scale(1.02, 1.02);
    transform-origin: center center;
    transition: all .2s ease-in-out;
    opacity: 1;
}

/* ***********End Zero-Padding Style************* */
#main-content {
    min-height: 100%;
    height: auto;
}

#main-content > .row {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}

#main-content > .row [class*="col-lg"], #main-content > .row [class*="col-md"], #main-content > .row [class*="col-sm"] {
    float: none;
    display: inline-block;
    white-space: normal;
    vertical-align: top;
}