<div ng-include="'app/main/analysis/views/top-menu.html'"></div>
<div id="content" class="fill">
    <div class="fill p-5" style="background: white;">
	<span class=loading
          us-spinner="{radius:30, width:8, length: 16,opacity: 0.05}"
          spinner-key="spinner-notifications" spinner-start-active="true"></span>
        <div class="fill data-filter">
            <!-- 		<div ng-slimscroll height="{{50*widget.config.height + 5}}" -->
            <!-- 			alwaysVisible=true> -->
            <table class="table table-xs" style="display: block;"
                   ng-show="filter.options.length > 0 || $index == 0"
                   ng-repeat="filter in data.deviationFilters">
                <thead>
                <tr class=pointer
                    ng-class="{'active': filter.activeFilter === filter.displayName}">
                    <th style="width: 100%" ng-click="selectDeviationOption($index)">{{filter.displayName}}</th>
                    <th style="width: 0%"><a href
                                             ng-click="loadByDeviation($index)"><i class="fa fa-line-chart"></i></a>
                    </th>
                    <!-- 					<th style="width: 0%"></th> -->
                </tr>
                </thead>
                <tbody ng-style="{'max-height' : '130px'}"
                       style="display: block; overflow-y: auto; overflow-x: hidden;">
                <tr class=pointer
                    ng-class="
						{'active': filter.activeFilter=== option || filter.activeFilter===
						filter.displayName}"
                    ng-click="selectDeviationOption($parent.$index, option)"
                    ng-repeat="option in filter.options track by $index">
                    <td style="width: 100%">{{option}}</td>
                    <td style="width: 0px"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <!-- 	</div> -->
        <div class="fill data-filter">
            <table class="table table-xs"
                   ng-show="filter.options.length > 0 || $index == 0"
                   ng-repeat="filter in data.companyFilters">
                <thead>
                <tr class=pointer
                    ng-class="{'active': filter.activeFilter === filter.displayName}"
                    ng-click="selectCompanyOption($index)">
                    <th style="width: 100%">{{filter.displayName}}</th>
                    <th style="width: 0%"></th>
                </tr>
                </thead>
                <tbody ng-style="{'max-height' : '130px'}"
                       style="display: block; overflow-y: auto; overflow-x: hidden; width: 111%">
                <tr class=pointer
                    ng-class="{'active': filter.activeFilter === option || filter.activeFilter === filter.displayName}"
                    ng-click="selectCompanyOption($parent.$index, option)"
                    ng-repeat="option in filter.options">
                    <td style="width: 100%">{{option}}</td>
                    <td style="width: 0px"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="fill data-filter data-filter-65">
            <div id="chartdiv" class="multimetric-chart"></div>
        </div>
        <div class="fill data-filter data-filter-15">
            <div class=row>
                <div class=col-sm-12>
                    <div class="control-group">
                        <label>Date Range</label>
                        <div class="input-prepend input-group">
                            <input date-range-picker class="form-control date-picker"
                                   type="text" ng-model="date.date" options="date.dateOptions"></input><span
                                ng-show="date.dateOptions.opens == 'left'"
                                style="background: #b6c2c9; color: white"
                                class="add-on input-group-addon button-bosch-md"><i
                                class="fa fa-calendar"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row m-t-10">
                <div class=col-sm-12>
                    <div class="form-group">
                        <label>X-axis</label>
                        <ui-select ng-model="controls.xAxis" theme="bootstrap"
                                   close-on-select=true>
                            <ui-select-match
                                    placeholder="X Axis">{{$select.selected |
                                translate}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="option in data.xAxis | filter: $select.search">
                                <div ng-bind-html="option | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class=row>
                <div class=col-sm-12>
                    <div class="form-group">
                        <label>Y-axis</label>
                        <ui-select ng-model="controls.yAxis" theme="bootstrap"
                                   close-on-select=true>
                            <ui-select-match
                                    placeholder="Y Axis">{{$select.selected |
                                translate}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="option in data.yAxis | filter: $select.search">
                                <div ng-bind-html="option | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div class=row>
                <div class=col-sm-12>
                    <div class="form-group">
                        <label>Color Parameter</label>
                        <ui-select ng-model="controls.colorParameter" theme="bootstrap"
                                   close-on-select=true>
                            <ui-select-match
                                    placeholder="Color Parameter">{{$select.selected
                                | translate}}
                            </ui-select-match>
                            <ui-select-choices
                                    repeat="option in data.colorParameters | filter: $select.search">
                                <div ng-bind-html="option | highlight: $select.search"></div>
                            </ui-select-choices>
                        </ui-select>
                    </div>
                </div>
            </div>
            <div id="legend" class="multimetric-legend"></div>
        </div>
    </div>
</div>