<div class="container height-full">
    <div class="row m-0 p-t-10 height-full">
        <div class="card panel-body min-height-40">
            <div class="row">
                <div class="col-sm-12">
                    <div ng-include="'app/main/datasources/data/oee/views/controls.html'"></div>
                </div>
            </div>
            <div class="row m-t-5" ng-if="buttons.isCollapsed">
                <div class="col-sm-12">
                    <div ng-include="'app/main/datasources/data/oee/views/form.html'"></div>
                </div>
            </div>
            <div class="row m-t-5" ng-show="buttons.upload && !buttons.isCollapsed">
                <div class="col-sm-12">
                    <div ng-include="'app/main/datasources/data/oee/views/upload.html'"></div>
                </div>
            </div>
            <div class="row table-responsive" style="min-height: 305px;">
                <div class="col-sm-12" ng-show="!buttons.upload">
                    <div ng-include="'app/main/datasources/data/oee/views/list.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>