<fieldset validated="analysisGroupForm.step == 2 && data.newEntry.displayName && data.newEntry.description"
          ng-enter="process()">
    <legend class="pull-left width-full">{{'CONFIRM' | translate}}</legend>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>{{'Analysis Name' | translate}}</label>
                <input type="text" name="name"
                       class="form-control" ng-model="data.newEntry.displayName" placeholder="Analysis Name"
                       auto-focus="analysisGroupForm.step == 2">
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label>{{'Analysis Description' | translate}}</label>
                <input type="text" name="name"
                       class="form-control" ng-model="data.newEntry.description" placeholder="Analysis Description">
            </div>
        </div>
    </div>
</fieldset>