<fieldset ng-enter="analysisGroupForm.step = 2">
    <legend class="pull-left width-full">{{'Filters' | translate}}</legend>
    <div class="row">
        <div class="col-md-6 form-group">
            <label>{{'Work Centers' | translate}}</label>
            <div ng-dropdown-multiselect="" options="filter.workCenters"
                 class="dropdown-multiselect"
                 selected-model="filter.query.workCenters"
                 extra-settings="filter.options"></div>
        </div>
        <div class="col-md-6 form-group">
            <label>{{'Shifts' | translate}}</label>
            <div>
                <label ng-repeat="shift in getNumber($root.org.configuration.conf.numShifts) track by $index"
                       class="checkbox-inline m-b-5"> <input type="checkbox"
                                                             value="{{$index + 1}}"
                                                             ng-checked="filter.query.shifts.indexOf($index + 1) > -1"
                                                             check-list='filter.query.shifts'>
                    {{$index + 1}}
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 control-group">
            <label>{{'DATE_RANGE' | translate}}</label>
            <div class="input-prepend input-group">
				<span ng-show="filter.dateOptions.opens == 'left'"
                      style="background: #b6c2c9; color: white"
                      class="add-on input-group-addon button-bosch-md"><i
                        class="fa fa-calendar"></i></span> <input
                    date-range-picker
                    class="form-control date-picker" type="text"
                    ng-model="filter.query.dateRange"
                    options="filter.dateOptions"
            >
            </div>
        </div>
    </div>
</fieldset>