<!--build:css min/css/app.css-->

<link rel="stylesheet" href="assets/css/payment.css"/>
<link rel="stylesheet" href="assets/css/app/app.css"/>

<link rel="stylesheet" href="assets/css/index.css"/>
<link rel="stylesheet" href="assets/css/header.css"/>
<link rel="stylesheet" href="assets/css/footer.css"/>
<link rel="stylesheet" href="assets/css/content.css"/>
<link rel="stylesheet" href="assets/css/services.css"/>
<link rel="stylesheet" href="assets/css/analysis/analysis.css"/>
<link rel="stylesheet" href="assets/css/datasources/deviation.css"/>
<link rel="stylesheet" href="assets/css/oee/oee.css"/>
<link rel="stylesheet" href="assets/css/oee/data.css"/>
<link rel="stylesheet" href="assets/css/admin.css"/>
<link rel="stylesheet" href="assets/css/subscriptions/style.css"/>
<link rel="stylesheet" href="assets/css/login.css"/>

<link rel="stylesheet" href="app/main/administration/organizations/styles/admin.css"/>
<link rel="stylesheet" href="app/main/administration/plants/styles/admin.plants.css"/>
<link rel="stylesheet" href="app/main/administration/schedules/styles/admin.schedules.css"/>

<link rel="stylesheet" href="app/shared/components/user-display/user-display.component.css"/>

<link rel="stylesheet" href="assets/css/theme/blue.css"/>
<!-- endbuild -->