<!--build:css min/css/vendor.css-->
<link rel="stylesheet"
      href="node_modules/jstree/dist/themes/default/style.css"/>
<link
        href="node_modules/jvectormap/jquery-jvectormap.css"
        rel="stylesheet"/>
<link href="node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker.css"
      rel="stylesheet"/>
<link href="node_modules/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css"
      rel="stylesheet"/>
<link href="node_modules/gritter/css/jquery.gritter.css"
      rel="stylesheet"/>
<link href="node_modules/ion-rangeslider/css/ion.rangeSlider.css"
      rel="stylesheet"/>
<link href="node_modules/ion-rangeslider/css/ion.rangeSlider.skinNice.css"
      rel="stylesheet"/>
<link rel="stylesheet"
      href="node_modules/daterangepicker/daterangepicker.css"/>
<link rel="stylesheet"
      href="node_modules/jasny-bootstrap/dist/css/jasny-bootstrap.css"/>
<link rel="stylesheet"
      href="node_modules/angular-dashboard-framework/dist/angular-dashboard-framework.css"/>

<link rel="stylesheet"
      href="assets/libs/angular/growl/angular-growl.css"/>

<link rel="stylesheet" href="node_modules/world-flags-sprite/stylesheets/flags16.css"/>
<link rel="stylesheet" href="node_modules/world-flags-sprite/stylesheets/flags32.css"/>
<link rel="stylesheet" href="node_modules/ui-select/dist/select.css"/>
<link rel="stylesheet" href="node_modules/leaflet/dist/leaflet.css"/>
<link rel="stylesheet"
      href="node_modules/leaflet.label/dist/leaflet.label.css"/>
<link rel="stylesheet"
      href="node_modules/leaflet-routing-machine/dist/leaflet-routing-machine.css"/>
<link rel="stylesheet" href="node_modules/angular-bootstrap-colorpicker/css/colorpicker.css"/>

<link rel="stylesheet"
      href="assets/libs/datetime/jquery-cron/jquery-cron.css"/>

<link rel="stylesheet"
      href="node_modules/timepicker/jquery.timepicker.css"/>
<link rel="stylesheet"
      href="node_modules/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.css"/>
<link rel="stylesheet"
      href="assets/libs/charts/am-charts/ext/export.css"/>
<link rel="stylesheet"
      href="node_modules/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css"/>
<link href="node_modules/switchery-npm/index.css" rel="stylesheet"/>

<link href="assets/libs/bootstrap-wizard/css/bwizard.css"
      rel="stylesheet"/>

<link rel="stylesheet" href="node_modules/angular-ui-layout/src/ui-layout.css"/>
<link rel="stylesheet"
      href="node_modules/angular-cron-jobs/dist/angular-cron-jobs.css"/>
<link rel="stylesheet" href="node_modules/angular-loading-bar/build/loading-bar.css"/>

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700"/>
<link rel="stylesheet"
      href="node_modules/jquery-ui-dist/jquery-ui.css"/>
<link href="node_modules/bootstrap/dist/css/bootstrap.css"
      rel="stylesheet"/>
<link href="node_modules/font-awesome/css/font-awesome.css"
      rel="stylesheet"/>

<link rel="stylesheet"
      href="assets/css/app/bootstrap-ext.css"/>

<link rel="stylesheet"
      href="assets/css/animate.css"/>
<link rel="stylesheet"
      href="assets/css/style.min.css"/>
<link rel="stylesheet"
      href="assets/css/style-responsive.css"/>

<link rel="stylesheet" href="node_modules/isteven-angular-multiselect/isteven-multi-select.css"/>
<link rel="stylesheet" href="node_modules/nvd3/build/nv.d3.css"/>
<!-- endbuild -->