<div class="row table-row height-full width-full m-t-20">
    <div class="col-md-4 col-sm-4">
        <div ng-click="loadTrainings('leadership.json'); data.trainingCategory='Leadership Trainings'; selectState('/public/services/trainings?category=leadership')"
             class="service-box card pointer height-full">
            <i class="fa fa-building-o icon-lg m-b-20"></i>
            <div class="m-l-10 m-r-10">
                <h4 class="service-title m-b-10">{{'Leadership Development' | translate}}</h4>
                <!--<p class="service-content m-b-10">-->
                <!--Lorem ipsum dolor sit amet, ne vel liber libris, nullam scribentur te cum, velit minim te-->
                <!--vix.-->
                <!--Eu eam nullam iriure, te eos wisi saepe.-->
                <!--Utinam saperet cu eos, errem dictas intellegat nam eu, an mel noster mnesarchum. Enim choro.-->
                <!--</p>-->
                <p>Leadership Development</p>
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div ng-click="loadTrainings('lean.json'); data.trainingCategory='Lean Trainings'; selectState('/public/services/trainings?category=lean')"
             class="service-box card pointer height-full m-b-0">
            <i class="fa fa-building-o icon-lg m-b-20"></i>
            <div class="m-l-10 m-r-10">
                <h4 class="service-title m-b-10">{{'Training for Lean' |
                    translate}}</h4>
                <!--<p class="service-content m-b-10">-->
                <!--Lorem ipsum dolor sit amet, impetus principes pri ei. Pri ut dicta luptatum, decore-->
                <!--probatus eum ne, vivendum recteque id pro. Mel brute ceteros an. Modo dicta nonumy eum ex,-->
                <!--suas theophrastus id quo, has quod corrumpit reformidans no pro.-->
                <!--</p>-->
                <p>Training for Lean</p>
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-sm-4">
        <div ng-click="loadTrainings('manufacturing.json'); data.trainingCategory='Manufacturing Trainings'; selectState('/public/services/trainings?category=manufacturing')"
             class="service-box card pointer height-full">
            <i class="fa fa-building-o icon-lg m-b-20"></i>
            <div class="m-l-10 m-r-10">
                <h4 class="service-title m-b-10">{{'Lean Manufacturing Programs' | translate}}</h4>
                <!--<p class="service-content m-b-10">-->
                <!--Lorem ipsum dolor sit amet, nullam verterem oportere quo te, vis cu dicit eripuit pericula.-->
                <!--Vim falli laudem vituperata ad, sed diceret docendi moderatius no. Tacimates salutandi ei-->
                <!--eum, an option percipit vel, in veri minim per. Putent definiebas his.-->
                <!--</p>-->
                <p>Lean Manufacturing Programs</p>
                <i class="fa fa-plus"></i>
            </div>
        </div>
    </div>
</div>