<div ng-include="'app/main/login/views/header.html'"></div>
<div id="home" class="content has-bg half-bg home" title="Picture: Bosch"></div>
<div id="service" class="content">
    <div class="container">
        <h2 class="text-center">Services</h2>
        <p class="content-desc">
            Improvidus offers a range of services from consulting and training packages, to special projects.
        </p>
        <div ng-include="'app/main/login/services/views/list.html'"></div>
    </div>
</div>
<div ng-include="'app/main/login/views/footer.html'"></div>