<div ng-include="'app/main/login/views/header.html'"></div>
<div id="home" class="content has-bg half-bg home" title="Picture: Bosch"></div>
<div id="services-breadcrumbs" class="m-t-20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h4>
                    <ol class="breadcrumb">
                        <li>
                            <a href=""
                               ng-click="data.selectedTraining = null; selectState('/public/services')">Services</a>
                        </li>
                        <li class="active" ng-if="!data.selectedTraining">{{data.trainingCategory}}</li>
                        <li ng-if="data.selectedTraining"><a href=""
                                                             ng-click="data.selectedTraining = null;
                                                              selectState('/public/services/trainings?category=' + data.trainingCategory)">{{data.trainingCategory}}</a>
                        </li>
                        <li class="active" ng-if="data.selectedTraining">{{data.selectedTraining.title}}</li>
                    </ol>
                </h4>
            </div>
        </div>
    </div>
</div>
<div id="trainings-list" class="content p-t-0">
    <div class="container">
        <div class="row training-item" ng-repeat="training in data.trainings"
             ng-if="(training.featured == true || controls.showAllTrainings) && !data.selectedTraining">
            <div class="col-md-4">
                <div class="trainings-media">
                    <img ng-src="{{training.imageUrl}}" alt=""
                         style="max-width: 300px; max-height: 300px; min-width: 200px;">
                </div>
            </div>
            <div class="col-md-8">
                <h2>{{training.title}}</h2>
                <a href="" ng-click="data.selectedTraining = training; scrollToTop();"
                   class="training-overview pointer">Program
                    Overview</a>
                <p class="m-t-10">
                    {{training.overview}}
                    <a class="more-link bold" href="" ng-click="data.selectedTraining = training; scrollToTop();">{{'MORE'
                        | translate}}
                        <i class="fa fa-long-arrow-right"></i></a>
                </p>
            </div>
        </div>
        <div class="row training-item" ng-if="data.selectedTraining">
            <div class="col-md-4">
                <div class="trainings-media">
                    <img ng-src="{{data.selectedTraining.imageUrl}}" alt=""
                         style="max-width: 300px; max-height: 300px; min-width: 200px;">
                </div>
            </div>
            <div class="col-md-8">
                <h2>{{data.selectedTraining.title}}</h2>
                <h4 class="training-overview m-b-5">Program Overview</h4>
                <div class="desc text-left">
                    <p>{{data.selectedTraining.overview}}</p>

                    <div ng-repeat="section in data.selectedTraining.infoSections">
                        <br>
                        <strong>{{section.title}}</strong><br>
                        <p ng-if="section.description">{{section.description}}</p>
                        <ul>
                            <li ng-repeat="bulletPoint in section.bulletPoints"
                                ng-class="{'no-list-style' : isArray(bulletPoint)}">
                                <p ng-if="!isArray(bulletPoint) && !bulletPoint.text">{{bulletPoint}}</p>
                                <a ng-href="{{bulletPoint.link}}"
                                   ng-if="bulletPoint.text">{{bulletPoint.text}}</a>
                                <ul ng-if="isArray(bulletPoint)" ng-repeat="subPoint in bulletPoint track by $index">
                                    <li>{{subPoint}}</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="!controls.showAllTrainings && !data.selectedTraining">
            <div class="col-md-12 text-center m-t-30 m-b-30">
                <a href ng-click="controls.showAllTrainings = true" class="btn btn-theme btn-sm p-l-40 p-r-40 pointer">
                    {{'See More' | translate}}</a>
            </div>
        </div>
        <div class="row" ng-if="data.selectedTraining">
            <div class="col-md-12 text-center m-t-30 m-b-30">
                <a href ng-click="data.selectedTraining = null; scrollToTop();"
                   class="btn btn-theme btn-sm p-l-40 p-r-40 pointer">
                    {{'Back to List' | translate}}</a>
            </div>
        </div>
    </div>
</div>
<div ng-include="'app/main/login/views/footer.html'"></div>