<!DOCTYPE html>
<html>
<head>

<title>Dictionary</title>

<meta content="text/html;charset=utf-8" http-equiv="Content-Type" />
<meta content="utf-8" http-equiv="encoding" />

<link rel="stylesheet"
	href="node_modules/bootstrap/dist/css/bootstrap.css" />

</head>
<body ng-app="app" ng-cloak>
	<div ng-controller="DictionaryController" style="margin: 30px">
		<div class="page-header">
			<h1>Dictionary</h1>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<form>
					<button ng-show="!editMode" type="submit" class="btn btn-default"
						ng-click="editMode = true">Add Words</button>
					<button ng-show="!editMode" type="submit" class="btn btn-default"
						ng-click="save()">Save</button>
					<button ng-show="editMode" type="submit" class="btn btn-default"
						ng-click="editMode = false">Finish</button>
				</form>
			</div>
		</div>
		<div ng-show="editMode" class="well" style="margin-top: 10px">
			<form>
				<div class="form-group">
					<label for="key">Key</label> <input type="text"
						class="form-control" id="key" placeholder="Key"
						ng-model="newWord.key">
				</div>
				<div class="form-group" ng-repeat="lang in langs">
					<label>{{lang.displayName}}</label> <input type="text"
						class="form-control" placeholder="Email"
						ng-model="newWord[lang.key]">
				</div>
				<button type="submit" class="btn btn-default" ng-click="addWord()">Submit</button>
			</form>
		</div>
		<div class="row">
			<div class="col-sm-12">
				<table st-safe-src="rowCollection" st-table="displayCollection"
					class="table table-condensed table-striped">
					<thead>
						<tr>
							<th st-sort="key">Key</th>
							<th ng-repeat="lang in langs">{{lang.displayName}}</th>
							<th></th>
						</tr>
						<tr>
							<th><input st-search="key" placeholder="Key"
								class="input-sm form-control" type="search" /></th>
							<th ng-repeat="lang in langs"></th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="row in displayCollection">
							<td>{{row.key}}</td>
							<td ng-repeat="lang in langs">{{row[lang.key]}}</td>
							<td><button type="submit" class="btn btn-xs btn-default"
									ng-click="edit(row)">Edit</button></td>
						</tr>
					</tbody>
					<tfoot>
						<tr>
							<td colspan="{{langs.length + 2}}" class="text-center">
								<div st-pagination="" st-items-by-page="itemsByPage"></div>
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
		</div>
	</div>

	<script src="node_modules/jquery/dist/jquery.js"></script>

	<script src="node_modules/angular/angular.js"></script>
	<script src="node_modules/bootstrap/dist/js/bootstrap.js"></script>
	<script src="node_modules/angular-ui-bootstrap/ui-bootstrap.js"></script>
	<script src="node_modules/angular-ui-bootstrap/ui-bootstrap-tpls.js"></script>

	<script src="node_modules/angular-smart-table/dist/smart-table.js"></script>

	<script src="app.js"></script>
</body>
</html>