<div class="container">
    <div growl class="growl-container"></div>
</div>
<div id="page-container"
     class="fade page-sidebar-fixed page-header-fixed in fill">
    <div ng-include="'app/shared/navigation/views/app.html'" class="mobile"></div>
    <div id="content" class="content fill" style="background-color: #f7f6f3">
        <div class="outerStaticContainer height-full">
            <div class="innerScrollableContent" style="min-height: 100%;">
                <div ng-include="'app/main/account/views/top-menu.html'"></div>
                <ui-view class="height-full"></ui-view>
            </div>
            <div ng-include="'app/shared/navigation/views/footer.html'"></div>
        </div>
    </div>
</div>